<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">2023 KSEA Election Results Announcement</h3>
              <p class="date">April 8, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                The Korean-American Scientists and Engineers Association (KSEA)
                is pleased to announce the results of its 2023 general election.
                The ballot counting took place at the Election Committee and
                KSEA HQ meeting on April 8, 2023. All ballots have been counted
                according to the rules that were pre-established by the Election
                Committee, and no election-related irregularities were found.
              </p>
              <p class="txt-deco-line">Voting Results:</p>
              <ul class="list-deco-disc">
                <li>Number of Eligible Voters: 3356</li>
                <li>
                  Number of Valid Ballots Received: 567 (16.90% of eligible
                  voters; 10% quorum was met)
                </li>
              </ul>
              <p>The newly elected officers and councilors are:</p>
              <p>
                <span class="txt-deco-line">
                  52nd President-Elect (53rd President): </span
                ><br />
                Tae (Tom Oh), Rochester Institute of Technology (RIT)
              </p>
              <p>
                <span class="txt-deco-line"> 52nd Vice President 1: </span
                ><br />
                Jeho Park, Claremont McKenna College
              </p>
              <p>
                <span class="txt-deco-line"> 52nd Vice President 1: </span
                ><br />
                Jeho Park, Claremont McKenna College
              </p>
              <p>
                <span class="txt-deco-line"> 52nd Vice President 2: </span
                ><br />
                Yong Kyu Yoon, University of Florida
              </p>
              <p>
                <span class="txt-deco-line"> Auditor: </span><br />
                Hyojin Kim, New Jersey Institute of Technology
              </p>
              <p>
                <span class="txt-deco-line">
                  Technical Councilor Group A-1: </span
                ><br />
                Harold D. Kim, Georgia Institute of Technology
              </p>
              <p>
                <span class="txt-deco-line">
                  Technical Councilor Group A-2: </span
                ><br />
                Young Jong Lee, National Institute of Standards and Technology
              </p>
              <p>
                <span class="txt-deco-line"
                  >Technical Councilor Group A-3: </span
                ><br />
                Soeun Kim, Azusa Pacific University
              </p>
              <p>
                <span class="txt-deco-line">
                  Technical Councilor Group B-1: </span
                ><br />
                Donghoon Yoon, The University of Arkansas for Medical Sciences
              </p>
              <p>
                <span class="txt-deco-line">
                  Technical Councilor Group B-2: </span
                ><br />
                Sung Woo Kim, North Carolina State University
              </p>
              <p>
                <span class="txt-deco-line">
                  Technical Councilor Group C-2: </span
                ><br />
                Seung Ihl Kam, Louisiana State University
              </p>
              <p>
                <span class="txt-deco-line">
                  Technical Councilor Group C-3: </span
                ><br />
                Eon Soo Lee, New Jersey Institute of Technology
              </p>
              <p>
                <span class="txt-deco-line">
                  Young Generation Representative: </span
                ><br />
                Jonathan Young Kim, CSX Technology
              </p>

              <p class="txt-deco-line">Voting Incentives Announcement</p>
              <ul class="list-deco-disc">
                <li>
                  Chapter supports by the voting rate: Southwest Ohio Chapter
                  (1st place, $750), Eastern Carolina Chapter (2nd place, $500)
                  and Central VA Chapter (3rd place, $250)
                </li>
                <li>
                  Chapter supports by the number of votes: New York Metro
                  Chapter (1st place, $750), Berkeley Chapter (2nd place, $500)
                  and Georgia Chapter (3rd place, $250)
                </li>
                <li>
                  20 raffle winners (selected by computer): $50 Amazon gift card
                  link will be sent individually.
                </li>
              </ul>
              <br />
              <table>
                <tr>
                  <th>No</th>
                  <th>KSEA Log in ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email Address</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>30**</td>
                  <td>Dong Sung</td>
                  <td>Suk</td>
                  <td>dong.***@gmail.com</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>51**</td>
                  <td>Jae</td>
                  <td>Kim</td>
                  <td>jae.h.***@boeing.com</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>811**</td>
                  <td>Nanyoung</td>
                  <td>Kim</td>
                  <td>kimn@***.edu</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>873**</td>
                  <td>Jang Hwan</td>
                  <td>Oh</td>
                  <td>leonardo.**@gmail.com</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>1051**</td>
                  <td>Kwanghoon</td>
                  <td>Park</td>
                  <td>Kp***@rockefeller.edu</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Bntfut***</td>
                  <td>HeaYeon</td>
                  <td>Lee</td>
                  <td>h.***@maranano.com</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>Buksunga***</td>
                  <td>Changhoon</td>
                  <td>Lee</td>
                  <td>Buksu***@gmail.com</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>chc***</td>
                  <td>Chang-Hwan</td>
                  <td>Choi</td>
                  <td>Cc***@stevens.edu</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>choisy0***</td>
                  <td>Yuji</td>
                  <td>Choi</td>
                  <td>choisy0***@gmail.com</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>dkk0***</td>
                  <td>Dongkyeong</td>
                  <td>Kim</td>
                  <td>dkk0***@gmail.com</td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>Gylee***</td>
                  <td>Geonyeong</td>
                  <td>Lee</td>
                  <td>Leegy***@gmail.com</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>jes4***</td>
                  <td>Haeseong</td>
                  <td>Jang</td>
                  <td>Hjang***@lbl.gov</td>
                </tr>
                <tr>
                  <td>13</td>
                  <td>jslee12***</td>
                  <td>Jeongseo</td>
                  <td>Lee</td>
                  <td>Jl***@njit.edu</td>
                </tr>
                <tr>
                  <td>14</td>
                  <td>kdm0***</td>
                  <td>Dong-Min</td>
                  <td>Kim</td>
                  <td>dongmin.kim0***@gmail.com</td>
                </tr>
                <tr>
                  <td>15</td>
                  <td>Lees***</td>
                  <td>Seung Hyun</td>
                  <td>Lee</td>
                  <td>Lees***@ecu.edu</td>
                </tr>
                <tr>
                  <td>16</td>
                  <td>shdak6***</td>
                  <td>Sunghyun</td>
                  <td>Kim</td>
                  <td>shdak6***@gmail.com</td>
                </tr>
                <tr>
                  <td>17</td>
                  <td>spidersi***</td>
                  <td>Jeongin</td>
                  <td>Son</td>
                  <td>jeonginson.**@gmail.com</td>
                </tr>
                <tr>
                  <td>18</td>
                  <td>Wh***</td>
                  <td>Wonhee</td>
                  <td>Cho</td>
                  <td>Danyli***@gmail.com</td>
                </tr>
                <tr>
                  <td>19</td>
                  <td>yunhc***</td>
                  <td>Yun</td>
                  <td>Choe</td>
                  <td>yun.c***@afslaw.com</td>
                </tr>
                <tr>
                  <td>20</td>
                  <td>yunsoo***</td>
                  <td>Yunsoo</td>
                  <td>Lee</td>
                  <td>Yl***@virginia.edu</td>
                </tr>
              </table>
              <p>
                Congratulations to the elected members and the incentive
                winners! Thank you for the participation and support.
              </p>
              <p>
                Young-Kee Kim<br />
                President of KSEA
              </p>
              <p>
                Eun-Suk Seo<br />
                Chair of the KSEA Election Committee
              </p>
              <br />
              <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/2023_election_results.pdf"
                target="_blank"
                download="2023 KSEA Election Results Announcement"
              >
                <button class="btn-view">Download</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                         Next
                                     </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
