<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                Korea-US Advanced Industry and Technology Cooperation Forum 2023
              </h3>
              <p class="date">September 11, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>
                <p>Dear KSEA members,</p>
                <br />
                <p>
                  The Ministry of Technology, Industry and Energy, along with the Korea Institute for Advancement 
                  of Technology, is pleased to announce the upcoming "Korea-US Advanced Industry and Technology
                  Cooperation Forum 2023," scheduled to be held in Seoul on September 21st.
                </p>
                <p>
                  Building on the success of last year's event in Washington, D.C., this year's Forum represents 
                  its second iteration. The Ministry of Technology, Industry and Energy, along with the Korea Institute 
                  for Advancement of Technology are committed to further solidifying the partnership between our two 
                  nations. This includes fostering dynamic collaboration in advanced industrial technology between 
                  our small and medium-sized enterprises and leading innovation institutions in the United States. 
                  The Forum also aims to inject renewed vigor into the research landscape.
                </p>
                <p>
                  Under the theme "Securing Prosperous Future: Shared Values and Sustainable Partnership," representatives 
                  from both governments, academia, industry, research, and governmental sectors will gather to deliberate 
                  on advanced industry development and technological innovation. The Forum will be an invaluable platform 
                  for sharing future visions and exploring avenues for technological collaboration.
                </p>
                <p>
                  We cordially invite you to participate in the "Korea-US Advanced Industry and Technology Cooperation Forum 2023."
                </p>
                <p>
                  For more information and  <span class="font-bold">registration</span>, please visit: 
                  <a href="https://www.k-itcforum.or.kr/" target="_blank">https://www.k-itcforum.or.kr/</a><br>
                  Registration is available for in-person and virtual participation. <br>
                  If you have any questions, please contact KIAT US office at 
                  <a href="mailto:kiat.usoffice@gmail.com" target="_blank">kiat.usoffice@gmail.com</a>
                </p>
                <br><br><br>
                <p>
                  Note: Feel free to share this information with your colleagues and partners who might have 
                  an interest.
                </p>
                <p>
                  <span class="font-bold">Date: </span>Thursday, September 21, 2023, at 1 pm(KT), 12 am(ET)<br>
                  <span class="font-bold">Venue: </span>  Grand Hyatt Seoul, Korea with Live Streaming<br>
                  <span class="font-bold">Theme: </span>  Securing Prosperous Future: Shared Values and Sustainable Partnership<br>
                  <span class="font-bold">Technical Fields: </span>  Semiconductor, Secondary Battery, Future Mobility · 
                  Cyber Security, Smart Factory, Robot · AI, Biomedical<br>
                  <span class="font-bold">Program: </span> <br>
                  <img src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/230911_KIAT_Program_en.jpg">
                </p>
                <p>
                  For any questions, please contact Eunjung Kim (Chief Representative): <br>
                  Eunjung Kim<br>
                  Chief Representative (KIAT US Office)<br><br>
                  Korea Institute for Advancement of Technology USA<br>
                  8229 Boone Blvd Suite 625, Vienna, VA 22182<br>
                  Office : +1-703-337-0950 /  E-mail : <a href="mailto:ejkim@kiat.or.kr" target="_blank">
                  ejkim@kiat.or.kr</a> / Mobile : +1-703-909-1003<br>
                  Kakao ID : ejaykim (+82-10-9420-4982)<br>
                  Please visit us at <a href="https://www.kiat.or.kr" target="_blank">www.kiat.or.kr</a>
                </p>
                <p>
                  <a
                    href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/230911_KIAT_Korea-US_Advanced_Industry_and_Technology_Cooperation_Forum_2023_0908.pdf"
                    target="_blank"
                    download="Korea-US_Advanced_Industry_and_Technology_Cooperation_Forum_2023"
                  >
                    <button class="btn-view">Download Program Book</button>
                  </a>
                  <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/230911_KIAT_Program_en.jpg"
                  target="_blank"
                  download="Schedule"
                >
                  <button class="btn-view">Download Schedule</button>
                </a>
                  
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                                 Next
                                                             </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
