<div class="wrap">
  <div class="wrap-con">
    <div class="logo">
      <img src="assets/images/logo.png" alt="KSEA logo" />
      <span>Membership</span>
    </div>
    <div class="con-info">
      <h2>Resume Subscription</h2>
      <p class="info-text">
        If you resume,<br />your membership payment will be made on
        <b> {{ membership.expirationDate | date : "MM/dd/yyyy" }}</b>
      </p>
      <div *ngIf="errorMessage" class="alert alert-warning">
        {{ errorMessage | json }}
      </div>
      <div class="g-button">
        <button type="button" (click)="cancel()" class="btn_gray">
          Cancel
        </button>

        <button
          *ngIf="
            membership && membership.customerId && membership.subscriptionId
          "
          type="button"
          [disabled]="loading"
          (click)="resumeSubscription()"
          class="btn_blue"
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
            *ngIf="loading"
          ></span>
          Resume
        </button>
      </div>
    </div>
  </div>
</div>
