<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                Extended Deadline: UKC 2023 Call for Papers - Submit by
                5/31/2023
              </h3>
              <p class="date">May 16, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="con-img">
                <img
                  src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/UKC2023LOGO.png"
                  alt="ukc"
                />
              </div>
              <p>Dear KSEA Members,</p>
              <p>
                We are excited to announce that due to the overwhelming response
                and numerous requests, the organizing committee of the UKC 2023
                <a href="https://www.ukc.ksea.org" target="_blank"
                  >(https://www.ukc.ksea.org/)</a
                >
                has decided to extend the deadline for 1-page paper submissions
                for the Technical Group (TG) Symposiums.
              </p>
              <p class="font-bold">
                The new submission deadline is now extended to May 31, 2023.
              </p>
              <p>
                To submit your abstract, please visit the UKC 2023 website at
                <a href="https://www.ksea.org/ukc-call4paper" target="_blank"
                  >https://www.ksea.org/ukc-call4paper</a
                >
                and follow the submission instruction. Please make sure to use
                <a
                  href="https://ksea-ukc.s3.amazonaws.com/UKC2023_One_Page_Paper_Template.docx"
                  target="_blank"
                  >the paper template.</a
                >
              </p>
              <p>
                Once again, the following TG Symposiums will be held during the
                UKC 2023.
              </p>
              <ul>
                <li>A-1. Physics (PHY)</li>
                <li>A-2. Chemistry (CHM)</li>
                <li>
                  A-3. Mathematics, Geology, Meteorology, Statistics (MAS)
                </li>
                <li>
                  B-1. Medical Science, Pharmaceutical Science, Veterinary
                  Medicine, Physical Education (MPS)
                </li>
                <li>B-2. Agriculture, Ecology, Food, Nutrition (FAN)</li>
                <li>
                  B-3/C-1. Biological and Biomedical Sciences (Biology,
                  Molecular Biology, Cognitive Science, Botany, Zoology,
                  Biomechanics, etc.) / Bioengineering and Biomedical
                  Engineering (BME)
                </li>
                <li>
                  C-2. Chemical, Textile, Energy, and Nuclear Engineering (CHE)
                </li>
                <li>C-3. Mechanical, Aerospace, and Naval Engineering (MAN)</li>
                <li>
                  C-4. Materials Science and Engineering, Nanotechnology (MSE)
                </li>
                <li>
                  C-5. Civil and Environmental Engineering, Architecture (CEA)
                </li>
                <li>C-6. Electrical and Computer Engineering (ECE)</li>
                <li>C-7. Computer and Information Sciences (CIT)</li>
                <li>
                  C-8. Industrial, Manufacturing, and Systems Engineering,
                  Management Sciences, Operations Research (IMS)
                </li>
                <li>D-1. Education Research, STEM and Social Sciences</li>
              </ul>
              <p>
                We look forward to meeting you all in Dallas in August. If you
                have any questions, please contact us at
                <a href="mailto:ukc2023@ksea.org" target="_blank"
                  >ukc2023@ksea.org.</a
                >
              </p>
              <p>Sincerely,</p>
              <p>
                Chang-Yong Nam, UKC 2023 Program Chair<br />
                Yongho Sohn, UKC 2023 Conference Chair<br />
                Tae Sik Lee, UKC 2023 Conference Co-Chair
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                 Next
                                             </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
