<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">Your gift makes a difference for KSEA</h3>
              <p class="date">June 14, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Dear Members and Friends of KSEA,</p>
              <p>
                Thank you for your support of the KSEA. We are very pleased to
                announce that we launched the official KSEA donation website at
                <a href="https://www.ksea.org/donation"
                  >https://www.ksea.org/donation.</a
                >
              </p>
              <p>
                No matter the amount, your gift<span class="font-bold">
                  makes a difference.</span
                >
                It helps us to further our mission and expand our programs. You
                have options to donate for specific KSEA activities including
                chapter support, education, innovation and entrepreneurship
                programs, and programs for next generations, mid-career members,
                and senior members.
              </p>
              <p>
                We are <span class="font-bold">deeply grateful </span>for your
                generosity. Please also convey this message to your friends and
                colleagues. The donors do not have to be members of KSEA. Once
                again, thank you for your support.
              </p>
              <p>
                Young-Kee Kim<br />
                President of KSEA
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                           Next
                                                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
