<footer>
    <div class="wrap-footer-menu">
        <ul class="footer-menu">
            <li routerLink="/policies" routerLinkActive="active">Policies</li>
            <li routerLink="/bylaws" routerLinkActive="active">Bylaws</li>
            
        </ul>
    </div>
    <div class="wrap-footer-info">
       <div class="con-info">
           <img src="assets/images/logo_footer.png" alt="Ksea logo">
           <ul>
               <li>Korean-American Scientists and Engineers Association (KSEA)</li>
               <li>1952 Gallows Rd., Suite 300, Vienna, VA 22182</li>
               <li>(Voice) 703.748.1221 | (Fax) 703.748.1331 | (Email) sejong@ksea.org</li>
               <li>Copyright © 2022 KSEA, All Rights Reserved</li>
           </ul>
       </div>
       <div class="con-sns">
           <ul>
               <li><a href="https://www.youtube.com/@ksea_official" target="_blank"> <img src="assets/images/sns_youtube.png" width= "50" height= "50" alt="KSEA Youtube"></a></li>
               <li><a href="https://www.facebook.com/KSEA.HQ/" target="_blank"><img src="assets/images/sns_facebook.png" alt="Ksea facebook"></a></li>
               <li><a href="https://www.linkedin.com/company/ksea/" target="_blank"> <img src="assets/images/sns_linkedin.png" alt="Ksea linked in"></a></li>
           </ul>
       </div>
    </div>
</footer>
 