<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                유한양행 R&D 인재 Pool 등록
              </h3>
              <p class="date">September 18, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>
                <p>안녕하십니까,</p>
                <br />
                <p>
                  KSEA 의 협력기관인 유한양행에서 해외 우수 R&D인력 POOL을 확보하고자 구글폼 
                  및 접속QR코드를 운영하고 있습니다.
                </p>
                <p>
                  첨부 파일의 QR 코드를 통해 구글폼에 접속하셔서 관련 정보를 남겨주시면 
                  향후 당사 R&D분야 인재채용 진행시 이메일로 안내드릴 예정입니다.
                </p>
                <p>
                  R&D 인재 Pool 등록을 통해 재미 한인 학생들, 석박사님들을 포함한 KSEA 회원분들께 
                  유한양행을 알리는 한편, 좋은 채용기회를 접할 기회를 드릴 수 있을 것으로 기대합니다.
                </p>
                <p>
                  <br />
                  감사합니다.
                </p>
                <p>
                  문의: 유한양행 박건 대리<br>
                  Kun Park, PharmD<br>
                  Assistant Manager, Alliance Management | Corporate Strategy Group<br>
                  Yuhan Corporation<br>
                  T:+82 2 828 0779<br>
                  M:+82 10 9914 6900<br>
                  E:<a href="mailto:karizan@yuhan.co.kr" target="_blank">karizan@yuhan.co.kr</a>
                </p>

                <div class="con-img">
                  <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLScVw47Sdwo7VT2XV2b7H7SenncidjwOlIyIOPHBcdifigtnYw/viewform"
                    target="_blank"
                  >
                    <img
                      src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/230918_YUHAN_QR.png"
                      alt="YUHAN QR Code"
                    />
                  </a>
                </div>



                <p>
                  <a
                    href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/230918_YUHAN_Company+Introduction_Sep_2023(4page).pdf"
                    target="_blank"
                    download="YUHAN Company Introduction"
                  >
                    <button class="btn-view">Download Company Introduction</button>
                  </a>
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                                 Next
                                                             </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
