<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                2023 코센브릿지포럼 - 온라인 (국가전략분야: 첨단바이오)
              </h3>
              <p class="date">August 24, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>
                <p>안녕하세요,</p>
                <br />
                <p>한국과학기술정보연구원에서 수행중인 한인과학기술자네트워크(KOSEN, <a href="https://kosen.kr/" target="_blank">kosen.kr</a>)에서는 
                  미국의 재외한인과학자를 초청하여 첨단바이오 관련 전문 연구분야를 소개하고 한국의 연구자들과 네트워킹 할 수 있는 자리를 마련하였습니다.<br>
                  <span class="font-bold">2023 코센브릿지포럼(국가전략분야: 첨단바이오)</span>에 관심 있는 분들은 아래 내용을 참고하셔서 사전신청 및 참여 부탁드립니다.
                </p>
                <br />

                  <ul>
                    <li>
                      가. 일 시 : 한국 2023년 9월 1일(금)/9월 15일(금), 10:00 (UTC+9) <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                      미국 2023년 8월 31일(목)/9월 14일(목), 9 PM EST / 6PM PST
                    </li>
                    <li>
                      나. 사전신청 : <a href="https://answer.moaform.com/answers/EKvwPy" target="_blank">https://answer.moaform.com/answers/EKvwPy</a>
                    </li>
                    <li>
                      다. 장 소 : 온라인 Zoom 플랫폼
                    </li>
                    <li>
                      라. 주 최 : 한국과학기술정보연구원
                    </li>
                    <li>
                      마. 내 용 : '첨단바이오' 분야 재외한인과학자 발표 및 질의응답을 통한 연구교류
                    </li>
                    <li>
                      바. 발표초록 다운로드 : <a href="https://kosen.kr/event/2023/2023_forum_3.pdf" target="_blank">https://kosen.kr/event/2023/2023_forum_3.pdf</a>
                    </li>
                    <li>
                      사. 문의 정혜주 (Hyeju Jung) / TEL 042)869-1743 / Email <a href="mailto:frv0906@kisti.re.kr"
                      target="_blank">frv0906@kisti.re.kr</a>
                    </li>
                  </ul>

                <br />
                <p>
                  <img src="https://kosen.kr/event/2023/forum_03_01.png" style="display: block;" max-width:= 100%;>
                
                  <a href="https://moaform.com/q/JnN6Vp" target="_blank">
                  <img src="https://kosen.kr/event/2023/forum_03_02.png" style="display: block;" max-width:= 100%;>
                  </a>
                
                  <img src="https://kosen.kr/event/2023/forum_03_03.png" style="display: block;" max-width:= 100%;>
                
                  <a href="https://kosen.kr/event/2023/2023_forum_3.pdf" target="_blank">
                    <img src="https://kosen.kr/event/2023/forum_03_04.png" style="display: block;" max-width:= 100%;>
                  </a>
                
                  <img src="https://kosen.kr/event/2023/forum_03_05.png" style="display: block;" max-width:= 100%;>
                  <br />
                  <a
                    href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/230824_KOSEN.jpg"
                    target="_blank"
                    download="2023 재외한인과학자 초청 코센 브릿지 포럼(첨단바이오) 포스터"
                  >
                    <button class="btn-view">Download Poster.jpg</button>
                  </a>
                  <a
                    href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/230824_KOSEN_poster.html"
                    target="_blank"
                    download="2023 코센브릿지포럼_첨단바이오_포스터_공지"
                  >
                    <button class="btn-view">Download Poster.html</button>
                </a>
                </p>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                                 Next
                                                             </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
