<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                KSEA Distinguished Guest Series – Organ-on-a-Chip Technologies
                for Disease Modeling and Space Biology (Zoom: 8:30 pm ET,
                Thursday, June 15)
              </h3>
              <p class="date">June 6, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="con-img">
                <a
                  href="https://us02web.zoom.us/j/82895940311?pwd=Y0xwS1AvUTEyS0drbXpvNzRaRHBEUT09#success"
                  target="_blank"
                >
                  <img
                    src="assets/images/announcement/poster_0615.jpg"
                    alt="KSEA Distinguished Guest Series"
                  />
                </a>
              </div>
              <p>
                I would like to invite you to “KSEA Distinguished Guest Series"
                that will be held on Thursday, June 15 with the theme of
                “Organ-on-a-Chip Technologies for Disease Modeling and Space
                Biology”.
              </p>
              <p>
                Our guest is Deok-Ho Kim, Professor of Biomedical Engineering at
                Johns Hopkins University, who received the 2022 KSEA Engineer of
                the Year Award. In this talk, he will introduce human
                microphysiological systems integrated with biosensors and/or
                actuators for disease modeling, drug development, and space
                biology applications. Using multi-scale biofabrication
                techniques in combination with patient-derived organotypic
                culture models, Prof. Kim will highlight how our biomimetic
                models help to gain a better understanding of the
                structure-function relationship in complex 3D tissues and serve
                as emerging platforms for disease biology studies and
                biotherapeutic development.
              </p>
              <p class="txt-deco-line">Event Schedule:</p>
              <ul class="list-deco-disc">
                <li>
                  Time in the US: Thursday June 15th at 8:30 - 9:30pm ET (5:30 –
                  6:30 PM PT)
                  <a
                    href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NGk0c3ZxMDMwOXNrZWZzYXBjbnVnZjQ0bWYgY181NTAwMWNmNzZkOGUyOTQ1NDljOWYyNDM5ZmM0ODcwN2NmNDgzNjhmZGVjY2RlZDc0ZTFjNjU1ZmIxZTBmNGM3QGc&tmsrc=c_55001cf76d8e294549c9f2439fc48707cf48368fdeccded74e1c655fb1e0f4c7%40group.calendar.google.com"
                    target="_blank"
                    >[Add it to Google Calendar]</a
                  >
                </li>
                <li>
                  Venue: Virtual. Anyone can join the meeting via Zoom
                  <a
                    href="https://us02web.zoom.us/j/82895940311?pwd=Y0xwS1AvUTEyS0drbXpvNzRaRHBEUT09#success"
                    target="_blank"
                    >[LINK]</a
                  >
                </li>
                <li>Speaker: Prof. Deok-Ho Kim (Johns Hopkins University)</li>
                <li>
                  Host: Prof. Young-Kee Kim, President of KSEA (University of
                  Chicago)
                </li>
                <li>
                  Questions:
                  <a href="mailto:itm@ksea.org" target="_blank">itm@ksea.org</a>
                </li>
              </ul>
              <p>
                I would greatly appreciate it if you could reach out to non-KSEA
                members to attend this event, and to join or renew KSEA
                membership by using this
                <a href="https://www.ksea.org/signUp" target="_blank">[link]</a>
              </p>
              <p>
                Raffle: After the meeting ends, we will select four participants
                by drawing an online raffle and send them Amazon gift cards as a
                token of gratitude (1st prize: $100 amazon gift card, 2nd prize:
                $50 amazon gift card, 2 3rd prize: $25 amazon gift card per
                each). If you would like to participate in this raffle, please
                submit this form before the event begins. Those who submit this
                form will get 2 entries (can win only once), and people who
                submit this form during the Zoom event will earn 1 entry.
                *Please submit
                <a
                  href="https://docs.google.com/forms/d/e/1FAIpQLSeJHOyKRjmhLt2jCHvCEqJaILQezCyGgQmufzoDs2MEAbWWMg/viewform?usp=sf_link"
                  target="_blank"
                  download="Call for the 2023 KSEA Nominations"
                  >THIS FORM </a
                >only once
              </p>
              <p>
                Sincerely, <br />
                Young-Kee Kim,<br />
                President of KSEA
              </p>
              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/Poster_0615.pdf"
                  target="_blank"
                  download="Call for the 2023 KSEA Nominations"
                >
                  <button class="btn-view">Download</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                         Next
                                                     </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
