<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Job Opportunities</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Job Opportunities</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                Recommencement of Open Invitations for the 9th President of GIST
              </h3>
              <p class="date">January 20, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                Gwangju Institute of Science and Technology (GIST,
                www.gist.ac.kr) is a Korean government-funded, research-oriented
                institute founded in 1993 to educate the next-generation of
                researchers in advanced science and technology in accordance
                with the Gwangju Institute of Science and Technology Act.<br />
                Ahead of the 30th anniversary of its establishment, GIST has
                become one of the most distinguished universities in Korea with
                its globally recognized education and research capabilities in a
                short time. <br />GIST College, which was established in 2010,
                emphasizes innovative education to prepare students to become
                convergence specialists by endowing them with advanced
                scientific expertise that is reinforced with a broad background
                in the humanities.<br />
                GIST now invites all qualified persons to apply for the position
                of President of GIST to lead the future of GIST on a global
                scale with vision, integrity, and leadership.
              </p>
              <p class="txt-deco-line">Requirements of Applicants</p>
              <ul class="list-deco-disc">
                <li>
                  Be able to carry out all official duties of and on behalf of
                  GIST
                </li>
                <li>
                  Be able to supervise the faculty and staff of GIST with
                  exemplary professionalism
                </li>
                <li>
                  Be able to develop GIST as a world-renowned research institute
                  through superb administrative and managerial abilities
                </li>
                <li>
                  Must have and maintain high standards of ethics, integrity and
                  morality
                </li>
                <li>
                  Must not fall under the purview of Article 19 of the GIST
                  Articles of Association (see below)
                </li>
              </ul>
              <p class="txt-deco-line">Required Documents</p>
              <ul class="list-deco-disc">
                <li>
                  One copy of Application Form and Resume (prescribed form)
                </li>
                <li>
                  One copy of Pre-Questionnaire for Applicants (prescribed form)
                </li>
                <li>
                  One copy of Key Achievements and Description (less than
                  5pages, A4 size)
                </li>
                <li>
                  One copy of Detailed Plan of Institutional Development and
                  Management (less than 5pages, A4 size)
                </li>
                <li>
                  Signed copy of Privacy Consent Agreement for Information
                  Collection and Usage (prescribed form)
                </li>
              </ul>
              <p class="txt-deco-line">
                Submission Method<br /><span class="txt-bold"
                  >: In person, Registered post(including express delivery) or
                  <a href="mailto:board@gist.ac.kr" target="_blank"
                    >e-mail(board@gist.ac.kr)
                  </a>
                  <br />※ Please contact us by telephone(+82 62-715-2975) to
                  confirm the e-mail submission.
                </span>
              </p>
              <p>
                <span class="txt-deco-line">Requirements of Applicants</span
                ><br />
                : In person, Registered post(including express delivery) or
                e-mail (<a href="mailto:board@gist.ac.kr"> board@gist.ac.kr</a>)
                <br />
                ※ Please contact us by telephone in advance in case of e-mail
                submission.
              </p>
              <p>
                <span class="txt-deco-line">Submission Deadline : </span>
                <span class="txt-bold">
                  May 11(Thur.), 2023 18:00(Korea Standard Time)</span
                >
              </p>
              <ul>
                <li>※ Registered post is valid up to the deadline arrival.</li>
                <li>※ Please comply with the prescribed form.</li>
                <li>
                  ※ Please note that submitted documents will not be returned.
                </li>
                <li>
                  ※ Recommendation can be revoked for any false or misleading
                  content in the application process.
                </li>
              </ul>
              <p>
                <span class="txt-deco-line">Where to Submit </span>
                <br />∙ (61005) Board of Directors Secretariat(Planning Team),
                3F, Administration Bldg., GIST, 123 Cheomdangwagi-ro, Buk-gu,
                Gwangju, Republic of Korea
              </p>
              <p>
                <span class="txt-deco-line">Inquiry : </span>(Tel.) +82
                62-715-2975(Contact: Mr. Yoo, Sang Hoon) (Fax) +82 62-715-2979
                (e-mail)
                <a href="mailto:board@gist.ac.kr">board@gist.ac.kr</a> (e-mail)
              </p>
              <p>
                <span class="txt-deco-line"
                  >Article 19 (Grounds for Disqualification) of the GIST
                  Articles of Association :
                </span>
                1. A person under adult guardianship, a ward under limited
                guardianship, or a person who was declared bankrupt and has not
                yet been reinstated / 2. A person in whose case five years have
                not passed since his or her imprisonment without labor or a
                heavier punishment as declared by a court was completely
                executed or exempted / 3. A person who was sentenced by the
                suspension of the execution of imprisonment without labor or a
                heavier punishment and for whom two years have not passed since
                the period of suspension expired / 4. A person who is under a
                suspended sentence of imprisonment without labor or a heavier
                punishment as declared by a court / 5. A person who was removed
                from office by a disciplinary action, and for whom five years
                have not passed thereafter / 6. A person who was dismissed by a
                disciplinary action, and for whom three years have not passed
                thereafter / 7. A person who is disqualified, or whose
                qualification is suspended, pursuant to a judgment of the court
                or other statutes / 8. A person who committed a crime prescribed
                in Article 2 of the 「Act on Special Cases concerning the
                Punishment of Sexual Crimes」and was sentenced to a fine of at
                least one million won and in whose case three years have not yet
                passed since the ruling on such sentence became final / 9. A
                person who was removed from office or dismissed or was sentenced
                to a penalty or medical treatment and custody and the ruling on
                such sentence became final for his or her commission of any of
                the following crimes (including a person for whom the suspension
                of execution is declared and the period of suspension of
                execution lapsed) A. Sexual crimes under Article 2 of the 「Act
                on Special Cases concerning the Punishment of Sexual Crimes」B.
                Sex offenses against children or youth under subparagraph 2 of
                Article 2 of the 「Act on the Protection of Children and Youth
                against Sex Offenses」
              </p>

              <p>April 21, 2023</p>
              <p>Chairman of GIST Board of Directors <br /><br /></p>

              <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/gist_application.docx"
                target="_blank"
                download="GIST President Application Form"
              >
                <button class="btn-view">Download application form</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/job"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                   Next
               </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
