<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                KSEA Senior Forum Series (Zoom: Thursday, April 27, 8 PM ET)
              </h3>
              <p class="date">April 25, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <p><a href="https://youtu.be/zr1TrFzxyLs" target="_blank">
            [Click here to re-watch this event]</a></p>
          <tr>
            <td>
              <div class="con-img">
                <a
                  href="https://youtu.be/zr1TrFzxyLs"
                  target="_blank"
                >
                  <img
                    src="assets/images/announcement/senior_forum_0413.jpg"
                    alt="Senior Forum "
                  />
                </a>
              </div>
              <p>Dear KSEA members, families, and friends,</p>
              <p>
                I am delighted to inform you that the next KSEA Senior Forum
                Series will take place at 8pm ET on Thursday, April 27. The 13th
                KSEA President Chan-Mo Park will present “Joyful and Thankful
                Life” (see more information from the attached poster), and the
                28th KSEA President Hong Thomas Hahn will facilitate the event.
                Our goal is to provide KSEA seniors with a safe and supportive
                space to come together, learn from each other, and share
                experiences.
              </p>
              <p>
                This monthly KSEA Senior Forum Series focuses on topics relevant
                to seniors, such as health and wellness, finances, sharing,
                social activities, education and self-care. Our forums are open
                to the public, and we invite KSEA seniors of all ages and
                backgrounds to join us.
              </p>
              <p class="txt-deco-line">Event Details:</p>
              <ul class="list-deco-disc">
                <li>
                  Time: Thursday, April 27, 2023 at 5:00-7:00 pm (PT),
                  8:00-10:00pm (ET)
                  <br />
                  <a
                    href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MDF2MGFtanBlbnNmbHRuaXZhMXNwMXV0MWFfMjAyMzA0MjhUMDAwMDAwWiBjXzU1MDAxY2Y3NmQ4ZTI5NDU0OWM5ZjI0MzlmYzQ4NzA3Y2Y0ODM2OGZkZWNjZGVkNzRlMWM2NTVmYjFlMGY0YzdAZw&tmsrc=c_55001cf76d8e294549c9f2439fc48707cf48368fdeccded74e1c655fb1e0f4c7%40group.calendar.google.com&scp=ALL"
                    target="_blank"
                  >
                    [Click here to add it to Google Calendar]</a
                  >
                </li>
                <li>
                  Venue: Virtual. Anyone can join the meeting via Zoom
                  <a
                    href="https://us02web.zoom.us/j/83780470247?pwd=L3RBeEd4S0hEMHRlWjZDZnRYSE9iZz09"
                    target="_blank"
                    >[Link]</a
                  >
                </li>
                <li>Facilitator: Thomas Hahn</li>
                <li>Speaker: Chan-Mo Park “Joyful and Thankful Life”</li>
                <li>Discussion: Hong Thomas Hahn</li>
                <li>
                  Questions:
                  <a href="mailto:itm@ksea.org" target="_blank">itm@ksea.org</a>
                </li>
              </ul>
              <p>
                I hope to see many of you and your families and friends at this
                meeting. You do not have to register for the meeting. I would
                greatly appreciate it if you could reach out to non-KSEA members
                to join or renew KSEA membership by using this
                <a href="https://www.ksea.org/signUp" target="_blank">[link]</a>
              </p>
              <p>
                Looking forward to seeing many of you at the zoom meeting on
                April 27th.
              </p>
              <p>
                Sincerely,<br />
                Young-Kee Kim,<br />
                President of KSEA
              </p>
              <p>
                <a
                  href="assets/images/announcement/senior_forum_0413.jpg"
                  target="_blank"
                  download="Senior Forum"
                >
                  <button class="btn-view">Download</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                 Next
                                             </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
