<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                KSEA Youth Activities: The registration deadline of the 2023
                NMSC, iDrone, Art, and Youth Talk Contests is now extended to
                Friday April 7, 2023
              </h3>
              <p class="date">April 4, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Dear past NMSC participants,</p>
              <p>
                The registration deadline for the KSEA 2023 Youth Activities,
                including NMSC, iDrone, Art, and Youth Talk Contests is now
                extended to Friday, April 7, 2023.
              </p>
              <p>Please check out the below links for more details:</p>

              <br />
              <ul class="list-deco-disc">
                <li>
                  Time: Wednesday, April 19, 2023, 5:30-6:30pm (PT), 8:30-9:30pm
                  (ET)
                </li>
                <li>
                  NMSC Information link:
                  <a href="https://nmsc.ksea.org/" target="_blank"
                    >https://nmsc.ksea.org/</a
                  >
                </li>
                <li>
                  Art Contest link:
                  <a
                    href="https://sites.google.com/view/ksea-art-contest"
                    target="_blank"
                    >https://sites.google.com/view/ksea-art-contest</a
                  >
                </li>
                <li>
                  iDrone Camp link:
                  <a href="http://idrone.ksea.org/" target="_blank"
                    >http://idrone.ksea.org/</a
                  >
                </li>
                <li>
                  Youth Talk Contest Registration link:<a
                    href="https://tinyurl.com/2p8ft5s6"
                    target="_blank"
                  >
                    https://tinyurl.com/2p8ft5s6</a
                  >
                </li>
              </ul>
              <p>Best Regards,</p>

              <p>
                Jae Hyeon Ryu<br />
                Chair, KSEA National Contest Committee
              </p>
              <p>
                Young-Kee Kim<br />
                President, KSEA
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                       Next
                                   </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
