<div class="wrap">
    <app-nav></app-nav>
    <app-news-header></app-news-header>
    <ul class="history">
      <li routerLink="/" routerLinkActive="active">Home</li>
      <li>News</li>
      <li>Announcement</li>
    </ul>
    <div class="scon-center pd10">
      <h2 class="font-ksea">Announcement</h2>
      <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
      <div class="wrap-table">
        <table class="basic-table-view">
          <thead>
            <tr>
              <th>
                <h3 class="title">The 4th KSEA Distinguished Guest Series on Feb. 9, 2023, with Prof. Daniel Lee and SueYeon Chung</h3>
                <p class="date">January 25, 2023</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <p><a href="https://youtu.be/KfUGFLUeqOY" target="_blank">
              [Click here to re-watch this event]</a></p>
            
            <tr>
              <td>
                <div class="con-img">
                  <a href="https://youtu.be/KfUGFLUeqOY" target="_blank" > 
                  <img src="assets/images/announcement/4th_distinguished.png" alt="The 4th KSEA Distinguished Guest Series">
                  </a>
                </div>
                 
                <p>Dear KSEA members and family,</p>
                <p>Happy New Year!</p>
                <p>I am writing to invite you to the 4th KSEA Distinguished Guest Series on Thursday, February 9, 2023. Our guests are Daniel Dongyuel Lee, Professor of Electrical and Computer Engineering at Cornell University, and SueYeon Chung, Assistant Professor of Neural Science at New York University, and will present and discuss AI for Science, Technology, and Society. Prof. Daniel Dongyuel Kim was the recipient of the 2018 KSEA Engineer of the Year Award.</p>
                <p>I hope to see many of you and your families and friends at this meeting. You do not have to register for the meeting this time. I would greatly appreciate it if you could reach out to non-KSEA members to join or renew their KSEA membership by using <a href="https://www.ksea.org/signUp" target="_blank"> this link.</a> </p>
                <p class="txt-deco-line">Event Details:</p>
                <ul class="list-deco-disc">
                  <li>Time: Thursday, February 9th, 2023 at 5:30-6:30pm (PT), 8:30-9:30pm (ET)</li>
                  <li>Theme: AI for Science, Technology, and Society</li>
                  <li>Venue: Virtual. Anyone can join the meeting via Zoom <a href="https://us02web.zoom.us/j/82124556094?pwd=eHIrdVdRalRKTEY5Nzh3MUlGOTdldz09" target="_blank" > [Link]</a></li>
                  <li>Guests: Daniel Dongyuel Lee (Cornell University) and SueYeon Chung (New York University)</li>
                  <li>Host: President of KSEA Young-Kee Kim (University of Chicago) </li>
                  <li>Questions: <a href="mailto:itm@ksea.org" target="_blank" >itm@ksea.org</a></li>
                </ul>
                <p>
                  After the meeting ends, we will select four participants by drawing an online raffle and send them Amazon gift cards as a token of gratitude 
                  (1st prize: $100 amazon gift card, 2nd prize: $50 amazon gift card, 2 3rd prize: $25 amazon gift card per each). 
                  If you would like to participate in this raffle, please send an email to <a href="mailto:itm@ksea.org" target="_blank" >itm@ksea.org</a> 
                  before the event begins. Those who send emails will get 2 entries (can win only once), and people who sign up during the Zoom event will earn 1 entry.

                </p>
                <p>Look forward to seeing many of you at the zoom meeting on February 9th.</p>
                <p>Sincerely,</p>
                <p>Young-Kee Kim,<br>

                  President of KSEA</p><br>
                <a
                    href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/The+4th+KSEA+Distinguished+Guest+Series+on+Feb.+6%2C+2023+with+Prof.+Daniel+Lee+and+SueYeon+Chung.pdf"
                    target="_blank"
                    download="The 4th KSEA Distinguished Guest Series"
                  >
                  <button class="btn-view">Download</button>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="view-footer">
          <button
            class="btn-basic-line"
            routerLink="/announcement"
            routerLinkActive="active"
          >
            List
          </button>
          <!-- <button class="btn-basic-line">
                           Next
                       </button> -->
        </div>
      </div>
    </div>
  
    <app-footer></app-footer>
  </div>
  