<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                AKPA 이동녕 전임회장 부고
              </h3>
              <p class="date">March 14, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                안녕하십니까.<br />
                <br />
                한국물리학회 이동녕 (AKPA 전임회장, 포항공대 명예교수, 전 포항방사광가속기연구소장) 회원께서 
                지난 2월 22일(목) 아침에 미국 LA에서 별세하시어 알려드립니다.<br />
                - 고인: 이동녕<br />
                - 영결식 (Memorial Services) : 2024년 3월 16일 오전 11시 (Clubhouse 4, 1419 Northwood 
                Road, Seal Beach, CA 90740)<br />
                - 연락처: <a href="mailto:jh_science@naver.com" 
                target="_blank">jh_science@naver.com</a> (서울대 명예교수 우종천 회원)<br />
                삼가 고인의 명복을 빕니다.<br />
                <br />
                ※ 마음 전하실 곳:<br />
                JP Morgan Chase Bank, N.A.<br />
                Routing # 322271627<br />
                Account # 879593122<br />
                Name: Mee Hoy Lee (사모님 성함)<br />
                -----------------------<br />
                KSEA HQ 에서 추가적으로 알려드립니다.<br />
                이동녕교수는 서울대 문리대 물리학과 (학사 1950) 졸업후 영국 Univ. of London에서 (핵물리학박사 1966 ) 
                학위를 하심.<br />
                서울대에서도 물리학 강의를 하셨으며 한국 원자력원 초창기 연구원으로도 역임하신후 미국 Washington DC 소재 <br />
                Catholic Univ. of America 교수역임후 US Naval Research Lab에서 1971년~ 1988년 X-ray Laser연구.<br />
                그후 포항공대 교수로 부임하시어 방사선 가속기 소장을 역임하심.<br />
                Washington DC에서 활약하시던 20여년간 재미한인물리학자협회(AKPA)를 창립하여 초대회장을 맡으셨고, <br />
                또한 KSEA DC지부장, 본부평의원 및 감사 등을 역임하셨음. (안세영 KSEA 25대 전회장 작성)<br />

              </p>
              <p>
                감사합니다.
                <br />
                KSEA HQ
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                           Next
                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
