<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">Renew your KSEA membership by March 4, 2024 to vote for the 2024 KSEA Election</h3>
              <p class="date">January 31, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                Dear KSEA members,
              </p>
              <br>
              <p>
                The 2024 KSEA General Election to elect President-Elect, Vice Presidents, Auditor, and 
                Technical Group Councilors will take place using the secured e-voting system during the voting period 
                from Monday, March 18 to Friday, April 12, 2024.
              </p>
              <p>
                Any member who paid his or her dues at least once in the last two terms from 
                <span class="txt-deco-line">May 1, 2022 to March 4, 2024</span> will be given an election ballot if 
                a valid email address is provided and recorded in the membership system. Any member without 
                a valid email address will not be given the election ballot according to the new Election Policy 
                adopted by the Council. Please include your mobile phone number in your membership DB. 
                Your mobile phone number will be used for verification purposes.
              </p>
              <p>
                To renew your membership, simply click on the link below and follow the steps: 
                <a href="https://www.ksea.org/signIn?next=profile" target="_blank">LINK</a>
              </p>
              <p>
                Thank you in advance for your interest and participation!
              </p>
              <br>
              <p>
                Election Committee
              </p>





              <p>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240131_Membership+Renewal+Email+2024_bulk+email-v2.docx"
                target="_blank"
                download="Announcement"
                >
                  <button class="btn-view">Download</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                       Next
                   </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
