<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Job Opportunities</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Job Opportunities</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">[SEMES] Global 우수인력 채용 공고</h3>
              <p class="date">November 2, 2022</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                <img src="assets/images/job/job_semes.png" alt="semes" />
              </p>

              <p>
                안녕하세요, 세메스 인사팀 김진아 프로입니다. <br />
                세메스는 삼성 계열사로, 대한민국 1위 반도체 장비 제조기업(매출
                약 3조, 임직원 2,600명) 입니다.<br />
                본사는 천안에 소재하고 있고, 화성연구소/동탄/평택에도 사업장을
                두고 있습니다.<br />

                세메스 홈페이지:
                <a href="www.semes.com" target="_blank">www.semes.com</a> <br />
                글로벌 우수인재 공고 링크:
                <a
                  href="https://www.linkedin.com/jobs/view/3316063822/?capColoOverride=true"
                  target="_blnak"
                  >https://www.linkedin.com/jobs/view/3316063822/?capColoOverride=true</a
                >
                <br />

                현재 세메스는 해외 우수인재분들을 모시고 있는데요, 반도체
                장비/소자/부품 회사의 경력이 있으신 분들을 우대하고 있으며,
                반도체 산업으로 진입을 희망하시는 신입박사분들 또한
                환영합니다.<br />

                모집분야에 기재된 4개의 직무 외에도, 반도체 설비의 SW, 품질,
                Field Service, 제조, CAE 등 엔지니어링 전직무 지원 가능하오니,
                많은 관심과 지원을 부탁드립니다.<br />

                궁금하신 점 있으시면 편하게 연락주시기 바랍니다.<br />

                김진아 Jina Kim, Talent Acquisition<br />
                Human Resources Planning Group, SEMES<br />
                E-mail jina03.kim@semes.com<br />

                Linkedin
                <a
                  href="https://www.linkedin.com/in/jina-kim-0b91a8178/"
                  target="_blnak"
                  >https://www.linkedin.com/in/jina-kim-0b91a8178/</a
                ><br />
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/job"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                   Next
               </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
