<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                The 8th Hanwha Non-tenured Faculty Award (2023)
              </h3>
              <p class="date">March 7, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                The Hanwha Group1<sup>1</sup> is pleased to announce the 8th
                Hanwha Non-tenured Faculty Award. To demonstrate Hanwha’s
                commitment to promote cutting-edge research and innovation in
                Materials Chemistry & Processing, this award will support the
                career development of non-tenured young faculty particularly in
                the following areas.
              </p>
              <ul class="list-deco-disc">
                <li>
                  Polymer composite materials (Aerospace, Electric vehicle, UAM
                  (PAV,AAM) application)
                </li>
                <li>Composite material design & properties prediction</li>
                <li>
                  Chemical engineering process (Reaction engineering, modeling,
                  simulation, etc.)
                </li>
                <li>Catalysts (Synthesis, kinetics, deactivation, etc.),</li>
                <li>
                  Advanced polymerization technology (Block Copolymer, Chain
                  transfer polymerization, Radical polymerization)
                </li>
                <li>
                  Carbon Capture and Utilization (CCU) technology (CO2 reduction
                  Technology)
                </li>
                <li>
                  Biopolymers and biodegradable polymers (White biotechnology)
                </li>
                <li>
                  Biomolecular simulation/engineering, Bio-process modeling,
                </li>
                <li>Plastic recycling technology</li>
                <li>Electrochemical process & catalysts</li>
                <li>
                  Green chemistry, Biofoundry, Green hydrogen production
                  technology
                </li>
                <li>Computational chemistry</li>
                <li>Foodtech</li>
                <li>
                  Li-ion battery separators (multifunctional, stable and safe)
                </li>
              </ul>
              <p class="txt-deco-line">Award</p>
              <ul class="list-deco-disc">
                <li>
                  Eligibility: Non-tenured faculty with Korean heritage in North
                  America, Europe working in the chemistry, chemical
                  engineering, Materials science and engineering and other
                  related disciplines.<sup>2, 3</sup>
                </li>
                <li>No. of Awards: 3~4 Awards</li>
                <li>Award amount: $12,000 as an unrestricted gift funding</li>
                <li>
                  The awardee required to deliver a seminar at "Hanwha
                  Non-tenured faculty Award Ceremony" in the summer of 2023 on
                  Hanwha TotalEnergies Daesan site (Seosan-Si, ChungNam, Korea).
                </li>
              </ul>
              <p class="txt-deco-line">Application Package</p>
              <ul class="list-deco-disc">
                <li>
                  Short Bio-sketch including a comprehensive list of
                  publications.
                </li>
                <li>Summary of research interest (max 1 page)</li>
                <li>Descriptions of research interest (max 5 pages)</li>
                <li>
                  Application package must be submitted as a single word
                  document file.
                </li>
              </ul>
              <p class="txt-deco-line">Timeline</p>
              <ul class="list-deco-disc">
                <li>
                  Submit your package to taehee.lee@htpchem.com by March 24,
                  2023
                </li>
                <li>Announce the Awardees by April 2023</li>
                <li>
                  The 8th Hanwha Non-tenured Faculty Award (tentatively
                  scheduled on June 8, 2023)
                </li>
              </ul>
              <hr />
              <ul>
                <li>
                  <span class="sup_color">1</span>Hanwha Solutions Chemical
                  Division, Hanwha Solutions Advanced Materials Division, Hanwha
                  TotalEnergies Petrochemical Corp.<br />
                </li>
                <li>
                  <span class="sup_color">2</span>The non-tenured faculty in
                  his/her 3rd – 5 th years as a faculty are particularly
                  encouraged to submit the application package for the
                  consideration.<br />
                </li>
                <li>
                  <span class="sup_color">3</span>We encourage you to submit the
                  application package again, even if the non-tenured faculty had
                  applied before.
                </li>
              </ul>
              <hr />
              <!-- 파일 aws 링크로 변경 필요 (23.3.18) -->
              <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/The+8th+Hanwha+Non-tenured+Faculty+Award+(2023).pdf"
                target="_blank"
                download="The 8th Hanwha Non-tenured Faculty Award (2023)"
              >
                <button class="btn-view">Download</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                   Next
                               </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
