<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Job Opportunities</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Job Opportunities</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">2023년 대구경북과학기술원 (DGIST) 하반기 전임교원 공개 초빙</h3>
              <p class="date">November 1, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>안녕하십니까,</p>
              <br>
              <p>
                대구경북과학기술원 (DGIST) 에서 2023년 하반기 전임교원을 공개 초빙합니다.<br>
                <span class="font-bold">- 접수방법 : 
                  <a href="https://dgist.career.co.kr" target="_blank">https://dgist.career.co.kr</a>로 
                  접속하여 온라인 지원</span><br>
                ※ 세부사항은 '붙임'의 공고문을 참고하여 주시기 바랍니다.<br>
                관련하여 궁금하신 사항 있으시면 아래의 연락처로 문의하시기 바랍니다.<br>
                DGIST 교무팀 하효선 (Ha, HyoSun): 
                <a href="mailto:chirre@dgist.ac.kr" target="_blank">chirre@dgist.ac.kr</a>, 053.785.5111<br>
              </p>
              <br>
              <p>
                감사합니다.
              </p>
              <br>
              <p>
                KSEA HQ
              </p>
  
              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/job/231101_DGIST_Announcement(Eng).png"
                  target="_blank"
                  download="231101_DGIST_Announcement(Eng)"
                >
                  <button class="btn-view">Download (Eng)</button>
                </a>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/job/231101_DGIST_Announcement(Kor).png"
                  target="_blank"
                  download="231101_DGIST_Announcement(Kor)"
                >
                  <button class="btn-view">Download (Kor)</button>
                </a>
                </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/job"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                             Next
                                         </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
