<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Media</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Media</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">수원시, 재미한인과학기술자협회(KSEA)와 교류·협력 약속</h3>
              <p class="date">April 15, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="con-img">
                <a
                  href="http://www.dtoday.co.kr/news/articleView.html?idxno=648148"
                  target="_blank"
                >
                  <img
                    src="https://ksea-files.s3.us-west-2.amazonaws.com/media/media_41.png"
                    alt="수원시, 재미한인과학기술자협회(KSEA)와 교류·협력 약속"
                  />
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/media"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                   Next
                                               </button> -->
      </div>
    </div>
  </div>
</div>
i
