<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                Application to attend the 1st World Conference of Korean
                Scientists & Engineers (deadline: April 11)
              </h3>
              <p class="date">April 5, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>안녕하십니까, 재미과기협 회원 여러분</p>
              <p>
                과학기술정보통신부가 주최하고 한국과학기술단체총연합회(과총,
                KOFST)와 재외한인과학기술자협회가 주관하는 제1회
                세계한인과학기술자대회(The 1st World Conference of Korean
                Scientists & Engineers)가 7월 4일부터 7월 7일까지 서울
                한국과학기술회관에서 열립니다. 간단하게 설명드리자면, 다음과
                같습니다.
              </p>
              <ul class="list-deco-disc">
                <li>주제: Space and Future Science & Technologies by 2030</li>
                <li>
                  대상: 국・내외 과학기술자 등 연인원 3,000여 명, 해외 350명
                  (해외 350명은 차세대 청년과학도포럼 YGF·YPF 해외참가자 100명을
                  포함)
                </li>
                <li>
                  주요 내용: 개회식, 특별·기조강연, 대한민국최고과학기술인상 등
                  시상, 학술포럼 (국가전략 과학기술 분야의 미래기술 예측,
                  기술·연구 동향 및 기술교류 세션, 기초과학 / 공학 동향 및 교류
                  세션 등), 주제별 심포지엄, 산학연 Tech 포럼, 차세대 리더스
                  포럼 등
                </li>
                <li>
                  기대 효과:
                  <ul>
                    <li>
                      세계 우수의 과학기술인을 초청하여 국내·외 과학기술
                      연구성과를 공유하고 국내 과학기술 혁신 및 세계화를 촉진;
                    </li>
                    <li>
                      국내·외 기관 및 과학기술자 간 공동연구·협력의 장을
                      마련하여 글로벌 과학기술 네트워크 구축
                    </li>
                  </ul>
                </li>
              </ul>
              <p class="font-bold">여행 경비의 보조는 다음과 같습니다.</p>
              <ul class="list-deco-disc">
                <li>
                  역할자(발제자, 토론자, 좌장)에게는 항공료 및 숙박(4박), 식사,
                  사례비 등이 모두 지원될 예정이며
                </li>
                <li>
                  일반 참가자에게는 항공료 50%와 숙박(4박) 식사가 지원될
                  예정입니다.
                </li>
              </ul>
              <p>
                발제 분야는 첨부한 "(재외과협 송부)230405 제1회 세계 한인
                과학기술자대회 개최 세부계획서” 3 페이지의 프로그램을 보시면
                알수 있듯이 [수소, 이차전지, 첨단모빌리티, 차세대 원자력,
                반도체·디스플레이, 첨단바이오, 우주항공·해양, 사이버보안, AI,
                차세대통신, 첨단로봇·제조]에 필요한 미래과학기술, 기초과학
                (수학, 물리, 화학, 지구과학, 측정, 표준, 천문 등), 공학 (화공,
                농수산, 보건, 토목, 자원, 환경, 건설, 건축 등) 입니다.
              </p>
              <p>
                이 행사에 관한 자세한 내용은 첨부한 "(재외과협 송부)230405 제1회
                세계 한인 과학기술자대회 개최 세부계획서”에서 볼수 있습니다.
              </p>
              <p>
                이 행사에 참석을 하고 싶은분들은 1과 2(발제자), 1과
                3(일반참석자)을 다음주 화요일 (4월 11일) 동부시간 저녁 8시까지
                해 주십시요
              </p>

              <ul>
                <li>
                  1. 발제자나 일반참석자 모두 다음 구글 폼에 가셔서 다음주
                  화요일 (4월 11일) 동부시간 저녁 8시까지
                  <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSdnoPU13PnD8u_C7Dhj9emx-oCXxbkw6fXbn8d76WzRS7cxSw/viewform?vc=0&c=0&w=1&flr=0"
                    target="_blank"
                    >폼</a
                  >을 작성해 주십시요.
                </li>
                <li>
                  2. 발제를 원하시는 분은 첨부한 “230405 제1회 세계 한인
                  과학기술자대회 발제 개요_역할자” 파일을 4월 6일 (목요일)
                  동부시간 8시까지 Euna Yoon<a
                    href="mailto:sejong@ksea.org"
                    target="_blank"
                  >
                    sejong@ksea.org</a
                  >에게 제출해주십시요
                </li>
                <li>
                  3. 일반참석을 원하시는 분은 첨부한 "230405 제1회 세계 한인
                  과학기술자대회 참가 개요_일반참가자” 파일을 4월 6일 (목요일)
                  동부시간 8시까지 Euna Yoon
                  <a href="mailto:sejong@ksea.org" target="_blank"
                    >sejong@ksea.org</a
                  >에게 제출해주십시요
                </li>
              </ul>

              <p>
                재미과학기술자협회 회원이 아니더라도 참석과 발제를 할수
                있습니다. 이 자료를 주위의 다른 많은 분들과 공유해 주시면
                고맙겠습니다.
              </p>
              <p>
                감사합니다.<br />
                재미과기협 회장 김영기 드림
              </p>
              <br />
              <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/2023_wck_plan.pdf"
                target="_blank"
                download="제1회 세계 한인 과학기술자대회 개최 세부계획서"
              >
                <button class="btn-view">Download</button>
              </a>
              <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/2023_wck.docx"
                target="_blank"
                download="제1회 세계 한인 과학기술자대회 참가 개요 일반참가자"
              >
                <button class="btn-view">Download</button>
              </a>
              <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/2023_wck2.docx"
                target="_blank"
                download="제1회 세계 한인 과학기술자대회 발제 개요 역할자"
              >
                <button class="btn-view">Download</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                       Next
                                   </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
