<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                우주항공청 인재 채용 설명회 안내
              </h3>
              <p class="date">March 11, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                Dear KSEA Members,<br /><br />
                Please check out the announcement and poster from 우주항공청 and register if interested.<br />
                Feel free to visit <a href="https://www.kasa-recruit.kr/" target="_blank">www.kasa-recruit.kr</a> 
                for more information, and contact <a href="mailto:kasarecruit@korea.kr" target="_blank">kasarecruit@korea.kr</a> 
                if you have any questions.
              </p>
              <p>
                Thank you,
                <br />
                KSEA HQ
              </p>
              <hr />
              <p>
                안녕하십니까. <br /><br />
                과학기술정보통신부에서는 우주항공청 채용설명회를 개최합니다.<br />
                현재 대한민국 정부는 우주항공청 설립을 준비하고 있으며, 우주항공청 개청 즉시 우주항공 업무를 수행하기 위한 전문가 채용을 준비하고 있습니다.<br />
                1차 설명회는 과학기술정보통신부 유튜브 채널을 통해 생중계로 공개될 예정이니, 관심있는 회원분들께서 참여하시기 바랍니다.<br />
                자세한 사항은 첨부된 포스터를 통해 확인해 주시고 문의가 있으시면 
                <a href="mailto:kasarecruit@korea.kr" target="_blank">kasarecruit@korea.kr</a>으로 연락주시기 바랍니다.
              </p>
              <p>
                감사합니다.<br />
                한국과학기술단체총연합회
              </p>
              <a href=
              "https://www.kasa-recruit.kr/"
               target="_blank">
              <img
                src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240313_KASA_Poster.jpg"
                alt="우주항공청 웹사이트"
              />
            </a>
            <p>
              <a
              href=
              "https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240313_KASA_Poster.pdf"
              target="_blank"
              download="우주항공청 포스터"
              >
              <button class="btn-view">Download</button>
              </a>
            </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                           Next
                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
