<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                2024 한-미 첨단산업 기술협력 포럼 안내
              </h3>
              <p class="date">May 30, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                Dear KSEA Members,<br />
                <br />
                Korea-US Advanced Industry and Technology Cooperation Forum 2024, with a theme "Toward a Stronger, 
                Strategic, and Resilient Partnership for Innovation," aims to reflect on the increasingly robust 
                technological cooperation between Korea and the US will be held as follows.
              </p>
              <p>
                This year's Forum, in particular, will focus on envisioning the future trajectories of advanced 
                industries propelled by AI innovations and share collaborative ventures such as the launch of 
                the US Global Industry Technology Cooperation Center and joint R&D projects with agencies for 
                innovation from Korea and the US.
              </p>
              <p>
                We cordially invite you to the forum to share your wisdom, insights, and expertise and we look 
                forward to seeing you in Washington D.C., on June 27, 2024.
              </p>
              <p>
                Feel free to visit <a href="https://www.k-itcforum.or.kr/" target="_blank">https://www.k-itcforum.or.kr/</a> 
                for more information and contact 
                <a href="mailto:kiat.usoffice@gmail.com" target="_blank">kiat.usoffice@gmail.com</a> if you have any questions.
              </p>
              <br />
              <hr>

              <p>
                안녕하십니까,<br />
                <br />
                한국과 미국 간 기술협력 및 양국의 혁신 전략을 모색하는 '한-미 첨단산업 기술협력 포럼"이 6월 27일 미국 워싱턴 DC에서 개최됩니다.
              </p>
              <p>
                "Toward a Stronger, Strategic and Resilient Partnership for Innovation"를 주제로 개방형 혁신, 디지털전환, 
                공급망 위기 등 우리가 직면한 글로벌 과제에 대해, 혁신 기술을 통한 공동 대응 방안을 모색하는 자리가 될 것입니다.
              </p>
              <p>
                특히, 올해 포럼에서는 AI 혁신을 통해 발현되는 첨단산업 분야의 미래를 전망하고, 미국 글로벌산업기술협력센터 개소, 양국의 혁신기관이 
                함께하는 공동 연구개발 등 협력 사례를 공유할 예정입니다.
              </p>
              <p>
                자세한 사항은 <a href="https://www.k-itcforum.or.kr/" target="_blank">https://www.k-itcforum.or.kr/</a>와 
                첨부된 포스터를 통해 확인해 주시고 문의가 있으시면 
                <a href="mailto:kiat.usoffice@gmail.com" target="_blank">kiat.usoffice@gmail.com</a>으로 연락주시기 바랍니다.
              </p>
              <br />
              <p>
                감사합니다.<br />
                한국산업기술진흥원
              </p>
              <br />
              <p>
                <a href="http://nems.kiat.or.kr/7I-136625I-4423I-4goaSoZE-8zPqrCF-169535I-4ehhgzE-8D-7D-7ZD-5ShomCuUbD-6CuD-6ZuD-7SHJPKD-6ehbaF-3gnHF-1iHEC-8BbgE-9uPTuaF-1zSEHUgD-7zSEHUgD-6ehbaF-3zNPHUF-101I-3" alt="registration" target="_blank">
                  <img src="https://kiat.or.kr/mail/2024/mail_0527_en.jpg" alt="24년 한-미 첨단산업 기술협력 포럼 개최" width="900" usemap="#Map2" border="0">
                </a>
              </p> 
              <p>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240530_KIAT.pdf"
                target="_blank"
                download="24년 한-미 첨단산업 기술협력 포럼 개최"
              >
                <button class="btn-view">Download</button>
              </a>  
              </p>
              <!-- <div style="width: 900.0px;"> 
                <p>
                  <img src="https://kiat.or.kr/mail/2024/mail_0527_en.jpg" alt="24년 한-미 첨단산업 기술협력 포럼 개최" width="900" usemap="#Map2" border="0">
                </p> 
                <map name="Map2" id="Map2">
                  <area href="http://nems.kiat.or.kr/7I-136625I-4423I-4goaSoZE-8zPqrCF-169535I-4ehhgzE-8D-7D-7ZD-5ShomCuUbD-6CuD-6ZuD-7SHJPKD-6ehbaF-3gnHF-1iHEC-8BbgE-9uPTuaF-1zSEHUgD-7zSEHUgD-6ehbaF-3zNPHUF-101I-3" shape="rect" coords="256,2415,643,2500" alt="registration" target="_blank" rel="noopener noreferrer">     
                </map>  
              </div> -->
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                           Next
                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
