<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Job Opportunities</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Job Opportunities</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">[한국보건산업진흥원] 한국형 ARPA-H 사업 PM 채용 사전공고</h3>
              <p class="date">January 5, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Dear KSEA members,</p>
              <br>
              <p>
                Korea Health Industry Development Institute (KHIDI) posted a job advertisement for 
                a Project Manager Position as follows.<br>
                Please see the following message and attached guidelines from KHIDI.<br>
                If you have any questions for the PM application, please contact KHIDI at 
                <a href="mailto:arpah01@khidi.or.kr" target="_blank">arpah01@khidi.or.kr</a>, 043-713-8581 (8582)<br>
              </p>
              <br>
              <br>
              <p>
                Thank you,<br>
                KSEA HQ
              </p>  
              <p>
                ______________________________________
              </p>
              <p>
                KSEA 회원 여러분, 안녕하십니까.
              </p>
              <br>
              <p>
                한국보건산업진흥원 (KHIDI) 에서는 미국 ARPA-H의 한국 버전인 '한국형 ARPA-H 사업'을 추진하고 있습니다.<br>
                "한국형 ARPA-H 사업"은 넥스트 팬데믹, 초고령화, 필수의료 위기 등 직면한 국가 보건 난제를 발굴하고, 혁신적이고 도전적인 
                기술개발을 통해 난제 해결 및 사회·경제적 파급효과가 큰 혁신적 연구성과 창출을 목표로 하는 임무지향적 연구개발사업입니다.<br>
                해당 사업의 프로젝트를 성공적으로 이끌 수 있는 임무별 PM(Project Manager)을 모집하고자 합니다.<br>
                조만간 공식적으로 공고가 나갈 예정이나 KSEA 회원들을 대상으로 PM 채용 공고를 사전에 보내드립니다.<br>
                첨부 파일을 검토해 보시고 PM 신청 관련 문의가 있으신 분들은  아래로 연락주시기 바랍니다.
              </p>
              <p>
                문의처: 한국보건산업진흥원 ARPA-H총괄지원TF센터<br>
                이메일 : <a href="mailto:arpah01@khidi.or.kr" target="_blank">arpah01@khidi.or.kr</a><br>
                전화번호 : 043-713-8581, 8582
              </p>
              <br>
              <br>
              <p>
                감사합니다.<br>
                한국보건산업진흥원
              </p>
              <p>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/240104_KHIDI.pdf"
                target="_blank"
                download="붙임. 2024년도 한국형 ARPA-H 사업 PM 채용 사전 공고문"
              >
                <button class="btn-view">Download</button>
              </a>
                </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/job"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                             Next
                                         </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
