<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Job Opportunities</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Job Opportunities</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">대구경북과학기술원(DGIST) 제5대 총장 초빙 재공고</h3>
              <p class="date">August 18, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                


                <p>1. 제출서류</p>
                <p>&nbsp;&nbsp;가. 지원서 및 이력서(소정양식) 1부</p>
                <p>&nbsp;&nbsp;나. 주요업적 및 경력소개서(A4 3매 이내) 1부</p>
                <p>&nbsp;&nbsp;다. 대구경북과학기술원 운영 및 경영혁신 소견서(A4 5매 이내) 1부</p>
                <p>&nbsp;&nbsp;라. 개인정보 수집&middot;이용 동의서(소정양식) 1부</p>
                <p>&nbsp;&nbsp;마. 총장후보 지원자 사전 질문서(소정양식) 1부</p>
                <p><br></p>
                <p>2. 제출기한 : 2023. 09. 07(목), 18시까지(한국시간 기준)</p>
                <p><br></p>
                <p>3. 제출방법 : 직접 방문제출, 등기우편 또는 e-mail(<a href="mailto:board@dgist.ac.kr" target="_blank">board@dgist.ac.kr</a>) 제출 가능</p>
                <p>&nbsp;* <strong><u>등기우편 접수는 마감일 도착분까지 가능하며,&nbsp;</u></strong>이메일 제출 시에는 도착여부 확인 연락이 반드시 필요함</p>
                <p><br></p>
                <p>4. 접수처 : (42988) 대구시 달성군 현풍읍 테크노중앙대로 333, DGIST, E1(대학본부) 9층(901호), 기획처</p>
                <p><br></p>
                <p>5. 문의 : (Tel) 053-785-1030, (Fax) 053-785-1119, (e-mail)&nbsp;<a href="mailto:board@dgist.ac.kr" target="_blank">board@dgist.ac.kr</a></p>
                <p><br></p>
                <p>6. 관련링크 : <a href="https://www.dgist.ac.kr/site/kr/html/sub05/050101.html?mode=V&no=67b43ad050e0af1916313b5fe58bfedc" rel="noopener noreferrer" target="_blank">https://www.dgist.ac.kr/<wbr>site/kr/html/sub05/050101.<wbr>html?mode=V&amp;no=<wbr>67b43ad050e0af1916313b5fe58bfe<wbr>dc</a></p>
                <p><br></p>



                <div class="con-img">

                <a
                  href="https://www.dgist.ac.kr/site/kr/html/sub05/050101.html?mode=V&no=67b43ad050e0af1916313b5fe58bfedc"
                  target="_blank"
                >
                  <img
                    src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/230818_DGIST-2.png"
                    alt="[DGIST] 제5대 총장 초빙 공고문"
                  />
                </a>
                </div>






                <div class="con-img">
                <a
                  href="https://www.dgist.ac.kr/site/kr/html/sub05/050101.html?mode=V&no=67b43ad050e0af1916313b5fe58bfedc"
                  target="_blank"
                >
                  <img
                    src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/230818_DGIST-1.png"
                    alt="[DGIST] 제5대 총장 초빙 공고문"
                  />
                </a>
              </div>
              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/230818_DGIST_Application(Kor).hwp"
                  target="_blank"
                  download="Application Form_Kor"
                >
                  <button class="btn-view">App_Kor</button>
                </a>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/230818_DGIST_Application(Eng).docx"
                  target="_blank"
                  download="Application Form_Eng"
                >
                  <button class="btn-view">App_Eng</button>
                </a>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/230818_DGIST_Announcement(Kor).pdf"
                target="_blank"
                download="Announcement_Kor"
                >
                  <button class="btn-view">Announcement_Kor</button>
                </a>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/230818_DGIST_Announcement(Eng).pdf"
                target="_blank"
                download="Announcement_Eng"
                >
                  <button class="btn-view">Announcement_Eng</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/job"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                           Next
                                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
