<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Media</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Media</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table">
        <tr>
          <th>No</th>
          <th>Title</th>
          <th>Date</th>
        </tr>
        <tr routerLink="/media-view42" routerLinkActive="active">
          <td>43</td>
          <td>Interview of KSEA President Yongho Sohn with KSEA Radio 한민족 하나로</td>
          <td>April 23, 2024</td>
        </tr>
        <tr routerLink="/media-view41" routerLinkActive="active">
          <td>42</td>
          <td>수원시, 재미한인과학기술자협회(KSEA)와 교류·협력 약속</td>
          <td>April 15, 2024</td>
        </tr>
        <tr routerLink="/media-view40" routerLinkActive="active">
          <td>41</td>
          <td>한미 과학자 8월 샌프란서 모인다…"연구개발 국제협력에 초점</td>
          <td>April 15, 2024</td>
        </tr>
        <tr routerLink="/media-view39" routerLinkActive="active">
          <td>40</td>
          <td>재미한인과학기술자협회, 애틀랜타서 과학기술 창업 콘퍼런스</td>
          <td>April 15, 2024</td>
        </tr>
        <tr routerLink="/media-view38" routerLinkActive="active">
          <td>39</td>
          <td>수원시, 재미한인과학자협회와 '바이오산업 발전' 맞손</td>
          <td>April 15, 2024</td>
        </tr>
        <tr routerLink="/media-view37" routerLinkActive="active">
          <td>38</td>
          <td>한인 청년 과학기술인 모임 캐탈리스트, 연례 학회 개최</td>
          <td>April 15, 2024</td>
        </tr>
        <tr routerLink="/media-view36" routerLinkActive="active">
          <td>37</td>
          <td>STEM 전공 칼리지 엑스포 열린다</td>
          <td>April 1, 2024</td>
        </tr>
        <tr routerLink="/media-view35" routerLinkActive="active">
          <td>36</td>
          <td>차세대 온라인 드론캠프 열린다</td>
          <td>April 1, 2024</td>
        </tr>
        <tr routerLink="/media-view34" routerLinkActive="active">
          <td>35</td>
          <td>‘바이오 지식재산 포럼’열려</td>
          <td>April 1, 2024</td>
        </tr>
        <tr routerLink="/media-view33" routerLinkActive="active">
          <td>34</td>
          <td>한인 청년 과학기술인 모임 캐탈리스트, 연례 학회 개최</td>
          <td>April 1, 2024</td>
        </tr>
        <tr routerLink="/media-view32" routerLinkActive="active">
          <td>33</td>
          <td>재미과기협 전국 수학 및 물리 경시대회</td>
          <td>March 29, 2024</td>
        </tr>
        <tr routerLink="/media-view31" routerLinkActive="active">
          <td>32</td>
          <td>재미과기협 2024년 장학생 모집</td>
          <td>March 29, 2024</td>
        </tr>
        <tr routerLink="/media-view30" routerLinkActive="active">
          <td>31</td>
          <td>"R&D 국제협력 이끄는 가교되겠다"</td>
          <td>February 8, 2024</td>
        </tr>
        <tr routerLink="/media-view29" routerLinkActive="active">
          <td>30</td>
          <td>경상국립대-재미한인과학기술협, 우주항공·방산 분야 국제적 동반자 관계 구축</td>
          <td>October 17, 2023</td>
        </tr>
        <tr routerLink="/media-view28" routerLinkActive="active">
          <td>29</td>
          <td>“국제협력 인위적 강제 불가...워크샵 통해 밑 단계 협력아이템 발굴부터”</td>
          <td>August 31, 2023</td>
        </tr>
        <tr routerLink="/media-view27" routerLinkActive="active">
          <td>28</td>
          <td>“남자와 여자의 눈 다르다” 밝혀낸 이창림 교수, 젊은 과학자상 탔다</td>
          <td>August 31, 2023</td>
        </tr>
        <tr routerLink="/media-view26" routerLinkActive="active">
          <td>27</td>
          <td>2023 KSEA 과학기술자상에 김재홍·박지웅 교수</td>
          <td>August 31, 2023</td>
        </tr>
        <tr routerLink="/media-view25" routerLinkActive="active">
          <td>26</td>
          <td>‘첨단과학 기술연구’ 토론의 장 펼쳐</td>
          <td>August 14, 2023</td>
        </tr>
        <tr routerLink="/media-view24" routerLinkActive="active">
          <td>25</td>
          <td>무턱대고 스타트업 창업은 위험 … 인력 구성에만 6년 쏟아</td>
          <td>August 8, 2023</td>
        </tr>
        <tr routerLink="/media-view23" routerLinkActive="active">
          <td>24</td>
          <td>FDA 승인 알츠하이머 약물 효능 낮고 치료효과 제한적</td>
          <td>August 8, 2023</td>
        </tr>
        <tr routerLink="/media-view22" routerLinkActive="active">
          <td>23</td>
          <td>
            뜨거웠던 과학기술 창업 열기, 내년 샌프란시스코 UKC에서 이어진다
          </td>
          <td>August 8, 2023</td>
        </tr>
        <tr routerLink="/media-view21" routerLinkActive="active">
          <td>22</td>
          <td>“메시 나와, 한번 붙자”...호날두의 재도전? 로봇 얘기입니다</td>
          <td>August 8, 2023</td>
        </tr>
        <tr routerLink="/media-view20" routerLinkActive="active">
          <td>21</td>
          <td>휴머노이드 시대 무르익어 … 메시보다 축구 잘하는 로봇 나온다</td>
          <td>August 8, 2023</td>
        </tr>
        <tr routerLink="/media-view19" routerLinkActive="active">
          <td>20</td>
          <td>
            세계한인의 날 기념 유공포상 전수식, “목련장 박충기, 대통령표창
            과기협 각각 수상”
          </td>
          <td>July 24, 2023</td>
        </tr>
        <tr routerLink="/media-view18" routerLinkActive="active">
          <td>19</td>
          <td>해외 과학기술인재 모신다...재미 과학기술 전문가 단체와 손잡아</td>
          <td>May 22, 2023</td>
        </tr>
        <tr routerLink="/media-view17" routerLinkActive="active">
          <td>18</td>
          <td>"재미한인 과학자 1천명, 8월 댈러스에서 학술대회"</td>
          <td>April 19, 2023</td>
        </tr>
        <tr routerLink="/media-view16" routerLinkActive="active">
          <td>17</td>
          <td>"젊은 과학자 발굴하고 韓·美 과학 협력 돕겠다"</td>
          <td>April 19, 2023</td>
        </tr>
        <tr routerLink="/media-view15" routerLinkActive="active">
          <td>16</td>
          <td>“자녀들에게 자신감을 심어줘라”</td>
          <td>April 19, 2023</td>
        </tr>
        <tr routerLink="/media-view14" routerLinkActive="active">
          <td>15</td>
          <td>전국 한인 과학 영재들 모여라</td>
          <td>April 19, 2023</td>
        </tr>
        <tr routerLink="/media-view13" routerLinkActive="active">
          <td>14</td>
          <td>과학기술 여성 전문가들의 온라인 워크숍 열린다</td>
          <td>April 19, 2023</td>
        </tr>
        <tr routerLink="/media-view12" routerLinkActive="active">
          <td>13</td>
          <td>재미과기협 2023년 장학생 모집</td>
          <td>April 19, 2023</td>
        </tr>
        <tr routerLink="/media-view11" routerLinkActive="active">
          <td>12</td>
          <td>프로그래밍 언어‘파이썬’에 대해 배워 보세요</td>
          <td>April 19, 2023</td>
        </tr>
        <tr routerLink="/media-view10" routerLinkActive="active">
          <td>11</td>
          <td>재미과기협, AI·인공 신경망 강연회</td>
          <td>April 19, 2023</td>
        </tr>
        <tr routerLink="/media-view" routerLinkActive="active">
          <td>10</td>
          <td>“허준이 교수와 온라인 미팅”</td>
          <td>October 11, 2022</td>
        </tr>
        <tr routerLink="/media-view9" routerLinkActive="active">
          <td>9</td>
          <td>尹, 뉴욕대서 “디지털 자유” 강조…재미 과학자와 간담회도</td>
          <td>September 23, 2022</td>
        </tr>
        <tr routerLink="/media-view8" routerLinkActive="active">
          <td>8</td>
          <td>
            “오늘의 만남은 운명적”…미국 뉴욕서 재미 한인 과학자들 만난 尹대통령
          </td>
          <td>September 23, 2022</td>
        </tr>
        <tr routerLink="/media-view7" routerLinkActive="active">
          <td>7</td>
          <td>
            이종호 장관 “韓 과학기술 발전에 재미과학자 역할 했어”…간담회 개최
          </td>
          <td>September 23, 2022</td>
        </tr>
        <tr routerLink="/media-view6" routerLinkActive="active">
          <td>6</td>
          <td>“궁금증 갖고 한 우물 파라”</td>
          <td>September 23, 2022</td>
        </tr>
        <tr routerLink="/media-view5" routerLinkActive="active">
          <td>5</td>
          <td>노벨상 석학이 ‘우주의 눈’을 설명하다</td>
          <td>September 1, 2022</td>
        </tr>
        <tr routerLink="/media-view4" routerLinkActive="active">
          <td>4</td>
          <td>젊은 학자·스타트업도 UKC서 기회 얻어</td>
          <td>September 1, 2022</td>
        </tr>
        <tr routerLink="/media-view3" routerLinkActive="active">
          <td>3</td>
          <td>‘제임스웹 망원경’ 만든 석학, 한미과학자대회 온다</td>
          <td>September 1, 2022</td>
        </tr>
        <tr routerLink="/media-view2" routerLinkActive="active">
          <td>2</td>
          <td>한국 최초 미 물리학회장 된 ‘충돌의 여왕’</td>
          <td>June 20, 2022</td>
        </tr>
        <tr routerLink="/media-view1" routerLinkActive="active">
          <td>1</td>
          <td>청년과학기술자 리더십 학술대회</td>
          <td>April 13, 2022</td>
        </tr>
      </table>
      <div class="wrap-paginator">
        <ul class="paginator">
          <!-- <li>Pre</li> -->
          <li class="selected">1</li>
          <!-- <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>Next</li> -->
        </ul>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
