<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                "2024년 산업기술국제협력사업" 통합 시행계획 공고
              </h3>
              <p class="date">January 16, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>

              <p>
                안녕하십니까 KSEA 회원 여러분,
              </p>
              <br><br>
              <p>
                『글로벌 기술협력 종합전략』의 이행과 우리 산업의 글로벌 혁신 역량을 제고하기 위해 국내 산학연과 해외 우수 연구개발기관과의 
                공동R&D를 지원하는 ｢2024년 산업기술국제협력사업」 통합 시행계획을 공고하오니, 희망 기관은 관련 규정 및 절차에 따라 
                신청하여 주시기 바랍니다.
              </p>
              <p>  
                1. 사업 목적<br>
                - 국내 산학연과 해외 우수 R&D 기관과의 국제공동연구개발 지원하여 해외 기술자원의 효과적인 활용, 
                첨단기술 확보 및 해외시장 진출을 통한 산업경쟁력 고도화
              </p>
              <p>  
                2. 사업내용<br>
                ① 양자 공동펀딩형 R&D ② 다자 공동펀딩형 R&D ③ 전략기술형 R&D ④ 글로벌산업기술협력센터<br>
                * ③, ④ 세부 내용은 별도 공고 예정
              </p>
              <br>
              <p>
                <span class="font-bold">통합공고 바로가기: </span>
                <a href="https://www.kiat.or.kr/front/board/boardContentsView.do?board_id=90
                &contents_id=380ba278d7864c1da5dd165c556fa9bd&MenuId=" target="_blank">Website Link</a>
              </p>
              <p>
                <span class="font-bold">관련 보도 바로가기: </span>
                <a href="https://www.motie.go.kr/kor/article/ATCLa3d66de4c/168457/view?mno=&pageIndex=1&categoryList
                =%5Bkr.go.motie.site.module.category.MecCategoryVo%4034b5885e%2C+kr.go.motie.site.module.category.
                MecCategoryVo%407a0bee5a%5D&rowPageC=0&displayAuthor=&searchCategory=0&schClear=on&startDtD=&endDtD
                =&searchCondition=1&searchKeyword=" target="_blank">보도자료 - 알림·뉴스산업통상자원부 홈페이지 (motie.go.kr)</a>
              </p>
              <p>
                <span class="font-bold">문의처: </span>
                KIAT 미국사무소 (<a href="mailto:kiat.usoffice@gmail.com" 
                target="_blank">kiat.usoffice@gmail.com</a>)
              </p>
              <br><br>
              <p> 
                감사합니다.<br>
                KSEA HQ
              </p>
              
              <p>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240116_KIAT.pdf"
                target="_blank"
                download="2024년 산업기술국제협력사업 통합 시행계획 공고(안)"
              >
                <button class="btn-view">Download</button>
              </a>
              </p>

            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                                 Next
                                                             </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
