<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Job Opportunities</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Job Opportunities</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                2023년 9월임용 한양대학교(서울/ERICA)
                전임교원 채용 공고
              </h3>
              <p class="date">March 29, 20233</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <!-- <div class="con-img">
                <a
                  href="https://faculty.ajou.ac.kr/faculty/announce/announce02.jsp?mode=view&article_no=234178"
                  target="_blank"
                >
                  <img
                    src="assets/images/job/job_ajou2023.jpg"
                    alt="2023학년도 2학기 아주대학교 교수초빙 공고문(공개채용)"
                  />
                </a>
              </div> -->
              <p>
                ※ 아래 목록에 해당되는 초빙분야가 없는 경우,
                <a href="https://site.hanyang.ac.kr/web/pool" target="_blank"
                  >한양대학교 상시채용 인재pool(바로가기)</a
                >에 이력서 등록 가능 <br />※ 5월 초에 다른 초빙분야로 2차
                공개채용이 또 진행될 예정입니다.
              </p>
              <p class="font-bold">
                [2023년 9월임용 전임교원(정년트랙) 채용 안내]
              </p>
              <table>
                <tr>
                  <th>대학(원)</th>
                  <th>학과</th>
                  <th>전공</th>
                  <th>초빙분야</th>
                  <th>TO</th>
                  <th>비고/우대사항</th>
                </tr>
                <tr>
                  <td>공과대학</td>
                  <td>컴퓨터소프트웨어학 부</td>
                  <td></td>
                  <td>컴퓨터 구조</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>공과대학</td>
                  <td>전기·생체공학부</td>
                  <td>전기공학전공</td>
                  <td>대전력 마이크로웨이브 또는 전력계통</td>
                  <td>1</td>
                  <td>
                    대전력 마이크로웨이브 분야 우 대, 전력계통 분야는 분산자원,
                  </td>
                </tr>
                <tr>
                  <td>공과대학</td>
                  <td>전기·생체공학부</td>
                  <td>전기공학전공</td>
                  <td>전기 및 반도체 재료</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>공과대학</td>
                  <td>신소재공학부</td>
                  <td></td>
                  <td>금속재료 응용(전 분야)</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>공과대학</td>
                  <td>화학공학과</td>
                  <td></td>
                  <td>유기합성 또는 유기소재</td>
                  <td>1</td>
                  <td>고급유기화학 가능자</td>
                </tr>
                <tr>
                  <td>공과대학</td>
                  <td>유기나노공학과</td>
                  <td></td>
                  <td>유기나노물성</td>
                  <td>1</td>
                  <td>계산화학전공자 우대</td>
                </tr>
                <tr>
                  <td>공과대학</td>
                  <td>기계공학부</td>
                  <td></td>
                  <td>기계공학전분야</td>
                  <td>3</td>
                  <td>동역학/기계설계/CAD/생산공정 /열/유체 분야 우대</td>
                </tr>
                <tr>
                  <td>공과대학</td>
                  <td>미래자동차공학과</td>
                  <td></td>
                  <td>전자공학</td>
                  <td>1</td>
                  <td>산업체 경력 우대</td>
                </tr>
                <tr>
                  <td>공과대학</td>
                  <td>미래자동차공학과</td>
                  <td>소프트웨어공학</td>
                  <td></td>
                  <td>1</td>
                  <td>산업체 경력 우대</td>
                </tr>
                <tr>
                  <td>공과대학</td>
                  <td>미래자동차공학과</td>
                  <td></td>
                  <td>융합설계 또는 최적설계 또는 생산공학</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>공과대학</td>
                  <td>데이터사이언스학부</td>
                  <td>데이터사이언스전공</td>
                  <td>데이터사이언스</td>
                  <td>1</td>
                  <td>데이터베이스,데이터마이닝, 데이 터통계분석</td>
                </tr>
                <tr>
                  <td>인문과학대학</td>
                  <td>중어중문학과</td>
                  <td></td>
                  <td>중국문학</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>경영대학</td>
                  <td>경영학부</td>
                  <td></td>
                  <td>경영정보시스템</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>경영대학</td>
                  <td>경영학부</td>
                  <td>마케팅</td>
                  <td>소비자행동</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>경영대학</td>
                  <td>경영학부</td>
                  <td>회계</td>
                  <td>재무회계/관리회계/회계감사</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>경영대학</td>
                  <td>파이낸스경영학과</td>
                  <td>Finance</td>
                  <td>Finance</td>
                  <td>1</td>
                  <td></td>
                </tr>
              </table>
              <p>
                서울(정년트랙) 바로가기
                <a
                  href="https://site.hanyang.ac.kr/web/faculty/2023-9-1"
                  target="_blank"
                  >https://site.hanyang.ac.kr/web/faculty/2023-9-1</a
                >
              </p>
              <br />
              <p class="font-bold">
                [2023년 9월임용 전임교원(비정년트랙) 채용 안내]
              </p>
              <table>
                <tr>
                  <th>단과대학</th>
                  <th>학과</th>
                  <th>초빙분야</th>
                  <th>직종</th>
                  <th>인원</th>
                  <th>비고</th>
                </tr>
                <tr>
                  <td>공과대학</td>
                  <td>INDUSTRY 4.0 센터</td>
                  <td>기계공학</td>
                  <td>비정년트랙 (산학협력전담)</td>
                  <td>1</td>
                  <td>학사 이상 지원 가능 산학협력 실무 경험 우대</td>
                </tr>
                <tr>
                  <td>공과대학</td>
                  <td>INDUSTRY 4.0 센터</td>
                  <td>IoT/AI/IT</td>
                  <td>비정년트랙 (산학협력전담)</td>
                  <td>1</td>
                  <td>학사 이상 지원 가능 산학협력 실무 경험 우대</td>
                </tr>
                <tr>
                  <td>공과대학</td>
                  <td>미래자동차공학과</td>
                  <td>
                    컴퓨터소프트웨어 혹은 인공지능 관련 전기/전자/기계 공학
                  </td>
                  <td>비정년트랙 (교육전담C)</td>
                  <td>1</td>
                  <td></td>
                </tr>
              </table>
              <p>
                <a
                  href="https://site.hanyang.ac.kr/web/faculty/2023-9-2"
                  target="_blank"
                  >서울(비정년트랙) 바로가기
                  https://site.hanyang.ac.kr/web/faculty/2023-9-2</a
                >
              </p>
              <br />
              <p class="font-bold">
                [2023년 9월임용 전임교원(의과대학) 채용 안내]
              </p>
              <table>
                <tr>
                  <th>소속</th>
                  <th>학과</th>
                  <th>초빙분야</th>
                  <th>트랙</th>
                  <th>인원</th>
                  <th>우대사항/비고</th>
                </tr>
                <tr>
                  <td>의과대학</td>
                  <td>의공학교실</td>
                  <td>[기초]뇌공학 또는 신경공학</td>
                  <td>정년트랙</td>
                  <td>1</td>
                  <td>임상의학 공동연구자 우대</td>
                </tr>
                <tr>
                  <td>의과대학</td>
                  <td>환경의생물학</td>
                  <td>[기초]감염면역</td>
                  <td>정년트랙</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>의과대학</td>
                  <td>인체해부학실습</td>
                  <td>[기초]인체해부학실습</td>
                  <td>비정년트랙 (교육전담C)</td>
                  <td>1</td>
                  <td>석사학위 이상 소지가능</td>
                </tr>
                <tr>
                  <td>의과대학</td>
                  <td>흉부외과</td>
                  <td>[서울병원]심혈관외과</td>
                  <td>정년트랙</td>
                  <td>1</td>
                  <td>임상/ 석사학위 이상 소지가능</td>
                </tr>
                <tr>
                  <td>의과대학</td>
                  <td>외과학교실</td>
                  <td>[서울병원]유방갑상선외과</td>
                  <td>정년트랙</td>
                  <td>1</td>
                  <td>임상</td>
                </tr>
                <tr>
                  <td>의과대학</td>
                  <td>비뇨의학교실</td>
                  <td>[서울병원]로봇수술, 남성불임</td>
                  <td>정년트랙</td>
                  <td>1</td>
                  <td>임상</td>
                </tr>
                <tr>
                  <td>의과대학</td>
                  <td>정형외과학 교실</td>
                  <td>[구리병원]슬관절</td>
                  <td>정년트랙</td>
                  <td>1</td>
                  <td>임상</td>
                </tr>
                <tr>
                  <td>의과대학</td>
                  <td>교육협력지원교실</td>
                  <td>[창원한마음병원]신경외과</td>
                  <td>비정년트랙(교육협력교원)</td>
                  <td>1</td>
                  <td>임상/ 석사학위 이상 소지가능</td>
                </tr>
                <tr>
                  <td>의과대학</td>
                  <td>교육협력지원교실</td>
                  <td>[창원한마음병원]비뇨의학과</td>
                  <td>비정년트랙(교육협력교원)</td>
                  <td>1</td>
                  <td>임상/ 석사학위 이상 소지가능</td>
                </tr>
                <tr>
                  <td>의과대학</td>
                  <td>교육협력지원교실</td>
                  <td>[창원한마음병원]외과</td>
                  <td>비정년트랙(교육협력교원)</td>
                  <td>1</td>
                  <td>임상/ 석사학위 이상 소지가능</td>
                </tr>
              </table>
              <p>
                <a
                  href="https://site.hanyang.ac.kr/web/faculty/2023-9-3"
                  target="_blank"
                  >서울(의과대학) 바로가기
                  https://site.hanyang.ac.kr/web/faculty/2023-9-3</a
                >
              </p>
              <br />
              <p class="font-bold">-지원접수 및 초빙일정-</p>
              <table>
                <tr>
                  <th>일정</th>
                  <th>내용</th>
                  <th>진행사항</th>
                </tr>
                <tr>
                  <td>3월 23일 17:00 ~ 4월 6일 오전10:59</td>
                  <td>온라인 지원기간</td>
                  <td>
                    <a
                      href="https://portal.hanyang.ac.kr/huas/iycy/hycy.do"
                      target="_blank"
                      >온라인 지원 바로가기(클릭)</a
                    >
                  </td>
                </tr>
                <tr>
                  <td>4월 21일 17:00</td>
                  <td>1차 서류심사 발표</td>
                  <td>
                    <a
                      href="https://portal.hanyang.ac.kr/huas/iycy/hycy.do"
                      target="_blank"
                      >온라인 지원 페이지</a
                    >에서 로그인 후 확인
                  </td>
                </tr>
                <tr>
                  <td>4월 24일 ~ 5월 4일</td>
                  <td>2차 심사단계</td>
                  <td>학과 면접 및 외부 심사</td>
                </tr>
                <tr>
                  <td>5월 12일 17:00</td>
                  <td>2차 심사 합격 발표</td>
                  <td>
                    - 인터넷 접수 페이지에서 로그인 후 확인<br />
                    - 발표 후 교원 인성검사(온라인) 실시
                  </td>
                </tr>
                <tr>
                  <td>5월 22일</td>
                  <td>최종면접</td>
                  <td>
                    -PPT면접발표5분이내(정년트랙:영어)<br />
                    - PPT 양식 제공 예정
                  </td>
                </tr>
                <tr>
                  <td>5월 25일 17시(예정)</td>
                  <td>최종 합격자 발표</td>
                  <td>
                    <a
                      href="https://portal.hanyang.ac.kr/huas/iycy/hycy.do"
                      target="_blank"
                      >온라인 지원 페이지</a
                    >에서 로그인 후 확인
                  </td>
                </tr>
                <tr>
                  <td>9월 1일</td>
                  <td>임용 완료</td>
                  <td>임용장 전달, 계약서 작성, 오리엔테이션 등</td>
                </tr>
              </table>
              <p>
                ※ 해외거주자는 ZOOM으로 면접 참석 가능<br />
                ※ 문의 : 한양대학교 서울캠퍼스 교무처 교무팀 02-2220-2056
                <a href="mailto:hyurecruit@hanyang.ac.kr" target="_blank"
                  >hyurecruit@hanyang.ac.kr</a
                >
              </p>
              <br />
              <p class="font-bold">
                [2023년 9월임용 전임교원(정년트랙) 채용 안내]
              </p>
              <table>
                <tr>
                  <th>소속</th>
                  <th>학과</th>
                  <th>초빙분야</th>
                  <th>인원</th>
                  <th>비고 및 우대사항</th>
                </tr>
                <tr>
                  <td>공학대학</td>
                  <td>전자공학부</td>
                  <td>인공지능 응용/컴퓨터비전</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>공학대학</td>
                  <td>기계공학과</td>
                  <td>기계설계 전분야</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>공학대학</td>
                  <td>기계공학과</td>
                  <td>동역학 전분야 (동역학,진동/소음,제어/로봇/모빌리</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>공학대학</td>
                  <td>기계공학과</td>
                  <td>고체및구조역학/기계재료및파괴 전 분야</td>
                  <td>1</td>
                  <td>학사, 석사, 박사 모두 기계계열 출신 우대</td>
                </tr>
                <tr>
                  <td>공학대학</td>
                  <td>생명나노공학과</td>
                  <td>바이오나노공학분야</td>
                  <td>1</td>
                  <td>생명공학전공 우대</td>
                </tr>
                <tr>
                  <td>공학대학</td>
                  <td>국방정보공학과</td>
                  <td>
                    Anti-submarine warfare(수중음향신
                    호처리/수중음향모델링/수중통신), 레이다신호처리,
                    표적추적탐지/사격 통제, 다중센서정보융합
                  </td>
                  <td>1</td>
                  <td>인공지능접목 가능자 우대</td>
                </tr>
                <tr>
                  <td>과학기술 융합대학</td>
                  <td>수리데이터 사이언스학과</td>
                  <td>데이터사이언스</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>과학기술 융합대학</td>
                  <td>응용물리학과</td>
                  <td>응집물질물리학 실험분야</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>과학기술 융합대학</td>
                  <td>화학분자공학과</td>
                  <td>에너지소재 계산화학</td>
                  <td>1</td>
                  <td>
                    1. 양자화학 수업 가능자<br />
                    2.최근 3년간 주저자(교신 또는 1저자)로서 JCR 기준 상위3%
                    논문 3편 이상 게재<br />
                    3.해외박사후 연구원 경력1년 이상 및 산업체경 력 2년 이상<br />
                    4.최근 3년간 과제책임자로 연구과제 수주 경험
                  </td>
                </tr>
                <tr>
                  <td>국제문화대학</td>
                  <td>일본학과</td>
                  <td>일본문화</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>언론정보대학</td>
                  <td>정보사회 미디어학과</td>
                  <td>디지털 미디어 & 콘텐츠</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>경상대학</td>
                  <td>경영학부</td>
                  <td>경영정보 (비즈니스애널리틱스)</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>디자인대학</td>
                  <td>산업디자인</td>
                  <td>미래신산업융합디자인</td>
                  <td>1</td>
                  <td></td>
                </tr>
              </table>
              <p>
                <a
                  href="https://site.hanyang.ac.kr/web/faculty/2023-9-4"
                  target="_blank"
                  >ERICA(정년트랙) 바로가기</a
                >
              </p>
              <br />
              <p class="font-bold">
                [2023년 9월임용 전임교원(비정년트랙) 채용 안내]
              </p>
              <table>
                <tr>
                  <th>소속</th>
                  <th>학과</th>
                  <th>초빙분야명</th>
                  <th>트랙구분</th>
                  <th>인원</th>
                  <th>분야</th>
                </tr>
                <tr>
                  <td>공학대학</td>
                  <td>스마트융합공학부 건축IT융합전공</td>
                  <td>스마트건설</td>
                  <td>비정년트랙 (교육전담S)</td>
                  <td>1</td>
                  <td>국제저명분야</td>
                </tr>
                <tr>
                  <td>소프트웨어 융합대학</td>
                  <td>인공지능학과</td>
                  <td>전산컴퓨터 (전산수리학 / 통계 및 응용수학포함)</td>
                  <td>비정년트랙 (교육전담S)</td>
                  <td>1</td>
                  <td>국제저명분야</td>
                </tr>
                <tr>
                  <td>소프트웨어 융합대학</td>
                  <td>인공지능학과</td>
                  <td>컴퓨터공학</td>
                  <td>비정년트랙 (교육전담C)</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>경상대학</td>
                  <td>경제학부</td>
                  <td>경제학 일반</td>
                  <td>비정년트랙 (교육전담C)</td>
                  <td>1</td>
                  <td></td>
                </tr>
              </table>
              <p>
                <a
                  href="https://site.hanyang.ac.kr/web/faculty/2023-9-5"
                  target="_blank"
                  >ERICA(비정년트랙) 바로가기</a
                >
              </p>
              <br />
              <p class="font-bold">-지원접수 및 초빙일정-</p>
              <table>
                <tr>
                  <th>일정</th>
                  <th>내용</th>
                  <th>진행사항</th>
                </tr>
                <tr>
                  <td>3월 23일 17:00 ~ 4월 6일 오전10:59</td>
                  <td>온라인 지원기간</td>
                  <td>
                    <a
                      href="https://portal.hanyang.ac.kr/huas/iycy/hycy.do"
                      target="_blank"
                      >온라인 지원 바로가기(클릭)</a
                    >
                  </td>
                </tr>
                <tr>
                  <td>4월 21일 17:00</td>
                  <td>1차 서류심사 발표</td>
                  <td>
                    <a
                      href="https://portal.hanyang.ac.kr/huas/iycy/hycy.do"
                      target="_blank"
                      >온라인 지원 페이지</a
                    >에서 로그인 후 확인
                  </td>
                </tr>
                <tr>
                  <td>4월 24일 ~ 5월 16일</td>
                  <td>2차 심사단계</td>
                  <td>학과 면접 및 외부 심사</td>
                </tr>
                <tr>
                  <td>5월 23일 17:00</td>
                  <td>2차 심사 합격 발표</td>
                  <td>
                    - 인터넷 접수 페이지에서 로그인 후 확인<br />
                    - 발표 후 교원 인성검사(온라인) 실시
                  </td>
                </tr>
                <tr>
                  <td>5월 30일</td>
                  <td>최종면접</td>
                  <td>
                    - PPT면접발표5분이내<br />
                    - PPT 양식 제공 예정
                  </td>
                </tr>
                <tr>
                  <td>6월 7일 17:00</td>
                  <td>최종 합격자 발표</td>
                  <td>
                    <a
                      href="https://portal.hanyang.ac.kr/huas/iycy/hycy.do"
                      target="_blank"
                      >온라인 지원 페이지</a
                    >에서 로그인 후 확인
                  </td>
                </tr>
                <tr>
                  <td>9월 1일</td>
                  <td>임용 완료</td>
                  <td>임용장 전달, 계약서 작성, 오리엔테이션 등</td>
                </tr>
              </table>
              <p>
                ※ 해외거주자는 ZOOM으로 면접 참석 가능<br />
                ※ 문의: 한양대학교 ERICA캠퍼스 교무처 교무팀 031-400-4204
                <a href="mailto:ericarecruit@hanyang.ac.kr" target="_blank"
                  >ericarecruit@hanyang.ac.kr</a
                >
              </p>

              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/hanyang01.pdf"
                  target="_blank"
                  download="2023년 9월임용 한양대학교(서울) 전임교dnjs 채용 공고문"
                >
                  <button class="btn-view">Download</button>
                </a>
              </p>
              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/hanyang02.pdf"
                  target="_blank"
                  download="2023년 9월임용 한양대학교(Erica) 전임교원 채용 공고문"
                >
                  <button class="btn-view">Download</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/job"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                         Next
                     </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
