<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">UKC 2023 – Call for Papers</h3>
              <p class="date">March 23, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <!-- <div class="con-img">
                  <a
                    href="https://us02web.zoom.us/j/89958821813?pwd=S0NtU1RSbGF3UllCczRxRHlSb2JSdz09"
                    target="_blank"
                  >
                    <img
                      src="assets/images/announcement/wisw_0215.jpg"
                      alt="The Women in STEM Workshop Series Hosted by KSEA in
                        collaboration with KWiSE"
                    />
                  </a>
                </div> -->

              <p>Dear KSEA members,</p>
              <p>
                We are delighted to announce that the 36th annual US-Korea
                Conference (UKC 2023) will take place from August 2 to 5, 2023,
                at the Hyatt Regency DFW (Dallas-Fort Worth), Texas, USA. The
                conference is jointly organized by the Korean-American
                Scientists and Engineers Association (KSEA), the Korean
                Federation of Science and Technology Societies (KOFST), and the
                Korea-U.S. Science Cooperation Center (KUSCO/NRF).
                <a href="https://ukc.ksea.org/" target="_blank"
                  >(https://ukc.ksea.org/)</a
                >
              </p>
              <p>
                This year's conference theme is "Discovery, Innovation, and
                Dissemination for Transformative Impact", and it aims to offer
                unique opportunities for participants to actively engage in
                various symposiums and forums, focused on the transformative
                impact of science, technology, and entrepreneurship on our daily
                lives, which have been significantly challenged and altered by
                the pandemic.
              </p>
              <p>
                UKC 2023 will bring together over 1,000 scientists, engineers,
                entrepreneurs, government officials, corporate executives, and
                policy-makers, providing a platform for sharing ideas,
                experiences, and expertise. We are confident that the conference
                will be a productive and engaging event, and we encourage you to
                submit your papers and participate in this exciting opportunity.
              </p>
              <p class="font-bold">Technical Group Symposiums</p>
              <p>
                On behalf of the UKC 2023 Program Committee and
                organizing/sponsoring organizations, we are excited to invite
                you to UKC 2023 Technical Group Symposiums, where participants
                present and discuss significant research findings, R&D trends,
                and prospects of sciences and technologies in the technical
                groups listed below:
              </p>
              <br />
              <ul>
                <li>A-1. Physics (PHY)</li>
                <li>A-2. Chemistry (CHM)</li>
                <li>
                  A-3. Mathematics, Geology, Meteorology, Statistics (MAS)
                </li>
                <li>
                  B-1. Medical Science, Pharmaceutical Science, Veterinary
                  Medicine, Physical Education (MPS)
                </li>
                <li>B-2. Agriculture, Ecology, Food, Nutrition (FAN)</li>
                <li>
                  B-3/C-1. Biological and Biomedical Sciences (Biology,
                  Molecular Biology, Cognitive Science, Botany, Zoology,
                  Biomechanics, etc.) / Bioengineering and Biomedical
                  Engineering (BME)
                </li>
                <li>
                  C-2. Chemical, Textile, Energy, and Nuclear Engineering (CHE)
                </li>
                <li>C-3. Mechanical, Aerospace, and Naval Engineering (MAN)</li>
                <li>
                  C-4. Materials Science and Engineering, Nanotechnology (MSE)
                </li>
                <li>
                  C-5. Civil and Environmental Engineering, Architecture (CEA)
                </li>
                <li>C-6. Electrical and Computer Engineering (ECE)</li>
                <li>C-7. Computer and Information Sciences (CIT)</li>
                <li>
                  C-8. Industrial, Manufacturing, and Systems Engineering,
                  Management Sciences, Operations Research (IMS)
                </li>
                <li>D-1. Education Research, STEM and Social Sciences</li>
              </ul>
              <p>
                You are invited to submit a
                <a
                  href="https://www.ksea.org/ukc-signIn?next=ukc-call4paper"
                  target="_blank"
                >
                  one-page paper </a
                >to deliver presentations at the Technical Group Symposium. The
                <a
                  href="https://www.google.com/url?q=https://ksea-ukc.s3.amazonaws.com/UKC2023_One_Page_Paper_Template.docx&sa=D&source=docs&ust=1680265831080766&usg=AOvVaw3SK-5MKrqLDKjd3a4HuMdi"
                  target="_blank"
                  >one-page paper template </a
                >must be completed by May 15, 2023. During the submission
                process, a technical group (A-1 to D-1) must be specified where
                the paper will be considered for an oral presentation or a
                poster presentation. All papers must be written in English. The
                submitted papers will be reviewed and selected by each Technical
                Group Symposium Chairs. Accepted papers will be published in the
                electronic version of the UKC 2023 Proceedings.
              </p>
              <p>
                We look forward to welcoming you to Dallas in August. Please
                stay tuned for the next announcement for paper submission and
                other conference details. Should you have any questions, please
                contact us at
                <a href="mailto:ukc2023@ksea.org" target="_blank"
                  >ukc2023@ksea.org.</a
                >
              </p>

              <p>Sincerely,</p>

              <p>
                Chang-Yong Nam, UKC 2023 Program Chair<br />
                Yongho Sohn, UKC 2023 Conference Chair<br />
                Taesik Lee, UKC 2023 Conference Co-Chair
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                 Next
                             </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
