<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">Call for 2024 Brain Pool Fellowship program (2024년 해외우수과학자유치사업 공고 알림)</h3>
              <p class="date">February 06, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                The MSIT (Ministry of Science and ICT) and NRF (National Research Foundation of Korea) 
                welcome applications from host researchers in South Korea who wish to invite outstanding 
                scientists to join the Brain Pool Program (BP Program).<br>
                This program is designed to invite overseas outstanding scientists for the enhancement of 
                research competence through joint research in R&D fields in Korea, and build a global 
                cooperative research network more efficiently.<br>
                Interested applicants are requested to apply following the relevant procedures.
              </p>
              <p>
                Please see the attached announcement/guidelines and submit your application as instructed.
              </p>
              <br>
              <br>
              <br>
              <p>
                <a
                href=
                "https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240206_MSIT_Announcement+of+Brain+Pool+fellowship+Program+of+2024(ENG).pdf"
                target="_blank"
                download="Announcement 1"
                >
                  <button class="btn-view">Announcement (ENG)</button>
                </a>
                <a
                href=
                "https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240206_MSIT_Announcement(KOR).pdf"
                target="_blank"
                download="Announcement 2"
                >
                  <button class="btn-view">Announcement (KOR)</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                       Next
                   </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
