<div class="wrap" *ngIf="!loading">
  <div class="wrap-con">
    <div class="logo">
      <img src="assets/images/logo.png" alt="KSEA logo" />
      <span>US Korea Conference 2023</span>
    </div>
  </div>
  <div class="wrap-form">
    <p-table
      #DT
      *ngIf="listRegistration && listRegistration.length > 0"
      [value]="listRegistration"
      [tableStyle]="{ 'min-width': '50rem' }"
      dataKey="registration.id"
      [showCurrentPageReport]="true"
      [rows]="50"
      [rowsPerPageOptions]="[10, 25, 50, 100]"
      [paginator]="true"
      [loading]="loading"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="title">
            Title <p-sortIcon field="title"></p-sortIcon>
          </th>
          <th pSortableColumn="lastName">
            Last Name <p-sortIcon field="registration.lastName"></p-sortIcon>
          </th>
          <th pSortableColumn="firstName">
            Fist Name <p-sortIcon field="firstName"></p-sortIcon>
          </th>
          <th pSortableColumn="affiliation">
            Affiliation
            <p-sortIcon field="affiliation"></p-sortIcon>
          </th>
        </tr>
        <tr>
          <th>
            <p-columnFilter type="text" field="title"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="lastName"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="firstName"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="affiliation"></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-application>
        <tr>
          <td>{{ application.title }}</td>
          <td>{{ application.lastName }}</td>
          <td>{{ application.firstName }}</td>
          <td>{{ application.affiliation }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
