<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Job Opportunities</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Job Opportunities</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">KIC 워싱턴 센터장 모집 공고</h3>
              <p class="date">April 25, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>안녕하십니까.</p>
              <p>
                한국연구재단에서는 미국 현지 창업지원 및 전략적 협력 네트워크
                구축 등을 추진하기 위하여『KIC 워싱턴』의 신임 센터장을 모시고자
                하오니 역량 있는 분들의 많은 응모 바랍니다.
              </p>

              <p class="txt-deco-line">
                2023년 4월 13일<br />
                한국연구재단 이사장
              </p>
              <ul class="list-deco-disc">
                <li>모집직위 : KIC(Korea Innovation Center) 워싱턴‘센터장’</li>
                <li>모집방법 : 공개모집</li>
                <li>
                  임 기 : 선임일로부터 2년(임기시작 예정 : 2023. 6월 중 예정)<br />※
                  임기(2년) 종료시점에서 업무평가 결과에 따라 연장 가능(1년)
                </li>
                <li>
                  근무조건 및 처우
                  <ul>
                    <li>- 근 무 지: 미국 워싱턴 DC</li>
                    <li>- 근무 형태: 주 5일 상근</li>
                    <li>
                      - 급여 및 수당: 연봉제 : 220,000 USD(기본급, 파견수당,
                      주거비 등 포함)
                      <br />(내부규정에 의하며, 선정된 센터장은 KIC 센터와
                      고용계약 체결) <br />* 급여 및 수당은 임기동안 변동없음
                    </li>
                  </ul>
                </li>
              </ul>
              <p>
                ※ KIC 워싱턴 : 독립법인이 아니며 한미과학기술협력센터(KUSCO)에
                속한 부서 형태<br />
                ※ 매년 평가위원회를 실시하고 당초 기대한 성과를 거두기
                곤란하거나 부적절한 업무<br />
                수행 및 부정행위 등을 발견하는 경우 해촉할 수 있음<br />
                ※ 자세한 내용과 신청서는 첨부 파일 참조
              </p>
              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/job/job_kic.pdf"
                  target="_blank"
                  download="[붙임1] (최종)KIC 워싱턴 신임 센터장 공고문"
                >
                  <button class="btn-view">Download</button>
                </a>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/job/job_application_form_kic.docx"
                  target="_blank"
                  download="신청서_KIC 워싱턴 센터장"
                >
                  <button class="btn-view">Download</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/job"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                               Next
                           </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
