<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                Announcement of the 2024 KSEA Scholarship and Fellowship Winners
              </h3>
              <p class="date">June 3, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="font-bold">
                I. 2024 KSEA Undergraduate Scholarship Recipients
              </p>
              <p>
                * KSEA-Rim Scholarship was established by Mr. Jihoon Rim,
                professor at Stern Business School at New York University and
                former CEO of Kakao Corp. Prof. Rim has gratefully pledged to
                donate $15,000 a year to help KSEA support more undergraduate
                scholarship awardees starting 2022
              </p>
              <table>
                <tbody>
                  <tr>
                    <th style="width: 23%">Scholarship Name</th>
                    <th style="width: 20%">Name</th>
                    <th style="width: 27%">School Name</th>
                    <th style="width: 30%">Major</th>
                  </tr>
                  <tr>
                      <td>KSEA-Rim Scholarship (Jihoon Rim)</td>
                      <td>Yeongju Lee</td>
                      <td>Northeastern University</td>
                      <td>School of Pharmacy and Pharmaceutical Science</td>
                  </tr>
                  <tr>
                      <td>KSEA-Rim Scholarship (Jihoon Rim)</td>
                      <td>Inho Lee</td>
                      <td>Georgia Institute of Technology</td>
                      <td>Biomedial Engineering</td>
                  </tr>
                  <tr>
                      <td>KSEA-Rim Scholarship (Jihoon Rim)</td>
                      <td>Hyeseung Cheong</td>
                      <td>University of Minnesota, Twin Cities</td>
                      <td>Business</td>
                  </tr>
                  <tr>
                      <td>KSEA-Rim Scholarship (Jihoon Rim)</td>
                      <td>Ikhyun AN</td>
                      <td>Georgia Institute of Technology</td>
                      <td>Computer Science</td>
                  </tr>
                  <tr>
                      <td>KSEA-Rim Scholarship (Jihoon Rim)</td>
                      <td>Sangwon Cha</td>
                      <td>University of Southern Califronia</td>
                      <td>Electrical Engineering</td>
                  </tr>
                  <tr>
                      <td>KSEA-Rim Scholarship (Jihoon Rim)</td>
                      <td>Anika Hong</td>
                      <td>Rutgers University</td>
                      <td>Nursing</td>
                  </tr>
                  <tr>
                      <td>KSEA-Rim Scholarship (Jihoon Rim)</td>
                      <td>Heejae Kim</td>
                      <td>Johns Hopkins University</td>
                      <td>Neuroscience</td>
                  </tr>
                  <tr>
                      <td>KSEA-Rim Scholarship (Jihoon Rim)</td>
                      <td>Sejung Ko</td>
                      <td>Rutgers University</td>
                      <td>Pharmacy</td>
                  </tr>
                  <tr>
                      <td>KSEA-Rim Scholarship (Jihoon Rim)</td>
                      <td>Yukyoung Kim</td>
                      <td>Northeastern University</td>
                      <td>School of Pharmacy and Pharmaceutical Science</td>
                  </tr>
                  <tr>
                      <td>KSEA-Rim Scholarship (Jihoon Rim)</td>
                      <td>Catherine Kim</td>
                      <td>Brown University</td>
                      <td>Computer Science</td>
                  </tr>
                  <tr>
                      <td>Yong Shik Hong Scholarship</td>
                      <td>Woohyun Chun</td>
                      <td>California State Polytechnic University, Pomona</td>
                      <td>Mechanical Engineering</td>
                  </tr>
                  <tr>
                      <td>Shoon Kyung Kim Scholarship</td>
                      <td>Hyorim Kim</td>
                      <td>Georgia Institute of Technology</td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>Inyong Ham Scholarship</td>
                      <td>Christina Ko</td>
                      <td>Rice University</td>
                      <td>Neuroscience</td>
                  </tr>
                  <tr>
                      <td>Nam Sook &amp; Je Hyun Kim Scholarship</td>
                      <td>Minseok Kim</td>
                      <td>Northeastern University</td>
                      <td>School of Pharmacy </td>
                  </tr>
                  <tr>
                      <td>Woojin Scholarship </td>
                      <td>Brendon Chung</td>
                      <td>Georgetown University</td>
                      <td>Global Health</td>
                  </tr>
                  <tr>
                      <td>Yohan &amp; Rumie Cho Scholarship</td>
                      <td>Hojoon Cha</td>
                      <td>University of Wisconsin-Madison</td>
                      <td>Astronomy-Physics</td>
                  </tr>
                  <tr>
                      <td>Changkiu Riew &amp; Hyunsoo Kim Scholarship </td>
                      <td>Ye Chan Lee</td>
                      <td>University of California, Irvine</td>
                      <td>Electrical Engineering</td>
                  </tr>
                  <tr>
                      <td>Jae S. and Kyuho Lim Scholarship</td>
                      <td>Jiwoo Noh</td>
                      <td>Johns Hopkins University</td>
                      <td>Biomedial Engineering</td>
                  </tr>
                  <tr>
                      <td>Yoo, YoungSoo &amp; Im, KyungBin Scholarship</td>
                      <td>Hannah Shin</td>
                      <td>Georgia Institute of Technology</td>
                      <td>Mechanical Engineering</td>
                  </tr>
                  <tr>
                      <td>Chan Il &amp; Young Hee Chung Scholarship</td>
                      <td>Sarah Hwang</td>
                      <td>University of Southern Califronia</td>
                      <td>Health Promotion and Disease Prevention</td>
                  </tr>
                  <tr>
                      <td>Chan-Mo Park Scholarship</td>
                      <td>Brandon Kim</td>
                      <td>Stanford University</td>
                      <td>Computer Science</td>
                  </tr>
                  <tr>
                      <td>Yong Nak Lee Scholarship</td>
                      <td>Hannah Kim</td>
                      <td>Northeastern University</td>
                      <td>School of Pharmacy </td>
                  </tr>
                  <tr>
                      <td>Tai Ryang and You Hyun Shin Scholarship</td>
                      <td>Grace Lee</td>
                      <td>University of Michigan</td>
                      <td>Biochemistry and Mathematics</td>
                  </tr>
                  <tr>
                      <td>Kyong Chul Chun Scholarship </td>
                      <td>Donghyun Kim</td>
                      <td>Georgia Institute of Technology</td>
                      <td>Computer Science</td>
                  </tr>
                  <tr>
                      <td>Hahn-Paek Scholarship </td>
                      <td>Junsung Nam</td>
                      <td>Emory University </td>
                      <td>Biology</td>
                  </tr>
                  <tr>
                      <td>Drs. Kiuck &amp; OkSoon Lee Scholarship</td>
                      <td>Yejin Park</td>
                      <td>Illinois Institute of Technology</td>
                      <td>Information Technology and Management</td>
                  </tr>
                  <tr>
                      <td>Chongsook &amp; Nakho Sung Scholarship </td>
                      <td>Grace Chang</td>
                      <td>University of Southern Califronia</td>
                      <td>Health and Human Sciences</td>
                  </tr>
                  <tr>
                      <td>KSEA Scholarship</td>
                      <td>Eben Lee</td>
                      <td>University of Illinois Urbana-Champaign</td>
                      <td>Mechanical Engineering</td>
                  </tr>
                  <tr>
                      <td>KSEA Scholarship</td>
                      <td>Wonjae Choi</td>
                      <td>Georgia Institute of Technology</td>
                      <td>Computer Science</td>
                  </tr>
                  <tr>
                      <td>KSEA Scholarship</td>
                      <td>Sohjeong Kim</td>
                      <td>Brandeis University</td>
                      <td>Chemistry</td>
                  </tr>
                </tbody>
              </table>
              <p class="font-bold">
                II. 2024 KSEA-KUSCO Graduate Scholarship Recipients
              </p>
              <table>
                <tbody>
                  <tr>
                    <th style="width: 20%">Name</th>
                    <th style="width: 40%">School Name</th>
                    <th style="width: 40%">Major</th>
                  </tr>
                  <tr>
                      <td>Jiwoong Lim</td>
                      <td>University of North Carolina at Chapel Hill</td>
                      <td>Pharmacy</td>
                  </tr>
                  <tr>
                      <td>Doyoung Kim</td>
                      <td>University of North Carolina at Chapel Hill</td>
                      <td>Public Health</td>
                  </tr>
                  <tr>
                      <td>Abigail Lee</td>
                      <td>The University of Chicago</td>
                      <td>Astronomy and Astrophysics</td>
                  </tr>
                  <tr>
                      <td>SeokGyeong Yoon</td>
                      <td>The University of Chicago</td>
                      <td>Physics</td>
                  </tr>
                  <tr>
                      <td>Sungyun Yang</td>
                      <td>Massachusetts Institute of Technology</td>
                      <td>Chemical Engineering</td>
                  </tr>
                  <tr>
                      <td>Kangkyu Kwon</td>
                      <td>Massachusetts Institute of Technology</td>
                      <td>Mechanical Engineering</td>
                  </tr>
                  <tr>
                      <td>Moongi Choi</td>
                      <td>University of Utah</td>
                      <td>Geography</td>
                  </tr>
                  <tr>
                      <td>Wonjoon Cha</td>
                      <td>The Ohio State University</td>
                      <td>Educational Psychology</td>
                  </tr>
                  <tr>
                      <td>Hanna Doh</td>
                      <td>Havard University</td>
                      <td>Medical School</td>
                  </tr>
                  <tr>
                      <td>Dohun Kang</td>
                      <td>Northwestern University</td>
                      <td>Material Science and Engineering</td>
                  </tr>
                  <tr>
                      <td>Jaeheon Lee</td>
                      <td>University of California, Berkeley</td>
                      <td>Chemical Engineering</td>
                  </tr>
                  <tr>
                      <td>Jun Hyuk Chang</td>
                      <td>The University of Chicago</td>
                      <td>Computer Science</td>
                  </tr>
                  <tr>
                      <td>Myoungseok Kim</td>
                      <td>University of California, Berkeley</td>
                      <td>Electrical Engineering and Computer Science</td>
                  </tr>
                  <tr>
                      <td>Byung-Il Noh</td>
                      <td>Auburn University</td>
                      <td>Materials Engineering</td>
                  </tr>
                  <tr>
                      <td>Jongwon Im</td>
                      <td>Columbia University</td>
                      <td>Biomedical Engineering</td>
                  </tr>
                  <tr>
                      <td>Yeonhee (Johnny) Cho</td>
                      <td>University of Washington</td>
                      <td>Information Science</td>
                  </tr>
                  <tr>
                      <td>Minsu Zhang</td>
                      <td>The University of Texas at Austin</td>
                      <td>Electrical and Computer Engineering</td>
                  </tr>
                  <tr>
                      <td>Dasom Kim</td>
                      <td>Rice University</td>
                      <td>Applied Physics</td>
                  </tr>
                  <tr>
                      <td>Soonwoo Hong</td>
                      <td>The University of Texas at Austin</td>
                      <td>Biomedical Engineering</td>
                  </tr>
                  <tr>
                      <td>Kisoo Kim</td>
                      <td>The University of Chicago</td>
                      <td>Public Policy</td>
                  </tr>
                </tbody>
              </table>
              <p class="font-bold">
                III. 2024 KSEA Postdoctoral Fellowship Recipients
              </p>
              <table>
                <tbody>
                  <tr>
                    <th style="width: 20%">Donor</th>
                    <th style="width: 20%">Name</th>
                    <th style="width: 30%">Affiliation</th>
                    <th style="width: 30%">Major</th>
                  </tr>
                  <tr>
                      <td>Hyundai Postdoctoral fellowship</td>
                      <td>SeongJun (James) Han</td>
                      <td>Harvard University</td>
                      <td>Medical School</td>
                  </tr>
                  <tr>
                      <td>SeAh-Haiam Postdoctoral fellowship</td>
                      <td>Incheol Kim</td>
                      <td>Desert Research Institute</td>
                      <td>Civil Engineering</td>
                  </tr>
                  <tr>
                      <td>Ohji Park &amp; Quiesup Kim Postdoctoral fellowship</td>
                      <td>Byunghang Ha</td>
                      <td>Stanford University</td>
                      <td>Mechanical Engineering</td>
                  </tr>
                  <tr>
                      <td>Chunghi Hong Park Postdoctoral Fellowship</td>
                      <td>Dabin Kim</td>
                      <td>The University of Texas at Austin</td>
                      <td>Chemistry</td>
                  </tr>
                  <tr>
                      <td>Young-Kee Kim Postdoctoral fellowship </td>
                      <td>Jung Min Kim</td>
                      <td>University of Delaware</td>
                      <td>Chemical Engineering</td>
                  </tr>
                  <tr>
                      <td>KSEA Postdoc Fellowship</td>
                      <td>Byung Woo Kim</td>
                      <td>Oak Ridge Institute</td>
                      <td>Pathobiology</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>





      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                           Next
                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
