<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Job Opportunities</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Job Opportunities</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">세종과학예술영재학교 GRP(Global Research Program) 강사 모집</h3>
              <p class="date">March 25, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Dear KSEA members,</p>
              <br>
              <p>
                Please check out the announcement from SASA (세종과학예술영재학교), 
                and submit your application if interested.
              </p>
              <br>
              <br>
              <p>
                Thank you,<br>
                KSEA HQ
              </p>
              <hr />
              <p>
                안녕하세요. 세종과학예술영재학교 대외협력홍보부입니다. 세종과학예술영재학교에서 운영하는 GRP에 강사님을 모시고자 이메일을 드립니다.<br>
                세종과학예술영재학교는 대한민국 전역의 영재 학생들의 교육을 위해 2015년에 설립된 공립 영재학교입니다. 융합적 사고방식을 갖춘 창의적 
                과학 인재 양성을 위해 연구역량과 융합역량을 강화하는 교육과정을 운영하고 있습니다. 그 일환으로 GRP를 선택적 교육과정으로 운영하고 있습니다.<br>
                GRP는 학생들의 학습과 성장을 촉진하고자 우수한 과학 인재들을 모셔서 학생들에게 지도와 멘토링을 통해 새로운 연구 동향과 방법을 체험할 
                수 있는 기회를 제공하는 프로그램입니다. 프로그램의 운영 예시와 개요는 다음과 같습니다.<br>
                <br>
                [2023 GRP 개설강좌 예시]<br>
              </p>
              <div class="con-img_chart_left">
                <img src="https://ksea-files.s3.us-west-2.amazonaws.com/job/240325_SASA_1.png"
                alt="Example Topics"/>
              </div>
              <br>
              <p>
                [프로그램 개요]<br>
                ▣ 기간 : 2025. 1. 6.(월) ~ 2025. 1. 10.(금) (4박 5일, 26시간)<br>
                ▣ 장소 : 세종과학예술영재학교 강의실 및 실험실<br>
                ▣ 대상 : 1학년 재학생 중 희망자(강좌 당 15명 내외로 구성)<br>
                ▣ 프로그램 추진 일정(안)
              </p>
              <div class="con-img_chart_left">
                <img src="https://ksea-files.s3.us-west-2.amazonaws.com/job/240325_SASA_2.png" 
                alt="Programs List"/>
              </div>
              <br>
              <p>
                소중한 경험과 전문지식을 학생들과 나누어주실 수 있는 분들의 많은 관심와 참여를 부탁드립니다.<br>
                문의나 추가 정보가 필요하시면 언제든지 이메일로 연락 주시기 바랍니다. 감사합니다.<br>
                담당자 이메일: <a href="mailto:matari@sasa.hs.kr" target="_blank">matari@sasa.hs.kr</a><br>
                학교 홈페이지: <a href="https://sasa.sjeduhs.kr/" target="_blank">https://sasa.sjeduhs.kr/</a><br>
                [첨부: GPR 운영계획(안), 강사카드 및 개인정보동의서, 학생 안내용 강사소개 및 실라부스 양식]
              </p>
            </td>
          </tr>
           <tr>
            <td>  
              <p>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/240325_SASA_GPR.hwp"
                target="_blank"
                download="2024학년도 글로벌연구프로그램(GRP) 운영계획(안)"
                >
                <button class="btn-view">GPR 운영계획(안)</button>
                </a>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/240325_SASA_Agreement.docx"
                target="_blank"
                download="강사카드 및 개인정보동의서_(지원양식)"
                >
                <button class="btn-view">강사카드/개인정보동의서</button>
                </a>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/240325_SASA_Syllabus.docx"
                target="_blank"
                download="학생 안내용 강사소개 및 실라부스 양식(성명_강좌명)"
                >
                <button class="btn-view">강사소개/실라부스</button>
                </a>
 
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/job"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                             Next
                                         </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
