<div class="wrap">
  <app-nav></app-nav>
  <app-activity-header></app-activity-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>Activity</li>
    <li>IMPACTs</li>
  </ul>
  <div class="scon-activity">
    <div class="con-event">
      <img
        src="https://ksea-files.s3.us-west-2.amazonaws.com/files/IMPACTs2024-poster.png"
        alt="IMPACTs 2024"
      />
      <!-- <img
        src="assets/images/activity/ygnite/ygnite2023.jpg"
        alt="ysnite 2023"
      /> -->


      <div class="content-event">
        <p class="event-title"></p>
      </div>
      <button class="btn_blue">
        <a href="https://impacts.ksea.org/" 
        target="_blank">IMPACTs Home</a>
      
      </button>
    </div>
    <div class="con-event-info">
      <div class="content-info">
        <ul>
          <li class="info-title">
            <img src="assets/images/icon_star.png" alt="event" />
            Event
          </li>
          <li>IMPACTs</li>
          <li>
            <a
              href="https://impacts.ksea.org/"
              target="_blank"
              style="padding: 3px"
            >
              <button class="btn-event">IMPACTs Home</button>
            </a>
          </li>
        </ul>
      </div>
      <div class="content-info">

        <ul>
          <li class="info-title">
            <img src="assets/images/icon_calendar.png" alt="calendar" />
            Date
          </li>
          
            <li>February 2-3, 2024</li>
         
          <!-- <li>
            
            <span class="txt_red">Expired</span>
          
            </li> -->
        </ul>
      </div>
      <div class="content-info">
        <ul>
          <li class="info-title">
            <img src="assets/images/icon_location.png" alt="calendar" />
            Location
          </li>
          <li><a href="https://maps.app.goo.gl/e675q9id8k1tHBNT9" 
            target="_blank">Hyatt Regency Long Island, New York</a></li>
        </ul>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
