<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Media</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Media</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">Interview of KSEA President Yongho Sohn with KSEA Radio 한민족 하나로</h3>
              <p class="date">April 23, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="con-img">
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/media/media_42_2005+%E1%84%92%E1%85%A1%E1%86%AB%E1%84%86%E1%85%B5%E1%86%AB%E1%84%8C%E1%85%A9%E1%86%A8%E1%84%92%E1%85%A1%E1%84%82%E1%85%A1%E1%84%85%E1%85%A9+(24-04-19+%E1%84%80%E1%85%B3%E1%86%B7)_13659170_2024-04-23T131910.863.mp3"
                  target="_blank"
                >
                  <img
                    src="https://ksea-files.s3.us-west-2.amazonaws.com/media/media_42.png"
                    alt="한민족 하나로 screenshot"
                  />
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/media"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                   Next
                                               </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
i
