<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                2024 KSEA Art Contest announcement
              </h3>
              <p class="date">April 1, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                Dear students and parents,<br/>
                <br/>
                We are pleased to announce that we are hosting 2024 KSEA Art Contest! 
                This contest is for young students in K-12 grades and is a great opportunity to show 
                their passion, imagination, and interests in science, engineering and technology using 
                their art skills. Please read the following for more details regarding artwork theme, 
                contest rules, and submission requirements.
              </p>
              <p>
                <span class="font-bold">Important Dates</span>
              </p>
              <table style="border: 1px solid black; width: 300px">
                <tr>
                  <td style="background-color: gray; color: white;">Registration deadline</td>
                  <td>4/20/2024</td>
                </tr>
                <tr>
                  <td style="background-color: gray; color: white;">Submission deadline</td>
                  <td>4/30/2024</td>
                </tr>
                <tr>
                  <td style="background-color: gray; color: white;">National award ceremony</td>
                  <td>5/18/2024</td>
                </tr>
              </table>
              <p>
                <span class="font-bold">Eligibility</span>
              </p>
              <ul class="list-deco-disc">
                <li>
                  K-12 students in the U.S.
                </li>
                <li>
                  The parent (or legal guardian) is a “paid” member of KSEA at the time of registration.
                </li>
                <ul  class="list-deco-disc">
                  <li>
                    New members may sign up for membership at 
                    <a href="https://www.ksea.org/signUp" target="_blank">https://www.ksea.org/signUp</a>
                  </li>
                  <li>
                    After creating your KSEA log-in account, please pay the membership fee 
                    in “Membership Information”.
                  </li>
                  <li>
                    Under “KSEA information” in your account, choose your chapter.
                  </li>
                </ul>
              </ul>
              <p>
                <span class="font-bold">Divisions</span>
              </p>
              <ul class="list-deco-disc">
                <li>K-2 (Elementary division 1)</li>
                <li>3-5 (Elementary division 2)</li>
                <li>6-8 (Middle division)</li>
                <li>9-12 (High division)</li>
              </ul>
              <p>
                <span class="font-bold">Theme</span>
                <br/>
                <span class="font-italic">Art theme: Sailing around our new world</span><br/>
                Throughout our lives, science and technology has enabled us to sail around our new and 
                innovated world. The triangular sail opened many doors for the age of discovery. Now, 
                we can dream of a life with space tourism, thanks to aerospace technology. And soon 
                enough, we will enter a new world where humans and AI live together.<br />
                What is your new world? In the 2024 KSEA Art Contest, students are encouraged to envision 
                and visualize a world that they dream of in the future.<br/>
                The students should draw an artwork with the given theme to show their creativity, 
                passion, imagination, and interests in science, engineering and technology.
              </p>
              <p>
                <span class="font-bold">Participation guidelines</span>
              </p>
              <ul class="list-deco-disc">
                <li>
                  Registration is required for submission. Due April 20, 2024. 
                </li>
                <ul class="list-deco-disc">
                  <li>Registration link: <a href="https://forms.gle/1YGV8iich8w7BBpw7" target="_blank">
                    https://forms.gle/1YGV8iich8w7BBpw7</a></li>
                </ul>
                <li>
                  Only hand-drawn work will be considered. Digital artwork is not accepted.
                </li>
                <li>
                  Each participant can submit one single artwork.
                </li>
                <li>
                  Artwork should be photographed and the image file should be submitted by April 30, 2024. 
                  The submission link will be emailed to registered students. 
                </li>
                <li>
                  The image file should meet the following requirements. 
                </li>
                <ul class="list-deco-disc">
                  <li>
                    File type recommended: jpg, bmp, png
                  </li>
                  <li>
                    File size: up to 10Mb
                  </li>
                  <li>
                    Resolution: at least 1920 x 1080
                  </li>
                  <li>
                    Color image
                  </li>
                  <li>
                    Image retouching (e.g., photoshop) is not allowed.
                  </li>
                </ul>
              </ul>
              <p>
                <span class="font-bold">National Winners and Prizes</span>
              </p>
              <ul class="list-deco-disc">
                <li>
                  The prizes for the winning entries in each division are:
                </li>
                <ul class="list-deco-disc">
                  <li>
                    1st Place: Certificate of award with $300
                  </li>
                  <li>
                    2nd Place: Certificate of award with $200 
                  </li>
                  <li>
                    3rd Place: Certificate of award with $100  
                  </li>
                </ul>
              </ul>
              <p>
                <span class="font-bold">Official rules/copyright</span>
              </p>
              <ul class="list-deco-disc">
                <li>
                  All submitted artwork must be the original work of the participant and must not include, 
                  be based on, infringe upon or be derived from any AI-generated work, any pre-existing 
                  or third-party artwork, trademarks, or copyrighted images.
                </li>
                <li>
                  Artwork that has been submitted to other art contests cannot be submitted to this contest.
                </li>
                <li>
                  The awarded artwork may be used for various promotional activities of KSEA with the prior notice to the student.
                </li>
              </ul>
              <p>
                If you have any questions, please contact <a href="mailto:steam.ksea@gmail.com" 
                target="_blank">steam.ksea@gmail.com</a>, or visit <a href="https://art.ksea.org" 
                target="_blank">https://art.ksea.org</a>
              </p>
              <br/>
              <p>
                Best Regards,
                <br />
                <br />
                Wooram Park <br />
                <span class="font-italic">KSEA Art Contest Chair</span><br />
                <br />
                Yongho Sohn<br />
                <span class="font-italic">President, KSEA</span>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                           Next
                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
