<div class="wrap">
  <app-nav></app-nav>
  <app-activity-header></app-activity-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>Activity</li>
    <li>SEED</li>
  </ul>
  <div class="scon-activity">
    <div class="con-event">
      <img src="https://ksea-files.s3.us-west-2.amazonaws.com/files/SEED2024Poster.jpg" 
      alt="seed 2024" />
      <div class="content-event">
        <p class="event-title">
          SCIENTISTS AND ENGINEERS EARLY CAREER DEVELOPMENT (SEED)
        </p>
        <!-- <p>Science and Technology Entrepreneurship Partners’ Upscale Program</p> -->
      </div>
      <button class="btn_blue">
        <a href="https://seed.ksea.org/" target="_blank"> SEED Home</a>
      </button>
    </div>
    <div class="con-event-info">
      <div class="content-info">
        <ul>
          <li class="info-title">
            <img src="assets/images/icon_star.png" alt="event" />
            Event
          </li>
          <li>Scientists and Engineers Early Career Development Workshop</li>
          <li>
            <a
              href="https://seed.ksea.org/"
              target="_blank"
              style="padding: 3px"
            >
              <button class="btn-event">SEED Home</button>
            </a>
          </li>
        </ul>
       </div>
       
       <div class="content-info">
        <ul>
          <li class="info-title">
            <img src="assets/images/icon_calendar.png" alt="calendar" />
            Date
          </li>
          <li>August 20 – 21, 2024</li>

          <!--
            <li>
              <span class="txt_red">Coming soon</span>
            </li>
          -->
        </ul>
      </div>
      <div class="content-info">
        <ul>
          <li class="info-title">
            <img src="assets/images/icon_location.png" alt="calendar" />
            Location
          </li>
          <li>Hyatt Regency SFO, San Francisco, CA</li>
        </ul>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
