<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                2024 KSEA Election Results Announcement
              </h3>
              <p class="date">April 13, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>The Korean-American Scientists and Engineers Association (KSEA) is pleased to announce the results of
                its
                2024 general election. The ballot counting took place at the Election Committee and KSEA HQ meeting on
                April 13, 2024. All ballots have been counted according to the rules that were pre-established by the
                Election Committee, and no election-related irregularities were found.</p>
              <p></p>
              <p><span class="font-bold">Voting Results:</span></p>
              <p style="text-indent: -0.25in; margin-left: 80px;">- Number of Eligible Voters: 4142</p>
              <p style="text-indent: -0.25in; margin-left: 80px;">- Number of Valid Ballots Received: 1039 (25.08%
                of eligible voters; 10% quorum for candidates’ selection, and 20% quorum for bylaws approval
                were met)</p>
              <p></p>
              <br>
              <br>
              <p>The newly elected officers and councilors are:</p>
              <p></p>
              <p><span class="font-bold"><u>53rd President-Elect (54th President):</u></span></p>
              <p>Jae Hyeon Ryu, University of Idaho</p>
              <p></p>
              <p><span class="font-bold"><u>53rd Vice President 1:</u></span></p>
              <p>Ohbong Kwon, New York City College of Technology of CUNY</p>
              <p></p>
              <p><span class="font-bold"><u>53rd Vice President 2:</u></span></p>
              <p>Jayoung Kim, Thermo Fisher Scientific</p>
              <p></p>
              <p><span class="font-bold"><u>Auditor:</u></span></p>
              <p>Soolyeon Cho, North Carolina State University</p>
              <p></p>
              <p><span class="font-bold"><u>Technical Councilor Group B-3:</u></span></p>
              <p>In Hyun Park, Yale University</p>
              <p></p>
              <p><span class="font-bold"><u>Technical Councilor Group C-4:</u></span></p>
              <p>Sungwoo Nam, University of California, Irvine</p>
              <p></p>
              <p><span class="font-bold"><u>Technical Councilor Group C-5:</u></span></p>
              <p>JuHyeong Ryu, West Virginia University</p>
              <p></p>
              <p><span class="font-bold"><u>Technical Councilor Group C-7:</u></span></p>
              <p>Sam Chung, City University of Seattle</p>
              <p></p>
              <p><span class="font-bold"><u>KSEA Bylaws Amendment has been approved</u></span></p>
              <p>80.46% approval of total voted members</p>
              <p></p>
              <h3 style="text-align: center;"><span class="font-bold"><u>Voting Incentives Announcement</u></span></h3>
              <ul class="list-deco-disc">
                <li> Chapter supports by the voting rate: Austin Texas Chapter (1st place, $750), Southwest Ohio Chapter
                  (2nd
                  place, $500) and Eastern Carolina Chapter (3rd place, $250)</li>
                <li> Chapter supports by the number of votes: North Carolina Chapter (1st place, $750), New York Metro
                  Chapter (2nd
                  place, $500) and Georgia Chapter (3rd place, $250)</li>
                <li> 20 raffle winners (selected via online): $50 Amazon gift card link will be sent individually.</li>
              </ul>
              <br>
              <div align="center">
                <table border="1" width="545" cellspacing="0" cellpadding="5">
                  <tr>
                    <th>No</th>
                    <th>KSEA Log in ID</th>
                    <th>Name</th>
                    <th>Email Address</th>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>******1202</td>
                    <td>Youngeun Lee</td>
                    <td>Y****1202@gmail.com</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>******2023</td>
                    <td>Hyoung-gon Lee</td>
                    <td>Hy***-gon.lee@utsa.edu</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>******6779</td>
                    <td>SungWoo Nam</td>
                    <td>Sung***.nam@uci.edu</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>**2676</td>
                    <td>Woori Bae</td>
                    <td>Baewo***11@gmail.com</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>***rk92</td>
                    <td>Sang Hyuck Park</td>
                    <td>Sh***92@gmail.com</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>****663$</td>
                    <td>TONY YOO</td>
                    <td>My***10@hotmail.com</td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>***3trio</td>
                    <td>Yooseob Song</td>
                    <td>Yoo****.song@uah.edu</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>***5648</td>
                    <td>Byungchan Kim</td>
                    <td>Byungc***1.kim@gmail.com</td>
                  </tr>
                  <tr>
                    <td>9</td>
                    <td>jinyyyy</td>
                    <td>yejin kim</td>
                    <td>Yyy***1202</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>****im80</td>
                    <td>Seungil Kim</td>
                    <td>K***23@upmc.edu</td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>**6352</td>
                    <td>Taesoo Kim</td>
                    <td>Ta****im.sun@gmail.com</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td>****0426</td>
                    <td>Joo Hee You</td>
                    <td>Skwo***26@gmail.com</td>
                  </tr>
                  <tr>
                    <td>13</td>
                    <td>****n.you</td>
                    <td>Hyunbin You</td>
                    <td>Hyun**ou@duke.edu</td>
                  </tr>
                  <tr>
                    <td>14</td>
                    <td>***e.123</td>
                    <td>Hyeon Choe</td>
                    <td>C***123@osu.edu</td>
                  </tr>
                  <tr>
                    <td>15</td>
                    <td>*****nkim</td>
                    <td>Yonghyun Kim</td>
                    <td>Y**@eng.ua.edu</td>
                  </tr>
                  <tr>
                    <td>16</td>
                    <td>***7863</td>
                    <td>Juhyun Lee</td>
                    <td>Juh****.lee@uta.edu</td>
                  </tr>
                  <tr>
                    <td>17</td>
                    <td>***2837</td>
                    <td>Jungseung Nam</td>
                    <td>Jn****@cumc.columbia.edu</td>
                  </tr>
                  <tr>
                    <td>18</td>
                    <td>***1313</td>
                    <td>Jun Shin</td>
                    <td>J****@qcc.cuny.edu</td>
                  </tr>
                  <tr>
                    <td>19</td>
                    <td>***june</td>
                    <td>Juneyoung Lee</td>
                    <td>Aq****@gmail.com</td>
                  </tr>
                  <tr>
                    <td>20</td>
                    <td>****miko</td>
                    <td>Dongjune Lee</td>
                    <td>Dongjun****@yahoo.com</td>
                  </tr>
                </table>
              </div>
              <br>
              <br>
              <p>Congratulations to the elected members and the incentive winners! Thank you for the participation and
                support.</p>
              <br>
              <p>Yongho Sohn, President of KSEA<br>
                Eunju Im, Chair of the KSEA Election Committee</p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button class="btn-basic-line" routerLink="/announcement" routerLinkActive="active">
          List
        </button>
        <!-- <button class="btn-basic-line">
                           Next
                       </button> -->
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>