<div class="wrap">
  <app-nav></app-nav>
  <app-award-header></app-award-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>Award</li>
    <li>Young Investigator Grants</li>
  </ul>
  <div class="scon-activity">
    <div class="con-event">
      <img src="assets/images/award/yig/yig2022.jpg" alt="yig 2022" />
      <div class="content-event">
        <p class="event-title">Young Investigator Grants</p>
        <!-- <p>Science and Technology Entrepreneurship Partners’ Upscale Program</p> -->
      </div>
      <button class="btn_blue">
        <a href="https://award.ksea.org/yig-young-investigator-grants" target="_blank">YIG Home</a>
      </button>
    </div>
    <div class="con-event-info">

      <div class="content-info">
        <ul>
          <li class="info-title">
            <img src="assets/images/icon_star.png" alt="event" />
            Event Details
          </li>
          <li>
            <a
              href="https://award.ksea.org/yig-young-investigator-grants"
              target="_blank"
              style="padding: 3px"
            >
              <button class="btn-event">YIG Home</button>
            </a>
          </li>
        </ul>
       </div>

       <div class="content-info">
        <ul>
          <li class="info-title">
            <img src="assets/images/icon_check.png" alt="member" />
            Apply 2024 KSEA YIG
          </li>
          <li>
            <a
            href="https://www.ksea.org/yigApply"
            target="_blank"
            style="padding: 3px"
            >
            <button class="btn-event" disabled>Apply/Status</button>
            </a>  
          </li>
        </ul>
      </div>

      <div class="content-info">
        <ul>
          <li class="info-title">
            <img src="assets/images/icon_calendar.png" alt="calendar" />
            Deadline
          </li>
          <!--
            <li>November 7, 2022 to December 23, 2022</li>
          -->
          <li>
            December 23, 2023
            <!-- <span class="txt_red">Coming Soon</span> -->
          </li>
        </ul>
      </div>

    </div>
  </div>
  <app-footer></app-footer>
</div>
