<div class="wrap">
  <app-nav></app-nav>
  <app-activity-header></app-activity-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>Activity</li>
    <li>STEP-UP</li>
  </ul>
  <div class="scon-activity">
    <div class="con-event">
      <img src="https://ksea-files.s3.us-west-2.amazonaws.com/files/STEPUP2024.png" alt="STEPUP 2024" />
      <div class="content-event">
        <p class="event-title">KSEA STEP-UP</p>
        <p>Science and Technology Entrepreneurship Partners’ Upscale Program</p>
      </div>
      <button class="btn_blue">
        <a href="https://stepup.ksea.org/" target="_blank"> STEP-UP Home</a>
      </button>
    </div>
    <div class="con-event-info">

      <div class="content-info">
        <ul>
          <li class="info-title">
            <img src="assets/images/icon_star.png" alt="event" />
            Event
          </li>
          <li>Science and Technology Entrepreneurship Partners' Upscale Program</li>
          <li>
            <a
              href="https://stepup.ksea.org/"
              target="_blank"
              style="padding: 3px"
            >
              <button style="width: 9em" class="btn-event">STEP-UP Home</button>
            </a>
          </li>
        </ul>
       </div>

      <div class="content-info">
        <ul>
          <li class="info-title">
            <img src="assets/images/icon_calendar.png" alt="calendar" />
            Date
          </li>
          <!--
            <li>May 20 - 21, 2023</li>
          -->
          <li>
            <span class="txt_black">April 20 - 21, 2024</span>
          </li>
        </ul>
      </div>
      <div class="content-info">
        <ul>
          <li class="info-title">
            <img src="assets/images/icon_location.png" alt="calendar" />
            Location
          </li>
          <li>Omni Atlanta Hotel at Centennial Park Atlanta, GA</li>
        </ul>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
