<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">Announcement for KSEA Art Contest 2023</h3>
              <p class="date">March 9, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="con-img">
                <a
                  href="https://sites.google.com/view/ksea-art-contest"
                  target="_blank"
                >
                  <img
                    src="assets/images/announcement/art_contest2023.jpg"
                    alt="KSEA Art Contest 2023"
                  />
                </a>
              </div>
              <p>Dear students and parents,</p>
              <p>
                We are pleased to announce that we are hosting a KSEA Art
                Contest 2023! This contest is for young students in K-12 grades
                and is a great opportunity to show their passion, imagination,
                and interests in science, engineering and technology using their
                art skills. Please read the following for more details regarding
                artwork theme, contest rules, and submission requirements.
              </p>
              <p class="txt-deco-line">Important Dates</p>
              <ul class="list-deco-disc">
                <li>Registration deadline : 3/31/2023</li>
                <li>Submission deadline : 4/30/2023</li>
                <li>National award ceremony : 5/20/2023</li>
              </ul>
              <p class="txt-deco-line">Eligibility</p>
              <ul class="list-deco-disc">
                <li>K-12 students in the U.S.</li>
                <li>
                  The parent (or legal guardian) is a “paid” member of KSEA at
                  the time of registration.
                  <ul>
                    <li>
                      New members may sign up for membership at
                      <a href="https://www.ksea.org/signUp" target="_blank">
                        https://www.ksea.org/signUp
                      </a>
                    </li>
                    <li>
                      After creating your KSEA log-in account, please pay the
                      membership fee in “Membership Information”.
                    </li>
                  </ul>
                </li>
              </ul>
              <p class="txt-deco-line">Divisionse</p>
              <ul class="list-deco-disc">
                <li>K-2 (Elementary division 1)</li>
                <li>3-5 (Elementary division 2)</li>
                <li>6-8 (Middle division)</li>
                <li>9-12 (High division)</li>
              </ul>
              <p class="txt-deco-line">Theme</p>
              <p>
                The Korean American Scientists and Engineers Association (KSEA)
                was founded in 1971. Since then, we have seen tremendous
                development in science and technology for 50 years. Now, we are
                expecting the next 50 years to come with innovative science and
                technology that will improve our quality of life.
              </p>
              <p>
                Participating students are expected to envision and visualize
                new science and technology that they want to see in 50 years.
              </p>
              <ul class="list-deco-disc">
                <li>Art theme: 50 years later</li>
                <li>
                  The students should draw an artwork with the given theme to
                  show their creativity, passion, imagination, and interests in
                  science, engineering, and technology.
                </li>
              </ul>
              <p class="txt-deco-line">Participation guidelines</p>
              <ul class="list-deco-disc">
                <li>
                  Registration is required for submission. Due March 31, 2023.
                  <ul>
                    <li>
                      Registration link:
                      <a
                        href="https://forms.gle/oML2yrZ9BFetizht7"
                        target="_blank"
                        >https://forms.gle/oML2yrZ9BFetizht7</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  Only hand-drawn work will be considered. Digital artwork is
                  not accepted.
                </li>
                <li>Each participant can submit one single artwork.</li>
                <li>
                  Artwork should be photographed and the image file should be
                  submitted by April 30, 2023. The submission link will be
                  emailed to the registered students.
                </li>
                <li>
                  The image file should meet the following requirements.
                  <ul>
                    <li>File type recommended: jpg, bmp, png</li>
                    <li>File size: up to 10Mb</li>
                    <li>Resolution: at least 1920 ✖ 1080</li>
                    <li>Color image</li>
                    <li>Image retouching (e.g., photoshop) is not allowed.</li>
                  </ul>
                </li>
                <li>
                  To confirm that the participating students created the artwork
                  on their own, a short video clip that records the participant
                  drawing the artwork should be submitted with the artwork. For
                  more detail, see
                  <a href="http://art.ksea.org" target="_blank"
                    >http://art.ksea.org</a
                  >
                </li>
              </ul>
              <p class="txt-deco-line">National Winners and Prizes</p>
              <ul class="list-deco-disc">
                <li>
                  The prizes for the winning entries in each division are:
                  <ul>
                    <li>1st Place: Certificate of award with $300</li>
                    <li>2nd Place: Certificate of award with $200</li>
                    <li>3rd Place: Certificate of award with $100</li>
                    <li>
                      4th/5th Place: Certificate of award with $50 gift card
                    </li>
                  </ul>
                </li>
              </ul>
              <p class="txt-deco-line">Official rules/copyright</p>
              <ul class="list-deco-disc">
                <li>
                  All submitted work must be the original work of the
                  participant and must not include, be based on, infringe upon,
                  or be derived from any pre-existing or third-party designs,
                  trademarks, or copyrighted images. By entering the
                  competition, the participant agrees that the submission is
                  his/her own work.
                </li>
                <li>
                  Artwork that has been submitted to other art contests cannot
                  be submitted to this contest.
                </li>
                <li>
                  The awarded artwork may be used for various promotional
                  activities of KSEA with the prior notice to the student.
                </li>
              </ul>
              <p>
                If you have any questions, please contact steam.<a
                  href="mailto:ksea@gmail.com"
                  target="_blank"
                  >ksea@gmail.com,</a
                >
                or visit
                <a href="http://art.ksea.org" target="_blank"
                  >http://art.ksea.org</a
                >
              </p>
              <p>Best Regards,</p>
              <p>
                Jae Hyeon Ryu <br />
                Chair, KSEA National Contest Committee<br />
                Young-Kee Kim<br />
                President, KSEA<br />
              </p>

              <!-- 파일 aws 링크로 변경 필요 (23.3.18) -->
              <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/ART+CONTEST+POSTER_0309_.pdf"
                target="_blank"
                download="KSEA Art Contest 2023"
              >
                <button class="btn-view">Download</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                       Next
                                   </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
