<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                Request for Information (RFI) - 2023 KEIT Demand Survey
              </h3>
              <p class="date">April 5, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Dear KSEA members,</p>
              <p>
                In cooperation with the Korea Evaluation Institute of Industrial
                Technology (KEIT), KSEA is conducting a technology demand
                survey. The information from this survey will serve as a basis
                of KEIT’s Request for Proposals (RFP) for the next fiscal year.
                Your responses will help initiate joint R&D projects between
                Korea and U.S. researchers.
              </p>
              <p>
                As a successful case from the past project with KEIT, Dr. Martin
                Jun at Purdue University received multiple grants, which were
                partly triggered by the KEIT technical demand survey forum. The
                overall amount of grants from the South Korean Ministry of
                Trade, Industry and Energy through KEIT was $41 Million and the
                foreign participant at Purdue University will receive $500,000.
              </p>
              <p>
                This is an excellent opportunity for KSEA members to collaborate
                with Korean colleagues through projects funded by the Korean
                agencies. Please join in this opportunity by submitting this
                survey.
              </p>
              <p class="txt-deco-line">Who may submit:</p>
              <ul>
                <li>
                  1) Scientists and engineers ONLY who are affiliated with a
                  U.S. institution
                </li>
                <li>
                  2) Those who are visiting the U.S. while affiliated with a
                  Korean institute are NOT eligible
                </li>
              </ul>
              <p class="txt-deco-line">How to submit:</p>
              <ul>
                <li>
                  1) Read the attached instructions and fill in your survey in
                  this form.
                  <ul>
                    <li>
                      a. Korean is the preferred language, but you may write in
                      English in the form.
                    </li>
                    <li>
                      b. Each person may submit up to two (2) surveys ($100 per
                      survey)
                    </li>
                  </ul>
                </li>
                <li>
                  2) Submit the form.
                  <ul>
                    <li>
                      a. by e-mailing to
                      <a href="mailto:project@ksea.org" target="_blank"
                        >project@ksea.org</a
                      >
                    </li>
                    <li>b. by 5:00pm, May 26, 2023 (proposer’s local time)</li>
                  </ul>
                </li>
              </ul>
              <p class="txt-deco-line">Compensation & Benefit:</p>
              <ul>
                <li>
                  1) Members who submitted accepted surveys will receive $100
                  per an accepted survey as a token of appreciation
                </li>
                <li>
                  2) Above selected proposers will be asked to participate in
                  the Forum to be hosted by the KEIT during UKC 2023.
                </li>
              </ul>
              <p class="font-bold">
                We request you to register UKC 2023 as a speaker or poster
                presenter to be eligible for travel support.
              </p>
              <p>
                We look forward to your R&D ideas for this collaboration
                opportunity. Please feel free to share this opportunity with
                your colleagues who might be interested in participation. Please
                direct any inquiries to
                <a href="mailto:project@ksea.org" target="_blank"
                  >project@ksea.org</a
                >.
              </p>
              <p>
                Sincerely,<br />
                Principal Investigator: Young-Kee Kim, PhD. President of KSEA<br />
                Co-Principle Investigator: Yong-Kyu Yoon, PhD, KEIT Project
                Director of KSEA
              </p>
              <br />
              <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/2023_demand_survey.xlsx"
                target="_blank"
                download="2023년 국제공동기술수요조사 핵심기술테마_미국"
              >
                <button class="btn-view">Download</button>
              </a>
              <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/2023_demand_survey_form.docx"
                target="_blank"
                download="2023 Demand Survey Form."
              >
                <button class="btn-view">Download</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                     Next
                                 </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
