<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                KSEA Python Instructional Series on Thursdays, March 9th, 16th,
                and 23rd, 2023
              </h3>
              <p class="date">February 17, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="con-img">
                <a
                  href="https://docs.google.com/forms/d/e/1FAIpQLSeBVQ4UfN6Jk0goy8o2TQRY8f3hn3-QAUMw_Wqq48jCI-rkXQ/viewform"
                  target="_blank"
                >
                  <img
                    src="assets/images/announcement/python_instructional.png"
                    alt="KSEA Python Instructional Series on Thursdays, March 9th, 16th, and 23rd, 2023"
                  />
                </a>
              </div>

              <p>Dear KSEA members and family,</p>
              <p>
                The last 4th KSEA Distinguished Guest Series by Professors
                Daniel Lee and SueYeon Chung on AI for Science, Technology, and
                Society was a success and attended by over 100 audience members.
                We would like to extend the theme of AI by showing you the
                basics and AI applications of Python, the most popular
                programming language used in data science and machine learning.
                I would like to invite you to the KSEA Python Instructional
                Series to be held on 3 consecutive Thursdays next month in
                March. No prior Python programming experience is necessary. You
                just need a computer with a web browser. Our guest Python
                instructors are June Park, MS, from Daugherty Business Systems,
                David Ho, Ph.D., from Memorial Sloan Kettering Cancer Center,
                and Benjamin Lee, Ph.D., from Weill Cornell Medicine.
              </p>
              <p class="txt-deco-line">Event Detail:</p>
              <p>
                <span class="font-bold"> Time: </span> Thursdays, March 9th,
                16th, and 23rd, 2023 at 5:30-7:00 PM (PT), 8:30-10:00 PM (ET)
              </p>
              <p>
                <span class="font-bold">Theme:</span> Python Instructional
                Series
              </p>
              <ul class="list-deco_num">
                <li>
                  March 9th - “Python for Absolute Beginners” - Learn how to
                  manipulate python lists and a guide to self-study
                </li>
                <li>
                  March 16th - “Python for Data Science” - Learn Pandas to
                  analyze spreadsheet data and visualize them
                </li>
                <li>
                  March 23rd - “Python for AI Applications” - Play with deep
                  learning AI models using images and other big data
                </li>
              </ul>
              <p>
                <span class="font-bold">Venue:</span> Virtual. Anyone can
                register and a zoom link with Python setup instructions will be
                sent on Sunday, March 5, 2023 to KSEA members who register by
                filling out this Google form<a
                  href="https://docs.google.com/forms/d/e/1FAIpQLSeBVQ4UfN6Jk0goy8o2TQRY8f3hn3-QAUMw_Wqq48jCI-rkXQ/viewform"
                  target="_blank"
                >
                  (HERE)</a
                >
              </p>
              <p>
                <span class="font-bold">Registration Deadline:</span> Friday,
                March 3, 2023
              </p>
              <p><span class="font-bold">Cost:</span> $0 (discounted)</p>
              <p>
                <span class="font-bold">Host:</span> President of KSEA Young-Kee
                Kim (University of Chicago)
              </p>
              <p>
                <span class="font-bold">Questions:</span
                ><a href="mailto:itm@ksea.org" target="_blank"> itm@ksea.org</a>
              </p>
              <p>
                I hope to see many of you and interested family members join
                these sessions. I would greatly appreciate it if you could reach
                out to non-KSEA members to join or renew their KSEA membership
                by using this sign-up link
                <a href="https://www.ksea.org/signUp" target="_blank"> (HERE)</a
                >.
              </p>
              <p>
                Instructors: June Park (Data Engineer), David Ho (Machine
                Learning Scientist), Benjamin Lee (Senior Research Associate in
                Radiology)
              </p>
              <p>
                Look forward to seeing many of you at the first online meeting
                on March 9th.
              </p>

              <p>
                Sincerely,<br />
                Young-Kee Kim<br />
                President of KSEA
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                             Next
                         </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
