<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                2024 Katalyst - Application Open
              </h3>
              <p class="date">December 1, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="con-img_small">
                  <img
                  src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/231201_Katalyst.png"
                  alt="2024_Katalyst"
                 />
              </div>
                <p>
                  KSEA is very pleased to announce the <span class="font-bold">2024 Katalyst program</span> to be held from 
                  <span class="font-bold">March 1-3, 2024, in Atlanta, Georgia</span>. Designed for Korean-American undergraduate students 
                  in STEM, Katalyst 2024 provides a platform for mentorship sessions from current 
                  Korean-American leaders in STEM, thought-provoking workshops on leadership development, 
                  and interactive networking with peer groups.
                </p>
                <p>
                  Katalyst aims to nurture future Korean-American leaders in STEM, 
                  preparing them for their next steps after undergraduate education, 
                  whether in academia or industry. Participants will benefit from the immersive experience 
                  and join a community of Katalyst cohorts where they can continue to learn from and network 
                  with each other.
                </p>
                <p>
                  Approximately 50 undergraduate participants will be selected based on their past achievements, 
                  leadership potential, and future aspirations. 
                </p>  
                <p class="font-bold">
                  Eligibility criteria:
                </p>
                <ul class="list-deco-disc">
                  <li>
                    Current undergraduate students in the US studying in STEM majors
                  </li>
                </ul>

                <p class="font-bold">
                  Program highlights:
                </p>
                <ul class="list-deco-disc">
                  <li>
                    Mentorship sessions with current Korean-American leaders in STEM
                  </li>
                  <li>
                    Opportunity for networking with peer student leaders in STEM
                  </li>
                  <li>
                    Travel, lodging, and meal support
                  </li>
                </ul>  
                  
                <p class="font-bold">
                  Application process:
                </p>
                <ol class="list-deco-num">
                  <li>
                    Sign up or renew your KSEA membership via the 
                    <a href="https://www.ksea.org/signIn?next=profile" target="_blank">KSEA membership page</a> 
                    ($0 for undergraduate members!)
                  </li>
                  <li>
                    Apply using this <span class="font-bold">
                    <a href="https://forms.gle/qzW1pHMcZ4H3HmT27" target="_blank">application link</a></span>
                  </li>
                  <li>
                    Application is due <span class="font-bold">Friday, December 15, 2023, 11:59pm PST</span>
                  </li>
                  <li>
                    Selected individuals will be announced in late December
                  </li>
                </ol>
                <p>
                  Please feel free to e-mail us at <a href="mailto:katalyst@ksea.org" target="_blank">
                  katalyst@ksea.org</a> for any questions.
                  For more information, please visit our website 
                  <a href="https://katalyst.ksea.org/" target="_blank">https://katalyst.ksea.org/</a>.

                </p>
                <p>
                  Interested in sponsoring the conference? Please contact us at 
                  <a href="mailto:katalyst@ksea.org" target="_blank">katalyst@ksea.org</a>!
                </p>
                <br><br>
                <p>
                  Regards,
                </p>
                <p>
                  2024 KSEA Katalyst team
                </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                                 Next
                                                             </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
