<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Job Opportunities</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Job Opportunities</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">울산과학기술원 총장 초빙 공고</h3>
              <p class="date">January 15, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Dear KSEA members,</p>
              <br>
              <p>
                Please find the attached documents from UNIST in Korea and submit your application 
                if you are interested in the position.<br>
                If you have any questions, please get in touch with 
                <a href="mailto:unistboard@unist.ac.kr" target="_blank">unistboard@unist.ac.kr</a>, 
                at +82 52-217-1144.<br>
              </p>
              <br>
              <br>
              <p>
                Thank you,<br>
                KSEA HQ
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p>
                <img
                  src="https://ksea-files.s3.us-west-2.amazonaws.com/job/240111_UNIST_Poster_KOR.jpg"
                  alt="UNIST_Poster_KOR"
                />
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p>
                <img
                  src="https://ksea-files.s3.us-west-2.amazonaws.com/job/240111_UNIST_Poster_ENG.jpg"
                  alt="UNIST_Poster_ENG"
                />
              </p>
            </td>
          </tr>

          <tr>
            <td>  
              <p>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/240115_UNIST_1.hwp"
                target="_blank"
                download="1. UNIST 총장 초빙 공고(국문)"
                >
                <button class="btn-view">공고문(국문)</button>
                </a>

                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/240115_UNIST_2.hwp"
                target="_blank"
                download="2. 지원자 제출 서류(국문)"
                >
                <button class="btn-view">제출서류(국문)</button>
                </a>

                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/240115_UNIST_3.docx"
                target="_blank"
                download="3. Presidential Search Announcement for UNIST(Eng.)"
                >
                <button class="btn-view">Announcement(Eng)</button>
                </a>

                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/240115_UNIST_4.docx"
                target="_blank"
                download="4. Forms of Required Documents(Eng.)"
                >
                <button class="btn-view">Forms(Eng)</button>
                </a>

                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/240115_UNIST_Poster_ENG.jpg"
                target="_blank"
                download="UNIST_Poster_ENG"
                >
                <button class="btn-view">Poster(Eng)</button>
                </a>

                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/240115_UNIST_Poster_KOR.jpg"
                target="_blank"
                download="UNIST_Poster_KOR"
                >
                <button class="btn-view">Poster(Kor)</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/job"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                             Next
                                         </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
