<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">SEED 2023 Invitation</h3>
              <p class="date">March 23, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Dear KSEA members,</p>
              <p>
                The KSEA is pleased to announce the 2023 Scientists and
                Engineers Early Career Development (SEED) workshop which will be
                held on August 1 (afternoon) -2 (afternoon) in Dallas, Texas.
                Since 2013, the SEED workshop has been offered by the
                Korean-American Scientist and Engineers Association (KSEA) and
                the Korean Federation of Science and Technology Societies
                (KOFST) to provide mentorship to, and help develop the careers
                of, junior Korean-American scientists and engineers ranging from
                Ph.D. students, postdoctoral researchers to early career
                professionals.
              </p>
              <br />
              <ul>
                <li><span class="font-bold">Date</span>: August 1-2, 2023</li>
                <li>
                  <span class="font-bold">Venue</span>: Hyatt Regency DFW,
                  Dallas, TX.
                </li>
              </ul>
              <p>
                We plan to accept 70-80 participants (including Ph.D. students,
                postdocs, junior faculty, and early-career professionals in
                national labs & industry) who are particularly interested in the
                topic of “Leading and Thriving in Academia”, in addition to
                about 13 mid-career and senior professionals who will also serve
                as mentors. As you will see our plenary and invited speakers are
                the leaders in their fields with outstanding careers. The
                program will provide opportunities to discuss career development
                and emerging topics in the fields, and cultivate the development
                of mentoring relationships among participants. The SEED workshop
                is organizing an interactive poster session with UKC sponsors
                who are actively looking to hire young scientists and engineers.
                This private event will offer a fantastic opportunity to meet
                potential employers and expand your professional network. There
                will be sizable awards for the best posters.
              </p>
              <p>
                <span class="font-bold">Support for attendees</span> (Current
                KSEA membership and entire two-day participation required): KSEA
                will provide the following financial supports:
              </p>

              <ul class="list-deco-disc">
                <li>
                  Airfare up to $200 or driving mileage ($0.50/mile), additional
                  support upon request
                </li>
                <li>
                  Hotel accommodation: 1 night (shared room; August 1, 2023)
                </li>
                <li>
                  Meals: Lunch/dinner on Tuesday (August 1, 2023) and
                  breakfast/lunch on Wednesday (August 2, 2023)
                </li>
              </ul>
              <p>
                <span class="font-bold">Application materials</span> : CV,
                photo, and short bio
              </p>
              <p>
                All application materials should be submitted through the form
                <a
                  href="https://docs.google.com/forms/d/e/1FAIpQLScMP_3-0JZrrtmD80XGn2MqpCJXEqTYKBjvdTBSmiIyhNAOJg/viewform"
                  target="_blank"
                  >(SCIENTISTS AND ENGINEERS EARLY CAREER DEVELOPMENT (SEED)
                  WORKSHOP 2023 Application (google.com)</a
                >
                which can also be found in the KSEA website
                <a href="https://seed.ksea.org/" target="_blank"
                  >(SEED (ksea.org))</a
                >. Interested candidates are encouraged to apply as soon as
                possible, as space may be limited.
              </p>
              <br />
              <ul>
                <li>
                  <span class="font-bold">Application deadline</span>: April 30,
                  2023
                </li>
                <li>
                  <span class="font-bold">Announcement of finalists</span>: May
                  15, 2023
                </li>
                <li>
                  <span class="font-bold">Selection criteria</span>: Both merit
                  and need-based (up to about 80 applicants)
                </li>
                <li>
                  <span class="font-bold"
                    >Registration for the selected applicants</span
                  >: Open on June 1, 2023
                </li>
              </ul>
              <br />
              <p>
                Registration fee is required after your application is accepted
                and due at the time of online registration. $50 for graduate
                students, $75 for postdocs, and $100 for junior faculty,
                government employees, or early-stage professionals).
              </p>
              <p>
                Please note that KSEA SEED is committed to the health and safety
                of SEED attendees and will follow the health and safety
                guideline set by UKC 2023, which will be updated later. When
                registering for the workshop, attendees are required to “accept”
                SEED's liability waiver.
              </p>
              <p>
                For more detailed information, please refer to:
                <a href="https://seed.ksea.org/" target="_blank"
                  >SEED (ksea.org)</a
                >
              </p>
              <p>
                For general inquiries, please contact
                <a href="mailto:ksea.seed.workshop@gmail.com" target="_blank"
                  >ksea.seed.workshop@gmail.com</a
                >
              </p>
              <p>Thank you,</p>

              <p>
                SEED 2023 Organizing Committee: <br />
                Sua Myong, SEED Director, Johns Hopkins University<br />
                Hae-Bum Yun, SEED Committee, University of Central Florida<br />
                Yumi Kim, SEED Committee, Johns Hopkins University<br />
                Juhun Lee, SEED Committee, University of Pittsburgh<br />
                Seungil Kim, SEED Committee, University of Pittsburgh<br />
                Yongho Sohn, KSEA President Elect, University of Central Florida
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                               Next
                           </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
