<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                Celebrating the life and career of KSEA 30th President Nak Ho
                Sung (Zoom: 7pm ET, Saturday, March 4)
              </h3>
              <p class="date">March 29, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="con-img">
                <!--<a
                  href="https://uchicago.zoom.us/j/99990712326?pwd=YWJBNnV5VXlHWHdCc2ZsNlJSSDFKZz09%0D#success"
                  target="_blank"
                > THIS IS DONE BY JOSEPH -->
                  <img
                    src="assets/images/announcement/snh_poster.jpg"
                    alt="Celebrating the life and career of KSEA 30th President Nak Ho
                    Sung"
                  />
                <!--</a>-->
              </div>
              <p>Dear KSEA Members, families and friends,</p>
              <p>
                I am writing to invite you to the online event at 7pm ET on
                Saturday, March 4th to celebrate the life and career of KSEA
                30th President Nak Ho Sung who passed away in October 22, 2022
                in Korea.
              </p>
              <p>
                The KSEA community would like to extend our deepest condolences
                to Prof. Sung’s family one more time.
              </p>
              <p>
                Professor Sung was Professor of Chemical and Biological
                Engineering at Tufts University, was the Director and Founder of
                the Laboratory for Materials and Interfaces, and chaired the
                department of Chemical and Biological Engineering. Prior to
                joining Tufts University in 1978, he was a Research Associate
                and Assistant Professor at M.I.T. Professor Sung's research was
                in Polymer Science and Engineering, focused on structural
                composites and multiphase systems. He was an elected member of
                National Academy of Engineering of Korea.
              </p>
              <p>
                The 30th President of the KSEA Prof. Sung had served on many
                KSEA Committees and contributed to numerous programs of KSEA. In
                addition, he was the President of the Korean American University
                Professor's Association in America (KAUPA), and had been a
                Technical Advisor to SK Group in Korea for 24 years.
              </p>
              <p>
                I hope to see many of you and your families and friends at this
                event on March 4th. Korean language will be used during the
                entire zoom event.
              </p>
              <p class="txt-deco-line">Event Details:</p>
              <br />
              <ul class="list-deco-disc">
                <li>
                  Time: Saturday, March 4th, 2023 at 7:00 - 8:30pm EST (4:00 -
                  5:30 PM PST)
                </li>
                <li>
                  Theme: Celebrating the life and career of KSEA 30th President
                  Nak Ho Sung
                </li>
                <li>
                  Venue: Virtual. Anyone can join the meeting via Zoom
                  <a
                    href="https://uchicago.zoom.us/j/99990712326?pwd=YWJBNnV5VXlHWHdCc2ZsNlJSSDFKZz09%0D#success"
                    target="_blank"
                    >[Link]</a
                  >
                </li>
                <li>
                  Host: President of KSEA Young-Kee Kim (University of Chicago)
                </li>
                <li>
                  Questions:
                  <a href="mailto:itm@ksea.org" target="_blank">itm@ksea.org</a>
                </li>
              </ul>

              <p>
                Sincerely,<br />
                Young-Kee Kim,<br />
                President of KSEA
              </p>
              <br />
              <a
                href="assets/images/announcement/snh_poster.jpg"
                target="_blank"
                download="Celebrating the life and career of KSEA 30th President Nak Ho
                Sung"
              >
                <button class="btn-view">Download</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                 Next
                             </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
