<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">2023 코센브릿지포럼(반도체-디스플레이)</h3>
              <p class="date">July 21, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                한국과학기술정보연구원에서 수행중인
                한인과학기술자네트워크(KOSEN,
                <a href="https://kosen.kr/" target="_blank">kosen.kr</a>)에서는
                재외한인과학자(미국, 프랑스, 영국)를 초청하여 반도체-디스플레이
                관련 전문 연구분야를 소개하고 국내 기관의 연구자들과 네트워킹 할
                수 있는 자리를 마련하였습니다.
              </p>
              <p>
                국제 공동연구 및 반도체-디스플레이 분야에 관심 있는 분들은
                참여하셔서 국제 협력을 위한 연구 교류의 시간 가지시길 바랍니다.
              </p>
              <ul class="list-deco-disc">
                <li>가. 일 시 : 2023년 7월 31일(월)</li>
                <li>
                  나. 참가신청 :
                  <a href="https://moaform.com/q/JJDrt2" target="_blank"
                    >https://moaform.com/q/JJDrt2</a
                  >
                </li>
                <li>다. 장 소 : 온라인 Zoom 플랫폼</li>
                <li>라. 주 최 : 한국과학기술정보연구원</li>
                <li>
                  마. 내 용 : 반도체·디스플레이 분야 연구자 발표 및 질의응답을
                  통한 연구교류
                </li>
              </ul>
              <p>붙임</p>
              <ul>
                <li>
                  <a
                    href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/2023KOSEN_Poster.jpg"
                    target="_blank"
                    >1. 2023 재외한인과학자 초청 코센 브릿지
                    포럼(반도체·디스플레이) 포스터.jpg</a
                  >
                </li>
                <li>
                  <a
                    href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/2023KOSEN_Announcement.html"
                    target="_blank"
                    >2. 2023
                    코센브릿지포럼_반도체·디스플레이_포스터_공지.html</a
                  >
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                             Next
                                                         </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
