<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                2024 KSEA Young Investigator Grants
              </h3>
              <p class="date">Octoboer 31, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>

                <p>
                  The Korean-American Scientists and Engineers Association (KSEA) is pleased to announce an 
                  opportunity for the 2023 KSEA Young Investigator Grants (YIGs), which intend to recognize 
                  those who have demonstrated outstanding early career development in science, engineering 
                  and/or technology. Two grants will be awarded this year as follows:
                </p>
                <p>
                  Grant: US $10,000 for each awardee with travel support up to $1,000 to attend the award 
                  ceremony at UKC 2024. 
                </p>
                <p>
                  Application Period: From October 31, 2023 to December 23, 2023
                </p>
                <p>
                  Description: The KSEA Young Investigator Grant is the KSEA's highest recognition given to 
                  young professionals who earned a doctoral degree in science or engineering, and have been 
                  working in academia, industry, or government for no more than 6 years after the applicant 
                  received a Ph. D degree. Two YIGs will be awarded this year: one grant selected from Science, 
                  and the other from Engineering. Applicants should select either Science or Engineering based 
                  on their research field.
                </p>
                <p>
                  Eligibility: Each applicant should have received a Ph.D. degree within six years of the 
                  application (On or after January 1, 2018). Applicant should be a KSEA member at the time of 
                  application. If not a current member, join or renew KSEA membership through 
                  <a href="https://www.ksea.org/signUp" target="_blank">https://www.ksea.org/signUp.</a>
                </p>
                <p>
                  Application: Application for the grant should be received through the KSEA website at 
                  <a href="https://www.ksea.org/yig" target="_blank">https://www.ksea.org/yig.</a> 
                  The required materials are a curriculum vitae, a research or technology development plan 
                  for one year (five pages), and three reference letters. The application package must specify 
                  the pertinent Technical Subgroup (A through D) in which it is to be evaluated. A list of 16 
                  KSEA Technical subgroups may be found at <a href="https://www.ksea.org/technical-g" 
                  target="_blank">https://www.ksea.org/technical-g.</a>
                </p>
                <p>
                  Evaluation: Evaluation of the applications and selection of the successful applicants will be 
                  conducted by the KSEA Honors & Awards Committee (HAC) in collaboration with Technical Group 
                  Councilors and their representatives. The recipients will be announced on the KSEA web page 
                  and via email by March 31, 2024.
                </p>
                <p>
                  Administration: The grant is awarded through the recipient’s institution in the United States, 
                  not directly to the recipient. The recipient must submit a final report, which summarizes the 
                  achievements supported through the grant and expenditure details. The final report is due at 
                  the end of the grant period of 1 year. The technical part of the report should be in the form 
                  of a featured article that can be published in KSEA Letters. An additional travel reimbursement 
                  up to US $1,000 will be provided to the recipient to attend the award ceremony at UKC 2024. 
                </p>
                <p>
                  For any questions, please contact the KSEA, <a href="mailto:sejong@ksea.org" target="_blank">
                    sejong@ksea.org.</a>
                </p>
                <br/>
                <br/>
                <br/>
                <br/>
                 <div class="con-img_small">
                  <p>
                    KSEA is an equal-opportunity employer committed to the principles of affirmative action
                  </p>
                 </div>
                 <p>
                  <a
                    href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/231031_2024-YIG-Announcement_v2-1.pdf"
                    target="_blank"
                    download="2024 KSEA Young Investigator Grants Announcement"
                  >
                    <button class="btn-view">Announcement</button>
                  </a>
                  <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/231031_2024-YIG-Application-Form_updated-1.doc"
                  target="_blank"
                  download="2024 KSEA Young Investigator Grants Application"
                >
                  <button class="btn-view">Application</button>
                </a>
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                                 Next
                                                             </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
