<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">Shutdown of KSEA website 1/4~1/6/2023</h3>
              <p class="date">January 3, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Dear KSEA members,</p>
              <p>Summary:</p>
              1. Shutdown of KSEA website 1/4~1/6/2023<br />
              2. New website opens on 1/7/2023<br />
              3. Password reset encouraged after 1/7/2023<br />
              <p>
                We, the KSEA IT team, are excited to announce the launch of our
                brand-new website! This site has been designed to provide our
                members with a more intuitive and user-friendly experience.
                <br />
                Our new website features a modern design, improved navigation,
                and a host of new features, including an administrative function
                and a customer loyalty program such as lifetime membership. We
                have also revised a blog section where we will be sharing
                industry job openings, news, and updates on our website.
                <br />
                Please note that the old KSEA website will be shut down on
                January 4th, 2023, and the new website will open on January 7th,
                2023. To ensure a seamless transition, we strongly encourage you
                to reset your password when the new website opens.
                <br />
                We are still working on other functionalities, so please be
                patient with us.<br />
                We hope you will take a moment to visit our new website and
                explore all that it has to offer.
                <br />
                Thank you for your continued support.<br />

                Sincerely,<br />

                KSEA IT team
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                   Next
               </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
