<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                The Women in STEM Workshop Series Hosted by KSEA in
                collaboration with KWiSE
              </h3>
              <p class="date">February 23, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="con-img">
                <a
                  href="https://us02web.zoom.us/j/89958821813?pwd=S0NtU1RSbGF3UllCczRxRHlSb2JSdz09"
                  target="_blank"
                >
                  <img
                    src="assets/images/announcement/wisw_0215.jpg"
                    alt="The Women in STEM Workshop Series Hosted by KSEA in
                    collaboration with KWiSE"
                  />
                </a>
              </div>

              <p>Dear KSEA members and family,</p>
              <p>
                I would like to invite you to “The Women in STEM Workshop
                Series” that will be held on Wednesday, March 8 with the theme
                of “Leadership and Allyship Towards Gender Equality In
                Celebration of International Women’s Day”.
              </p>
              <p>
                International Women’s day is a day when women get an
                appreciation for all their hard-work and effort to maintain
                their lives and the lives of others around them. This workshop
                series is to honor women's significant achievements in Science,
                Technology, Engineering, and Mathematics (STEM) careers, and
                place a much-needed focus on how to promote gender equity in
                education and work settings.
              </p>
              <p>
                For the workshop hosted by KSEA and KWiSE, Dr. Seonmin Jin at
                Indiana University will present “Towards Gender Equality in the
                Workplace: Principles and Case Studies” followed by a panel
                discussion about Korean women in STEM.
              </p>
              <p class="txt-deco-line">Event Detail:</p>

              <ul class="list-deco-disc">
                <li>
                  Time: Wednesday, March 8th, 2023 at 5:30-6:30pm (PT),
                  8:30-9:30pm (ET)
                </li>
                <li>
                  Theme: Leadership and Allyship Towards Gender Equality In
                  Celebration of International Women’s Day
                </li>
                <li>
                  Venue: Virtual. Anyone can join the meeting via Zoom<a
                    href="https://us02web.zoom.us/j/89958821813?pwd=S0NtU1RSbGF3UllCczRxRHlSb2JSdz09"
                    target="_blank"
                  >
                    [Link]</a
                  >
                </li>
                <li>Guests Speaker: Seonmi Jin, Indiana University</li>
                <li>
                  Host: President of KSEA Young-Kee Kim, University of Chicago
                </li>
                <li>
                  Questions:<a href="mailto:itm@ksea.org" target="_blank">
                    itm@ksea.org</a
                  >
                </li>
              </ul>
              <p>
                I hope to see many of you and your families and friends at this
                meeting. You do not have to register for the meeting.
              </p>
              <p>
                I would greatly appreciate it if you could reach out to non-KSEA
                members to join or renew KSEA membership by using this
                <a href="https://www.ksea.org/signUp" target="_blank">
                  [link]</a
                >
              </p>
              <p>
                Look forward to seeing many of you at the zoom meeting on March
                8th.
              </p>

              <p>
                Sincerely,<br />
                Young-Kee Kim<br />
                President of KSEA
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                             Next
                         </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
