<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                [KEIT] 2024 R&D 기획대상과제 인터넷 공시 관련 의견수렴의 건
              </h3>
              <p class="date">November 29, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>
                <p>
                  Dear KSEA members,
                </p>
                <p>
                  Please find the attached announcement from KEIT and submit your opinion here: 
                  <a href="http://itech.keit.re.kr/" target="_blank">http://itech.keit.re.kr/</a> 
                  (메뉴: 사업기획공고-과제기획공고)<br>
                  Please feel free to contact 박성환 at <a href="mailto:parkorea@keit.re.kr" target="_blank">
                  parkorea@keit.re.kr</a> if you have any questions.
                <p>
                  Thank you,
                </p>
                <p>
                  KSEA HQ
                </p>
                <br>
                <br>
                <br>
                <p>
                  안녕하세요,
                </p>
                <p>
                  KEIT US 박성환 소장 입니다.<br>
                  올해에도 KSEA의 많은 도움을 받아 산업기술R&D 신규기획대상과제 인터넷 공시를 마쳤습니다.<br>
                  KEIT 는 2024년 신규과제 공고 이전에 후보과제에 대한 의견을 국내외 연구자분들께 받아서, 만에 하나 있을 중복이나 
                  문제 과제를 걸러내고 미리 차년도 과제내역을 확인하고자 합니다.<br>
                  회원분들께서는 첨부한 공지문을 보시고 <a href="http://itech.keit.re.kr" target="_blank">
                  http://itech.keit.re.kr</a> 에서 의견을 접수해 주시기 바랍니다. (메뉴: 사업기획공고-과제기획공고)<br>
                  문의시에는 KEIT 박성환 미국 소장, <a href="parkorea@keit.re.kr" target="_blank">
                  parkorea@keit.re.kr</a> 께 연락주시기 바랍니다.
                </p>
                <p>
                  감사합니다.
                </p>              
                <br/>
                <br/>
                <br/>
                <br/>
                 <p>
                  <a
                    href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/231129_KEIT_R%26D.pdf"
                    target="_blank"
                    download="231129_KEIT_R&D"
                  >
                    <button class="btn-view">Announcement</button>
                  </a>
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                                 Next
                                                             </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
