<div *ngFor="let d of pageList" class="page">
  <div class="wrap-nametag">
    <div class="con-header">
      <img src="assets/nametag/name_header.png" alt="UKC 2023" />
    </div>
    <div class="con-body">
      <h1 class="con-name">{{ d.data1.fName }} {{ d.data1.lName }}</h1>
      <div class="con-affliliation">
        <span>{{ d.data1.affiliation }}</span>
      </div>
      <div class="con-tech-group">
        <span>{{ d.data1.ts }}</span>
      </div>
      <div class="con-order">
        <span>{{ d.data1.code }}</span>
      </div>
    </div>
    <div class="con-footer">
      <img src="assets/nametag/name_footer.png" alt="UKC 2023" />
    </div>
  </div>
  <div class="wrap-nametag">
    <div class="con-header">
      <img src="assets/nametag/name_header.png" alt="UKC 2023" />
    </div>
    <div class="con-body">
      <h1 class="con-name">{{ d.data2.fName }} {{ d.data2.lName }}</h1>
      <div class="con-affliliation">
        <span>{{ d.data2.affiliation }}</span>
      </div>
      <div class="con-tech-group">
        <span>{{ d.data2.ts }}</span>
      </div>
      <div class="con-order">
        <span>{{ d.data2.code }}</span>
      </div>
    </div>
    <div class="con-footer">
      <img src="assets/nametag/name_footer.png" alt="UKC 2023" />
    </div>
  </div>
  <div class="wrap-nametag">
    <div class="con-header">
      <img src="assets/nametag/name_header.png" alt="UKC 2023" />
    </div>
    <div class="con-body">
      <h1 class="con-name">{{ d.data3.fName }} {{ d.data3.lName }}</h1>
      <div class="con-affliliation">
        <span>{{ d.data3.affiliation }}</span>
      </div>
      <div class="con-tech-group">
        <span>{{ d.data3.ts }}</span>
      </div>
      <div class="con-order">
        <span>{{ d.data3.code }}</span>
      </div>
    </div>
    <div class="con-footer">
      <img src="assets/nametag/name_footer.png" alt="UKC 2023" />
    </div>
  </div>
  <div class="wrap-nametag">
    <div class="con-header">
      <img src="assets/nametag/name_header.png" alt="UKC 2023" />
    </div>
    <div class="con-body">
      <h1 class="con-name">{{ d.data4.fName }} {{ d.data4.lName }}</h1>
      <div class="con-affliliation">
        <span>{{ d.data4.affiliation }}</span>
      </div>
      <div class="con-tech-group">
        <span>{{ d.data4.ts }}</span>
      </div>
      <div class="con-order">
        <span>{{ d.data4.code }}</span>
      </div>
    </div>
    <div class="con-footer">
      <img src="assets/nametag/name_footer.png" alt="UKC 2023" />
    </div>
  </div>
  <div class="wrap-nametag">
    <div class="con-header">
      <img src="assets/nametag/name_header.png" alt="UKC 2023" />
    </div>
    <div class="con-body">
      <h1 class="con-name">{{ d.data5.fName }} {{ d.data5.lName }}</h1>
      <div class="con-affliliation">
        <span>{{ d.data5.affiliation }}</span>
      </div>
      <div class="con-tech-group">
        <span>{{ d.data5.ts }}</span>
      </div>
      <div class="con-order">
        <span>{{ d.data5.code }}</span>
      </div>
    </div>
    <div class="con-footer">
      <img src="assets/nametag/name_footer.png" alt="UKC 2023" />
    </div>
  </div>
  <div class="wrap-nametag">
    <div class="con-header">
      <img src="assets/nametag/name_header.png" alt="UKC 2023" />
    </div>
    <div class="con-body">
      <h1 class="con-name">{{ d.data6.fName }} {{ d.data6.lName }}</h1>
      <div class="con-affliliation">
        <span>{{ d.data6.affiliation }}</span>
      </div>
      <div class="con-tech-group">
        <span>{{ d.data6.ts }}</span>
      </div>
      <div class="con-order">
        <span>{{ d.data6.code }}</span>
      </div>
    </div>
    <div class="con-footer">
      <img src="assets/nametag/name_footer.png" alt="UKC 2023" />
    </div>
  </div>
</div>
