<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Job Opportunities</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Job Opportunities</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">KIC-Washington DC Internship Job Posting</h3>
              <p class="date">May 10, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Tech Commercialization Team Intern</p>
              <p class="txt-deco-line">About KIC:</p>
              <p>
                Korea Innovation Center, Washington D.C., funded by the Korean
                government, aims to create a global startup ecosystem in
                Washington D.C., Silicon Valley, Berlin, and Beijing. We support
                and incubate Korean tech startups by providing connections,
                accelerators, and training programs. Over 100 Korean startups
                annually join us to explore the U.S. market, while we facilitate
                networking between leaders from various sectors in the U.S. and
                South Korea.
              </p>
              <p class="txt-deco-line">Job Title:</p>
              <p>Intern</p>
              <p class="txt-deco-line">Job Types:</p>
              <p>Part-time, Internship</p>
              <p class="txt-deco-line">Job Summary:</p>
              <p>
                The Project Managing Intern supports the Tech Commercialization
                Team with day-to-day project operations, event planning and
                execution, and communications activities. The ideal candidate is
                passionate about technology, innovation, and project management.
              </p>
              <p class="txt-deco-line">Locations:</p>
              <p>Vienna, VA</p>
              <p class="txt-deco-line">Term of internship:</p>
              <p>May 22, 2023 – December 1, 2023</p>
              <p class="txt-deco-line">Job Responsibilities:</p>
              <ul class="list-deco-disc">
                <li>Work about 20 hours per week</li>
                <li>
                  Support the team with event planning and execution, including
                  coordinating with vendors and speakers.
                </li>
                <li>Support the team with running the acceleration program.</li>
                <li>
                  Collate content for each event and ensuring each event runs
                  smoothly.
                </li>
                <li>
                  Plan event with attention to financial and time constraints.
                </li>
                <li>
                  Support team with day-to-day administrative tasks, including
                  report generation and database maintenance.
                </li>
                <li>Support overall team with program management trackers</li>
              </ul>
              <p class="txt-deco-line">Basic Qualifications:</p>
              <ul>
                <li>- Must be bilingual (fluent in both Korean & English)</li>
                <li>- Must be currently studying or recently graduated</li>
                <li>- Have good communication and interpersonal skills</li>
                <li>
                  - Strong interest in startup, entrepreneurship, or innovation
                  is a plus
                </li>
                <li>
                  - High knowledge and ability to use various computer tools
                  (G-suite, Zoom, Canva, etc)
                </li>
                <li>- Ability to listen and synthesize</li>
                <li>- Ability to multitask and manage priorities</li>
                <li>- Rigor in work & Reactivity</li>
                <li>- Open-mindedness</li>
              </ul>
              <p class="txt-deco-line">Preferred Qualifications:</p>
              <ul>
                <li>
                  - Interest or knowledge in IT, Engineering Tech, Biotech,
                  Nanotech, or Space-Tech is a plus. Pursuing MBA
                </li>
              </ul>
              <p class="txt-deco-line">Compensation:</p>
              <p>$25/hour</p>
              <p class="txt-deco-line">What We Offer:</p>
              <ul>
                <li>- Be part of KIC DC</li>
                <li>- Be at the forefront of innovation</li>
                <li>
                  - Be part of a dynamic, international, and open-minded team in
                  a vibrant working environment
                </li>
                <li>
                  - Get access to and communicate with Korean startups, U.S.
                  investors, and industry leaders.
                </li>
              </ul>
              <p class="txt-deco-line">Reach out by:</p>
              <p>
                Email :
                <a href="mailto:hkim@kicdc.org" target="_blank"
                  >hkim@kicdc.org</a
                >
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/job"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                           Next
                                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
