<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                2023 Defy Conference- KIC Washington DC
              </h3>
              <p class="date">Octoboer 23, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>
                <p>KSEA 회원 여러분, 안녕하십니까.</p>
                <br />
                <p>
                  과학기술 협력 네트워크 구축을 통해 국내 기술기반 스타트업의 글로벌 시장 진출을 돕고 있는 
                  KIC 워싱턴에서 주최하는 "2023 Defy Conference" 행사 소식을 전해드리니 회원 여러분들의 
                  많은 참여 바랍니다. 
                </p>
                <ul class="list-deco-disc">
                  <li>
                    KIC 워싱턴에서 주최하는 Defy Conference는 10월 31일 9시 부터 부터 11월 1일 오후 
                    까지 진행 됩니다.
                  </li>
                  <li>
                    행사 장소는 미국 40대 대통령의 이름을 따서 건립되어 운영되는 워싱턴 디씨의 Ronald Reagan 
                    Building 입니다. 해당 장소는 1987년 의회의 승인을 통해 건립된 유서 깊은 건물로 Uber나 
                    Facebook도 사내 행사를 진행할 정도로 품격있는 곳에서 한국의 스타트업들과 미국의 파트너들이 
                    만나게 됩니다.
                  </li>
                  <li>
                    올해의 KIC 스타트업 쇼케이스 행사에는 45개의 한국기술기반기업들의 행사 참여가 예정 되어 있습니다.
                  </li>
                  <li>
                    행사에는 30명 이상의 VIP, 100명이상의 투자자가 포함된 400명 이상의 참가자가 참여 예정 입니다.
                  </li>
                  <li>
                    전년도에 행사가 스타트업의 피치 중심이었던데 반해 올해에는 한국의 문화와 더불어 기업가 정신, 
                    기술 트렌드 등에 인사이트를 더해줄 20여명의 현지 유력 연사들이 fireside chat을 위해 
                    라인업 되어 있습니다.
                  </li>
                  <li>
                    문의: KIC 워싱턴 DC 이우섭 팀장, <a href="mailto:wslee@kicdc.org" 
                    target="_blank">wslee@kicdc.org</a>, 240-428-9607
                  </li>
                </ul>
                <p>
                  Defy 컨퍼런스 에서는 KSEA와의 파트너십을 고려하여 회원분들께 50% 할인 티켓을 제공하려고 하며, 
                  학생들께는 더욱 저렴한 가격으로 등록 하실 수 있도록 준비하였습니다.
                </p>
                <p>
                  <span class="font-bold">[50% 할인 링크]</span> <br>
                  <a href="https://registration.socio.events/e/defycon/promo-codes/COMMUNITYPARTNER" 
                  target="_blank">https://registration.socio.events/e/defycon/promo-codes/COMMUNITYPARTNER</a> 
                </p>
                <p>
                  <span class="font-bold">[홈페이지]</span> <br>
                  <a href="https://defy.systems/" target="_blank">https://defy.systems/</a>               
                </p>
                <p>
                  첨부한 Overview와 Flyer를 참고하시기 바랍니다.
                </p>
                <p>
                  <br />
                  감사합니다.<br>
                  KSEA HQ
                </p>

                <p>
                  <a
                    href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/231023_KIC_Defy+Conference+2023+Overview.pdf"
                    target="_blank"
                    download="Overview"
                  >
                    <button class="btn-view">Overview</button>
                  </a>
                  <a
                    href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/231023_KIC_2023+Defy+Flyer.pdf"
                    target="_blank"
                    download="Flyer"
                  >
                    <button class="btn-view">Flyer</button>
                  </a>
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                                 Next
                                                             </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
