<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">2024 KSEA Awards Announcement</h3>
              <p class="date">January 24, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                The Korean-American Scientists and Engineers Association (KSEA) is pleased to 
                accept nominations for the annual KSEA Awards that recognize and honor those 
                members who have made outstanding contributions to KSEA and advances in 
                science and engineering, international cooperation especially between the U.S. 
                and Korea, and general welfare of the society. Nominees should be KSEA members 
                at the time of nomination. If nominees are not current KSEA members, nominees 
                should join or renew KSEA membership through the KSEA website 
                <a href="https://www.ksea.org/about-membership" target="_blank">
                https://www.ksea.org/about-membership</a>.
              </p>
              <p class="txt-deco-line">Awards to be made are:</p>
              <ul class="list-deco-disc">
                <li>
                  Outstanding Contribution to KSEA Award to a member who has made exceptional 
                  contributions to KSEA in particular and the society in general through 
                  dedicated and exemplary services in science and engineering including 
                  international cooperation (Joint Award with Minister of MSIT). The total 
                  service point shall be at least 100.
                </li>
                <li>
                  Scientist of the Year Award to a member who has made outstanding technical 
                  contributions in the areas of science (Joint Award with President of KOFST).
                </li>
                <li>
                  Engineer of the Year Award to a member who has made outstanding technical 
                  contributions in the areas of engineering (Joint Award with President of KOFST).
                </li>
                <li>
                  Entrepreneur of the Year Award to a member who has demonstrated stellar performance 
                  in the areas of entrepreneurship (Joint Award with Maeil Business Newspaper).
                </li>
                <li>
                  Outstanding Chapter and Chapter President Award to a local chapter which has 
                  contributed significantly to enhance KSEA activities through novel and 
                  exemplary programs and services.
                </li>
                <li>
                  Outstanding Community Service Award to a member who has provided outstanding 
                  services to a greater community on behalf of KSEA.
                </li>
                <li>
                  Young Generation Leadership Award to a young generation member who has provided 
                  outstanding membership development and services for the young generation.
                </li>
                <li>
                  Distinguished Sponsor Award to individuals or organizations who have made 
                  substantial financial contributions to KSEA. A nomination is not needed as 
                  KSEA will choose an organization on the basis of the sponsor record.
                </li>
              </ul>
              <p>
                Each nomination form (in MS Word) can be downloaded from the link below. 
                Nominations must be submitted via <a href="mailto:sejong@ksea.org" 
                target="_blank">sejong@ksea.org</a> by March 10, 2024. 
                The finalists will be notified via email by the end of May 2024. 
                Awards will be presented at UKC 2024 to be held in August 2024.
              </p>
              <p>
                <span class="font-bold">Click on the following link to download the Form:</span>
              </p>
              <ul class="list-deco-disc">
                <li>
                  <a href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/Form_2024+Outstanding_Contribution_to_KSEA_Award-v2.docx"
                  target="_blank"
                  >Nomination Form: Outstanding Contribution to KSEA Award
                  </a>
                </li>
                <li>
                  <a href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/Form_2024+Scientist_of_the_Year_Award.docx"
                  target="_blank"
                  >Nomination Form: Scientist of the Year Award
                  </a>
                </li>
                <li>
                  <a href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/Form_2024+Engineer_of_the_Year_Award.docx"
                  target="_blank"
                  >Nomination Form: Engineer of the Year Award
                  </a>
                </li>
                <li>
                  <a href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/Form_2024+Entrepreneur_of_the_Year_Award.docx"
                  target="_blank"
                  >Nomination Form: Entrepreneur of the Year Award
                  </a>
                </li>
                <li>
                  <a href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/Form_2024+Outstanding_Chapter_and_Chapter_President_Award-v2.docx"
                  target="_blank"
                  >Nomination Form: Outstanding Chapter and Chapter President Award
                  </a>
                </li>
                <li>
                  <a href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/Form_2024+Outstanding_Community_Service_Award.docx"
                  target="_blank"
                  >Nomination Form: Outstanding Community Service Award
                  </a>
                </li>
                <li>
                  <a href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/Form_2024+Young_Generation_Leadership_Award.docx"
                  target="_blank"
                  >Nomination Form: Young Generation Leadership Award
                  </a>
                </li>
              </ul>
              <p>
                For any questions regarding the preparation of a nomination package, 
                please contact the KSEA HQ at
                <a href="mailto:sejong@ksea.org"> sejong@ksea.org </a>or the 
                HAC Chair, Dr. Sangjin Ryu at
                <a href="mailto:sangjin.ryu@unl.edu">sangjin.ryu@unl.edu</a>.
              </p>
              <br>
              <p>
                Thank you,
                <br>
                KSEA HQ
              </p>
              <p>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/2024+KSEA+Awards+Announcement-v3.1.docx"
                target="_blank"
                download="2024 KSEA Awards Announcement"
              >
                <button class="btn-view">Download</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                       Next
                   </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
