<div class="wrap">
    <app-nav></app-nav>
    <app-news-header></app-news-header>
    <ul class="history">
      <li routerLink="/" routerLinkActive="active">Home</li>
      <li>News</li>
      <li>Announcement</li>
    </ul>
    <div class="scon-center pd10">
      <h2 class="font-ksea">Announcement</h2>
      <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
      <div class="wrap-table">
        <table class="basic-table-view">
          <thead>
            <tr>
              <th>
                <h3 class="title">2023 KSEA Scholarship and Fellowship Announcement</h3>
                <p class="date">February 1, 2023</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                 
                <p>KSEA is pleased to announce the 2023 KSEA Scholarships and Fellowship program. Especially, the Postdoc Fellowship has been added to the KSEA scholarship program this year.</p>
                <p>Multiple scholarships for Postdoc Fellows, Graduate students, and Undergraduate students majoring in science, medicine, engineering, or related fields will be awarded in 2023.</p>
                <p>The KSEA scholarships recognize outstanding students of Korean heritage who are excellent in academics as well as in service to the community and have the potential to become future leaders of society.</p>
                <p class="txt-deco-line">There are three scholarship categories this year.</p>
                <ol class="list-deco-num ">
                  <li>KSEA Scholarships for Undergraduate Students in the US. (30 awards, $1,500 per each)
                      <br>- KSEA Named Scholarships (20) and KSEA-Rim Scholarships (10)</li>
                  <li>KSEA-KUSCO Scholarships for Graduate Students in the US. (20 awards, $2,000 per each)</li>
                  <li> Postdoc Fellowship for Postdoctoral researchers in the US. (3 awards, $2,000 per each)
                </li>
                </ol>
                <p>The online scholarship application starts on February 1, 2023.</p>
                <p>All application materials for the 2023 Scholarship should be received by March 31, 2023, 5:00 PM (ET). </p>
                <p>Please visit the KSEA Scholarship website at <a href="https://award.ksea.org " target="_blank"> https://award.ksea.org</a> 
                    for more details of the 2023 Scholarships program, and <a href="https://www.ksea.org/scholarship " target="_blank"> https://www.ksea.org/scholarship </a>for the online application process.</p>
                <p>Any questions not mentioned in the 2023 Scholarship website can be addressed to the KSEA Scholarship Committee at  <a href="mailto:scholarship@ksea.org" target="_blank">scholarship@ksea.org</a>.</p>      
                <p>Thank you,</p>        
                <p>Young-Kee Kim, President of KSEA</p>
                <p>James Moon, Scholarship Committee Chair</p>
               </td>
            </tr>
          </tbody>
        </table>
        <div class="view-footer">
          <button
            class="btn-basic-line"
            routerLink="/announcement"
            routerLinkActive="active"
          >
            List
          </button>
          <!-- <button class="btn-basic-line">
                           Next
                       </button> -->
        </div>
      </div>
    </div>
  
    <app-footer></app-footer>
  </div>
  