<div class="wrap">
  <div class="wrap-sign">
    <div class="logo">
      <img src="assets/images/logo.png" alt="KSEA logo" />
    </div>
    <div class="con-signin">
      <h2>Reset password</h2>
      <div *ngIf="errorMessage" class="alert alert-warning">
        <strong>Warning!</strong> {{ errorMessage | json }}
      </div>
      <div class="input-g-sigin">
        <div>
          <label for="oldPassword" class="form-label">Old Password:</label>
          <input
            type="password"
            id="oldPassword"
            name="oldPassword"
            [(ngModel)]="oldPassword"
            class="form-control form-control-sm"
          />
        </div>
        <div>
          <label for="newPassword" class="form-label">New Password:</label>
          <input
            type="password"
            id="newPassword"
            name="newPassword"
            [(ngModel)]="newPassword"
            class="form-control form-control-sm"
          />
        </div>
      </div>
      <button
        type="button"
        (click)="update()"
        class="btn_blue"
        [disabled]="loading"
      >
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
          *ngIf="loading"
        ></span>
        Submit
      </button>
    </div>
    <p class="sign-info">
      <span routerLink="/profile" routerLinkActive="active">
        Back to Profile
      </span>
    </p>
  </div>
</div>

<!-- 기존 개발된 코드 주석처리 삭제 예정 (22.12.9) -->
<!-- <div class="row justify-content-center my-5">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col mb-2">
              <label for="oldPassword" class="form-label">Old Password:</label>
              <input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="oldPassword" class="form-control form-control-sm"/>
            </div>
          </div>
          <div class="row">
            <div class="col mb-2">
              <label for="newPassword" class="form-label">New Password:</label>
              <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" class="form-control form-control-sm"/>
            </div>
          </div>
          <div class="row">
            <div class="col d-grid">
              <button type="button" (click)="update()" class="btn btn-sm btn-success" [disabled]="loading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                Submit
              </button>
            </div>
          </div>
          <div *ngIf="errorMessage" class="alert alert-warning">
            <strong>Warning!</strong> {{errorMessage | json}}
          </div>
        </div>
      </div>
    </div>
  </div> -->
