<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                KSEA e-Letters March 2024
              </h3>
              <p class="date">March 11, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                Dear KSEA Members,<br /><br />
                We are excited to inform you that the latest edition of Online KSEA letters has been published 
                and is now available.
                <br />
                This latest edition has candidate profiles for the upcoming KSEA election.
                <br />
                You can access the online edition here: 
                <span class="font-bold"><a href="https://ksealetters.com/2024/03/11/ksea-e-letters-march-2024/" 
                target="_blank">KSEA e-Letters March 2024</a></span>
                <br />
                If you have any news, event information, or articles you would like to share with other 
                KSEA members, please don’t hesitate to reach out to us (article submission 
                <a href="https://ksealetters.com/submit/" target="_blank">https://ksealetters.com/submit/</a> / 
                KSEA HQ <a href="mailto:sejong@ksea.org" target="_blank">sejong@ksea.org</a> / 
                Publication Director1 <a href=
                "mailto:jinhopark.ksea@gmail.com" target="_blank">jinhopark.ksea@gmail.com</a>). 
                The 52nd Publication Directors will review, edit, and publish your submission 
                on the next KSEA Letters.
              </p>
              <p>
                Stay tuned for more exciting updates!
              </p>
              <br />
              <p>
                Sincerely,
                <br />
                The 52nd Administration Publication Directors
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                           Next
                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
