<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">2024 KSEA Young Investigator Grant (YIG) Winners Announcement</h3>
              <p class="date">April 18, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <h3 class="txt-deco-line">2024 KSEA YIG Award in Science</h3>

              <div class="con-img_small">
                <a href="https://sites.google.com/view/ksea-art-contest" target="_blank">
                  <img
                    src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/announcement/Joonhee+Choi_photo.png"
                    alt="2024 KSEA YIG Award in Science" />
                </a>

                <div>
                  <p><span class="font-bold">Dr. Joonhee Choi<br>
                      Assistant Professor<br>
                      Department of Electrical Engineering<br>
                      Terman Faculty Fellow in the School of Engineering<br>
                      Stanford University</span></p>
                </div>
                <div class="p-justify">
                  <p>Dr. Joonhee Choi has been an Assistant Professor of Electrical Engineering and Terman Faculty
                    Fellow in the School of Engineering at Stanford University since 2023. He received his B.S. and
                    M.S. degrees in Mechanical Engineering from the Korea Advanced Institute of Science &amp;
                    Technology (KAIST) in 2008 and 2010, respectively, and earned his A.M. degree in Physics and Ph.D.
                    in Applied Physics from Harvard University in 2015 and 2019, respectively. He worked as a
                    postdoctoral researcher at the Institute for Quantum Information and Matter (IQIM) at California
                    Institute of Technology (Caltech) from 2019-2022.</p>

                  <p>Dr. Choi’s research focuses on engineering the dynamics of quantum many-body systems for both
                    exploring fundamental science and practical quantum applications. He has made seminal advances in
                    fields such as nonlinear nano-optics, ultrafast phenomena, solid-state and atomic physics, quantum
                    many-body physics, and applications in quantum metrology, communications, and information
                    processing.</p>

                  <p>Dr. Choi is a recipient of the Samsung Scholarship (2013-2018) and was a principal candidate of
                    the Fulbright Scholarship in 2012, which he waived in favor of the Samsung Scholarship. He
                    received the Outstanding Young Researcher Award in 2021 from the Association of Korean Physicists
                    in America (AKPA) and Distinction in Teaching for Teaching Fellows from Harvard University in
                    2016, among other honors. He has published 23 journal papers, presented 46 conference papers, was
                    awarded 4 US patents, gave approximately 40 invited talks, and wrote two book chapters and
                    articles. His publications have received over 3,000 citations with an h-index of 19.</p>

                  <p>With the KSEA Young Investigator Grant, Dr. Choi will investigate "the fundamental limits and
                    computational power of large-scale quantum simulators composed of Rydberg atoms". This work aims
                    to enable quantum scientists and engineers to identify the physical limits for quantum simulation
                    tasks, realize computationally useful tasks beyond existing classical capabilities, and advance
                    classical computing by benchmarking classical algorithms against high-fidelity experimental
                    datasets.</p>
                </div>
              </div>
              <br>
              <br>
              <h3 class="txt-deco-line">2024 KSEA YIG Award in Engineering</h3>

              <div class="con-img_small">

                <a href="https://sites.google.com/view/ksea-art-contest" target="_blank">
                  <img
                    src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/announcement/Dohyung+Kim_photo.jpg"
                    alt="2024 KSEA YIG Award in Engineering" />
                </a>
                <div>
                  <p><span class="font-bold">
                      Dr. Dohyun Kim<br>
                      Assistant Professor<br>
                      Department of Chemical and Biomolecular Engineering<br>
                      University of Pennsylvania<br>
                    </span></p>

                </div>
                <div class="p-justify">
                  <p>Dr. Dohyung Kim is an assistant professor in the Department of Chemical and Biomolecular
                    Engineering
                    at the University of Pennsylvania. He received his B.S. degree in Materials Science and Engineering
                    from Seoul National University in 2012, and his Ph.D. degree in Materials Science and Engineering
                    from
                    the University of California, Berkeley in 2018 under the supervision of Professor Peidong Yang. Dr.
                    Kim worked as a postdoctoral scholar at Stanford University under the supervision of Professor
                    Matteo
                    Cargnello from 2018-2022.</p>

                  <p>Dr. Kim’s research interest lies in electrochemistry, surface and interface science, nanomaterials,
                    catalysis, and energy conversion and storage. His Ph.D. work focused on nanoparticle catalysts for
                    the
                    chemical valorization of carbon dioxide. His postdoctoral work focused on heterogeneous catalysis
                    for
                    green chemistry, specifically the high-temperature catalytic production of turquoise hydrogen from
                    methane pyrolysis and the valorization of biomass products by electrochemical methods.</p>

                  <p>Dr. Kim has received several awards/honors including the Nanoscale Emerging Investigators 2024,
                    Scialog Fellow in Negative Emissions Science, Hanwha Non-Tenured Faculty Award, Kavli Energy
                    NanoScience Institute Best Thesis Prize, and the Gareth Thomas Materials Excellence Award. He was
                    also
                    the recipient of the MRS Graduate Student Award (Silver Prize) and a Samsung Scholar during his
                    Ph.D.
                    To date, he has published 30 journal papers in prestigious journals. His publications have received
                    over 10,000 citations with an h-index of 24. He has received 2 patents and has 2 pending.</p>

                  <p>With the KSEA Young Investigator Grant, Dr. Kim will investigate “Innovations in Interfacial Liquid
                    Modifiers for Enhanced CO2 Electroconversion,” aiming to research and develop the technology for
                    manipulating the interfacial liquid, comprised of the electric double layer near a solid
                    electrode/catalyst, and to address the challenge of enhancing the efficiency of CO2
                    electroconversion.
                    His research will contribute to offering a simple and broadly applicable means for advancing CO2
                    electroconversion technology.</p>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button class="btn-basic-line" routerLink="/announcement" routerLinkActive="active">
          List
        </button>
        <!-- <button class="btn-basic-line">
                                       Next
                                   </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>