<div class="wrap">
  <app-nav></app-nav>
  <app-activity-header></app-activity-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>Activity</li>
    <li>NMSC</li>
  </ul>
  <div class="scon-activity">
    <div class="con-event">
      <img src="https://ksea-files.s3.us-west-2.amazonaws.com/files/NMSC2024-poster.jpg" alt="NMSC 2024"/>
      <!-- <img src="assets/images/activity/nmsc/nmsc2023.jpg" alt="ukc 2023" /> -->
      <div class="content-event">
        <p class="event-title">National Math and Science Competition</p>
      </div>
      <button class="btn_blue">
        <a href="https://nmsc.ksea.org/" target="_blank"> NMSC Home</a>
      </button>
        <!-- <button class="btn_blue"><a href="https://nmsc.ksea.org/" target="_blank"> Open</a></button> -->
    </div>
    <div class="con-event-info">
      <div class="content-info">

        <ul>
          <li class="info-title">
            <img src="assets/images/icon_star.png" alt="event" />
            Event
          </li>
          <li>National Math and Science Compeition</li>
          <li>Click below for Online Registration</li>
          <li>
            <a
            href="https://nmsc.ksea.org/"
            target="_blank"
            style="padding: 2px"
          >
            <button class="btn-event">NMSC Home</button>
          </a>
        </ul>
      </div>

      <div class="content-info">
        <ul>
          <li class="info-title">
            <img src="assets/images/icon_calendar.png" alt="calendar" />
            Exam Date
          </li>
          <li>April 6, 2024</li>
          <!-- <li>April 6, 2024 - <span class="txt_red">ended</span></li> -->

        </ul>
      </div>
      <div class="content-info">
        <ul>
          <li class="info-title">
            <img src="assets/images/icon_location.png" alt="calendar" />
            Exam Locations
          </li>
          <li>Locations may vary by local chapter</li>
        </ul>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
