<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                KSEA Distinguished Guest Series: Science & Technology Diplomacy
              </h3>
              <p class="date">April 20, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <p><a href="https://youtu.be/KKpc2EumoW8" target="_blank">
            [Click here to re-watch this event]</a></p>
          <tr>
            <td>
              <div class="con-img">
                <a
                  href="https://youtu.be/KKpc2EumoW8"
                  target="_blank"
                >
                  <img
                    src="assets/images/announcement/poster_0420.jpg"
                    alt="KSEA Distinguished Guest Series: Science & Technology Diplomacy "
                  />
                </a>
              </div>
              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/Poster_0420.pdf"
                  target="_blank"
                  download="KSEA Distinguished Guest Series: Science & Technology Diplomacy"
                >
                  <button class="btn-view">Download</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                             Next
                                         </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
