<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                KSEA Distinguished Guest Series: The Second Quantum Revolution
              </h3>
              <p class="date">April 4, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <p><a href="https://youtu.be/TtxklH14_oM" target="_blank">
            [Click here to re-watch this event]</a></p>
          <tr>
            <td>
              <div class="con-img">
                <a
                  href="https://youtu.be/TtxklH14_oM"
                  target="_blank"
                >
                  <img
                    src="assets/images/announcement/0330_quantum.jpg"
                    alt="KSEA Distinguished Guest Series: The Second Quantum Revolution"
                  />
                </a>
              </div>
              
              <p>Dear KSEA members and family,</p>
              <p>
                I would like to invite you to “KSEA Distinguished Guest Series:
                The Second Quantum Revolution” that will be held on Wednesday,
                April 19th via zoom online.
              </p>
              <p>
                The emergence of quantum mechanics at the dawn of the 20th
                century marked a major turning point in our comprehension of
                physics, chemistry, materials science, semiconductor industry,
                optical communication systems, and many others. It spurred the
                development of modern science and technology, fundamentally
                transforming our world. In recent decades, the second revolution
                of quantum sciences has gained impetus, offering extraordinary
                opportunities for innovative computation and communication
                frameworks that surpass anything previously envisioned.
              </p>
              <p>
                In this Distinguished Guest Series, we host a dialog with the
                pioneers in the field to discuss the past trajectory and future
                prospect for quantum science and technology as it transitions
                from research to industry.
              </p>
              <p>
                I hope you listen to the 2022 Nobel lecture on quantum before
                coming to this event at
                <a
                  href="https://www.youtube.com/watch?v=SdE1cnsghH8"
                  target="_blank"
                >
                  https://www.youtube.com/watch?v=SdE1cnsghH8
                </a>
              </p>
              <p class="txt-deco-line">Event Details:</p>
              <br />
              <ul class="list-deco-disc">
                <li>
                  Time: Wednesday, April 19, 2023, 5:30-6:30pm (PT), 8:30-9:30pm
                  (ET)
                </li>
                <li>
                  Venue: Virtual. Anyone can join the meeting via Zoom
                  <a
                    href="https://us02web.zoom.us/j/83429055702?pwd=cnRDNC83cmdRODFrcit5dDE5RkJCZz09"
                    target="_blank"
                    >[Link]</a
                  >. Click
                  <a
                    href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=M2EzZmhqamRxcWpza2QwZDNnN3BuNzJpdnUgY181NTAwMWNmNzZkOGUyOTQ1NDljOWYyNDM5ZmM0ODcwN2NmNDgzNjhmZGVjY2RlZDc0ZTFjNjU1ZmIxZTBmNGM3QGc&tmsrc=c_55001cf76d8e294549c9f2439fc48707cf48368fdeccded74e1c655fb1e0f4c7%40group.calendar.google.com"
                    target="_blank"
                    >here</a
                  >
                  to add it to your calendar.
                </li>
                <li>
                  Host: President of KSEA Young-Kee Kim, University of Chicago
                </li>
                <li>
                  Speakers: Jungsang Kim (Duke University, longQ Inc.), Na Young
                  Kim (University of Waterloo), Sungwoo Choi (MIT)
                </li>
                <li>
                  Questions:
                  <a href="mailto:itm@ksea.org" target="_blank">itm@ksea.org</a>
                </li>
              </ul>
              <p>
                I hope to see many of you and your families and friends at this
                meeting. You do not have to register for the meeting. I would
                greatly appreciate it if you could reach out to non-KSEA members
                to join or renew KSEA membership by using this
                <a href="https://www.ksea.org/signUp" target="_blank">[link]</a>
              </p>
              <p>
                Looking forward to seeing many of you at the zoom meeting on
                April 19th.
              </p>

              <p>
                Sincerely,<br />
                Young-Kee Kim,<br />
                President of KSEA
              </p>
              <br />

              <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/0330_quantum.pdf"
                target="_blank"
                download="Quantum Revolution"
              >
                <button class="btn-view">Download</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                     Next
                                 </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
