<div class="wrap">
  <app-nav></app-nav>
  <app-award-header></app-award-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>Award</li>
    <li>Honors and Awards</li>
  </ul>
  <div class="scon-activity">
    <div class="con-event">
      <img src="assets/images/award/hac/hac2022.jpg" alt="hac 2022" />
      <div class="content-event">
        <p class="event-title">Honors and Awards</p>
        <!-- <p>Science and Technology Entrepreneurship Partners’ Upscale Program</p> -->
      </div>
      <button class="btn_blue">
        <a href="https://award.ksea.org/honors-and-awards" target="_blank">Honors and Awads Home</a>
      </button>
    </div>
    <div class="con-event-info">


      <div class="content-info">
        <ul>
          <li class="info-title">
            <img src="assets/images/icon_star.png" alt="event" />
            Event
          </li>
          <li>Honors and Awards</li>
          <li>
            <a
              href="https://award.ksea.org/honors-and-awards"
              target="_blank"
              style="padding: 3px"
            >
              <button style="width: 13em" class="btn-event">Honors and Awards Home</button>
            </a>
          </li>
        </ul>
       </div>



      <div class="content-info">
        <ul>
          <li class="info-title">
            <img src="assets/images/icon_calendar.png" alt="calendar" />
            Date
          </li>

            <li>Deadline: March 10, 2024</li>

          <!-- <li>
            <span class="txt_red">Expired</span>
          </li> -->
          
        </ul>
      </div>
      <div class="content-info">
        <ul>
          <li class="info-title">
            <img src="assets/images/icon_location.png" alt="calendar" />
            Location
          </li>
          <li>Vienna, VA</li>
        </ul>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
