<div class="wrap">
  <app-nav></app-nav>
  <app-about-header></app-about-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>About</li>
    <li>President’s Message</li>
  </ul>
  <div class="scon-left president">
    <div class="president-title">52nd President</div>
    <h2 class="font-ksea">Yongho Sohn</h2>
    <div class="con-president-message">
      <img src="assets/images/img_president_52nd.jpg" alt="52nd president" />
      <div>
        <p>Dear members of KSEA:</p>

        <p>
          It is with great pride and honor that I send this greeting to you as
          the newly inaugurated President of the KSEA. I extend my heartfelt
          gratitude to each and every one of you for entrusting me with this
          esteemed position, and to my utmost capacity, I am committed to
          serving the KSEA and its noble mission to advance scientific
          excellence and technological innovation.
        </p>
        <p><br /></p>
        <p>
          I would like to take a moment to reflect on the remarkable journey
          that has led KSEA to this point. KSEA for the past 51 years has been a
          source of immense talent, ingenuity, and resilience. Our members have
          made significant contributions to various fields of science and
          engineering, leaving an indelible mark through their groundbreaking
          discoveries, inventions and entrepreneurship. The outstanding
          contributions of KSEA members were vividly showcased at the 1st World
          Congress of Korean Scientists and Engineers, held in Seoul, Korea from
          July 4th to July 7th, 2023.
        </p>
        <p><br /></p>
        <p>
          As the president of KSEA, I had the honor of receiving honors on
          behalf of our organization (you can watch the video of the event
          here:&nbsp;<a href="https://www.youtube.com/watch?v=8vtYGVdmziQ">
            https://www.youtube.com/watch?v=8vtYGVdmziQ</a
          >). However, this humbling experience has deeply reminded and moved
          me, underscoring the significant role played by those, who came before
          me, through their unwavering passion, elevated our organization to
          such esteemed heights.
        </p>
        <p><br /></p>
        <p>
          Today, we find ourselves in an era of unprecedented opportunities and
          challenges. We face complex issues that demand our collective
          expertise, dedication, and collaboration. As the President of KSEA, I
          pledge to foster an inclusive and empowering environment where our
          members can leverage their diverse perspectives and experiences to
          address these challenges head-on.
        </p>
        <p>
          KSEA will continue to excel as a catalyst for fostering meaningful
          network and collaborations for scientists and engineers in the US and
          Korea. KSEA will continue to be the platform for knowledge-sharing,
          mentorship, and professional development, empowering the next
          generation of innovators to realize their full potential. By
          cultivating a vibrant network of support, we can inspire one another,
          nurture our talents, and create a lasting impact for our world.
        </p>
        <p>
          I am deeply committed to strengthening partnerships and collaborations
          with Korean organizations, institutions, and industry leaders. By
          forging strategic alliances, we can amplify our collective voice,
          advocate for policies that promote scientific advancement, and create
          opportunities for cross-disciplinary collaboration that drive
          transformative impacts.
        </p>
        <p><br /></p>
        <p>
          I am truly humbled to lead such an exceptional association of
          brilliant minds, dedicated professionals, and passionate volunteers.
          Together, let us build upon the strong foundation laid by our
          predecessors and strive for even greater heights. By embracing
          diversity, fostering innovation, and nurturing the spirit of
          exploration, KSEA will advance the frontiers of science and
          engineering, and inspire future generations to dream big and change
          the world.
        </p>
        <p><br /></p>
        <p>
          Thank you for your unwavering support, and I look forward to a
          productive and impactful tenure as the President of KSEA.
        </p>
        <p><br /></p>
        <p>Yours sincerely,</p>
        <p><br /></p>
        <div class="pr-sign">
          <img 
            alt="52nd_signature"
            src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/52nd-Signature.jpg"
          />
        </div>
        <p><br /></p>
        <p>Yongho Sohn</p>
        <p>52nd President of KSEA</p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
