<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">2024 KSEA Honors Announcement</h3>
              <p class="date">January 24, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                The Korean-American Scientists and Engineers Association (KSEA) is pleased 
                to accept nominations for 2024 Distinguished Service Membership (DSM) and 
                Honorary Membership (HM) to recognize those who have contributed exemplarily 
                to KSEA with distinction.
              </p>
              <p class="txt-deco-line">Eligibility</p>
              <ul class="list-deco-disc">
                <li>
                  Distinguished Service Membership (DSM): 
                  KSEA members who have served KSEA with distinction.
                </li>
                <li>
                  Honorary Membership (HM): KSEA members at least 65 years old 
                  who have retired with a distinguished career.
                </li>
              </ul>
              <p>
                <span class="txt-deco-line">Nomination Deadline:</span> March 10, 2024
              </p>
              <p>
                <span class="txt-deco-line">Nomination</span><br />

                Fill out the nomination form together with the KSEA Service-Point Table 
                and submit the form to <a href="mailto:sejong@ksea.org">sejong@ksea.org</a>. 
                To be considered favorably, the total service points earned by a nominee should be 
                greater than 125 for DSM, and the sum of his/her age and total service points should 
                be greater than 100 for HM.
              </p>
              <p>
                <span class="txt-deco-line">Evaluation Procedure</span><br />
                Honors & Awards Committee (HAC) will evaluate the nominated candidates 
                and recommend the finalists to the Executive Committee (EC). The EC will approve 
                the recommended HM. The EC will confirm the recommended DSMs and present them to 
                the KSEA Council for approval. The finalists will be notified via email by the end of May 2024.
              </p>
              <p>
                <span class="txt-deco-line">Recognition</span><br />
                The DSM, Distinguished Service Membership Award, and HM awardees will receive 
                KSEA plaques while additional KSEA Gold Medals will be bestowed on the DSM awardees. 
                Membership dues are waived for Distinguished Service and Honorary members. 
                It is noted that there is no voting right for non-paid members.
              </p>
              <p>
                <span class="font-bold">Click on the following link to download the Form:</span>
              </p>
              <ul class="list-deco-disc">
                <li>
                  <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/Form_2024+Distinguished_Service_Membership_or_Honorary_Membership-v2.docx"
                  target="_blank"
                  >Nomination Form: Distinguished Service Membership and Honorary Membership
                  </a>
                </li>
              </ul>
              <p>
                For any questions regarding the preparation of a nomination package, 
                please contact the KSEA HQ at <a href="mailto:sejong@ksea.org">sejong@ksea.org</a> or 
                the HAC Chair, Dr. Sangjin Ryu at <a href="mailto:sangjin.ryu@unl.edu">sangjin.ryu@unl.edu</a>.
              </p>
              <br>
              <p>
                Thank you,
                <br>
                KSEA HQ
              </p>
              <p>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/2024+KSEA+Honors+Announcement-v3.1.docx"
                target="_blank"
                download="2024 KSEA Honors Announcement"
              >
                <button class="btn-view">Download</button>
              </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                       Next
                   </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
