<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                2024년도 과학의 날 정부포상(과학기술진흥유공) 후보자 추천 요청
              </h3>
              <p class="date">Octoboer 17, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>
                <p>안녕하십니까 KSEA 회원 여러분,</p>
                <br />
                <p>
                  한국정부에서는 제 57 회 과학의 날 ’(2024.4.21) 을 맞이하여 정부는 대한민국 과학기술 진흥 
                  및 발전에 크게 기여한 공로자를 발굴 , 포상하고자 하오니 후보자를 널리 추천하여 주시기 바랍니다.
                </p>
                <p>
                  ※ 접수방법 : 온라인 ( <a href="https://prize.kofst.or.kr" target="_blank">
                    https://prize.kofst.or.kr</a> ) 
                  또는 우편발송 ( 접수처 주소 붙임 1 참조 )
                </p>
                <p>
                  ※ 추천기한 :  2023. 11. 15.( 수 ) 오후 6 시까지 ( 우편접수는 접수마감일 도착분까지 유효 )
                </p>
                <p>
                  ※ 반드시 2024 년도 정부포상 추천서식 ( 붙임 2) 을 활용하여 작성ㆍ제출
                </p>
                <p>
                  ※ 문의처 : 한국과학기술단체총연합회 과학문화부 
                  ( 이메일 <a href="mailto:prize@kofst.or.kr" target="_blank">prize@kofst.or.kr</a>, 
                  <a href="mailto:yrk@kofst.or.kr" target="_blank">yrk@kofst.or.kr</a>,  02-3420-1312 )
                </p>
                <p>
                  붙임 1. 2024 년도 과학의 날 기념 정부포상 ( 과학기술진흥유공 ) 공고문 1 부 <br>
                  붙임 2. 정부포상계획 , 정부포상 추천서 작성요령 및 서식 , 국민추천안내 1 부
                </p>
                <p>
                  <br />
                  감사합니다.<br>
                  KSEA HQ
                </p>

                <p>
                  <a
                    href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/231017_KOFST_Announcement.pdf"
                    target="_blank"
                    download="KOFST_Announcement"
                  >
                    <button class="btn-view">Download "붙임 1"</button>
                  </a>
                </p>
                <p>
                  <a
                    href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/231017_KOFST_Attachment02.zip"
                    target="_blank"
                    download="KOFST_Attachment_02"
                  >
                    <button class="btn-view">Download "붙임 2"</button>
                  </a>
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                                 Next
                                                             </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
