<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                2023 Young Professional Forum (YPF) Announcement
              </h3>
              <p class="date">February 2, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                KSEA is pleased to announce the 2023 Young Professional Forum
                (YPF) program to be held from July 3rd to July 7th, 2023, in
                Seoul, South Korea. Graduate students and postdocs with US
                permanent residency or citizenship who have not attended
                previous YGF or YPF are eligible to apply and participate in
                this program. For undergraduate students, please see the
                separate announcement for the Young Generation Forum (YGF).
              </p>
              <p>
                Each year since 2002, the Korean Federation of Science and
                Technology Societies (KOFST) and the Korean-American Scientists
                and Engineers Association (KSEA) have been hosting the Young
                Generation Forum / Young Professional Forum (YGF/YPF) by
                bringing young Korean Heritage scientists and engineers from all
                over the world to Korea. The goal is to share the Korean vision
                of science and technology around the world.
              </p>
              <img
                src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/2022_ygf_photo.png"
                alt="2023 과총 차세대 과학기술리더 Net 활동 해외참가자 모집"
              />
              <p class="txt-deco-line">Eligibility and Criteria</p>
              <ul class="list-deco-disc">
                <li>
                  Graduate students and postdoctoral scholars in a science or
                  engineering field*::
                </li>
                <li>
                  *Postdoctoral researchers must be within 5 years of the
                  acquisition of the doctoral degrees
                </li>
                <li>Born on or after January 1, 1988</li>
                <li>Able to commit to attendance by March 10th, 2023</li>
                <li>Able to communicate in English and Korean</li>
                <li>
                  U.S. Citizens or Permanent Residents (with verification of US
                  Passport or US Permanent Resident card)
                </li>
                <li>Have not attended YGF or YPF in any previous years</li>
                <li>
                  Deadline for application is February 24, 2023, 11:59 pm P
                </li>
              </ul>
              <p class="text-deco-mininfo">
                Note: Additional consideration will be provided for those who
                are socially disadvantaged (orphans, single parents, adoptees,
                etc.)
              </p>
              <p class="txt-deco-line">YPF Program Highlights</p>
              <ul class="list-deco-disc">
                <li>Trip to Korea includes hotel, meals, and activities</li>
                <li>Airfare support to Korea</li>
                <li>
                  Opportunity for global networking with scientists and
                  engineers
                </li>
                <li>Attend lectures by industry leaders</li>
                <li>Heritage and cultural tours</li>
                <li>Once-in-a-lifetime experience</li>
              </ul>
              <p>
                This year, YPF will bring together 60 of the brightest ethnic
                Koreans from all over the world, including Korea itself, US,
                Canada, UK, Germany, France, Russia, Australia, and China. KSEA
                is proud to be sending 6 delegates from the United States to
                YPF.
              </p>
              <p>
                YPF is a place for mutual exchange, and for strengthening and
                fostering the capacity of future generations of domestic and
                overseas talent. In addition, the goals are to provide training
                and networking opportunities to grow into global leaders;
                identify the current status of science and technology
                development amongst our countries and promote academic
                exchanges.
              </p>
              <p class="txt-deco-line">Program Summary</p>
              <table>
                <colgroup>
                  <col width="20%" />
                </colgroup>
                <tr>
                  <th>DATE</th>
                  <th>PROGRAM*</th>
                </tr>
                <tr>
                  <td>Monday, 7/3</td>
                  <td>
                    YPF is a place for mutual exchange, and for strengthening
                    and fostering the capacity of future generations of domestic
                    and overseas talent. In addition, the goals are to provide
                    training and networking opportunities to grow into global
                    leaders; identify the current status of science and
                    technology development amongst our countries and promote
                    academic exchanges.
                  </td>
                </tr>
                <tr>
                  <td>Tuesday, 7/4</td>
                  <td>Cultural tour</td>
                </tr>
                <tr>
                  <td>Wednesday, 7/5</td>
                  <td>
                    Opening Ceremony of the World Korean Scientists and
                    Engineers Conference, YGF Country Booths, Poster
                    presentation, Group discussion results, Networking dinner
                  </td>
                </tr>
                <tr>
                  <td>Thursday, 7/6</td>
                  <td>Industry Tour</td>
                </tr>
                <tr>
                  <td>Friday, 7/7</td>
                  <td>
                    Attend the Next Generation Leaders Session of the World
                    Korean Scientists and Engineers Conference & Closing
                    ceremonytyju
                  </td>
                </tr>
              </table>
              <p class="text-deco-mininfo">* Program is subject to change</p>
              <p class="txt-deco-line">
                Application (you must complete all three parts)
              </p>
              <ul class="list-deco-disc">
                <li>
                  Sign-up for or renew your KSEA membership at the<a
                    href="https://www.ksea.org/signIn"
                    target="_blank"
                  >
                    KSEA membership page
                  </a>
                  <br />a. $15 for graduate student members
                </li>
                <li>
                  Fill out and submit the
                  <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSdDodcuHlwaWJjCCJjERWEkXEMKBWcblDjowXalWCu1m8c61w/viewform"
                    target="_blank"
                  >
                    YPF Application</a
                  >
                  <br />a. Submit proof of legal US Residency <br />b. US
                  Passport, US Green Card, US Permanent Resident card – ⓘ Social
                  security cards, driver's licenses, state ID cards, and bank
                  statements are NOT valid proofs of legal residency. <br />c.
                  To help us match your file with your application, please name
                  your file: <br />
                  LastName_Firstname_Birthyear.ext (example: Doe_John_2000.pdf).
                  Instructions are also given in the application.
                </li>
              </ul>
              <p>
                Please review the FAQ below for additional information. Please
                write to<a href="mailto:yg.committee@ksea.org " target="_blank">
                  yg.committee@ksea.org</a
                >
                with questions.
              </p>
              <p>Regards,</p>
              <p>
                Clara Kim, Andy Kim, Matthew Piljoo Jeon<br />
                2023 KSEA YGF & YPF Co-Chairs
              </p>
              <p class="txt-deco-line">Frequently Asked Questions</p>
              <p class="font-bold">Eligibility Questions</p>
              <p>
                Q: I am starting a graduate program this fall. Am I still
                eligible?
                <br />
                A: No, you are not eligible.
              </p>
              <p>
                Q: Do post-baccalaureate programs count as graduate degrees?
                <br />
                A: No, unfortunately, they do not.
              </p>
              <p>
                Q: I am a young professional (i.e. non-student); can I still
                apply?
                <br />
                A: Unfortunately, no.
              </p>
              <p>
                Q: I have attended school in the US, but I am not a citizen nor
                a permanent resident. May I still apply?
                <br />
                A: Unfortunately, no.
              </p>
              <p>
                Q: I am not a US Citizen / Permanent Resident. Can I still
                apply?
                <br />
                A: KSEA is only in charge of the US applicants. Other countries
                (e.g. Canada) must apply through their sponsoring organization.
              </p>
              <p>
                Q: Do I need to be active in KSEA, or a current member?
                <br />
                A: Yes. The only requirement is that you are a paid/registered
                member of KSEA at the time of application.
              </p>
              <p>
                Q: Are there any exceptions to the eligibility requirements?
                <br />
                A: No, unfortunately not.
              </p>
              <p class="font-bol">Application Questions</p>
              <p>
                Q: Is a copy and paste from an unofficial transcript OK for the
                application?
                <br />
                A: Yes, it is. However, all information on your application may
                be subject to verification.
              </p>
              <p>
                Q: What are the criteria for judging applicants?
                <br />
                A: The admissions process is holistic. We are looking for three
                things: academic achievement, leadership achievement (more
                weight given in regards to KSEA activity) and/or interesting
                experiences. It isn't necessary to show achievement in all three
                aspects, but please try to show positive attributes in at least
                one of these aspects. Also, as this is an intense networking
                forum, we want to see that you can handle long days that are
                full of meeting many new and very interesting people,
                sightseeing, and working on team building exercises.
              </p>
              <p>
                Q: What should I do if my summer plans are unknown?
                <br />
                A: Unfortunately, you will need to determine your summer plans
                before applying. We highly discourage people from canceling as
                KOFST does not wait-list candidates and cancellations reduce the
                number of spots accepted from the U.S. the following year. On
                the other hand, you may submit your application, and can let us
                know by the application deadline if you still would like to
                attend.
              </p>
              <p>
                Q: Are there any other special considerations?
                <br />
                A: Yes, KOFST encourages socially disadvantaged students to
                apply, such as being an adoptee, an orphan, from a single parent
                family, etc. There is a place in the application to indicate
                this.
              </p>
              <p>
                Q: What does it mean to be a finalist versus getting the final
                notification from KOFST?
                <br />
                A: Finalist means that you were nominated by KSEA to attend, and
                are likely to attend. However, final acceptance is pending
                review by the KOFST.
              </p>
              <p class="font-bold">Program Questions</p>
              <p>
                Q: Is the trip really covered?!
                <br />
                A: Yes, food and lodging is fully covered by KOFST at no expense
                to you. You will have to purchase your own flight tickets and
                will be reimbursed after the conference, up to $1,701 (West
                Coast), $2,243 (Central), and $2,322 (East Coast), for a
                round-trip. Your location (west, central, or east) is determined
                by the address listed on your application.
              </p>
              <p>
                Q: What if my round-trip flight costs more than the allocated
                amount?
                <br />
                A: Unfortunately, summertime flights to Korea are expensive and
                the reimbursement amount might not cover the entire amount.
                Attendees are expected to cover the difference, but we hope that
                the free lodging, free meals, and the flight reimbursement (plus
                the experience!) offset any major financial burden.
              </p>

              <p>
                Q: Can I arrive earlier or leave later than the YPF program
                dates?
                <br />
                A: Yes, we encouraged participants to arrive early or stay later
                for further sightseeing, family visits, or post-forum meet-ups
                with your new YPF friends depending on your schedule. You may
                purchase your airplane ticket to accommodate this extended
                schedule. However rooming and meals outside of the YPF program
                will be on your own. You may coordinate with your fellow US
                attendees via Facebook group or email once accepted.
              </p>
              <p>
                Q: What is the purpose of this trip?
                <br />
                A: The goal of this program is to increase collaboration and
                create networks between promising young students with Korean
                heritage from around the world. The idea is to start an
                intellectual / cultural exchange, and to help promote ties
                between ethnic Koreans around the world as the future global
                leaders.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                           Next
                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
