<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                Request for Information (RFI) - 2024 KEIT Demand Survey
              </h3>
              <p class="date">May 29, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                Dear KSEA members,<br />
                <br />
                In cooperation with the Korea Evaluation Institute of Industrial Technology (KEIT), 
                KSEA is conducting a technology demand survey. The information from this survey will 
                serve as a basis of KEIT's Request for Proposals (RFP) for the next fiscal year. 
                Your responses will help initiate joint R&D projects between Korea and U.S. researchers.
              </p>
              <p>
                There are many successful cases from the past projects with KEIT and MOTIE, South Korean 
                Ministry of Trade, Industry and Energy which were triggered by the KEIT technical demand 
                survey.
              </p>
              <p>
                This is an excellent opportunity for KSEA members to collaborate with Korean colleagues 
                through projects funded by the Korean agencies. Please join in this opportunity by 
                submitting this survey.
              </p>
              <p>
                <span class="font-bold">Who may submit:</span><br />
                1) Scientists and engineers ONLY who are affiliated with a U.S. institution<br />
                2) Those who are visiting the U.S. while affiliated with a Korean institute are NOT eligible<br />
                3) Graduate students or Postdoctoral Fellows affiliated with a U.S. Institution (please check 신진연구자 in the form)
              </p>
              <p>
                <span class="font-bold">How to submit:</span><br />
                1) Read the attached instructions and fill in your survey in this form.<br />
                a. Korean is the preferred language, but you may write in English in the form.<br />
                b. Each person may submit up to two (2) surveys (<span class="font-bold">$100</span> per survey)<br />
                2) Submit the form.<br />
                a. by e-mailing to <a href="mailto:project@ksea.org" target="_blank">project@ksea.org</a><br />
                b. by <span class="font-bold">5:00pm, June 30, 2024</span> (proposer's local time)
              </p>
              <p>
                <span class="font-bold">Compensation & Benefit:</span><br />
                1) Members who submitted accepted surveys will receive <span class="font-bold">$100
                   per an accepted survey</span> as a token of appreciation<br />
                2) The selected proposers will be asked to participate in the KEIT Forum that will be held during UKC.<br />
                We look forward to your R&D ideas for this collaboration opportunity. Please feel free to share this opportunity with your colleagues who might be interested in participation.<br />
                Please direct any inquiries to <a href="mailto:project@ksea.org" target="_blank">project@ksea.org</a>.
              </p>
              <br />
              <p>
                Sincerely,<br />
                Principal Investigator: Yongho Sohn, PhD. President of KSEA<br />
                Co-Principal Investigator: Jeongwon Park, PhD, Project Director of KSEA
              </p>
              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240529_KEIT_SurveyForm.docx"
                  target="_blank"
                  download="2024 KEIT Demand Survey Form_Kor_Eng"
                >
                  <button class="btn-view">Download Survey Form</button>
                </a>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240529_KEIT_TRL.pdf"
                target="_blank"
                download="PD분야별 세부기술_초격차 기술분야"
              >
                <button class="btn-view">Technology Readiness Level</button>
              </a>          
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                           Next
                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
