<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Media</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Media</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">청년과학기술자 리더십 학술대회</h3>
              <p class="date">April 13, 2022</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                <a
                  href="http://www.koreatimes.com/article/1399050"
                  target="_blank"
                >
                  <img src="https://ksea-files.s3.us-west-2.amazonaws.com/media/media_1.jpeg" alt="media" />
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/media"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                   Next
               </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
i
