<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">2023 KSEA Election Announcement</h3>
              <p class="date">January 17, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                The 2023 KSEA General Election to elect President-Elect, Vice
                Presidents, Auditor, and Technical Group Councilors will take
                place through the secured e-voting system during the online
                voting period of March 15 to April 7, 2023.
              </p>
              <p>
                The following officer positions will be filled in this year’s
                election:
              </p>
              <ul class="list-deco-disc">
                <li>President-Elect</li>
                <li>Vice Presidents 1 and 2</li>
                <li>Auditor</li>
                <li>
                  Councilors for Technical Group A-1 (Physics), Technical Group
                  A-2 (Chemistry), Technical Group A-3 (Mathematics, Statistics,
                  Geo/Atmospheric/Ocean Sciences), Technical Group B-1 (Health
                  Sciences: Medical Science, Veterinary Medicine, Pharmaceutical
                  Science, Public Health, Nursing, etc.), Technical Group B-2
                  (Agricultural Sciences: Agriculture, Ecology, Food, Nutrition,
                  etc.), Technical Group C-2 (Chemical, Textile, Energy, and
                  Nuclear Engineering), and Technical Group C-3 (Mechanical,
                  Aerospace, and Naval Engineering); and a YG Representative
                </li>
              </ul>
              <p>
                <span class="txt-deco-line">Voting Method:</span>Electronic
                voting via the Internet
                <span class="font-bold"> (e-voting)</span>
                <br />

                This year’s voting will be done by electronic means only.
                e-Voting announcement will be sent via e-mail on or after
                Wednesday, March 15, 2023.
              </p>
              <p>
                <span class="txt-deco-line">Voting Period:</span>
                <span class="font-bold">
                  Wednesday, March 15, 2023 – Friday, April 7, 2023</span
                ><br />

                KSEA Election Site will accept the e-Voting ballots during the
                voting period specified above. Any ballot cast after April 7,
                11:59 PM (EDT) will be considered ineligible.
              </p>
              <p>
                <span class="txt-deco-line">Voter Eligibility:</span><br />
                Any member who paid his or her dues at least once in the last
                two terms from
                <span class="font-bold"> May 1, 2021 to February 28, 2023 </span
                >will be given an election ballot if a valid email address is
                provided and recorded in the membership system. Any member
                without a valid email address will not be given the election
                ballot according to the Election Policy.
              </p>
              <p>
                <span class="txt-deco-line">Voting Procedure:</span><br />
                The election information will be sent via e-mail on or after
                March 15, 2023. An eligible voter will need to log in to the
                KSEA Election Site with his/her KSEA ID and password. Valid
                email address and information is required for the voter
                verification. Invalid inputs such as “.” and “1” will make the
                vote invalid. The election result will be announced on the
                website as soon as possible.
              </p>
              <p>
                <span class="txt-deco-line"
                  >Potential Prizes to Yourself and Your Chapters:</span
                >
              </p>
              <ul class="list-deco-disc">
                <li>
                  Six different chapters with at least 25 eligible votes (total
                  $3,000 support):
                  <br />
                  (a) $750 to the chapter with the highest voting RATE, $500 to
                  the 2nd & $250 to the 3rd; (b) $750 to the chapter with the
                  highest NUMBER of votes, $500 to the 2nd highest & $250 to the
                  3rd. A chapter can take only one prize from the voting rate or
                  number.
                </li>
                <li>
                  $50 Amazon gift card to 20 voters (Just by casting a vote, you
                  will be entered a raffle)
                </li>
              </ul>
              <p>
                The election result will be announced on the website on or after
                <span class="font-bold"> Saturday, April 8, 2023.</span><br />

                KSEA Election Committee
              </p>
              <p></p>
              <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/2023_ksea_election_announcement.pdf"
                target="_blank"
                download="2023 KSEA Election Announcement"
              >
                <button class="btn-view">Download</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                     Next
                 </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
