<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Job Opportunities</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Job Opportunities</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                Full-time Researcher Job posting - 3D Printing Manufacturing
                Innovation Center
              </h3>
              <p class="date">April 20, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                Korea Institute of Industrial Technology (KITECH) is looking for
                a new full-time researcher.
              </p>

              <p class="txt-deco-line">Requirements:</p>
              <ul class="list-deco-disc">
                <li>
                  Field: Data-based 3D printing quality prediction and control
                </li>
                <li>
                  Degree and Major: Doctoral degree / Mechanical Engineering,
                  Mechatronics, etc.
                </li>
              </ul>
              <p class="txt-deco-line">Job information:</p>
              <ul class="list-deco-disc">
                <li>Office: 113-58 Seohaean-ro, Siheung-si, Gyeonggi-do</li>
                <li>Position: Full-time Researcher</li>
              </ul>
              <p class="txt-deco-line">Required document:</p>
              <ul class="list-deco-disc">
                <li>Resume, cover letter (write online)</li>
                <li>
                  Copies of career/employment certificates and qualifications
                </li>
                <li>Have good communication and interpersonal skills</li>
                <li>
                  Research documents (journal article, patents, technical
                  report, etc)
                </li>
                <li>Other attached documents (below link)</li>
              </ul>
              <p class="txt-deco-line">Submission Deadline:</p>
              <ul class="list-deco-disc">
                <li>May 2, 2023 16:00(Korea Standard Time)</li>
              </ul>
              <p>
                Please find the detailed job information and application process
                from the link below.
                <a
                  href="https://recruit.kitech.re.kr/recruit/recruit_view.php?idx=216"
                  target="_blank"
                >
                  https://recruit.kitech.re.kr/recruit/recruit_view.php?idx=216</a
                >
                The attached file has more information.
              </p>
              <p>
                For any questions, contact us via the following e-mail or phone
                number
              </p>
              <p>
                손용 (공학박사, 수석연구원) 단장, 3D프린팅제조혁신사업단 at
                <a href="mailto:sonyong@kitech.re.kr" target="_blank"
                  >sonyong@kitech.re.kr</a
                >
                or (+82)010-6207-6862.
              </p>
              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/job/job_3d.docx"
                  target="_blank"
                  download="한국생산기술연구원 2023년 1차 정규직 채용공고"
                >
                  <button class="btn-view">Download</button>
                </a>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/job/job_3d.pdf"
                  target="_blank"
                  download="직무기술서 (시흥센터 - 금속3D프린팅)"
                >
                  <button class="btn-view">Download</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/job"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                             Next
                         </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
