<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                2024 BWI Mentorship for Global Startups
              </h3>
              <p class="date">March 11, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="https://bluewhale-invest.com/"
                  target="_blank">
                  <img
                  src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240311_BWI_2024+BWI+Mentorship+for+KR+Government+Support-1.jpg"
                  alt="2024 BWI Mentorship for KR Government Support_1"
                />
                <img
                  src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240311_BWI_2024+BWI+Mentorship+for+KR+Government+Support-2.jpg"
                  alt="2024 BWI Mentorship for KR Government Support_2"
                />
                <img
                  src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240311_BWI_2024+BWI+Mentorship+for+KR+Government+Support-3.jpg"
                  alt="2024 BWI Mentorship for KR Government Support_3"
                />
                <img
                  src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240311_BWI_2024+BWI+Mentorship+for+KR+Government+Support-4.jpg"
                  alt="2024 BWI Mentorship for KR Government Support_4"
                />
                <img
                  src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240311_BWI_2024+BWI+Mentorship+for+KR+Government+Support-5.jpg"
                  alt="2024 BWI Mentorship for KR Government Support_5"
                />
              </a>
              <p>
                <a
                href=
                "https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240311_BWI_2024+BWI+Mentorship+for+KR+Government+Support(KOR).pdf"
                target="_blank"
                download="2024 BWI 한국정부 지원사업 프로그램"
                >
                <button class="btn-view">Download (Korean)</button>
                </a>
                <a
                href=
                "https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240311_BWI_2024+BWI+Mentorship+for+KR+Government+Support(ENG).pdf"
                target="_blank"
                download="2024 BWI Mentorship for KR Government Support"
                >
                <button class="btn-view">Download (English)</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                           Next
                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
