<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                KSEA’s 2nd Mid-Career Development Workshop Announcement
                (Targeted to Associate Professors or Transition to Associate
                Professors) and Raffles
              </h3>
              <p class="date">February 16, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="con-img">
                <a
                  href="https://docs.google.com/forms/d/e/1FAIpQLSeX8sgEqFx0AqTdisnfLnQ6Nrj5JBgSmaXxWGwWGeCFdZdwdg/viewform"
                  target="_blank"
                >
                  <img
                    src="assets/images/announcement/2nd_ksea_mid_career_development.png"
                    alt="The 2nd KSEA Mid-Career Development Workshop"
                  />
                </a>
              </div>

              <p>Dear KSEA</p>
              <p>
                KSEA is pleased to host the 2nd Mid-Career Development Workshop.
                We are honored to have three distinguished Korean-American
                leaders in academia as panelists. This event is free to
                <span class="font-bold"> KSEA active members</span> (please
                join/renew your membership
                <a href="https://www.ksea.org/signUp" target="_blank">
                  https://www.ksea.org/signUp</a
                >
                and
                <span class="font-bold">complete purchasing a membership</span
                >). We will have up to 45 participants (first come, first
                serve).
              </p>
              <p class="txt-deco-line">Event Detail:</p>
              <p>
                Our panelists are Prof.
                <a
                  href="https://engineering.wustl.edu/faculty/Young-Shin-Jun.html"
                  target="_blank"
                  >Young-Shin Jun</a
                >
                (Washington University in St. Lous), Prof.
                <a
                  href="https://www.linkedin.com/in/nosang-m-b599036b?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BBOJN1Z54SD2M%2F32Dbod8Ug%3D%3D"
                  target="_blank"
                  >Nosang Myung</a
                >
                (University of Notre Dame), and Prof.
                <a
                  href="https://www.linkedin.com/in/young-sup-yoon-03a69333?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B%2Fecj37CPTpe1XRWXLjnPFQ%3D%3D"
                  target="_blank"
                  >Young-sup Yoon</a
                >
                (Emory University). Prof.
                <a
                  href="https://www.linkedin.com/in/brianuva?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B0uC55JAqQC6Cz5wrGBpu5A%3D%3D"
                  target="_blank"
                  >Byungkyu Brian Park</a
                >
                (University of Virginia) will moderate the workshop.
              </p>
              <ul>
                <li>At 8 PM ET, Thurs., February 23, 2023</li>
                <li>
                  8 - 9 PM: Presentations by Panelists (about 15 min. each)
                </li>
                <li>9 - 10 PM: Breakout sessions</li>
                <li>
                  Virtual Zoom (zoom link will be sent to registered
                  participants)
                </li>
              </ul>
              <p>
                This workshop is designed for those who need a refresh on their
                academic careers, primarily through sharing personal experiences
                by the panel and the opportunity to build peer networking among
                participants. KSEA plans to have a gathering at the UKC 2023 in
                Dallas. If you are no longer a junior faculty but seeking a full
                professorship and have experienced any mid-career crisis, this
                workshop is for you!
              </p>
              <p>
                Raffle: After the event, we will select two participants by
                drawing an online raffle and send them Amazon gift cards as a
                token of gratitude ($25 each).
              </p>
              <p>
                Please register NOW! <br />
                <a
                  href="https://docs.google.com/forms/d/e/1FAIpQLSeX8sgEqFx0AqTdisnfLnQ6Nrj5JBgSmaXxWGwWGeCFdZdwdg/viewform"
                  target="_blank"
                >
                  https://forms.gle/XD4ZqhLpnLqKjRsU8</a
                >
              </p>
              <p>
                If you have any questions, don't hesitate to contact
                <a href="mailto:sejong@ksea.org" target="_blank">
                  sejong@ksea.org</a
                >!
              </p>
              <p>
                Regards,<br />
                Young-Kee Kim<br />
                President of KSEA
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                           Next
                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
