<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                Call for Members of Korean-American AeroSpace Science and Technology Association (KASSTA)
              </h3>
              <p class="date">February 07, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                Dear KSEA member,
              </p>
              <br><br>
              <p>
                We would like to invite you to join the Korean-American AeroSpace Science and 
                Technology Association (KASSTA), which is being established for timely and broader 
                collaborations in Space & Aeronautics related fields.<br>
                KASSTA is planned to be an Affiliated Professional Society of KSEA, when it is qualified 
                and approved by the KSEA council.<br>
                Please provide your KSEA ID in the <a href=
                "https://docs.google.com/forms/d/e/1FAIpQLSe8ECV3lfhmW3JnS6Oq7AYSAayOJAVQFZe71709znxpriZ_ww/viewform" 
                target="_blank">Google Form</a>  to join KASSTA.<br>
                We will send you the Zoom link for the next KSSTA meeting once you complete the form.
              </p>
              <br>
              <p>
                Looking forward to hearing from you soon,  
              </p>
              <br>
              <p>
                Eun-Suk Seo, University of Maryland<br>
                Jeong-Beom Ihn, Boeing<br>
                Deok-Ho Kim, Johns Hopkins University<br>
                Jaehoon Kim, Boeing<br>
                Yongho Sohn, University of Central Florida<br>
              </p>
              <br>
              <!-- <p>
                <a
                href=
                "https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240206_MSIT_Announcement+of+Brain+Pool+fellowship+Program+of+2024(ENG).pdf"
                target="_blank"
                download="Announcement 1"
                >
                  <button class="btn-view">Announcement (ENG)</button>
                </a>
                <a
                href=
                "https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240206_MSIT_Announcement(KOR).pdf"
                target="_blank"
                download="Announcement 2"
                >
                  <button class="btn-view">Announcement (KOR)</button>
                </a>
              </p> -->
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                       Next
                   </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
