<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">글로벌 인재 발굴을 위한 국가인재 DB 회원 등록 안내 (NHRDB Membership Registration)</h3>
              <p class="date">July 18, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Dear KSEA Members,</p>
              <p>
                Please find the attached announcement from the Ministry of
                Personnel Management (인사혁신처) to promote the "Global HR
                Program" of Korean Government. If you wish to register your
                personal information in NHRDB, please fill out the attached
                application form and submit it to
                <a href="mailto:hrdb@korea.kr" target="_blank"
                  >hrdb@korea.kr, </a
                > 
                <a href="mailto:choyj12@korea.kr" target="_blank"
                  >choyj12@korea.kr.</a
                >
              </p>
              <p>
                For any questions, please contact Ministry of Personnel
                Management at hrdb@korea.kr,
                <a href="mailto:choyj12@korea.kr" target="_blank"
                  >choyj12@korea.kr </a
                >/ (Phone) +82-44-201-8416
              </p>
              <p>Thank you, <br />KSEA HQ</p>
              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/230718_Introduction+to+the+NHRDB+and+Membership+Registration_final.docx"
                  target="_blank"
                  download="글로벌 인재 발굴을 위한 국가인재 DB 회원 등록 안내"
                >
                  <button class="btn-view">Announcement-Download</button>
                </a>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/230718_4.Application+for+Registration+in+the+NHRDB.docx"
                  target="_blank"
                  download="글로벌 인재 발굴을 위한 국가인재 DB 회원 등록 안내"
                >
                  <button class="btn-view">Application-Download</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                           Next
                                                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
