<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                2023 KSEA Young Investigator Grant (YIG) Winners Announcement
              </h3>
              <p class="date">April 25, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="con-img_small">
                <p class="txt-deco-line">2023 KSEA YIG Award in Science</p>
                <img
                  src="assets/images/announcement/changrim_lee.jpg"
                  alt="Dr. Changrim Lee, Ph.D. "
                />
                <p>
                  Dr. Changrim Lee, Ph.D.<br />
                  Postdoctoral Research Fellow Department of Ophthalmology at
                  Harvard Medical School Schepens Eye Research Institute of
                  Massachusetts Eye and Ear Infirmary
                </p>
              </div>
              <p>
                Dr. Changrim Lee is a postdoctoral research fellow in the
                department of Ophthalmology at Harvard Medical School and
                Schepens Eye Research Institute of Massachusetts Eye and Ear
                Infirmary. He received his B.S. in Chemistry and M.S. in
                Biochemistry from Yonsei University in 2011 and 2014,
                respectively, and earned his Ph.D. in Pharmacology and
                Pharmaceutical Sciences from the University of Southern
                California in 2020, under the supervision of Professors Andrew
                MacKay and Sarah Hamm-Alvarez.
              </p>
              <p>
                Dr. Lee’s research interest lies at the interface of
                molecular/cellular biology, protein chemistry, polymer
                biophysics, and drug delivery technologies. His Ph.D. work
                focused on fundamental aspects of nanoparticle-mediated delivery
                of small and macromolecules and their pharmacology in vitro and
                in vivo. <br />He currently focuses on the biology of
                conjunctival epithelium and ocular surface health, and studies
                conjunctival biology and ocular surface pathophysiology in
                epigenomics, intracellular, extracellular, and pharmacology
                aspects.
              </p>
              <p>
                Dr. Lee is the recipient of NIH T32 Kirschstein Institutional
                National Research Service Award from 2022 through 2023 and was
                awarded University of Southern California Provost Fellowship
                from 2014 through 2016. He received several awards including
                Hanmi-KASBP Fellowship Award of Korean American Society in
                Biotech and Pharmaceuticals and Outstanding Predoctoral Research
                Award of Association of Korean Neuroscientists, both in 2022. So
                far, he has published 8 journal papers in prestigious journals,
                6 papers among which he is the first author for. His
                publications have received over 89 citations with an h-index of
                6.
              </p>
              <p>
                With the KSEA Young Investigator Grant, Dr. Lee will investigate
                “Sex difference in the profile of extracellular bioactive lipids
                of conjunctival epithelial cells during allergic inflammation”
                and the successful execution of this proposal will provide new
                insights into the bioactive lipid-mediated ocular surface
                protective mechanism generated by the conjunctiva and the basis
                for a tailored sex-dependent, lipid-based therapeutic approach
                in the management of vision-debilitating ocular surface
                diseases.
              </p>
              <div class="con-img_small">
                <p class="txt-deco-line">2023 KSEA YIG Award in Engineering</p>
                <img
                  src="assets/images/announcement/hyojong_jeong.jpg"
                  alt="Dr. Changrim Lee, Ph.D. "
                />
                <p>
                  Hyoyoung Jeong, Ph.D.<br />
                  Department of electrical and computer engineering University
                  of California, Davis Affiliated faculty at the Center for
                  Neuroengineering & Medicine
                </p>
              </div>
              <p>
                Dr. Hyoyoung Jeong is an assistant professor in the department
                of electrical and computer engineering at the University of
                California, Davis, and affiliated faculty at the Center for
                Neuroengineering & Medicine. He received his B.S. in Biomedical
                Engineering from Yonsei University in 2008 and M.S. in
                Bioengineering from Seoul National University in 2010. He
                completed his Ph.D. at the University of Texas at Austin
                department of Electrical and Computer Engineering (UT ECE),
                supervised by Prof. Nanshu Lu, where he developed a wireless
                stretchable electronic tattoo (e-tattoo) and unconventional
                freeform manufacturing schemes for flexible thin film wearable
                devices.
              </p>
              <p>
                Before joining UT ECE for his Ph.D., he worked for Samsung
                Advanced Institute of Technology for 5 years as a researcher and
                developer in the advanced smartphone hardware group and mobile
                healthcare group. His work as a postdoctoral scholar with
                Professor John Rogers focused on the development and
                characterization of wireless soft wearable platforms for
                measuring and analyzing multimodal clinical-grade bio
                potentials. Currently, he focuses on personalized closed-loop
                wearable bio-electronics for health monitoring, diagnostics, and
                therapeutics.
              </p>
              <p>
                Dr. Jeong received several awards, including the Engineering PhD
                Summit Award from École polytechnique fédérale de Lausanne
                (EPFL), Switzerland. He was the recipient of the 15th and 24th
                Samsung Humantech Paper Awards from Samsung Electronics Co. So
                far, he has published more than 30 journal papers in prestigious
                journals, including Science and multiple Science Advances and
                PNAS, as a leading author. His publications have received over
                1800 citations with an h-index of 21. He has received 17 patents
                (8 pending) and has been invited to give more than 30 talks
                related to his research area.
              </p>
              <p>
                With the KSEA Young Investigator Grant, Dr. Jeong will
                investigate “Skin-interfaced wireless device for intrapartum
                fetal and maternal monitoring to minimize unnecessary
                C-section,” with an aim to research and develop the technology
                for an integrated monitoring platform leveraging advanced
                flexible electronics, wireless connectivity, and compatibility
                with a wide range of low-cost mobile devices. His research will
                contribute to solving a health problem that touches virtually
                every family and can potentially make an impact on both outcomes
                and cost of childbirth.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                   Next
                                               </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
