<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                2024 KSEA Scholarship and Fellowship Announcement
              </h3>
              <p class="date">February 13, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                KSEA is pleased to announce the 2024 KSEA Scholarships and Fellowship program.
              </p>
              <p>
                Multiple awards for Postdoc Fellows, Graduate students and Undergraduate students majoring 
                in science, medicine, engineering, or related fields will be provided in 2024.
              </p>
              <p>
                The KSEA scholarships and fellowship recognize outstanding students and postdoc fellows of 
                Korean heritage who are excellent in academics and research as well as in service to the 
                community and have the potential to become future leaders of society.
              </p>
              <p>
                There are three award categories this year.
              </p>
              <ol class="list-deco-num">
                <li>
                  <span class="font-bold">KSEA Scholarships for Undergraduate Students in the US. 
                    (30 awards, $1,500 per each)</span>
                </li>
                <ul>
                  <li>
                    - KSEA Named Scholarships (20) and KSEA-Rim Scholarships (10)
                  </li>
                </ul>
                <ul class="list-deco-disc">
                  <li>
                    <a href=
                    "https://award.ksea.org/scholarships/scholarships-for-undergraduates" 
                    target="_blank">
                    Application: Scholarships for Undergraduates</a>
                  </li>
                </ul>
                <li>
                  <span class="font-bold">
                    KSEA-KUSCO Scholarships for Graduate Students in the US. (20 awards, $2,000 per each)
                  </span>
                </li>
                <ul class="list-deco-disc">
                  <li>
                    <a href=
                    "https://award.ksea.org/scholarships/scholarships-for-graduates" 
                    target="_blank">
                    Application: Scholarships for Graduates</a>
                  </li>
                </ul>
                <li>
                  <span class="font-bold">
                    Postdoc Fellow Scholarship for Postdoctoral researchers in the US. 
                    (5 awards, $2,000 per each)
                  </span>
                </li>
                <ul class="list-deco-disc">
                  <li>
                    <a href=
                    "https://award.ksea.org/scholarships/postdoc-fellowship" 
                    target="_blank">
                    Application: Postdoc Fellowship</a>
                  </li>
                </ul>
              </ol>
              <p>
                The application and all supporting documents must be received by March 31, 2024, 
                5:00 PM (ET) via online only.
              </p>
              <p>
                Please visit the 
                <a href="https://award.ksea.org/scholarships" target="_blank">
                  KSEA Scholarship and Fellowship website</a> for more detailed 
                  information and online application process.
              </p>
              <p>
                Any questions not mentioned in the 2024 Scholarship website can be addressed to the 
                KSEA Scholarship Committee at <a href="mailto:scholarship@ksea.org" 
                target="_blank">scholarship@ksea.org</a> or 
                <a href="mailto:csim@unl.edu" target="_blank">csim@unl.edu</a>.
              </p>
              <br><br>
              <p>
                Thank you,<br>
                Yongho Sohn, President of KSEA<br>
                Chungwook Sim, Scholarship Committee Chair
              </p>
              <p>
                <a
                href=
                "https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240213_2024KSEAScholarshipandFellowshipAnnouncement.docx"
                target="_blank"
                download="Announcement"
                >
                <button class="btn-view">Announcement</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                           Next
                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
