<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">StartUp Pitch Competition at UKC 2023</h3>
              <p class="date">June 13, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Dear KSEA members and friends,</p>
              <p>
                KSEA is hosting its
                <a
                  href="https://sites.google.com/view/ies2023ukc/spcipc-application?authuser=0"
                  target="_blank"
                >
                  5th Startup Pitch Competition (SPC)</a
                >
                during the US-Korea Conference on August 4 and 5, 2023 at the
                Hyatt Regency DFW, Dallas TX, where about 30 invited startups in
                each of two categories (Idea Category and Startup Category) will
                go head-to-head to compete for various awards, including cash
                awards. Additional details, including eligibility requirements
                and timeline, can be found at
                <a
                  href="https://sites.google.com/view/ies2023ukc/spcipc-application?authuser=0"
                  target="_blank"
                  >the UKC SPC Website</a
                >
                and the competition flyer attached. Your pitching may be given
                in English or Korean.
              </p>
              <p>
                Please apply at
                <a href="https://bit.ly/KSEA2023SPC" target="_blank"
                  >https://bit.ly/KSEA2023SPC</a
                >
                by Friday, June 30, 2023, 11:59 EDT. Questions? Send an email at
                <a href="mailto:spc.ksea@gmail.com." target="_blank"
                  >spc.ksea@gmail.com.</a
                >
              </p>
              <p>
                You are also encouraged to attend the<a
                  href="https://sites.google.com/view/ies2023ukc/home?authuser=0"
                  target="_blank"
                >
                  Innovation and Entrepreneurship Symposium (IES) </a
                >during the UKC 2023. We invite all entrepreneurial-minded
                professionals and students to attend the IES during UKC 2023 and
                learn about the continually growing cross-border partnership
                opportunities in the US and Korea.
              </p>
              <p>Thank you.</p>
              <p>
                Yongho Sohn, UKC 2023 Chair and KSEA President-Elect<br />
                Taesik Lee, UKC 2023 Co-Chair and KOFST President
              </p>
              <p class="font-bold">IES Organizing Committee Co-Chairs</p>
              <p>
                IL Minn (Chair, Johns Hopkins University)<br />
                Kwangrog Kim (Co-Chair, Fundraising, Primer Sazze)<br />
                Taegon Lee (Co-Chair, Next Generation & IPC, DoD)<br />
                Jungeun Kim (Co-Chair, Korea, Startup Demo & Fundraising,
                Quotalab)
              </p>
              <p>
                Young-Kee Kim<br />
                President of KSEA
              </p>
              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/IES2023_SPC.pdf"
                  target="_blank"
                  download="StartUp Pitch Competition at UKC 2023"
                >
                  <button class="btn-view">Download</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                         Next
                                                     </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
