<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">Announcement of 2024 KSEA Election and Bylaw Changes</h3>
              <p class="date">January 31, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                The 2024 KSEA General Election holds significant importance as it involves the election of key 
                positions such as the President-Elect, Vice Presidents, Auditor, and Technical Group Councilors. 
                This election will be conducted using a secure e-voting system, providing a robust and protected 
                platform for participation. The online voting period is scheduled to run from Monday, March 18 to 
                Friday, April 12, 2024, ensuring an ample window for members to cast their votes electronically 
                within this designated timeframe.
              </p>
              <p>
                The following officer positions will be filled in this year's election:
              </p>

              <ul class="list-deco-disc">
                <li>President-Elect</li>
                <li>Vice Presidents 1 and 2</li>
                <li>Auditor</li>
                <li>Councilors for Technical Groups</li>
                  <ul class="list-deco-disc">
                    <li>TG B-3. Biological and Biomedical Sciences (Biology, Molecular Biology, 
                      Cognitive Science, Botany, Zoology, Biomechanics, etc.,</li>
                    <li>TG C-4. Materials Science and Engineering, Nanotechnology,</li>
                    <li>TG C-5. Civil and Environmental Engineering, Architecture, and</li>
                    <li>TG C-7. Computer and Information Sciences.</li>
                  </ul>
              </ul>
              <p>
                <span style="color:brown">
                  In addition, there are proposed changes and revisions to the KSEA Bylaws. 
                  The details of the bylaw changes and revisions can be found below:
                </span>
              </p>
              <ul class="list-deco-disc">
                <li>
                  KSEA Bylaws with proposed changes: 
                  <a href=
                  "https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240131_Proposed+Bylaws+Amendment_explanation_ver+01162024.pdf" target="_blank">LINK</a>
                </li>
                <li>
                  KSEA Bylaws (clean version with all revisions): 
                  <a href=
                  "https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240131_KSEA+Bylaws+2024+(clean-if+approved)_ver+01162024.pdf" target="_blank">LINK</a>
                </li>
              </ul>
              <p>
                <span style="color:brown">
                  To meet the quorum for the proposed Bylaw changes, we require a minimum 20% participation 
                  from the voting members. We kindly request your active participation.
                </span>
              </p>
              <p>
                <span class="txt-deco-line">Voting Method:</span> Electronic voting via the Internet
                <span class="font-bold"> (e-voting)</span>
                <br />
                This year’s voting will be done by electronic means only. e-Voting announcement will be sent 
                via e-mail on or after Monday, March 18, 2024.
              </p>
              <p>
                <span class="txt-deco-line">Voting Period:</span>
                <span class="font-bold">
                  Monday, March 18, 2024 – Friday, April 12, 2024
                </span>
                <br />
                KSEA Election Site will accept the e-Voting ballots during the voting period specified above. 
                Any ballot cast after April 12, 11:59 PM (EDT), 2024 will be considered ineligible.
              </p>
              <p>
                <span class="txt-deco-line">Voter Eligibility:</span><br />
                Members who have paid their dues at least once within the last two terms, spanning from 
                <span class="font-bold"> May 1, 2022 to Mar. 4, 2024</span> 
                will receive an election ballot. This will be facilitated provided they have a valid email address 
                that is accurately recorded in the membership system. As stipulated in the Election Policy, 
                members without a valid email address on file will not be issued an election ballot.
              </p>
              <p>
                <span class="txt-deco-line">Voting Procedure:</span><br />
                Election details will be dispatched via email on or after March 18, 2024. 
                Eligible voters must access the KSEA Election Site using their KSEA ID and password to participate. 
                Voter verification will necessitate a valid email address, phone number, and address. 
                Any invalid inputs, such as entries like "." or "1," will render the vote invalid. Following 
                the election, results will be promptly announced on the website.
              </p>

              <p>
                <span class="txt-deco-line">
                  Potential Prizes to Yourself and Your Chapters:
                </span>
              </p>
              <span style="color:blue">
                <ul class="list-deco-disc">
                  <li>
                    Six chapters with at least 25 eligible votes (total $3,000 support):
                    <br>
                    (a) $750 to the chapter with the highest voting RATE, $500 to the 2nd & $250 to the 3rd; 
                    <br>
                    (b) $750 to the chapter with the highest NUMBER of votes, $500 to the 2nd highest & $250 to the 3rd. 
                    <br>
                    (c) A chapter can take only one prize from the voting rate or number. 
                  </li>

                  <li>
                    $50 Amazon gift card to 20 voters (Just by casting a vote, you will be entered a raffle)
                  </li>
                </ul>
              </span>
              <p>
                The election result will be announced on the website on or after 
                <span class="font-bold">Saturday, April 13, 2024.</span>
              </p>
              <br>
              <p>
                KSEA Election Committee
              </p>



              <p>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240131_2024+Election+Announcement_final.docx"
                target="_blank"
                download="Announcement"
                >
                  <button class="btn-view">Download</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                       Next
                   </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
