<div class="wrap">
  <app-nav></app-nav>
  <app-about-header></app-about-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>About</li>
    <li>Code of Conduct</li>
  </ul>
  <div class="wrap-rule">
    <div class="scon-center">
      <h2 class="font-ksea">Code of Conduct</h2>
      <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
      <div class="con-toc">
        <h3>
          It is the policy of Korean-American Scientists and Engineers
          Association (KSEA) that:
        </h3>
        <ul class="list-in">
          <li>
            All KSEA members and participants of the events organized by KSEA
            shall conduct themselves in a professional manner that is welcoming
            to all members and participants and free from any forms of
            discrimination, harassment, or retaliation.
          </li>
          <li>
            KSEA members and event participants shall treat each other with
            respect and consideration to create a collegial, inclusive, and
            professional environment in all KSEA contexts.
          </li>
          <li>
            Creating a supportive environment to enable a productive scientific
            collaboration and community services is the responsibility of all
            KSEA members and participants of KSEA organized events.
          </li>
          <li>
            KSEA members and all participants of KSEA organized events shall
            avoid any inappropriate actions or statements based on individual
            characteristics such as age, race, ethnicity, sexual orientation,
            gender identity, gender expression, marital status, nationality,
            political affiliation, religious or philosophical beliefs, ability
            status, or educational background.
          </li>
          <li>
            Disruptive or harassing behavior of any kind will not be tolerated.
          </li>
          <li>
            Harassment includes but is not limited to inappropriate or
            intimidating behavior and language, unwelcome jokes or comments,
            unwanted touching or attention, inappropriate photography, stalking,
            harassing photography or recording, offensive or sexually oriented
            images and aggressive physical behavior.
          </li>
          <li>
            Advocating for or encouraging any of the above behaviors is likewise
            prohibited.
          </li>
        </ul>
        <p>
          If a KSEA member or a participant of a KSEA organized event suspects
          harassment, discrimination, or retaliation has occurred in violation
          of this Code of Conduct policy, that person may bring the matter to
          the attention of the KSEA Code of Conduct Oversight Task Force by
          contacting a member of the committee, to review the complainant’s
          reporting and resolution options.
        </p>
        <h3>Code of Conduct Oversight Task Force:</h3>
        <ul class="list-in">
          <li>
            Vice President 2: Sam Chung (253-678-2212, chungsam AT cityu dot
            edu)
          </li>
          <li>Immediate Past Vice-President 2: Resigned</li>
          <li>
            Immediate Past President: Brian Byungkyu Park (434-260-0101, brian
            dot uva AT gmail dot com)
          </li>
          <li>
            Rules Committee Chair: Yun H. Choe (732-609-6101, yunhchoe dot ksea
            AT gmail dot com)
          </li>
          <li>
            YG Representative Councilor: Stella RH Kim (213-332-8251, rhstella
            dot ksea AT gmail dot com)
          </li>
        </ul>
        <p>Revised on October 3, 2022</p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
