.table-tech th:nth-child(1) {
  width: 27.5%; //40 is original value
}
.table-tech th:nth-child(2) {
  width: 15%; //7.5 is original value
}
.table-tech th:nth-child(3) {
  width: 12.5%; //7.5 is original value
}
.table-tech th:nth-child(4) {
  width: 20%;
}
.table-tech th:nth-child(5) {
  width: 25%;
}
a {
  color: #0702fc;
  text-decoration: underline;
}
