<div class="wrap">
  <app-nav></app-nav>
  <app-activity-header></app-activity-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>Activity</li>
    <li>Katalyst</li>
  </ul>
  <div class="scon-activity">
    <div class="con-event">
      <img src="https://ksea-files.s3.us-west-2.amazonaws.com/files/Katalyst2024-poster.png" alt="Katalyst 2024" />
      <!-- <img src="assets/images/activity/ystlc/ystlc2022.jpg" alt="ystlc 2022" /> -->

      <div class="content-event">
        <!-- <p class="event-title">Korean-American Mentorship and Leadership Immersion for Young Scientists and Technologists</p> -->
      </div>
      <button class="btn_blue">
          <a href="https://katalyst.ksea.org/" 
          target="_blank"> Katalyst Home</a>
      </button>
    </div>
    <div class="con-event-info">
      <div class="content-info">
        <ul>
          <li class="info-title">
            <img src="assets/images/icon_star.png" alt="event" />
            Event
          </li>
          <li>Korean-American Mentorship and Leadership 
            Immersion for Young Scientists and Technologists</li>
          <li>
            <a
              href="https://katalyst.ksea.org/"
              target="_blank"
              style="padding: 3px"
            >
              <button class="btn-event">Katalyst Home</button>
            </a>
          </li>
        </ul>
      </div>
      <div class="content-info">
        <ul>
          <li class="info-title">
            <img src="assets/images/icon_calendar.png" alt="calendar" />
            Date
          </li>
          
            <li>March 1-3, 2024</li>
         
          <li>
            <!-- <span class="txt_red">Coming Soon</span> -->
          </li>
        </ul>
      </div>
      <div class="content-info">
        <ul>
          <li class="info-title">
            <img src="assets/images/icon_location.png" alt="calendar" />
            Location
          </li>
          <li>Atlanta, GA</li>
          <!-- <li class="txt_red">Atlanta, GA</li> -->
        </ul>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
