<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                The 52nd KSEA Administration signed 2 MOUs in October 2023
              </h3>
              <p class="date">Octoboer 26, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>
                <p>
                  The 52nd KSEA administration signed two Memorandums of Understanding (MOU) 
                  in October 2023, one with Seoul National University (SNU) and the other with 
                  Gyeongsang National University (GNU) to engage in active international 
                  collaborations and partnerships.
                </p>
                <br>
                <img
                  src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/231026_MOU-1.JPG"
                  alt="MOU GNU"
                 />
                 <div class="con-img_small">
                  <p>
                    MOU ceremony between KSEA and GNU was held in KSEA headquarters.
                  </p>
                 </div>
                <br /><br>
                <p>
                  The MOU signing ceremony with Gyeongsang National University (GNU) was held 
                  at the headquarters office of KSEA in Vienna, Virginia on October 6, 2023. 
                  The ceremony attendees from KSEA included President Yongho Sohn, Former 
                  President Eun-Suk Seo, Prof. Jae Ryu and Prof. Deokho Kim.
                </p>
                <p>
                  From Gyeongsang National University, President Soon Ki Kwon, Vice President 
                  of Research Gon Sup Kim, Prof. Hae Dong Kim and Mr. Hwhae Dong Kim, the team 
                  leader attended the MOU signing ceremony. KSEA President Yongho Sohn and GNU 
                  President Soon Ki Kwon signed the MOU taking the first step into the future 
                  of mutual cooperation.
                </p>
                <p>
                  This MOU intends to maintain close cooperation with each other to share 
                  knowledge and support business efficiently. Especially, both parties shall 
                  seek to actively cooperate in research related to aerospace by exchanging 
                  personnel, sharing the latest technical trends, and organizing joint seminars. 
                  With the MOU in place, KSEA and GNU will also seek to carry out contract 
                  projects and UKC forum in the future.
                </p>
                <p>
                  On the same day, KSEA President Yongho Sohn signed the MOU with Seoul 
                  National University (SNU) as well. This MOU signing was performed remotely. 
                  KSEA President signed the MOU at the KSEA Headquarters, and the SNU President 
                  Hong Rim Ryu signed the MOU from his office in Seoul, Korea to engage in solid 
                  partnership. The signed MOU document was shared via postal mail afterwards.
                </p>
                <br>
                <div class="con-img_small">
                  <img
                    src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/231026_MOU-2.jpg"
                    alt="MOU KSEA"
                  />
                  &nbsp;&nbsp;
                  <img
                    src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/231026_MOU-3.jpg"
                    alt="MOU SNU"
                  />
                  <p>
                    The MOU signed by KSEA President Yongho Sohn and SNU President Honglim Ryu
                  </p>
                 </div>
                 <br><br>
                <p>
                  By signing the MOU, KSEA and SNU mutually recognized the importance of 
                  establishing a dedicated, cooperative relationship between the two institutions 
                  with the goals of fostering shared interests and achieving synergies through 
                  exchange of knowledge and resources.
                </p>
                <p>
                  KSEA plans to platform for SNU doctoral graduates, who are interested in pursuing 
                  postdoctoral positions in the U.S., to connect with research active scientists 
                  and engineers of KSEA. KSEA and SNU also agreed to share and disseminate 
                  postdoctoral job positions in the U.S., especially those provided by the members 
                  of KSEA. Both parties agreed to organize joint seminars and future events to 
                  nurture the exchange of information related to postdoctoral opportunities and 
                  the development of a network for further collaboration.
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                                 Next
                                                             </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
