<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">Register Now for UKC 2023</h3>
              <p class="date">May 23, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                We are thrilled to announce the opening of registration for the
                highly anticipated UKC 2023. As a valued member of our
                professional community, we wanted to make sure you were among
                the first to know about this incredible opportunity.
              </p>
              <p>
                UKC 2023 is a premier gathering of experts in academia,
                industry, and government, where we come together to explore the
                latest advancements, share knowledge, and discuss the future of
                science, technology, entrepreneurship, and US-Korea
                collaboration. With a lineup of esteemed speakers, engaging
                forums, and networking events, this conference promises to be an
                unforgettable experience.
              </p>
              <p>Here are the key details you need to know:</p>
              <ul class="list-deco-disc">
                <li>Date: August 2 – 5, 2023</li>
                <li>Venue: Hyatt Regency DFW</li>
                <li>
                  Theme: Discovery, Innovation and Dissemination for
                  Transformative Impact
                </li>
                <li>
                  Website:
                  <a href="https://www.ukc.ksea.org" target="_blank"
                    >https://www.ukc.ksea.org
                  </a>
                </li>
              </ul>
              <p>
                To secure your spot at this remarkable event, please visit our
                conference website at
                <a href="https://www.ukc.ksea.org" target="_blank"
                  >https://www.ukc.ksea.org
                </a>
                and complete the registration process. Early bird registration
                is now open, offering exclusive discounts until June 17, 2023.
              </p>
              <p>
                If you have any questions or require further assistance, please
                feel free to reach out to our conference team at
                <a href="mailto:ukc2023@ksea.org" target="_blank"
                  >ukc2023@ksea.org</a
                >
                or (703) 748-1221.
              </p>
              <p>
                We look forward to welcoming you to the UKC 2023 and sharing an
                enriching and inspiring experience together. Don't miss this
                incredible opportunity to connect, learn, and shape the future
                of our lives.
              </p>
              <p>
                MPORTANT NOTE: If you have submitted an abstract for oral or
                poster presentation, we kindly request that you wait until you
                receive acceptance notification before registering for the
                conference. This will allow you to take advantage of the
                appropriate registration type with presenter discount once your
                presentation status is confirmed. There will be plenty of time
                to benefit from the early bird registration after you receive
                the acceptance.
              </p>
              <p>
                Best regards,<br />
                Yongho Sohn, UKC 2023 Conference Chair<br />
                Tae Sik Lee, UKC 2023 Conference Co-Chair
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                 Next
                                             </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
