<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Job Opportunities</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Job Opportunities</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">[한국보건산업진흥원] 한국형 ARPA-H 프로젝트관리자(PM) 채용 공고 (~3.22(금) 18:00마감)</h3>
              <p class="date">February 26, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
             <p>
              Dear KSEA members,
             </p>
             <p>
              Korea Health Industry Development Institute (KHIDI) posted a job advertisement for a 
              Project Manager Position as follows.<br>
              Please see the following message and attached guidelines from KHIDI.<br>
              If you have any questions for the PM application, please contact KHIDI at 
              <a href="mailto:arpah01@khidi.or.kr" target="_blank">arpah01@khidi.or.kr</a> 043-713-8581 (8582)
             </p>
             <p>
              Thank you,<br>
              KSEA HQ
             </p>
            </td>
          </tr>
           <tr>
            <td>  
              <p>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/240226_KHIDI_Announcement1.pdf"
                target="_blank"
                download="[공지용] 2024년 한국형 ARPA-H 프로젝트관리자(PM) 채용 공고"
                >
                <button class="btn-view">Info.</button>
                </a>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/240226_KHIDI_Form.pdf"
                target="_blank"
                download="(직무기술서)(PM)2024년 한국형 ARPA-H 프로젝트관리자(PM) 채용 공고"
                >
                <button class="btn-view">Form</button>
                </a>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/240226_KHIDI_Sample.pdf"
                target="_blank"
                download="(예시자료) 2024년 한국형 ARPA-H 프로젝트관리자(PM)_프로젝트제안서 작성 예시_F"
                >
                <button class="btn-view">Example</button>
                </a>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/240226_KHIDI_Announcement2.pdf"
                target="_blank"
                download="(공고문)(PM)2024년 한국형 ARPA-H 프로젝트관리자(PM) 채용 공고_F"
                >
                <button class="btn-view">Announcement</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/job"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                             Next
                                         </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
