<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Media</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Media</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">재미과기협 전국 수학 및 물리 경시대회</h3>
              <p class="date">March 29, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="con-img">
                <a
                  href="https://news.koreadaily.com/2024/03/04/society/generalsociety/20240304212857553.html"
                  target="_blank"
                >
                  <img
                    src="https://ksea-files.s3.us-west-2.amazonaws.com/media/media_32.png"
                    alt="재미과기협 전국 수학 및 물리 경시대회"
                  />
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/media"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                   Next
                                               </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
i
