<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Media</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Media</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">프로그래밍 언어‘파이썬’에 대해 배워 보세요</h3>
              <p class="date">April 19, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="con-img">
                <a
                  href="http://www.koreatimes.com/article/1454484"
                  target="_blank"
                >
                  <img
                    src="assets/images/media/media_12.png"
                    alt="프로그래밍 언어‘파이썬’에 대해 배워 보세요"
                  />
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/media"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                       Next
                   </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
i
