<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Job Opportunities</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Job Opportunities</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                경상국립대학교 그린에너지융합연구소 전임연구인력 채용 공고
              </h3>
              <p class="date">May 9, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>경상국립대학교 그린에너지융합연구소 공고 제 2023-01호</p>
              <p></p>
              <div
                class="con-img"
                style="
                  border-top: 5px solid #eee;
                  border-bottom: 5px solid #eee;
                  padding-bottom: 1.5em;
                "
              >
                <p class="font-bold" style="font-size: 2rem">
                  경상국립대학교 그린에너지융합연구소 <br />전임연구인력 채용
                  공고
                </p>
              </div>
              <p>
                경상국립대학교 그린에너지융합연구소는 공학, 자연과학, 해양과학
                분야에서 많은 전문가의 연구역량을 결집하여 동남권 그린에너지
                관련 산학관연 R&D 클러스터의 허브로 발돋움하고자 이공분야
                중점연구소 지원사업을 포함한 다양한 정부지원사업, 산학협력과제를
                수행하고 있습니다. 그린에너지융합연구소와 함께 성장할 창의적이고
                도전적인 인재를 모집합니다.
              </p>
              <p>
                2023년 05월 03일<br />
                경상국립대학교 그린에너지융합연구소장
              </p>
              <p class="font-bold">1. 채용분야 및 인원</p>
              <table>
                <tr>
                  <th>채용예정 직급</th>
                  <th>채용인원</th>
                  <th>분야</th>
                </tr>
                <tr>
                  <td>초빙교원(학술연구교수)</td>
                  <td>O명</td>
                  <td rowspan="2">
                    에너지 전분야<br />
                    첨단소재 전분야
                  </td>
                </tr>
                <tr>
                  <td>선임연구원</td>
                  <td>O명</td>
                </tr>
              </table>
              <p class="font-bold">2. 응시자격 및 직무내용</p>
              <p>○ 공통요건</p>
              <ul>
                <li>
                  - 박사학위를 소지하고 일정한 수준의 연구실적 및 경력을 갖춘 자
                </li>
                <li>- 국가공무원법 제33조에 따른 결격 사유가 없는 자</li>
                <li>
                  - 학술연구교수: 최근5년간 연구업적 3편* 이상인 자<br />*
                  2018.1.1.일부터 현재까지 게재완료된 논문, 등록 완료된
                  특허(출원은 인정안함), 전문 학술저서(단독은 연구실적 2편으로,
                  공동은 실적 1편으로 인정) 등의 연구실적, 다만 논문, 특허, 저서
                  등이 나오기 어려운 특수 분야는 평가시 참고할 만한 소명서
                  제출시 인정
                </li>
                <li>- 학술연구교수: 박사취득 후 2년이 경과한 자</li>
                <li>
                  - 합격자 통보 이후 2개월 이내 근무 가능한 자<br />
                  -「아동․청소년의 성보호에 관한 법률」제56조에 의한 취업제한
                  대상이 아닌 자
                </li>
              </ul>
              <p class="font-bold">3. 제출서류</p>
              <ul>
                <li>○ 공채 지원서 (양식)</li>
                <li>
                  ○ 자기소개를 포함한 이력서 (연구경력 및 실적 포함, 자유양식)
                </li>
                <li>
                  ○ 경력증명서, 학위증명서(석,박사), 성적증명서(석,박사) 각 1부
                </li>
                <li>○ 개인정보제공 및 조회 동의서 1부.</li>
              </ul>
              <p class="font-bold">4. 응시자 유의사항</p>
              <ul>
                <li>
                  ○ 임용기간 : 임용일로부터 2년<br />※ 계약기간 중 참여한
                  연구과제 기간에 따라 연장 가능하며, 참여과제 종료 또는
                  연수평가 결과에 따라 재계약하지 않을 수 있음.
                </li>
                <li>○ 근무형태 : 주5일, 1일 8시간</li>
                <li>
                  ○ 보수: ⌜경상국립대학교 연구과제 및 연구비 관리지침의 인건비
                  지급기준⌟에 의해 지급
                </li>
                <li>
                  ○ 미비된 서류는 접수하지 않으며, 응시자가「채용절차의 공정화에
                  관한 법률」제 11조에 따라 최종합격자 발표일 다음날부터
                  30일까지 제출한 채용서류 반환을 신청 [별지제3호서식] 하는
                  경우에는 반환(최종 채용 합격자, 홈페이지 또는 전자우편으로
                  제출된 경우는 제외)하며, 반환하지 않거나 전자적으로 접수한
                  서류는 「개인정보 보호법」에 따라 파기합니다.
                </li>
                <li>
                  ○ 결격사유조회(학술연구교수만 해당) 및 (성)범죄경력조회는
                  임용예정자에 한하여 조회할 예정이며, 결과에 이상이 있을 시
                  합격이 취소될 수 있음
                </li>
                <li>
                  ○ 이 공고에 명시되지 않은 사항은 본교 관련 규정 및 지침 등에
                  따름
                </li>
              </ul>
              <p class="font-bold">5. 평가일정</p>
              <table>
                <tr>
                  <th>구 분</th>
                  <th>추진일정</th>
                  <th>비고</th>
                </tr>
                <tr>
                  <td>채용공고 및 서류접수</td>
                  <td>상시채용</td>
                  <td>
                    온라인접수<br />
                    <a href="mailto:riget@gnu.ac.kr" target="_blank"
                      >(riget@gnu.ac.kr)</a
                    >
                  </td>
                </tr>
                <tr>
                  <td>서류 심사 및 결과 통보</td>
                  <td colspan="2">
                    응시자격 요건심사 또는 평가<br />
                    (합격자에 한하여 개별통보)
                  </td>
                </tr>
                <tr>
                  <td>
                    면접 및 최종 심사 <br />
                    (※ 면접은 서류접수 상황에 따라 생략 가능)
                  </td>
                  <td colspan="2">
                    면접 및 최종심사<br />
                    (합격자에 한하여 개별안내)
                  </td>
                </tr>
                <tr>
                  <td>최종합격자 발표</td>
                  <td colspan="2">합격자에 한하여 개별통보</td>
                </tr>
              </table>
              <p>
                ※ 상기일정은 응시인원 및 기타사정 등에 따라 변경될 수 있으며,
                일정 변경 시 대학 및 연구소 홈페이지 게시 예정
              </p>
              <p class="font-bold">6. 응시원서 접수</p>
              <p>○ 접수방법 : 방문접수 또는 우편접수, 온라인 접수</p>
              <ul>
                <li>
                  - 접수처: 경남 진주시 진주대로501, 경상국립대학교 404동 218호
                  그린에너지융합연구소
                </li>
                <li>- 온라인 접수: riget@gnu.ac.kr</li>
                <li>
                  - 방문접수는 일과시간(점심시간 12시~13시 제외) 중 접수 가능
                </li>
              </ul>
              <p>
                ○ 문 의 처 : 경상국립대학교 그린에너지융합연구소 행정실
                055-772-2595
              </p>
              <ul>
                <li>
                  1. 경상국립대학교 초빙교원/ 연수연구원 공채 지원서식 각 1부.
                </li>
                <li>2. 연구실적목록 서식 1부.</li>
                <li>3. 개인정보제공 및 조회 동의서식 1부.</li>
                <li>4. 성범죄 경력 조회 동의서 1부.</li>
                <li>5. 채용서류 반환 청구서 1부. 끝.</li>
              </ul>
              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/job/ksu_form.docx"
                  target="_blank"
                  download="경상국립대학교 초빙교원 공채 지원서"
                >
                  <button class="btn-view">Download</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/job"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                         Next
                                     </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
