<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Job Opportunities</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Job Opportunities</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">[아주대학교] 2024.1학기 제2차 아주대학교 교수초빙 공고</h3>
              <p class="date">December 8, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Dear KSEA members,</p>
              <br>
              <p>
                Please find the job posting announcement from Ajou University and send your application 
                if you are interested in the position.<br>
                &nbsp;&nbsp;<a href="https://faculty.ajou.ac.kr/faculty/announce/announce02.jsp?mode=view&article_no=237887" 
                target="_blank">Ajou University - announcement</a><br><br>
                If you have any questions, please contact:<br>
                &nbsp;&nbsp;김성아 / 교무처 교원팀<br>
                &nbsp;&nbsp;Tel: 031-219-1528<br>
                &nbsp;&nbsp;e-mail: <a href="mailto:sakim@ajou.ac.kr" target="_blank">sakim@ajou.ac.kr</a> 
              </p>
              <br>
              <br>
              <p>
                Thank you,<br>
                KSEA HQ
              </p>  
 
              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/job/231208_Ajou.pdf"
                  target="_blank"
                  download="[KSEA]아주대학교 2024학년도 1학기 교수초빙(23_12_06).pdf"
                >
                  <button class="btn-view">Download PDF</button>
                </a>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/231208_Ajou.docx"
                target="_blank"
                download="[KSEA]아주대학교 2024학년도 1학기 교수초빙(23_12_06)"
              >
                <button class="btn-view">Download DOCX</button>
              </a>
                </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/job"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                             Next
                                         </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
