<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                The 2023 IDRONE KSEA Online CAMP is now scheduled for May 4 – 6,
                2023
              </h3>
              <p class="date">March 8, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Dear KSEA members and families,</p>
              <p>
                We are pleased to announce that the 2023 iDrone KSEA online camp
                is now scheduled for May 4 – 6, 2023 (See the attached flyer).
                This event is 100% ONLINE so we will ship the idrone development
                kit to individual homes in 2 weeks in advance. You can keep the
                drone after the camp. Please feel free to pass this information
                to your friends who might be interested in this event. Don’t
                forget to use a discount CODE from your local chapter after
                renewing your KSEA membership at
                <a href="https://ksea.org/signin" target="_blank">
                  https://ksea.org/signin.</a
                >
              </p>
              <p>
                A step-by-step registration instruction is also attached in this
                email. Basically, each student will walk through online learning
                modules, including drone building, coding, and mission planning
                independently during the iDrone event. If your children and
                their friends want to participate in this event as a team (up to
                5 people), please let them know that they MUST put their team’s
                name during the registration process. Should you have any
                questions, please don’t hesitate to contact us at
                <a href="mailto:idrone.stem@gmail.com" target="_blank"
                  >idrone.stem@gmail.com.</a
                >
              </p>
              <p>Happy building, coding, and flying!</p>

              <div class="con-img">
                <a
                  href="https://www.eventbrite.com/e/interstate-drone-league-idrone-online-may-4-6-2023-tickets-548147121797"
                  target="_blank"
                >
                  <img
                    src="assets/images/announcement/idron01.jpg"
                    alt="idron information"
                  />
                </a>
              </div>
              <div class="con-img">
                <a href="http://idrone.ksea.org/" target="_blank">
                  <img
                    src="assets/images/announcement/idron02.jpg"
                    alt="idron camp"
                  />
                </a>
              </div>
              <div class="con-img">
                <a href="http://idrone.ksea.org/" target="_blank">
                  <img
                    src="assets/images/announcement/idron03.jpg"
                    alt="idron camp"
                  />
                </a>
              </div>
              <hr />
              <!-- 파일 aws 링크로 변경 필요 (23.3.18) -->
              <div class="wrap-btn">
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/iDrone-registration-step-by-step-final_.pdf"
                  target="_blank"
                  download="20220427-Eventbrite-registration-step-by-step-final"
                >
                  <button class="btn-view">Download</button>
                </a>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/iDroneFlyer_KSEA_Spring2023_0.png"
                  target="_blank"
                  download="iDroneFlyer_KSEA_Spring2023"
                >
                  <button class="btn-view">Download</button>
                </a>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/iDroneFlyer_KSEA_Spring2023_1.png"
                  target="_blank"
                  download="iDroneFlyer_KSEA_Spring2023"
                >
                  <button class="btn-view">Download</button>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                     Next
                                 </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
