<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table">
        <tr>
          <th>No</th>
          <th>Title</th>
          <th>Date</th>
        </tr>
        <tr routerLink="/announcement-view99" routerLinkActive="active">
          <td>92</td>
          <td>
            Announcement of the 2024 KSEA Scholarship and Fellowship Winners
          </td>
          <td>June 3, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view98" routerLinkActive="active">
          <td>91</td>
          <td>
            2024 한-미 첨단산업 기술협력 포럼 안내
          </td>
          <td>May 30, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view97" routerLinkActive="active">
          <td>90</td>
          <td>
            Request for Information (RFI) - 2024 KEIT Demand Survey
          </td>
          <td>May 29, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view96" routerLinkActive="active">
          <td>89</td>
          <td>
            KASSTA Webinar Announcement (Sunday, May 19th, 2024)
          </td>
          <td>May 10, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view95" routerLinkActive="active">
          <td>88</td>
          <td>
            2024 KSEA Young Investigator Grant (YIG) Winners Announcement
          </td>
          <td>April 16, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view94" routerLinkActive="active">
          <td>87</td>
          <td>
            2024 KSEA Election Results Announcement
          </td>
          <td>April 13, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view93" routerLinkActive="active">
          <td>86</td>
          <td>
            2024 KSEA Art Contest announcement
          </td>
          <td>April 1, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view92" routerLinkActive="active">
          <td>85</td>
          <td>
            The 9th Hanwha Non tenured Faculty Award (2024) Announcement
          </td>
          <td>March 15, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view91" routerLinkActive="active">
          <td>84</td>
          <td>
            Calling for Korean Parents and their TEENS in the U.S for the Volunteer Opportunities
          </td>
          <td>March 15, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view90" routerLinkActive="active">
          <td>83</td>
          <td>
            Condolences and Funeral Information: Passing of Dr. Stephen Suh's Mother
          </td>
          <td>March 15, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view89" routerLinkActive="active">
          <td>82</td>
          <td>
            Announcement & Invitation - The 5th KSEA STEP-UP on April 20~21, 2024
          </td>
          <td>March 14, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view88" routerLinkActive="active">
          <td>81</td>
          <td>
            AKPA 이동녕 전임회장 부고
          </td>
          <td>March 14, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view87" routerLinkActive="active">
          <td>80</td>
          <td>
            우주항공청 인재 채용 설명회 안내
          </td>
          <td>March 13, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view86" routerLinkActive="active">
          <td>79</td>
          <td>
            KSEA e-Letters March 2024
          </td>
          <td>March 11, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view85" routerLinkActive="active">
          <td>78</td>
          <td>
            2024 BWI Mentorship for Global Startups
          </td>
          <td>March 11, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view84" routerLinkActive="active">
          <td>77</td>
          <td>
            KOFST 차세대 과학기술리더 NET 사업 지원 신청 안내 (KOFST Next Generation S&T Leadership 
            NET Application Guide)
          </td>
          <td>February 26, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view83" routerLinkActive="active">
          <td>76</td>
          <td>
            [과총] 2024년도 우수연구자교류지원(BrainLink) 기술교류회 신청(~3.18 월 까지) 안내
          </td>
          <td>February 14, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view82" routerLinkActive="active">
          <td>75</td>
          <td>
            2024 KSEA Scholarship and Fellowship Announcement
          </td>
          <td>February 13, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view81" routerLinkActive="active">
          <td>74</td>
          <td>
            YGF/YPF 2024 Call for Applications
          </td>
          <td>February 8, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view80" routerLinkActive="active">
          <td>73</td>
          <td>
            Call for Members of Korean-American AeroSpace Science and Technology Association (KASSTA)
          </td>
          <td>February 7, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view79" routerLinkActive="active">
          <td>72</td>
          <td>
            Call for 2024 Brain Pool Fellowship program (2024년 해외우수과학자유치사업 공고 알림)
          </td>
          <td>February 6, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view78" routerLinkActive="active">
          <td>71</td>
          <td>
            Renew your KSEA membership by March 4, 2024 to vote for the 2024 KSEA Election
          </td>
          <td>January 31, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view77" routerLinkActive="active">
          <td>70</td>
          <td>
            Announcement of 2024 KSEA Election and Bylaw Changes
          </td>
          <td>January 31, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view76" routerLinkActive="active">
          <td>69</td>
          <td>
            2024년 글로벌산업기술협력센터(GITCC) 사업 공고 및 북미 온라인 설명회 (7PM 2.6 ET)
          </td>
          <td>January 29, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view75" routerLinkActive="active">
          <td>68</td>
          <td>
            Summer Research Opportunity in Korea for 
            US undergraduate and graduate student (sponsored by National Science Foundation)
          </td>
          <td>January 25, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view74" routerLinkActive="active">
          <td>67</td>
          <td>
            2024 KSEA Awards Announcement
          </td>
          <td>January 24, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view73" routerLinkActive="active">
          <td>66</td>
          <td>
            2024 KSEA Honors Announcement
          </td>
          <td>January 24, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view72" routerLinkActive="active">
          <td>65</td>
          <td>
            "2024년 산업기술국제협력사업" 통합 시행계획 공고
          </td>
          <td>January 16, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view71" routerLinkActive="active">
          <td>64</td>
          <td>
            [인사혁신처] 글로벌 인재발굴을 위한 KSEA 회원의 국가인재DB 수록 안내
          </td>
          <td>January 3, 2024</td>
        </tr> 
        <tr routerLink="/announcement-view70" routerLinkActive="active">
          <td>63</td>
          <td>
            Euna Yoon, the KSEA Administrative Manger received the MPS Award
          </td>
          <td>December 26, 2023</td>
        </tr> 
        <tr routerLink="/announcement-view69" routerLinkActive="active">
          <td>62</td>
          <td>
            2024 Katalyst - Application Open
          </td>
          <td>December 1, 2023</td>
        </tr> 
        <tr routerLink="/announcement-view68" routerLinkActive="active">
          <td>61</td>
          <td>
            [KEIT] 2024 R&D 기획대상과제 인터넷 공시 관련 의견수렴의 건
          </td>
          <td>November 29, 2023</td>
        </tr> 
        <tr routerLink="/announcement-view67" routerLinkActive="active">
          <td>60</td>
          <td>
            2024 KSEA Young Investigator Grants
          </td>
          <td>October 31, 2023</td>
        </tr> 
        <tr routerLink="/announcement-view66" routerLinkActive="active">
          <td>59</td>
          <td>
            The 52nd KSEA Administration signed 2 MOUs in October 2023
          </td>
          <td>October 26, 2023</td>
        </tr>
        <tr routerLink="/announcement-view65" routerLinkActive="active">
          <td>58</td>
          <td>
            2023 Defy Conference- KIC Washington DC
          </td>
          <td>October 23, 2023</td>
        </tr>
        <tr routerLink="/announcement-view64" routerLinkActive="active">
          <td>57</td>
          <td>
            재외한인과학공학자 초청 2023 코센브릿지포럼 (국가전략분야: 인공지능)
          </td>
          <td>October 18, 2023</td>
        </tr>
        <tr routerLink="/announcement-view63" routerLinkActive="active">
          <td>56</td>
          <td>
            2024년도 과학의 날 정부포상(과학기술진흥유공) 후보자 추천 요청
          </td>
          <td>October 17, 2023</td>
        </tr>
        <tr routerLink="/announcement-view62" routerLinkActive="active">
          <td>55</td>
          <td>
            유한양행 R&D 인재 Pool 등록
          </td>
          <td>September 18, 2023</td>
        </tr>
        <tr routerLink="/announcement-view61" routerLinkActive="active">
          <td>54</td>
          <td>
            Korea-US Advanced Industry and Technology Cooperation Forum 2023
          </td>
          <td>September 11, 2023</td>
        </tr>
        <tr routerLink="/announcement-view60" routerLinkActive="active">
          <td>53</td>
          <td>
            Call for Applications: 2023 Korea Technology Advisory Group (K-TAG)
          </td>
          <td>August 25, 2023</td>
        </tr>
        <tr routerLink="/announcement-view59" routerLinkActive="active">
          <td>52</td>
          <td>
            2023 코센브릿지포럼 - 온라인 (국가전략분야: 첨단바이오)
          </td>
          <td>August 24, 2023</td>
        </tr>
        <tr routerLink="/announcement-view58" routerLinkActive="active">
          <td>51</td>
          <td>
            The 19th KSEA President, Dr. Chai Chin Suh Passed Away at age 95
          </td>
          <td>August 17, 2023</td>
        </tr>
        <tr routerLink="/announcement-view57" routerLinkActive="active">
          <td>50</td>
          <td>
            KBS Interview (KBS KONG - "한민족 하나로") with 서문원 (23rd KSEA
            President)
          </td>
          <td>August 11, 2023</td>
        </tr>
        <tr routerLink="/announcement-view56" routerLinkActive="active">
          <td>49</td>
          <td>한-미 산업기술 R&D 온라인 설명회 초청</td>
          <td>July 24, 2023</td>
        </tr>
        <tr routerLink="/announcement-view55" routerLinkActive="active">
          <td>48</td>
          <td>2023 코센브릿지포럼(반도체-디스플레이)</td>
          <td>July 21, 2023</td>
        </tr>
        <tr routerLink="/announcement-view54" routerLinkActive="active">
          <td>47</td>
          <td>
            글로벌 인재 발굴을 위한 국가인재 DB 회원 등록 안내 (NHRDB Membership
            Registration)
          </td>
          <td>July 18, 2023</td>
        </tr>
        <tr routerLink="/announcement-view53" routerLinkActive="active">
          <td>46</td>
          <td>Inauguration message from the 52nd KSEA President</td>
          <td>July 12, 2023</td>
        </tr>
        <tr routerLink="/announcement-view52" routerLinkActive="active">
          <td>45</td>
          <td>
            Announcing Mid-Career Lunch & Networking at UKC 2023 - Reserve Your
            Spot Now!
          </td>
          <td>July 5, 2023</td>
        </tr>
        <tr routerLink="/announcement-view51" routerLinkActive="active">
          <td>44</td>
          <td>Your gift makes a difference for KSEA</td>
          <td>June 14, 2023</td>
        </tr>
        <tr routerLink="/announcement-view50" routerLinkActive="active">
          <td>43</td>
          <td>StartUp Pitch Competition at UKC 2023</td>
          <td>June 13, 2023</td>
        </tr>
        <tr routerLink="/announcement-view49" routerLinkActive="active">
          <td>42</td>
          <td>2023 KSEA Awards Winners</td>
          <td>June 7, 2023</td>
        </tr>
        <tr routerLink="/announcement-view48" routerLinkActive="active">
          <td>41</td>
          <td>
            KSEA Distinguished Guest Series – Organ-on-a-Chip Technologies for
            Disease Modeling and Space Biology (Zoom: 8:30 pm ET, Thursday, June
            15)
          </td>
          <td>June 6, 2023</td>
        </tr>
        <tr routerLink="/announcement-view47" routerLinkActive="active">
          <td>40</td>
          <td>Call for the 2023 KSEA Nominations</td>
          <td>May 31, 2023</td>
        </tr>
        <tr routerLink="/announcement-view46" routerLinkActive="active">
          <td>39</td>
          <td>2023 KSEA Scholarship and Postdoctoral Fellowship Recipients</td>
          <td>May 24, 2023</td>
        </tr>
        <tr routerLink="/announcement-view45" routerLinkActive="active">
          <td>38</td>
          <td>
            [KOFST] 2023년 우수연구자교류지원(BrainLink) 기술교류회 사업 추가
            공고 안내(기간연장: 5.17~6.5)
          </td>
          <td>May 23, 2023</td>
        </tr>
        <tr routerLink="/announcement-view44" routerLinkActive="active">
          <td>37</td>
          <td>Register Now for UKC 2023</td>
          <td>May 23, 2023</td>
        </tr>
        <tr routerLink="/announcement-view43" routerLinkActive="active">
          <td>36</td>
          <td>
            Extended Deadline: UKC 2023 Call for Papers - Submit by 5/31/2023
          </td>
          <td>May 16, 2023</td>
        </tr>
        <tr routerLink="/announcement-view42" routerLinkActive="active">
          <td>35</td>
          <td>2024 Global Research Program(GRP) Announcement</td>
          <td>May 9, 2023</td>
        </tr>
        <tr routerLink="/announcement-view41" routerLinkActive="active">
          <td>34</td>
          <td>
            KSEA Distinguished Guest Series –GPT: Transforming Science,
            Engineering, and Beyond (Zoom: 8:30 pm ET, Wednesday, May 17)
          </td>
          <td>May 1, 2023</td>
        </tr>
        <tr routerLink="/announcement-view40" routerLinkActive="active">
          <td>33</td>
          <td>2023 KSEA Young Investigator Grant (YIG) Winners Announcement</td>
          <td>April 25, 2023</td>
        </tr>
        <tr routerLink="/announcement-view39" routerLinkActive="active">
          <td>32</td>
          <td>KSEA Senior Forum Series (Zoom: Thursday, April 27, 8 PM ET)</td>
          <td>April 25, 2023</td>
        </tr>
        <tr routerLink="/announcement-view38" routerLinkActive="active">
          <td>31</td>
          <td>
            KSEA Senior Forum Series (Zoom: March 30th, 8 PM ET / 5 PM PT)
          </td>
          <td>April 25, 2023</td>
        </tr>
        <tr routerLink="/announcement-view37" routerLinkActive="active">
          <td>30</td>
          <td>
            KSEA Distinguished Guest Series: Science & Technology Diplomacy
          </td>
          <td>April 20, 2023</td>
        </tr>
        <tr routerLink="/announcement-view36" routerLinkActive="active">
          <td>29</td>
          <td>STEP-UP 2023 Announcement</td>
          <td>April 18, 2023</td>
        </tr>
        <tr routerLink="/announcement-view35" routerLinkActive="active">
          <td>28</td>
          <td>2023 KSEA Election Results Announcement</td>
          <td>April 8, 2023</td>
        </tr>
        <tr routerLink="/announcement-view34" routerLinkActive="active">
          <td>27</td>
          <td>
            Application to attend the 1st World Conference of Korean Scientists
            & Engineers (deadline: April 11)
          </td>
          <td>April 5, 2023</td>
        </tr>
        <tr routerLink="/announcement-view33" routerLinkActive="active">
          <td>26</td>
          <td>Request for Information (RFI) - 2023 KEIT Demand Survey</td>
          <td>April 5, 2023</td>
        </tr>
        <tr routerLink="/announcement-view32" routerLinkActive="active">
          <td>25</td>
          <td>
            Additional Nomination for the 2023 Entrepreneur of the Year Award
          </td>
          <td>April 4, 2023</td>
        </tr>
        <tr routerLink="/announcement-view31" routerLinkActive="active">
          <td>24</td>
          <td>
            KSEA Youth Activities: The registration deadline of the 2023 NMSC,
            iDrone, Art, and Youth Talk Contests is now extended to Friday April
            7, 2023
          </td>
          <td>April 4, 2023</td>
        </tr>
        <tr routerLink="/announcement-view30" routerLinkActive="active">
          <td>23</td>
          <td>
            KSEA Distinguished Guest Series: The Second Quantum Revolution
          </td>
          <td>April 4, 2023</td>
        </tr>
        <tr routerLink="/announcement-view29" routerLinkActive="active">
          <td>22</td>
          <td>
            [KOFST] 2023년 우수연구자교류지원(BrainLink) 기술교류회 사업 지원
            신청 안내
          </td>
          <td>April 4, 2023</td>
        </tr>
        <tr routerLink="/announcement-view28" routerLinkActive="active">
          <td>21</td>
          <td>
            Celebrating the life and career of KSEA 30th President Nak Ho Sung
          </td>
          <td>March 29, 2023</td>
        </tr>
        <tr routerLink="/announcement-view27" routerLinkActive="active">
          <td>20</td>
          <td>UKC 2023 – Call for Papers</td>
          <td>March 23, 2023</td>
        </tr>
        <tr routerLink="/announcement-view26" routerLinkActive="active">
          <td>19</td>
          <td>SEED 2023 Invitation</td>
          <td>March 23, 2023</td>
        </tr>
        <tr routerLink="/announcement-view25" routerLinkActive="active">
          <td>18</td>
          <td>Announcement for KSEA Art Contest 2023</td>
          <td>March 9, 2023</td>
        </tr>
        <tr routerLink="/announcement-view24" routerLinkActive="active">
          <td>17</td>
          <td>
            The 2023 IDRONE KSEA Online CAMP is now scheduled for May 4 – 6,
            2023
          </td>
          <td>March 8, 2023</td>
        </tr>
        <tr routerLink="/announcement-view23" routerLinkActive="active">
          <td>16</td>
          <td>The 8th Hanwha Non-tenured Faculty Award (2023)</td>
          <td>March 7, 2023</td>
        </tr>
        <tr routerLink="/announcement-view22" routerLinkActive="active">
          <td>15</td>
          <td>UKC 2023 – Call for Papers Preannouncement</td>
          <td>March 7, 2023</td>
        </tr>
        <tr routerLink="/announcement-view21" routerLinkActive="active">
          <td>14</td>
          <td>
            Celebrating the life and career of KSEA 1st President Shoon Kyung
            Kim
          </td>
          <td>March 2, 2023</td>
        </tr>
        <tr routerLink="/announcement-view20" routerLinkActive="active">
          <td>13</td>
          <td>
            2023 KSEA National Mathematics and Science Competition (NMSC)
            Announcement
          </td>
          <td>March 1, 2023</td>
        </tr>
        <tr routerLink="/announcement-view19" routerLinkActive="active">
          <td>12</td>
          <td>
            The Women in STEM Workshop Series Hosted by KSEA in collaboration
            with KWiSE
          </td>
          <td>February 23, 2023</td>
        </tr>
        <tr routerLink="/announcement-view18" routerLinkActive="active">
          <td>11</td>
          <td>
            KSEA Python Instructional Series on Thursdays, March 9th, 16th, and
            23rd, 2023
          </td>
          <td>February 17, 2023</td>
        </tr>
        <tr routerLink="/announcement-view17" routerLinkActive="active">
          <td>10</td>
          <td>
            KSEA’s 2nd Mid-Career Development Workshop Announcement (Targeted to
            Associate Professors or Transition to Associate Professors) and
            Raffles
          </td>
          <td>February 16, 2023</td>
        </tr>
        <tr routerLink="/announcement-view16" routerLinkActive="active">
          <td>9</td>
          <td>2023 Young Professional Forum (YPF) Announcement</td>
          <td>February 2, 2023</td>
        </tr>
        <tr routerLink="/announcement-view15" routerLinkActive="active">
          <td>8</td>
          <td>2023 Young Generation Forum (YGF) Announcement</td>
          <td>February 2, 2023</td>
        </tr>
        <tr routerLink="/announcement-view14" routerLinkActive="active">
          <td>7</td>
          <td>2023 KSEA Scholarship and Fellowship Announcement</td>
          <td>February 1, 2023</td>
        </tr>
        <tr routerLink="/announcement-view13" routerLinkActive="active">
          <td>6</td>
          <td>2023 과총 차세대 과학기술리더 Net 활동 해외참가자 모집</td>
          <td>January 31, 2023</td>
        </tr>
        <tr routerLink="/announcement-view12" routerLinkActive="active">
          <td>5</td>
          <td>
            The 4th KSEA Distinguished Guest Series on Feb. 6, 2023 with Prof.
            Daniel Lee and SueYeon Chung
          </td>
          <td>January 25, 2023</td>
        </tr>
        <tr routerLink="/announcement-view11" routerLinkActive="active">
          <td>4</td>
          <td>2023 KSEA Awards Announcement</td>
          <td>January 18, 2023</td>
        </tr>
        <tr routerLink="/announcement-view10" routerLinkActive="active">
          <td>3</td>
          <td>2023 KSEA Honors Announcement</td>
          <td>January 18, 2023</td>
        </tr>
        <tr routerLink="/announcement-view9" routerLinkActive="active">
          <td>2</td>
          <td>2023 KSEA Election Announcement</td>
          <td>January 17, 2023</td>
        </tr>
        <tr routerLink="/announcement-view1" routerLinkActive="active">
          <td>1</td>
          <td>Shutdown of KSEA website 1/4~1/6/2023</td>
          <td>January 3, 2023</td>
        </tr>
        <!-- <tr routerLink="/announcement-view2" routerLinkActive="active">
          <td>1</td>
          <td>
            The 3rd KSEA Distinguished Guest Series on January 11, 2023 with
            John S. Kim, the Co-Founder and CEO of SendBird
          </td>
          <td>December 19, 2022</td>
        </tr> -->
        <!-- <tr routerLink="/announcement-view3" routerLinkActive="active">
          <td>4</td>
          <td>한국연구재단(NRF) 해외우수연구자 초청사업 (Brain Pool) 공고</td>
          <td>December 19, 2022</td>
        </tr>
        <tr routerLink="/announcement-view4" routerLinkActive="active">
          <td>3</td>
          <td>Season’s Greeting Message from the President of KSEA</td>
          <td>December 18, 2022</td>
        </tr>
        <tr routerLink="/announcement-view5" routerLinkActive="active">
          <td>2</td>
          <td>
            KSEA Distinguished Guest Series with Prof. Keith Joung: December 15,
            2022
          </td>
          <td>November 15, 2022</td>
        </tr>
        <tr routerLink="/announcement-view6" routerLinkActive="active">
          <td>1</td>
          <td>
            The 6th KAPAL Annual Conference (11/17 – 18) & the 12th ABES (11/18)
          </td>
          <td>November 14, 2022</td>
        </tr> -->
        <!-- <tr routerLink="/announcement-view7" routerLinkActive="active">
          <td>1</td>
          <td>2023 KSEA Young Investigator Grants Announcement</td>
          <td>November 7, 2022</td>
        </tr> -->
        <!-- <tr routerLink="/announcement-view8" routerLinkActive="active">
          <td>2</td>
          <td>
            Korea-US Industrial Technology Cooperation Forum on December, 8,
            2022
          </td>
          <td>October 27, 2022</td>
        </tr> -->
      </table>
      <div class="wrap-paginator">
        <ul class="paginator">
          <!-- <li>Pre</li> -->
          <li class="selected">1</li>
          <!-- <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>Next</li> -->
        </ul>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
