<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                Announcement & Invitation - The 5th KSEA STEP-UP on April 20~21, 2024
              </h3>
              <p class="date">March 14, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="con-img_small2">
                <p>
                  <span class="font-bold">Announcement & Invitation - KSEA STEP-UP 2024</span>
                </p>
              </div>
              <br />
              <p>
                KSEA proudly announces its 5th Science and Technology Entrepreneurship Partners' 
                Upscale Program (STEP-UP 2024) which will take place in 
                <span class="font-bold">Atlanta, GA on April 20~21, 2024!</span>
              </p>
              <p>
                Join us at STEP-UP 2024, where startups of various stages discover their full 
                potential to become unicorns. Our theme this year is 
                <span class="font-bold">“Empowering Health and Technology Innovators: 
                  Bridging the Gap between Vision and Entrepreneurial Success”</span> and 
                  we're excited to offer a range of dynamic programs designed to help technology 
                  startups achieve success.
              </p>
              <p>
                Our <span class="font-bold">Showcase of Success</span> sessions will feature 
                successful startups sharing their insider knowledge and know-hows of success. 
                For those looking to take their startups to the next level, our 
                <span class="font-bold">Road to Success</span> Sessions will cover critical 
                topics such as marketing, business laws, intellectual properties (IP), 
                and fundraising. You will also have the opportunity to 
                <span class="font-bold">pitch your current or future venture to potential investors 
                and network with your future partners</span>. Whether you're a budding 
                entrepreneur or a seasoned founder, we have something for you at STEP-UP 2024. 
                Don't miss out on this opportunity to learn, network, and grow your startup together!
              </p>
              <p>
                - <span class="font-bold">Date</span>: April 20 ~ 21, 2024 (with an unofficial 
                networking dinner on Friday, April 19)
              </p>
              <p>
                - <span class="font-bold">Venue</span>: Omni Atlanta Hotel at Centennial Park 
                @ 190 Marietta St NW, Atlanta, GA 30303
              </p>
              <p>
                - <span class="font-bold">Registration Dates</span>:
              </p>
              <ul class="list-deco-disc">
                <li>Registration opens: March 14, 2024</li>
                <li>Early Registration ($100 discount) ends: March 27, 2024</li>
                <li>Registration closes: April 5, 2024 (or the maximum number of seats is reached.)</li>
              </ul>

              <p>
                - <span class="font-bold">Registration Fees</span>:
              </p>
              <ul class="list-deco-disc">
                <li>Regular registration fee: $4004</li>
                <li>$100 early registration discount (Register by March 27 and get $100 discount)</li>
                <li>$100 KSEA member discount*</li>
                <li>$100 KSEA undergraduate/graduate students and postdoc discount*</li>
                <li>* Subject to membership verification. Visit <a href="https://www.ksea.org" 
                  target="_blank">https://www.ksea.org</a> to check your membership status.</li>     
              </ul>
              <p>
                - <span class="font-bold">Support for Attendees</span>:<br/>
                (Current KSEA membership and full attendance to the sessions are required)
              </p>
              <ul class="list-deco-disc">
                <li>Travel support: Up to $100 for airfare and driving mileage ($0.50/mile, 
                  minimum 100 miles)</li>
                <li>Hotel accommodation: 2 nights for a double occupancy room (2 people/room)<br />
                  -	Single occupancy is available at an additional $100 per night.</li>
                <li>Hotel meals: 3 meals are provided (Saturday lunch and dinner, Sunday lunch)</li>
                <li>$100 KSEA undergraduate/graduate students and postdoc discount*</li>
                <li>Networking dinners are provided at discounted rates ($30 each) on Friday and Sunday</li>     
              </ul>
              <p>
                For details including the program and registration, please visit 
                <a href="https://stepup.ksea.org/" target="_blank">https://stepup.ksea.org/</a><br />
                For general inquiries, please contact us at 
                <a href="mailto:stepup@ksea.org" target="_blank">stepup@ksea.org</a> 
              </p>
              <p>
                We look forward to welcoming you at STEP-UP 2024 in Atlanta!
              </p>
              <p>
                Kyeong Ho Yang, KSEA STEP-UP 2024 Chair<br />
                Yongho Sohn, KSEA President
              </p>

              <p>
                <a
                href=
                "https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240315_STEP-UP_+2024_announcement_20240314.pdf"
                target="_blank"
                download="STEP-UP 2024 Announcement"
                >
                <button class="btn-view">Download</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                           Next
                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
