<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                Announcing Mid-Career Lunch & Networking at UKC 2023 - Reserve
                Your Spot Now!
              </h3>
              <p class="date">July 5, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Dear KSEA member,</p>
              <p>
                We are delighted to announce the mid-career lunch & networking
                at
                <a href="https://www.ukc.ksea.org/" target="_blank">UKC 2023</a
                >, and we would like to extend an invitation for you to join us
                either on Thursday (August 3) or Friday (August 4). We have
                esteemed senior mentors at this semi-informal lunch program,
                including the three UKC 2023 keynote symposium chairs and two
                senior KSEA members with distinguished careers as follows:
              </p>
              <p class="txt-deco-line">Thursday, August 3</p>
              <ul class="list-deco-disc">
                <li>Prof. Youngsup Yoon (Emory University)</li>
                <li>Prof. Young-Kee Kim (University of Chicago)</li>
                <li>Prof. Jungsang Kim (Duke University)</li>
              </ul>
              <p class="txt-deco-line">Friday, August 4</p>
              <ul class="list-deco-disc">
                <li>
                  Dr. Jae Hoon Kim (Boeing) - Mid-career professionals in the
                  industry are encouraged to attend Friday lunch with Dr. Jae
                  Hoon Kim.
                </li>
                <li>
                  Prof. Young-Shin Jun (Washington University in St. Louis)
                </li>
              </ul>
              <div class="con-img">
                <img
                  src="assets/images/announcement/networking_at_ukc2023.jpg"
                  alt="Announcing Mid-Career Lunch & Networking at UKC 2023"
                />
              </div>
              <p>
                Don't miss the opportunity to meet our esteemed senior mentors
                and enhance your professional networking connections with both
                mentors and your peers. We encourage you to
                <a href="https://forms.gle/Ry6MGQmKQpBtq6Cu6" target="_blank"
                  >register</a
                >
                today! Seats are limited! This event operates on a first-come,
                first-served basis. The first 30 registrants for each day, with
                a valid KSEA User ID, will be accepted.
              </p>
              <p>
                The PDF flyer, which includes a clickable registration link, is
                also attached to this email. Please feel free to share this
                email/flyer with your colleagues and friends, urging them to
                join us! Looking forward to meeting you all in Dallas this
                August at UKC 2023. If you have any questions, please feel free
                to reach out to us
                <a href="mailto:hyojin.kim.ksea@gmail.com" target="_blank"
                  >(hyojin.kim.ksea@gmail.com).</a
                >
              </p>
              <p>Best regards,</p>
              <p>
                Hyojin Kim, Associate Professor, New Jersey Institute of
                Technology<br />
                Brian Park, Professor, University of Virginia<br />
                Organizers, UKC 2023 Program for Mid-Career Professionals
              </p>
              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/UKC+2023_KSEA+Mid-Career+Lunch+and+Networking.pdf"
                  target="_blank"
                  download="Mid-Career Lunch & Networking at UKC 2023"
                >
                  <button class="btn-view">Download</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                             Next
                                                         </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
