<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                The 19th KSEA President, Dr. Chai Chin Suh Passed Away at age 95
              </h3>
              <p class="date">August 17, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="con-img_small">
                <img
                  src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/230817_Chai+Chin+Suh.JPG"
                  alt=" The 19th KSEA President, Dr. Chai Chin Suh Passed Away at age 95
                  "
                />
              </div>
              <p>
                Chai Chin Suh, 95, of Wyomissing, passed away after a brief
                hospitalization at Reading Hospital on Friday, August 11, 2023,
                with his loving family at his bedside. This was his first
                hospitalization. He was the cherished husband of Youngsun Suh,
                to whom he was married for over 65 years.
              </p>
              <p class="font-bold">
                A memorial service for Dr. Chai Chin Suh will be held on
                September 9th at Park Road Presbyterian Church, 1045 N. Park
                Road, Wyomissing, PA 19610 at 11:00 am (10:15 am visitation).
              </p>
              <p>
                Dr. Suh was born in Korea, the eldest of seven children. He
                graduated with his bachelor’s degree in Mechanical Engineering
                from Seoul National University. In the mid 1950s, he traveled to
                the U.S. to complete his master’s degree in Mechanical
                Engineering at the University of Minnesota. Subsequently, in the
                late 1960s, Dr. Suh and his family immigrated to the U.S. where
                he earned his doctorate degree in Mechanical Engineering from
                the University of Michigan under a U.S. educational fellowship
                grant.
              </p>
              <p>
                His prestigious career began in Korea where he worked as a
                professor of Mechanical Engineering at Seoul National University
                (SNU) Engineering School. After he immigrated to the United
                States as a student to pursue his graduate studies, he began a
                fulfilling career, starting as an engineering consultant, then a
                partner of an engineering consulting firm, culminating in a
                position as the Chief Technology & Science Advisor at an
                international Korean Heavy Industries corporation. While he was
                a faculty member at SNU, he was commissioned to serve as Head of
                the Rocket Research & Development Division of the Korean Defense
                Ministry Science Research Institute. Under his leadership, the
                first rocket was successfully launched in South Korea in the
                summer of 1959 in the presence of the first president, Syngman
                Rhee. It was a landmark event in Korean history. He is very
                proud of his achievement in the early development of rocket
                technology in South Korea. This was his contribution to South
                Korea in space science and technology.
              </p>
              <p>
                Dr. Suh served as the 19th President of the Korean-American
                Scientists and Engineers Association (KSEA), a leadership role
                he passionately held and an organization in which he continued
                to be an active member. During his tenure, he was invited as a
                distinguished award recipient by the South Korean government in
                honor of Koreans who made significant contributions toward the
                country’s development in science and technology. For the first
                time in KSEA history, he provided forums for the younger
                generation involved with science and engineering in the local
                areas of D.C., Maryland, and Virginia, hoping to see what they
                were seeking for and what they could offer to an organization
                such as KSEA. Under his leadership, KSEA expanded the forum
                participants from the three local areas to all KSEA chapters,
                and KSEA members in the D.C. area were able to provide a few
                internship opportunities.
              </p>
              <p>
                Many students were inspired by Dr. Suh’s great passion for
                mathematics, and he took great joy in mentoring students. Dr.
                Suh published an essay entitled “Mathematics and Me” in a KSEA
                newsletter to explain how he had developed his life-long passion
                for mathematics. Dr. Suh was an avid and consistent golfer, a
                scratch player into his 80s, even winning the longest drive over
                golfers half his age. He remained physically active his entire
                life. His spiritual life was just as important. He served as an
                elder of the First Presbyterian Church of Reading, now known as
                Park Road Presbyterian Church.
              </p>
              <p>
                Left to treasure Dr. Suh’s memory are his wife, Youngsun, and
                their daughters Vivian Spahr (Douglas), Jacqueline Suh, and
                Janette Edelstein (Leonard). He is also survived by his loving
                grandchildren: Alexander Spahr, and Julie and Benjamin
                Edelstein.
              </p>
              <p>
                In lieu of flowers, contributions can be made to a memorial fund
                in Dr. Chai Chin Suh’s memory, which will go toward an academic
                scholarship through the Korean-American Scientists and Engineers
                Association (KSEA). Link provided here:
                <a
                  href="https://www.paypal.com/pools/c/121131452281794305"
                  target="_blank"
                >
                  https://www.paypal.com/pools/c/121131452281794305.</a
                >
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                                 Next
                                                             </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
