<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">Summer Research Opportunity in Korea for US undergraduate 
                and graduate student (sponsored by National Science Foundation)</h3>
              <p class="date">January 25, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                Dear KSEA Memebers,
                <br><br>
                Please check out the following information from UCF, 
                and submit your application if you are interested!
                <br><br>
                Thank you,
                <br>
                KSEA HQ
              </p>
              <div><hr></div>
              <p>
                Enjoy your summer in Korea while participating in cutting-edge research projects!
              </p>
              <p>
                The disruptions in a global supply chain created by the pandemic have impacted almost 
                everyone’s daily lives in the U. S. and beyond.  One notable example is the 
                “semiconductor chip shortage”. The chips process data and enable autonomous operations 
                of various consumer products, in many cases, without direct human interventions. 
                Among those semiconductor chip devices, a collection of devices that convert one energy 
                form to another is called <span class="font-bold">transducers</span>.
              </p>
              <p>
                Our IRES site program aims to provide frontier research experiences in the development 
                of low-dimensional materials for transducers (LDM4T) at university laboratories in Korea. 
                Our site activities are structured to provide interdisciplinary research experiences 
                in a global setting so students can contextualize research findings in real-world applications.
              </p>
              <p class="font-bold">Program Highlights</p>
              <ul class="list-deco-disc">
                <li>
                  Enjoy vibrant cultural scenes, rich history, and stunningly beautiful nature 
                  while visiting Korea.
                </li>
                <li>
                  Work with one of six foreign faculty mentors at one of four different universities 
                  to learn about transducer technologies by utilizing newly developed nanoscale materials.
                </li>
                <li>
                  8-week long international summer research experiences (June and July)
                </li>
                <li>
                  Competitive stipend
                </li>
                <li>
                  Travel and housing support
                </li>
              </ul>
              <p class="font-bold">Who Can Apply?</p>
              <ul class="list-deco-disc">
                <li>
                  U.S. citizens or permanent residents
                </li>
                <li>
                  Science and engineering majors in a degree-granting program at a U.S. college or university
                </li>
                <li>
                  Graduate standing or junior/senior undergraduate with a cumulative GPA of at least 3.0 preferred
                </li>
                <li>
                  Must be able to meet the Korea entry requirements including valid passports, ETA, etc.
                </li>
                <li>
                  Students from diverse backgrounds are encouraged to apply.
                </li>
              </ul>
              <p>
                To learn more about the program, view this site: 
                <a href="https://mems.cecs.ucf.edu/?page_id=287" target="_blank">
                  https://mems.cecs.ucf.edu/?page_id=287</a>
                <br>
                To formally submit an application, view this site:
                <a href="https://etap.nsf.gov/award/397/opportunity/4258" target="_blank">
                  https://etap.nsf.gov/award/397/opportunity/4258</a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                       Next
                   </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
