<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                Call for Applications: 2023 Korea Technology Advisory Group (K-TAG)
              </h3>
              <p class="date">August 25, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>
                <p>Dear KSEA members,</p>
                <br />
                <p>KSEA would like to invite you to the "2023 Korea Technology Advisory Group"(K-TAG) 
                  organized by KIAT (Korea Institute for Advancement of Technology, 한국산업기술진흥원). <br>
                  This invitation is a part of "International Collaborative Research and Development Program" 
                  initiated by MOTIE (산업통상자원부), and only K-TAG registered members will have the opportunity 
                  to participate in submitting the proposal, R&D consultants, Project Reviewer, etc. <br>
                </p>

                <p>
                  <span class="txt-deco-line">Qualifications</span> 
                  <br>
                  <br>
                  <ol>
                    <li>1. Industries and Research Institutes in the U.S.</li>
                  </ol>
                    <ul class="list-deco-disc">
                      <li>
                        PhD degree in related field
                      </li>
                      <li>
                        Master's (Bachelor's) degree in related fields with 5+ years of experience (7 years for Bachelor's degree)
                      </li>
                      <br>
                    </ul>
                  <ol>
                      2. Academies in the U.S.
                  </ol>
                    <ul class="list-deco-disc">
                      <li>
                        Professor (Assistant Prof level or above) at accredited Universities/College or Community College
                      </li>
                    </ul>
                    <br>
                    <ol>
                      3. U.S. Government
                  </ol>
                    <ul class="list-deco-disc">
                      <li>
                        Grade 10 or above in government functions who has expertise in related fields
                      </li>
                    </ul>
                    <p>
                      <span class="txt-deco-line">Areas of Expertise*</span>
                    </p>

                    <p>
                      1. Machine/Materials 2. Electric/Electronic 3. Information/Communications 
                      4. Chemistry 5. Bio/Medicine 6. Energy/Resource 7. Knowledge Service
                    </p>
                    <p>
                      (1.기계·소재 2.전기·전자 3.정보통신 4.화학 5.바이오·의료 6.에너지·자원 7.지식서비스)
                    </p>
                    <p>
                      - 7개 기술분과* 별로 모집하되 반도체, 배터리, 탄소중립, 디지털전환 등 한미 협력 유망 산업기술에 집중하여 선발
                    </p>
                    <p>
                      For details of the qualifications and expertise required, please refer to the attached guidelines.
                    </p>
                    <p>
                      If you would like to be in the K-TAG expert pool, 
                      <span class="txt-deco-line">please fill out the attached application form and send it to 
                        <a href="mailto:project@ksea.org" target="_blank">project@ksea.org</a> by September 30, 2023</span>
                    </p>
                    <p>
                      <span class="font-bold">If you are already a member of K-TAG, you do NOT have to resubmit the application 
                      unless you need to update your information.</span>
                    </p>
                    <p>
                      We look forward to seeing your active participation in this important R&D collaboration with KIAT.
                    </p>
                    <br />
                    <p>
                      Sincerely,
                    </p>
                    <br>
                    <p>
                      Yongho Sohn <br>
                      President of KSEA
                    </p>
                <br />
                <p>
                  <a
                    href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/(Form)+Invitation+for+KIAT's+Korea+Technology+Advisory+Group_2023.docx"
                    target="_blank"
                    download="(Form) Invitation for KIAT's Korea Technology Advisory Group_2023"
                  >
                    <button class="btn-view">Download Form</button>
                  </a>
                  <a
                    href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/K-TAG+USA_announcement.pdf"
                    target="_blank"
                    download="K-TAG USA_announcement"
                  >
                    <button class="btn-view">Download Information</button>
                  </a>
                </p>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                                 Next
                                                             </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
