<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                The 3rd KSEA Distinguished Guest Series on January 11,
                <br />2023 with John S. Kim, the Co-Founder and CEO of SendBird
              </h3>
              <p class="date">December 19, 2022</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img src="assets/images/announcement/distinguiched2.jpeg" />
              <p>Dear KSEA members,</p>
              <p>
                On November 9, we launched the KSEA Distinguished Guest Series
                with the inaugural guest Professor June Huh, the 2022 Fields
                Medalist. I would like to thank many of you who joined (some
                with your family members and friends) and made the event a big
                success. Those who were not able to attend, here is the
                recording. https://youtu.be/eUqrYbOCy7A

                <br />I am very pleased to invite you to the 2nd KSEA
                Distinguished Guest Series on December 15 with Prof. Keith Joung
                at Massachusetts General Hospital and Harvard Medical School,
                the recipient of the 2022 HO-Am Prize in Medicine.

                <br />In this session, Prof. Joung will speak about his
                scientific research in the field of CRISPR gene-editing and
                epigenetic-editing technology development. He will also discuss
                his scientific journey from growing up in Wisconsin as a
                second-generation Korean-American to becoming a principal
                investigator who has led a highly productive research group for
                the past 20-plus years. He will participate in a
                question-and-answer session following his talk.

                <br />I hope to see many of you, and your families and friends
                at this meeting with Prof. Joung. The zoom link will be sent to
                KSEA members who registered by the deadline. I would greatly
                appreciate it if you could reach out to non-KSEA members to join
                or renew KSEA membership
                <a href="https://www.ksea.org/join.aspx" target="_blank"
                  >(HERE)</a
                >
                and attend this event.

                <br />Event Details:

                <br />Date: Thursday, December 15th, 2022 at 5:30-6:30pm (PT),
                8:30-9:30pm (ET) <br />Venue: Virtual. A zoom link will be
                provided on Monday, December 12th, 2022 to KSEA members who
                register by filling out this Google form
                <a href="https://www.ksea.org/join.aspx" target="_blank"
                  >(HERE)</a
                >
                <br />Facilitator: Young-Kee Kim, Prof. of Physics at Univ. of
                Chicago, President of KSEA <br />Registration Deadline: Sunday,
                December 10, 2022 <br />Sincerely,

                <br />Young-Kee Kim, <br />President of KSEA
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                   Next
               </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
