<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Job Opportunities</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Job Opportunities</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">KIC DC Tech Frontier 프로그램 인턴모집</h3>
              <p class="date">April 18, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                Korea Innovation Center Washington, D.C. (KIC DC) is currently
                looking for multiple Korean-English bilingual interns for the
                upcoming Tech Frontier Program. As an intern, you will have
                exposure to various elements of startup modules such as business
                model canvas, business networking, customer discovery, and
                business verification.
              </p>
              <p>
                <span class="txt-deco-line">About KIC:</span><br />
                KIC DC is funded by the Korean government on a mission to create
                a global startup ecosystem throughout our four locations-
                Washington D.C., Silicon Valley, Berlin, and Beijing. We
                discover and incubate promising Korean technology startups by
                providing assets such as connections to market enablers,
                accelerators, and training programs. More than 100 Korean
                startups join us to explore the U.S market annually. We welcome
                leaders from various sectors to build a vibrant network between
                the U.S. and South Korea.
              </p>
              <p>
                <span class="txt-deco-line">Job Title: </span><br />
                Tech Frontier Internship
              </p>
              <p>
                <span class="txt-deco-line">Job Types: </span><br />
                Part-time, Internship
              </p>
              <p>
                <span class="txt-deco-line">Job Summary: </span><br />
                Interns will be helping with multiple weeks of intensive Lean
                Startup entrepreneurial training and technology
                commercialization boot camps for teams of Korean researchers
                selected by the KIC DC for the Tech Frontier Program this
                summer. This will be a great opportunity for interns to engage
                with some of the best entrepreneurs/startups from Korea who are
                coming from prestigious universities in Korea. Interns will work
                closely with university-based Korean startup teams under the
                leadership of the George Washington Office of Innovation and
                Entrepreneurship and University of California, Berkeley Haas
                Entrepreneurship.
              </p>
              <p>
                <span class="txt-deco-line">Locations: </span><br />
                Washington D.C. OR San Francisco
              </p>
              <p>
                <span class="txt-deco-line">Term of internship:</span><br />
              </p>
              <p>Cohort 1 and 2 (Washington D.C.)</p>
              <ul class="list-deco-disc">
                <li>Virtual: 2nd OR 3rd week of July (TBD)</li>
                <li>In-person: Jul 24th ~ Aug 11th, 2023</li>
                <li>Field trips: TBD</li>
              </ul>
              <p>Cohort 3 (San Francisco)</p>
              <ul class="list-deco-disc">
                <li>Virtual: 2nd OR 3rd week of July (TBD)</li>
                <li>In-person: Jul 24th ~ Aug 11th, 2023</li>
                <li>Field trips: TBD</li>
              </ul>
              <p class="txt-deco-line">Job Responsibilities:</p>
              <ul class="list-deco-disc">
                <li>
                  Work about 20 hours per week
                  <ul>
                    <li>- More hours upon request from Korean startup teams</li>
                  </ul>
                </li>
                <li>Attend internship orientation prior to cohort</li>
                <li>Attend virtual training sessions prior to cohort</li>
                <li>
                  Work with the assigned teams outside of class to:
                  <ul>
                    <li>
                      - Provide logistical help to the Korean entrepreneur
                      groups and startup teams
                    </li>
                    <li>
                      - Assist teams with U.S market research and customer
                      discovery interviews
                    </li>
                    <li>
                      - Other necessary help to the Korean start up teams via
                      zoom or in-person upon request
                    </li>
                  </ul>
                </li>
                <li>
                  Provide translation between Korean and English (& vice versa)
                </li>
                <li>
                  Support program logistics/coordination as requested
                  <ul>
                    <li>- Engage with the teaching team and KIC DC</li>
                    <li>- Special projects/tasks as assigned</li>
                  </ul>
                </li>
              </ul>
              <p class="txt-deco-line">Basic Qualifications:</p>
              <ul class="list-deco-disc">
                <li>Must be bilingual (fluent in both Korean & English)</li>
                <li>Must be a current undergrad/grad student</li>
                <li>Have good communication and interpersonal skills</li>
                <li>
                  Strong interest in startup, entrepreneurship, or innovation is
                  a plus
                </li>
                <li>
                  Must be flexible and willing to adjust schedule according to
                  the needs of the Korean teams
                </li>
              </ul>
              <p class="txt-deco-line">Preferred Qualifications:</p>
              <ul class="list-deco-disc">
                <li>
                  Interest or knowledge in IT, Engineering Tech, Biotech,
                  Nanotech, or Space-Tech is a plus
                </li>
              </ul>
              <p class="txt-deco-line">Stipend:</p>
              <ul class="list-deco-disc">
                <li>$2,200 for Washington D.C. cohort</li>
                <li>$1,100 for San Francisco cohort</li>
              </ul>
              <p>
                Perks of Program: Free lunch (Session days only), parking
                passes, free field trip opportunities
              </p>
              <p class="txt-deco-line">Reach out by:</p>
              <ul class="list-deco-disc">
                <li>
                  Email :<a href="mailto:ehan@kicdc.org" target="_blank">
                    ehan@kicdc.org</a
                  >
                </li>
                <li>Tel: 334-750-6235</li>
              </ul>
              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/job/KIC_DC_JobOffer_ENG.docx"
                  target="_blank"
                  download="KIC_DC_JobOffer_ENG"
                >
                  <button class="btn-view">Download</button>
                </a>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/job/KIC_DC_JobOffer_KOR.docx"
                  target="_blank"
                  download="KIC_DC_JobOffer_KOR"
                >
                  <button class="btn-view">Download</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/job"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                           Next
                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
