<div class="wrap">
  <app-nav></app-nav>
  <app-about-header></app-about-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>About</li>
    <li>Mission & Vision</li>
  </ul>
  <div class="scon-center">
    <h2 class="font-ksea">KSEA</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <p>
      KSEA was established in 1971 as a non-profit professional organization and
      has grown to over 7,000 registered members with <br />
      ~ 70 Local Chapter and Branches, ~30 Affiliated Professional Societies,
      and 13 Technical Groups across the United States
    </p>
  </div>
  <div class="scon-center vision">
    <img src="assets/images/img_vision.svg" alt="Ksea vision & mission" />
  </div>
  <app-footer></app-footer>
</div>
