.vision {
  background-image: url("/assets/images/bg_about_vision.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5em 0;
}
.vision > img {
  width: 70vw;
}
