<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                Euna Yoon, the KSEA Administrative Manger received the MPS Award
              </h3>
              <p class="date">December 26, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <p>
                  Ms. Eun Yoon, the Administrative Manager at the KSEA HQ received the Outstanding Contribution Award 
                  by the Ministry of Personnel Management (MPM) of the Republic of Korea. This award is to be given 
                  to a working staff annually who contributed to the global collaborations and global HR program 
                  which aims to recruit talented Koreans who are working abroad.
                </p>
                <p>
                  Manager Yoon contributed to arrange the MOU with the Ministry of Personnel Management and KSEA in 
                  May 2023. The MOU signing ceremony with MPM was held at the headquarters office of KSEA in Vienna, 
                  Virginia on May 17, 2023. At the MOU ceremony, Seung-ho Kim, the Ministry of Personnel Management 
                  attended and signed the MOU with Young-Kee Kim, the 51st President of KSEA and Presidents and leaders 
                  of the 7 KSEA Affiliated Professional Societies (APS) including KLAM, KASBP, KITEE, KSCEE, NIH-KSA, 
                  KAPAL and KOTAA separately.
                </p>
                <p>
                  As a follow up process after the MOU, Euna Yoon closely worked with the MPM to proceed with 
                  the National Human Resources Database (NHRDB) projects towards KSEA members. The DB Application Form 
                  and official guidelines by MPM were circulated to KSEA members to collect personal information, 
                  register it in the National Human Resources Database, and obtain applicants’ consent for collection 
                  and use of such information. As a result of the active promotion, 150 KSEA members registered in 
                  NHRDB in the 1st round of the application in 2023.  Euna Yoon arranged the follow up meeting with 
                  the KSEA Leadership and Minister of the Personal Management in Seoul on July 6, 2023, during the 
                  1st World Congress of Korean Scientists and Engineers for the continuous collaborations with MPM 
                  and KSEA.
                </p>
                <p>
                  Euna Yoon has been working at the KSEA HQ since 2010, and her main areas of focus are to coordinate 
                  the R&D collaboration projects and events, fundraising and various businesses for the benefit of KSEA 
                  members.
                </p>
                <br><br>
                <div class="con-img_small1">
                  <img
                    src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/231226_AM+Yoon.jpg"
                    alt="AM Yoon"
                  />
                  &nbsp;
                  <img
                  src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/231226_MPM+Award.jpg"
                  alt="MPM Award"
                />
                </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                                 Next
                                                             </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
