<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                2023 KSEA Scholarship and Postdoctoral Fellowship Recipients
              </h3>
              <p class="date">May 24, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="font-bold">
                I. 2023 KSEA Undergraduate Scholarship Recipients
              </p>
              <p>
                * KSEA-Rim Scholarship was established by Mr. Jihoon Rim,
                professor at Stern Business School at New York University and
                former CEO of Kakao Corp. Prof. Rim has gratefully pledged to
                donate $15,000 a year to help KSEA support more undergraduate
                scholarship awardees starting 2022
              </p>
              <table>
                <tbody>
                  <tr>
                    <th style="width: 30%">Scholarship Name</th>
                    <th style="width: 23%">Name</th>
                    <th style="width: 22%">School Name</th>
                    <th style="width: 25%">Major</th>
                  </tr>
                  <tr>
                    <td>KSEA-Rim</td>
                    <td>Bokyung Kang</td>
                    <td>Georgia Institute of Technology</td>
                    <td>in Chemical and Biomolecular Engineer</td>
                  </tr>
                  <tr>
                    <td>KSEA-Rim</td>
                    <td>Jeonghoon Hyun</td>
                    <td>University of Michigan</td>
                    <td>Molecular, Cellular, Developmental Biology</td>
                  </tr>
                  <tr>
                    <td>KSEA-Rim</td>
                    <td>Claire Jun</td>
                    <td>University of Pennsylvania</td>
                    <td>
                      Health &amp; Societies (Health Policy and Law
                      concentration) and Chemistry
                    </td>
                  </tr>
                  <tr>
                    <td>KSEA-Rim</td>
                    <td>Esther Yeasong Ko</td>
                    <td>Baylor University</td>
                    <td>Neuroscience</td>
                  </tr>
                  <tr>
                    <td>KSEA-Rim</td>
                    <td>Olivia Han</td>
                    <td>MIT</td>
                    <td>Computer Science</td>
                  </tr>
                  <tr>
                    <td>KSEA-Rim</td>
                    <td>Daniel Dickman</td>
                    <td>Harvard University</td>
                    <td>Computer Science and Mathematics</td>
                  </tr>
                  <tr>
                    <td>KSEA-Rim</td>
                    <td>Jessica Lee</td>
                    <td>Harvard University</td>
                    <td>Mathematics</td>
                  </tr>
                  <tr>
                    <td>KSEA-Rim</td>
                    <td>Joo Un Lee</td>
                    <td>Yale University</td>
                    <td>Molecular Biophys</td>
                  </tr>
                  <tr>
                    <td>KSEA-Rim</td>
                    <td>Esther Cha</td>
                    <td>Northwestern University</td>
                    <td>Neuroscience &amp; Psychology</td>
                  </tr>
                  <tr>
                    <td>KSEA-Rim</td>
                    <td>Paul Oh</td>
                    <td>Harvey Mudd College</td>
                    <td>Chemistry and Biology</td>
                  </tr>
                  <tr>
                    <td>Chan Mo Park</td>
                    <td>Joomee Choi</td>
                    <td>Northeastern University</td>
                    <td>Computer Science</td>
                  </tr>
                  <tr>
                    <td>Shoon Kyung Kim</td>
                    <td>Claire Cheon</td>
                    <td>University of Texas at Dallas</td>
                    <td>Biomedical Engineering</td>
                  </tr>
                  <tr>
                    <td>Inyong Ham</td>
                    <td>Donghyuk Jang</td>
                    <td>Rutgers Unversity</td>
                    <td>Biological Science</td>
                  </tr>
                  <tr>
                    <td>Nam Sook &amp; Je Hyun Kim</td>
                    <td>Younggyun Kim</td>
                    <td>University of Southern California</td>
                    <td>Biomedical Engineering</td>
                  </tr>
                  <tr>
                    <td>Woojin</td>
                    <td>Jungeun Lee</td>
                    <td>Georgia Institute of Technology</td>
                    <td>Biology</td>
                  </tr>
                  <tr>
                    <td>Yohan &amp; Rumie Cho</td>
                    <td>Young Seo Lee</td>
                    <td>Northeastern University</td>
                    <td>Pharmacy and Pharmaceutical Sciences</td>
                  </tr>
                  <tr>
                    <td>Chunghi Hong Park</td>
                    <td>Teresa Cho</td>
                    <td>Texas A&amp;M University</td>
                    <td>Biomedical Sciences</td>
                  </tr>
                  <tr>
                    <td>Chunghi Hong Park</td>
                    <td>Jenny Hoffmeister</td>
                    <td>Texas A&amp;M University</td>
                    <td>Public Health</td>
                  </tr>
                  <tr>
                    <td>Wan-Kyoo Cho</td>
                    <td>Kyungseo Yoon</td>
                    <td>UCLA</td>
                    <td>Biochemistry</td>
                  </tr>
                  <tr>
                    <td>Changkiu Riew &amp; Hyunsoo Kim</td>
                    <td>Hannah Dearman-So</td>
                    <td>Harvey Mudd College</td>
                    <td>Engineering</td>
                  </tr>
                  <tr>
                    <td>Jae S. and Kyuho Lim</td>
                    <td>Insung Kim</td>
                    <td>Vanderbilt University</td>
                    <td>Neuroscience &amp; Child Developm</td>
                  </tr>
                  <tr>
                    <td>Yoo, YoungSoo &amp; Im, KyungBin</td>
                    <td>Yongwan Cho</td>
                    <td>Kalamazoo College</td>
                    <td>Computer Science and Mathematics</td>
                  </tr>
                  <tr>
                    <td>Chan Il &amp; Young Hee Chung</td>
                    <td>Yechin Kim</td>
                    <td>Baylor University</td>
                    <td>Health Science Studies</td>
                  </tr>
                  <tr>
                    <td>Yong Nak Lee</td>
                    <td>Rachel Jeong</td>
                    <td>University of Texas at Austin</td>
                    <td>Biology</td>
                  </tr>
                  <tr>
                    <td>Tai Ryang and You Hyun Shin</td>
                    <td>Gaeun Kim</td>
                    <td>New Mexico Institute of Mining and Technology</td>
                    <td>Chemical Engineering</td>
                  </tr>
                  <tr>
                    <td>Kyong Chul Chun</td>
                    <td>Jonathan Eom</td>
                    <td>Brandeis University</td>
                    <td>Biochemistry</td>
                  </tr>
                  <tr>
                    <td>Hahn-Paek</td>
                    <td>Eric Hwang</td>
                    <td>Harvard University</td>
                    <td>Computer Science and Government</td>
                  </tr>
                  <tr>
                    <td>Chongsook &amp; Nakho Sung</td>
                    <td>Taewoo Lee</td>
                    <td>University of Wisconsin-Madison</td>
                    <td>Electrical Engineering</td>
                  </tr>
                  <tr>
                    <td>Dr. Kiuck &amp; Oksoon Lee</td>
                    <td>Sijun Kim</td>
                    <td>Eastern Kentucky University</td>
                    <td>Computer Science</td>
                  </tr>
                  <tr>
                    <td>KSEA</td>
                    <td>Minjoo Kang</td>
                    <td>Rutgers University</td>
                    <td>Pharmacy</td>
                  </tr>
                </tbody>
              </table>
              <p class="font-bold">
                II. 2023 KSEA-KUSCO Graduate Scholarship Recipients
              </p>
              <table>
                <tbody>
                  <tr>
                    <th style="width: 20%">Name</th>
                    <th style="width: 40%">School Name</th>
                    <th style="width: 40%">Major</th>
                  </tr>
                  <tr>
                    <td>Serin Lee</td>
                    <td>MIT</td>
                    <td>Materials Science and Engineering</td>
                  </tr>
                  <tr>
                    <td>Ji-Young Lee</td>
                    <td>Touro College of Pharmacy</td>
                    <td>Pharmacy</td>
                  </tr>
                  <tr>
                    <td>David Ha Eun Kang</td>
                    <td>MIT</td>
                    <td>Mechanical Engineering</td>
                  </tr>
                  <tr>
                    <td>Yejin Ki</td>
                    <td>University of Pittsburgh</td>
                    <td>Dental Medicine</td>
                  </tr>
                  <tr>
                    <td>Kyeong Joo Jung</td>
                    <td>Ohio State University</td>
                    <td>Computer Science</td>
                  </tr>
                  <tr>
                    <td>Minchae(Chloe) Kang</td>
                    <td>Texas A&amp;M University</td>
                    <td>Exercise Physiology</td>
                  </tr>
                  <tr>
                    <td>Saeyeong Jeon</td>
                    <td>University of Florida</td>
                    <td>Electrical and Computer Engineering</td>
                  </tr>
                  <tr>
                    <td>Lucie Ahn</td>
                    <td>Case Western Reserve University School of Medicine</td>
                    <td>Genetics and Genome Sciences</td>
                  </tr>
                  <tr>
                    <td>Taeyoon Jung</td>
                    <td>University of Washington</td>
                    <td>Medicinal Chemistry</td>
                  </tr>
                  <tr>
                    <td>Jaehoan Kim</td>
                    <td>Texas A&amp;M University</td>
                    <td>Statistics</td>
                  </tr>
                  <tr>
                    <td>Seungri Kim</td>
                    <td>The City College of New York</td>
                    <td>Chemical Engineering</td>
                  </tr>
                  <tr>
                    <td>Soohwan Kim</td>
                    <td>Georgia Institute of Technology</td>
                    <td>Mechanical Engineering</td>
                  </tr>
                  <tr>
                    <td>Bo Ra Kim</td>
                    <td>University of Texas at Austin</td>
                    <td>Nursing</td>
                  </tr>
                  <tr>
                    <td>Seungweon Park</td>
                    <td>Vanderbilt University School of Medicine</td>
                    <td>Medicine</td>
                  </tr>
                  <tr>
                    <td>Jinwon Oh</td>
                    <td>Stanford University</td>
                    <td>Materials Science and Engineering</td>
                  </tr>
                  <tr>
                    <td>Sanghyun Jeon</td>
                    <td>University of Illinois at Urbana-Champaign</td>
                    <td>Materials Science and Engineering</td>
                  </tr>
                  <tr>
                    <td>Chunghwan Kim</td>
                    <td>Arizona State University</td>
                    <td>Biomaterials &amp; Biomechanics</td>
                  </tr>
                  <tr>
                    <td>Ilhan Bok</td>
                    <td>Electrical Engineering</td>
                    <td>U of Wisconsin-Madison</td>
                  </tr>
                  <tr>
                    <td>Soonmyung Hwang</td>
                    <td>Icahn School of Medicine at Mount Sinai</td>
                    <td>Medicine</td>
                  </tr>
                  <tr>
                    <td>Woojung Lee</td>
                    <td>Columbia University</td>
                    <td>Chemistry</td>
                  </tr>
                </tbody>
              </table>
              <p class="font-bold">
                III. 2023 KSEA Postdoctoral Fellowship Recipients
              </p>
              <table>
                <tbody>
                  <tr>
                    <th style="width: 20%">Postdoctoral Fellowship</th>
                    <th style="width: 20%">Name</th>
                    <th style="width: 30%">Affiliation</th>
                    <th style="width: 30%">Major</th>
                  </tr>
                  <tr>
                    <td>Hyundai</td>
                    <td>Jinhyun Kim</td>
                    <td>UC Berkeley</td>
                    <td>Chemical and Biomolecular Engineering</td>
                  </tr>
                  <tr>
                    <td>SaAh-Halm</td>
                    <td>Michael Lee</td>
                    <td>GIT</td>
                    <td>Mechanical Engineering</td>
                  </tr>
                  <tr>
                    <td>Ohjee &amp; Quiesup</td>
                    <td>Hojong Yoon</td>
                    <td>MIT and Harvard</td>
                    <td>Chemical Biology</td>
                  </tr>
                  <tr>
                    <td>KSEA</td>
                    <td>Wonjin Choi</td>
                    <td>Lawrence Livermore National Laboratory</td>
                    <td>Materials Science Division</td>
                  </tr>
                  <tr>
                    <td>Young-Kee Kim</td>
                    <td>Jinho Park</td>
                    <td>U of Florida</td>
                    <td>Medicine</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                     Next
                                                 </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
