<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                Calling for Korean Parents and their TEENS in the U.S for the Volunteer Opportunities
              </h3>
              <p class="date">March 15, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                Dear KSEA members,<br />
                <br />
                NIH-KWiSE is pleased to announce the  KSEA families (anywhere in the U.S.) 
                with teens ages 12-17 to participate in our study called the Project ARISE 
                (Asian Americans' Resilience, Identity, and Socialization of Engagement) by 
                Dr. Cixin Wang and colleagues at University of Maryland.<br />
                <span class="font-bold">Parents condition</span>: Either one or  both parents 
                must be Korean, while the other parent must be of Asian descent (any).<br />
                <span class="font-bold">Study outcome</span>:<br />
                Ultimately, this study to inform ways to promote resilience and healthy 
                development in Asian American families and guide prevention and intervention plans.<br />
                Their work has influenced important public policies for Asian Americans, especially 
                in the domains of discrimination and anti-Asian hate.<br />
                If you have questions, please contact Dr. Cixin Wang (<a href="mailto:cxwang@umd.edu" 
                target="_blank">cxwang@umd.edu</a>) directly.<br />
                Please consider participating as Korean American, with teens (ages 12-17), 
                or forward this message to others who may be interested.<br />
                Your contribution to this survey will benefit our community and our children.<br />
                <br />
                Thanks for your consideration.<br />
                NIH-KWiSE Steering Committee          
              </p>
              <a href=
                "https://umbc.co1.qualtrics.com/jfe/form/SV_3JVQoj9aNjuQa3k"
                target="_blank">
                <img
                  src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240315_ARISE_ParentFlyer.png"
                  alt="ARISE Parent Flyer(Eng)"
                />
              </a>
              <a href=
              "https://umbc.co1.qualtrics.com/jfe/form/SV_3JVQoj9aNjuQa3k"
              target="_blank">
              <img
                src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240315_ARISE_ParentFlyer_Kor.png"
                alt="ARISE Parent Flyer(Kor)"
              />
            </a>
              <p>
                <a
                  href=
                  "https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240315_ARISE_ParentFlyer.pdf"
                  target="_blank"
                  download="ARISE Parent Flyer"
                  >
                  <button class="btn-view">Download(Eng)</button>
                </a>
                <a
                  href=
                  "https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240315_ARISE_ParentFlyer_Kor.pdf"
                  target="_blank"
                  download="ARISE Parent Flyer(Kor)"
                  >
                  <button class="btn-view">Download(Kor)</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                           Next
                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
