<div class="wrap">
  <app-nav></app-nav>
  <app-about-header></app-about-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>About</li>
    <li>Bylaws</li>
  </ul>
  <div class="scon-center">
    <h2 class="font-ksea">Bylaws</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="con-img">
      <img src="assets/images/img_bylaws.png" alt="bylaws" />
    </div>

    <button class="btn_blue">
      <!-- <a href="{{ filesURL }}KSEA Handbook_011724.pdf" target="_blank" download="handbook"> -->
      <a href="https://ksea-files.s3.us-west-2.amazonaws.com/files/KSEA-Bylaws/KSEA+Bylaws_0531+.pdf"
       target="_blank" download="bylaws">
       Bylaws</a>
    </button>
  </div>
  <!-- 기존 내용 삭제 백업차 남겨둠 (2024.06.06.) -->
  <!-- <div class="wrap-rule" name="top">
    <div class="quik-top">
      <a href="bylaws#top"> Top </a>
    </div>
    <div class="scon-center">
      <h2 class="font-ksea">KSEA BYLAWS 2014</h2>
      <h3>KOREAN-AMERICAN SCIENTISTS AND ENGINEERS ASSOCIATION, INC.</h3>
    </div>
    <div class="con-toc">
      <h2>TABLE OF CONTENTS</h2>
      <ul>
        <li>
          <a href="bylaws#by1">CHAPTER1: PURPOSE AND PROGRAM</a>
          <ul class="list-in">
            <li>ARTICLE 1. Statement of Purpose</li>
            <li>ARTICLE 2. Programs</li>
          </ul>
        </li>
        <li>
          <a href="bylaws#by2">CHAPTER 2: MEMBERSHIP</a>
          <ul class="list-in">
            <li>ARTICLE 3. Membership Categories</li>
            <li>ARTICLE 4. Qualifications for Regular and Overseas Members</li>
            <li>ARTICLE 5. Qualifications for Student Member</li>
            <li>
              ARTICLE 6. Qualifications for Distinguished Service Member,
              Distinguished Sponsor Member, and Honorary Member
            </li>
            <li>ARTICLE 7. Voting Member</li>
            <li>ARTICLE 8. Admission</li>
            <li>ARTICLE 9. Membership Dues</li>
            <li>ARTICLE 10. Disciplinary Actions</li>
            <li>ARTICLE 11. Meeting of Members (“General Assembly”)</li>
          </ul>
        </li>
        <li>
          <a href="bylaws#by3">CHAPTER 3: BOARD OF DIRECTORS (“COUNCIL”)</a>
          <ul class="list-in">
            <li>AARTICLE 12. Councilors</li>
            <li>ARTICLE 13. Functions of the Council</li>
            <li>ARTICLE 14. Election of Former President Councilors</li>
            <li>ARTICLE 15. Council Meeting</li>
            <li>ARTICLE 16. Salary</li>
          </ul>
        </li>
        <li>
          <a href="bylaws#by4">CHAPTER 4: OFFICERS AND AUDITORS</a>
          <ul class="list-in">
            <li>ARTICLE 17. Officers</li>
            <li>ARTICLE18. Duties</li>
            <li>ARTICLE 19. Auditors</li>
          </ul>
        </li>
        <li>
          <a href="bylaws#by5">CHAPTER 5: COMMITTEES AND ADVISORS</a>
          <ul class="list-in">
            <li>ARTICLE 20. Executive Committee</li>
            <li>ARTICLE 21. Other Committees</li>
            <li>ARTICLE 22. Appointment and Duties of Advisor</li>
          </ul>
        </li>
        <li>
          <a href="bylaws#by6"
            >CHAPTER 6: TECHNICAL GROUPS, AFFILIATED PROFESSIONAL SOCIETIES,
            LOCAL CHAPTERS, AND BRANCHES</a
          >
          <ul class="list-in">
            <li>
              ARTICLE 23. Technical Groups, Affiliated Professional Societies,
              Local Chapters, and Branches
            </li>
          </ul>
        </li>
        <li>
          <a href="bylaws#by7">CHAPTER 7: FINANCE</a>
          <ul class="list-in">
            <li>ARTICLE 24. Annual Reports</li>
            <li>ARTICLE 25. Income and Expenses</li>
            <li>ARTICLE 26. Fiscal Year</li>
            <li>ARTICLE 27. Bank Accounts</li>
            <li>ARTICLE 28. Indemnification</li>
          </ul>
        </li>
        <li>
          <a href="bylaws#by8">CHAPTER 8: MISCELLANEOUS</a>
          <ul class="list-in">
            <li>ARTICLE 29. Officers</li>
            <li>ARTICLE 30. Amendment of Bylaws</li>
            <li>ARTICLE 31. Effective Date</li>
          </ul>
        </li>
        <li><a href="bylaws#app">APPENDIX: AMENDMENT HISTORY</a></li>
      </ul>
    </div>
    <div class="con-contents" id="by1">
      <h3>CHAPTER 1: PURPOSE AND PROGRAMS</h3>
      <div>
        <h4>ARTICLE 1. Statement of Purpose</h4>
        <p>
          Korean-American Scientists and Engineers Association, Inc., (“KSEA”)
          shall be operated exclusively as a non-profit organization exempt from
          Federal income tax under Section 501(c)(3) of the Internal Revenue
          Code to achieve the following objectives:
        </p>
        <ol>
          <li>
            Contribute to the social welfare and the industrial development in
            the USA and Korea through the promotion of science and engineering.
          </li>
          <li>
            Promote cooperation between the USA and Korea in science and
            engineering.
          </li>
          <li>
            Promote friendship and fellowship among Korean-American
            professionals engaged in science, engineering, and related fields.
          </li>
          <li>
            Enhance the professional and social status of Korean-American
            professionals engaged in science, engineering, and related fields.
          </li>
          <li>
            Promote and cultivate the next generation of Korean-American
            scientists and engineers.
          </li>
        </ol>
      </div>
      <div>
        <h4>ARTICLE 2. Programs</h4>
        <ol>
          <li>
            Activities to advance technical capabilities and industrial
            development in the USA and Korea.
          </li>
          <li>
            Activities to promote cooperation between the USA and Korea in
            science and engineering.
          </li>
          <li>Scholarship and internship programs in the USA and Korea.</li>
          <li>
            Technical conferences, symposiums, and workshops in the USA and
            Korea. Publish and distribute technical publications, including the
            proceedings of these meetings.
          </li>
          <li>
            Activities to promote friendship and fellowship among the members.
          </li>
          <li>
            Activities to enhance the professional and social status of the
            members.
          </li>
          <li>
            Programs to promote and cultivate the next generation of
            Korean-American scientists and engineers.
          </li>
        </ol>
      </div>
    </div>
    <div class="con-contents" id="by2">
      <h3>CHAPTER 2: MEMBERSHIP</h3>
      <div>
        <h4>ARTICLE 3. Membership Categories</h4>
        <ol>
          <li>
            KSEA membership shall consist of the following six categories:
            <ol class="list-abc">
              <li>Regular member</li>
              <li>Overseas member</li>
              <li>Student member</li>
              <li>Distinguished service member</li>
              <li>Distinguished sponsor member</li>
              <li>Honorary member</li>
            </ol>
          </li>
        </ol>
      </div>
      <div>
        <h4>ARTICLE 4. Qualifications for Regular and Overseas Members</h4>
        <ol>
          <li>
            Regular Member. A regular member shall be an individual residing in
            the USA, with at least a Bachelor’s degree or its equivalent, who is
            engaged in science, engineering or a related field.
          </li>
          <li>
            Overseas Member. A regular member who permanently resides overseas
            may continue to maintain KSEA membership as an overseas member.
            Overseas members shall have all rights and privileges of regular
            members. However, they are ineligible to serve as an officer,
            auditor, councilor, chair of a committee, or presidential advisor.
          </li>
        </ol>
      </div>
      <div>
        <h4>ARTICLE 5. Qualifications for Student Member</h4>
        <ol>
          <li>
            Undergraduate Student Member. An undergraduate student member shall
            be a college student residing in the USA, who is pursuing a degree
            in science, engineering, or related field.
          </li>
          <li>
            Graduate Student Member. A graduate student member shall be a
            graduate student residing in the USA, who is pursuing a degree in
            science, engineering, or related field.
          </li>
        </ol>
      </div>
      <div>
        <h4>
          ARTICLE 6. Qualifications for Distinguished Service Member,
          Distinguished Sponsor Member, and Honorary Member
        </h4>
        <ol>
          <li>
            Distinguished Service Member. An individual who has served KSEA with
            distinction.
          </li>
          <li>
            Distinguished Sponsor Member. A respectable natural person or legal
            entity who or which has made substantial financial contributions to
            KSEA.
          </li>
          <li>
            Honorary Member. A member who is honorable and retired from a
            distinguished career.
          </li>
        </ol>
      </div>
      <div>
        <h4>ARTICLE 7. Voting Member</h4>
        <p>
          A voting member is a regular member, graduate student member, overseas
          member, distinguished service member, or honorary member, who has paid
          membership dues at least once within the last two fiscal years (the
          current and the past), received by KSEA Headquarters at least fourteen
          (14) days before sending out the ballot or notice of a meeting.
        </p>
      </div>
      <div>
        <h4>ARTICLE 8. Admission</h4>
        <ol>
          <li>
            Except for members described in Article 6, to become a KSEA member,
            the prospective member must submit the KSEA membership application
            form to KSEA, affirming support for the purpose of the Association
            as stated in Article 1 of the Bylaws.
          </li>
          <li>
            Admission of all members must be approved only as provided in the
            Policies adopted by the Council (“Policies”).
          </li>
        </ol>
      </div>
      <div>
        <h4>ARTICLE 9. Membership Dues</h4>
        <ol>
          <li>
            Membership dues for each membership category shall be determined as
            provided in the Policies.
          </li>
          <li>
            The annual membership dues for overseas members shall be the same as
            the dues for regular members.
          </li>
          <li>
            Distinguished service members and honorary members shall be exempt
            from the annual membership dues but, if they desire, may become
            voting members by paying the same annual dues as regular members.
          </li>
          <li>
            All rights and privileges of membership will be lost if the annual
            dues are not paid for two consecutive fiscal years.
          </li>
        </ol>
      </div>
      <div>
        <h4>ARTICLE 10. Disciplinary Actions</h4>
        <p>
          In accordance with the Policies, the Council may suspend the rights
          and privileges of membership or expel any member who violates the
          Bylaws or the Policies, interferes with KSEA goals and business, or
          disgraces KSEA’s reputation.
        </p>
      </div>
      <div>
        <h4>ARTICLE 11. Meeting of Members (“General Assembly”)</h4>
        <ol>
          <li>
            Annual Meetings. Members shall meet annually in April for the
            purpose of electing officers and for transacting such other business
            as may properly come before the meeting. The voting members for the
            election of Technical Group Councilors shall be defined in the
            Policies.
          </li>
          <li>
            Special Meetings. Special meeting may be initiated at any time by
            (i) a majority of the Councilors, or (ii) by the Executive Director
            at the written request of at least one-tenth of the voting regular
            members. Such request shall state the purpose of the meeting.
            Business transacted at all special general assembly shall be
            confined to the purpose stated in the notice of the meeting.
          </li>
          <li>
            Manner and Place of Meeting. In the discretion of the Council, the
            members may hold annual and special meetings entirely or in part by
            remote communication including online, e-mail, fax, and mail. In
            such case, the Council must adopt Policies to permit members to
            participate in and vote at the meeting by means of remote
            communications. Meetings held in person shall be at such places as
            shall be designated by the Council
          </li>
          <li>
            Notice of Meetings. Written notice of each meeting, whether annual
            or special, stating the time and place where it is to be held, shall
            be delivered either personally, by mail, or by e-mail, fax or other
            electronic means not less than twenty (20) or more than fifty (50)
            days before the meeting, to each voting member at such a meeting.
            Notice of a special meeting shall also state the purpose or purposes
            for which the meeting is called, and shall indicate that it is being
            issued by, or at the direction of, the person or persons calling the
            meeting. Such a notice shall be directed to each member at his
            address, including e-mail address, as it appears on the records of
            KSEA.
          </li>
          <li>
            Quorum. Except as otherwise provided in these Bylaws or by law 1, at
            all general assemblies, the presence, including electronic presence,
            of one-tenth of the voting members at the commencement of such
            meeting shall be necessary and sufficient to constitute a quorum for
            the transaction of any business.
          </li>
          <li>
            Voting. At all general assemblies of the members, every voting
            member shall have one (1) vote for the election of officers, Bylaws
            amendment and other businesses. The voting method for the election
            of Technical Group Councilors shall be defined in the Policies. Such
            vote may be in person, by mail, or by electronic means, as
            authorized by the Council. All elections shall be held and all
            questions shall be decided by a majority of the votes cast except as
            otherwise provided by law 1 or by these Bylaws. In case of a tie
            vote, the Council shall have the deciding power.
          </li>
        </ol>
      </div>
    </div>
    <div class="con-contents" id="by3">
      <h3>CHAPTER 3: BOARD OF DIRECTORS (“COUNCIL”)</h3>
      <div>
        <h4>ARTICLE 12. Councilors</h4>
        <ol>
          <li>
            A Council consisting of the following Council Members or Councilors
            shall manage the affairs of the Corporation:
            <ol class="list-abc">
              <li>President</li>
              <li>President-Elect</li>
              <li>First Vice President</li>
              <li>Second Vice President</li>
              <li>Executive Director</li>
              <li>Finance Director</li>
              <li>
                Three Former Presidents, including the immediate Past President
                if he or she is available to serve.
              </li>
              <li>
                Representatives of Technical Groups as defined in the Policies
              </li>
              <li>
                Representatives of Local Chapters as defined in the Policies
              </li>
            </ol>
          </li>
          <li>
            The total number of Councilors shall be up to 45. All Councilors
            must be regular members of KSEA in good standing.
          </li>
          <li>
            The term of all Councilors is one (1) year corresponding to the term
            of their positions, except for Elected-Councilors, which is three
            (3) years. In the event of a vacancy in any position, the
            replacement is elected or appointed according to the Policies. The
            term of the replacement is the remaining term of the replaced
            person.
          </li>
        </ol>
      </div>
      <div>
        <h4>ARTICLE 13. Functions of the Council</h4>
        <p>
          In addition to its general authority, the Council shall deliberate and
          make decisions on the following items:
        </p>
        <ol>
          <li>
            Selection of multiple candidates for President, President-Elect,
            First Vice President, Second Vice President, Auditors,
            Elected-Councilors, and the committee members set forth in the
            Policies.
          </li>
          <li>Confirmation of Executive Director and Finance Director.</li>
          <li>
            Recommendation to General Assembly to enact a new Bylaw or to amend
            a Bylaw.
          </li>
          <li>Approval of new and amended Policies.</li>
          <li>
            Approval of the Annual Report of the previous administration, and
            the business plan and budget of the current administration.
          </li>
        </ol>
      </div>
      <div>
        <h4>ARTICLE 14. Election of Former President Councilors</h4>
        <p>
          The former presidents, immediately following the annual Council
          meeting, shall elect Former President Councilors, except the immediate
          Past President.
        </p>
      </div>
      <div>
        <h4>ARTICLE 15. Council Meeting</h4>
        <ol>
          <li>
            Annual and Special Meetings. The Annual Council Meeting shall be
            convened before the end of September every year. The President or
            the Executive Committee may convene a special Council Meeting when
            necessary. The meeting agenda should be sent to all Councilors at
            least twenty (20) days before the scheduled meeting.
          </li>
          <li>
            Quorum. The presence at the commencement of such meeting of fifty
            percent (50%) of the Councilors shall be necessary and sufficient to
            constitute a quorum for the transaction of any business.
          </li>
          <li>
            Manner and Place of Meeting. In the discretion of the Council, the
            Councilors may hold special meetings entirely or in part by remote
            communication, including e-mail, fax, and mail. In such case, the
            Council must adopt Policies to permit members to participate in and
            vote at the meeting by means of remote communications. Meetings held
            in person shall be at such places as shall be designated by the
            Council. Unless otherwise restricted by the Articles of
            Incorporation or these Bylaws, the Council 1 Maryland corporate law.
            may authorize Councilors to vote by mail or by electronic means,
            without a meeting, on a stated proposal.
          </li>
          <li>
            Voting. At all meetings of the Council every Councilor shall have
            one (1) vote. Such vote may be in person, by mail, or by electronic
            means, as authorized by the Council. All questions shall be decided
            by a majority of the votes cast. In case of a tie vote, the Chair
            shall have the deciding power.
          </li>
        </ol>
      </div>
      <div>
        <h4>ARTICLE 16. Salary</h4>
        <p>
          No stated salary shall be paid to Councilors for their services as
          such. However, nothing in these Bylaws shall be construed to preclude
          any Councilor from serving KSEA in any other capacity and receiving
          compensation therefore.
        </p>
      </div>
    </div>
    <div class="con-contents" id="by4">
      <h3>CHAPTER 4: OFFICERS AND AUDITORS</h3>
      <div>
        <h4>ARTICLE 17. Officers</h4>
        <ol>
          <li>
            Officers. The officers of KSEA shall consist of the following:
            <ol class="list-abc">
              <li>President</li>
              <li>President-Elect</li>
              <li>First Vice President</li>
              <li>Second Vice President</li>
              <li>Executive Director, who shall also serve as Secretary</li>
              <li>Finance Director, who shall also serve as Treasurer</li>
            </ol>
          </li>
          <li>
            Election. The President, the President-Elect, and the First and
            Second Vice Presidents shall be elected by all voting members at the
            annual general assembly, from the candidates selected by the
            Council. The Executive Director and the Finance Director shall be
            nominated by the President and approved by the Council.
          </li>
          <li>
            Term. The term for all Officers is one (1) year. In the event of a
            vacancy in any position, the replacement is elected or appointed
            according to the Policies. The term of the replacement is the
            remaining term of the replaced person.
          </li>
        </ol>
      </div>
      <div>
        <h4>ARTICLE 18. Duties</h4>
        <ol>
          <li>
            President. The President shall be the chief executive officer of
            KSEA. The President coordinates and oversees the work and
            functioning of all offices and committees. The President may sign
            and execute all contracts or other obligations authorized by the
            Council in the name of KSEA. The President shall seek the approval
            of the Executive Committee on significant matters other than those
            previously set forth in the Policies. The President shall serve as
            Chair at Council Meetings and at member meetings, including the
            General Assembly.
          </li>
          <li>
            President-Elect. The President-Elect shall coordinate and oversee
            the preparation of businesses which will be executed during the next
            term.
          </li>
          <li>
            First and Second Vice Presidents. The First and Second Vice
            Presidents shall assist the President and the First Vice President
            shall serve as President when the President cannot fulfill the
            duties of the position.
          </li>
          <li>
            Executive Director and Finance Director. The Executive Director and
            the Finance Director shall perform their duties under the direction
            of President and the Executive Committee. They shall report and
            maintain the records of all meetings and activities of KSEA relevant
            to their responsibilities.
          </li>
        </ol>
      </div>
      <div>
        <h4>ARTICLE 19. Auditors</h4>
        <ol>
          <li>
            Election. Three (3) Auditors shall be elected by the voting members
            at the annual general assembly, from the candidates selected by the
            Council.
          </li>
          <li>
            Term. The Auditors shall serve for three (3) years. In the event of
            a vacancy in any position, the replacement is elected or appointed
            according to Policies. The term of the replacement is the remaining
            term of the replaced person.
          </li>
          <li>
            Exclusions. An auditor may not also simultaneously serve as an
            officer or Councilor.
          </li>
          <li>
            Duties. The Auditors shall audit KSEA affairs according to standard
            accounting rules and the Policies, and report the results to the
            Council.
          </li>
        </ol>
      </div>
    </div>
    <div class="con-contents" id="by5">
      <h3>CHAPTER 4: OFFICERS AND AUDITORS</h3>
      <div>
        <h4>ARTICLE 20. Executive Committee</h4>
        <ol>
          <li>
            Membership. The following members of the Council shall serve as the
            Executive Committee:
            <ol class="list-abc">
              <li>President</li>
              <li>President-Elect</li>
              <li>First Vice President</li>
              <li>Second Vice President</li>
              <li>Executive Director</li>
              <li>Finance Director, and</li>
              <li>
                Up to three (3) additional Directors whom the President may a
                ppoint from among Councilors with the approval of the Council.
              </li>
            </ol>
          </li>
          <li>
            Functions. Executive Committee shall have and exercise the authority
            provided by the Council to deliberate and make decisions on the
            following items through meetings:
            <ol class="list-abc">
              <li>Business plans and management of KSEA.</li>
              <li>Budget and financial reports.</li>
              <li>Items delegated by the Council.</li>
              <li>Matters authorized by the Bylaws.</li>
              <li>Other appropriate matters.</li>
            </ol>
          </li>
          <li>
            Meetings. The President shall convene Executive Committee Meetings
            as necessary. The President shall attempt to give all Executive
            Committee members notice of the agenda at least seven (7) days
            before the scheduled meeting. Any meeting may be conducted in
            person, by mail, or by electronic means.
          </li>
          <li>
            Quorum. The presence at the commencement of such meeting of fifty
            percent (50%) of the members of the Executive Committee shall be
            necessary and sufficient to constitute a quorum for the transaction
            of any business.
          </li>
          <li>
            Voting. At all meetings of the Executive Committee, every committee
            member shall have one (1) vote. All questions shall be decided by
            majority vote. In case of a tie vote, the Chair shall have the
            deciding power.
          </li>
        </ol>
      </div>
      <div>
        <h4>ARTICLE 21. Other Committees</h4>
        <p>
          The Council may from time to time establish additional committees. The
          designation and appointment of any such committee and the delegation
          thereto of authority shall not operate to relieve the Council or any
          individual Councilor of any responsibility imposed upon it or him by
          law.
        </p>
      </div>
      <div>
        <h4>ARTICLE 22. Appointment and Duties of Advisor</h4>
        <p>
          The President, with the approval of the Executive Committee, may
          appoint Advisors from the group of individuals who are major
          contributors to KSEA or outstanding scientists and engineers. Advisors
          shall offer their recommendations and advice when the President
          requests. Their recommendation and advice will be considered by the
          President and the Executive Committee, but are not binding.
        </p>
      </div>
    </div>
    <div class="con-contents" id="by6">
      <h3>
        CHAPTER 6: TECHNICAL GROUPS, AFFILIATED PROFESSIONAL SOCIETIES, LOCAL
        CHAPTERS, AND BRANCHES
      </h3>
      <div>
        <h4>
          ARTICLE 23. Technical Groups, Affiliated Professional Societies, Local
          Chapters, and Branches
        </h4>
        <p>
          The Council, upon the recommendation of the Executive Committee, may
          establish the following operating units, subsidiaries:
        </p>
        <ol>
          <li>
            Local Chapters and Local Branches. President of a Local Chapter or
            Branch shall be elected by the voting members of the Local Chapter
            or Branch. The term of all Local Chapter or Branch Presidents is one
            (1) year.
          </li>
          <li>
            Technical Groups. The Council shall determine the number of
            Councilors for each Technical Group (“Elected-Councilors”).
            Elected-Councilors of a Technical Group shall be elected by all
            voting members of KSEA from the candidates selected by the Council.
            The term of all Elected-Councilors is three (3) years.
          </li>
          <li>
            Affiliated Professional Societies. The qualification of an
            Affiliated Professional Society shall be determined and periodically
            reviewed in accordance with the Policies.
          </li>
        </ol>
      </div>
    </div>
    <div class="con-contents" id="by7">
      <h3>CHAPTER 7: FINANCE</h3>
      <div>
        <h4>ARTICLE 24. Annual Reports</h4>
        <p>
          The following items shall be reported to and approved by the Council:
        </p>
        <ol>
          <li>
            The final income and expense statement and the final business report
            for the previous year by the Past President.
          </li>
          <li>
            The business plan and budget for the current year by the current
            President.
          </li>
          <li>Other items deemed necessary by the Council.</li>
        </ol>
      </div>

      <div>
        <h4>ARTICLE 25. Income and Expenses</h4>
        <p>
          KSEA has the following sources of income and all expenses of KSEA
          shall be paid using these sources:
        </p>
        <ol>
          <li>Membership dues.</li>
          <li>
            Sponsorships, contributions and donations from individuals and
            corporations.
          </li>
          <li>Other sources of income derived from KSEA businesses.</li>
        </ol>
      </div>
      <div>
        <h4>ARTICLE 26. Fiscal Year</h4>
        <p>
          The fiscal year of KSEA shall commence on July 1 and end on June 30 of
          the following year.
        </p>
        <div>
          <h4>ARTICLE 27. Bank Accounts</h4>
          <p>
            The deposit, investment and disbursement of all KSEA funds shall be
            made only as provided in the Policies.
          </p>
        </div>
        <div>
          <h4>ARTICLE 28. Indemnification</h4>
          <ol>
            <li>
              Definitions. Any word or words that are defined in Section 2-418
              of the Associations and Associations Article of the Annotated Code
              of Maryland, as amended from time to time (the “Indemnification
              Section”), shall have the same meaning as provided in the
              Indemnification Section.
            </li>
            <li>
              In demnification of Councilors and Officers. KSEA shall indemnify
              and advance expenses to a Councilor or Officer of KSEA in
              connection with a proceeding to the fullest extent permitted by
              and in according with the Indemnification Section.
            </li>
            <li>
              Indemnification of Employees and Agents. With respect to an
              employee or agent, other than a Councilor or officer of KSEA, KSEA
              may, as determined by the Board of Councilors of KSEA, indemnify
              and advance expenses to such employee or agent in connection with
              a proceeding to the extent permitted by and in accordance with
              Indemnification Section.
            </li>
          </ol>
        </div>
      </div>
      <div class="con-contents" id="by8">
        <h3>CHAPTER 8: MISCELLANEOUS</h3>
        <div>
          <h4>ARTICLE 29. Offices</h4>
          <p>
            The KSEA Headquarters shall be located in the Metropolitan
            Washington, D.C. area. The current location is 1952 Gallows Road,
            Suite 300 , Vienna, VA 22182. The principal office may be changed
            from time to time by the Council. The President, with the approval
            of the Executive Committee, may establish subsidiary administrative
            offices in other areas as necessary.
          </p>
        </div>
        <div>
          <h4>ARTICLE 30. Amendment of Bylaws</h4>
          <p>
            The Council, upon the recommendation of the Executive Committee or
            the Rules Committee set forth in the Policies, may recommend
            amendments to the Bylaws. The amendments shall be submitted to the
            members at the annual meeting or a special meeting called for this
            purpose. The quorum for approving amendments to the Bylaws shall be
            one-fifth (1/5) of all voting members. Amendments shall require
            approval of at least two-thirds (2/3) of the total votes cast.
          </p>
        </div>
        <div>
          <h4>ARTICLE 31. Effective Date</h4>
          <p>
            These Bylaws or any amendment to the Bylaws shall be effective
            immediately upon the approval of the members.
          </p>
        </div>
      </div>
      <div class="con-contents" id="app">
        <h3>APPENDIX: AMENDMENT HISTORY</h3>
        <div>
          <h4>Amendment 1.</h4>
          <ul>
            <li>Approved by the 31st Council on September 29, 2002.</li>
            <li>Adopted by the General Assembly in January 2003.</li>
          </ul>
        </div>
        <div>
          <h4>Amendment 2.</h4>
          <ul>
            <li>Approved by the 37th Council on January 24, 2009.</li>
            <li>Adopted by the General Assembly on April 25, 2009.</li>
          </ul>
        </div>
        <div>
          <h4>Amendment 3.</h4>
          <ul>
            <li>Approved by the 42nd Council on January 12, 2014.</li>
            <li>Adopted by the General Assembly on April 18, 2014.</li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
  <app-footer></app-footer>
</div>
