<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">2023 KSEA Awards Winners</h3>
              <p class="date">June 7, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="con-img_small">
                <img
                  src="assets/images/announcement/2023award1.png"
                  alt="Jae Hoon Kim"
                />
                <p class="text-deco-mininfo">
                  Jae Hoon Kim <br />Senior Technical Fellow, Boeing Research &
                  Technology
                </p>
              </div>
              <p class="font-bold">Outstanding Contribution to KSEA Award</p>
              <p>
                Dr. Jae Hoon Kim is an Executive and Senior Technical Fellow of
                Boeing Research & Technology (BR&T). During 32-year tenure at
                Boeing, Dr. Kim has served as PI and PM for a number of U.S.
                Department of Defense (DoD) programs for OSD(R&E), DARPA, Army
                DEVCOM C5ISR, Air Force AFRL, Navy ONR as well as Boeing
                internal R&D projects. Dr. Kim has also served as an Affiliate
                Professor of Electrical and Computer Engineering Dept. at
                University of Washington since 2000. Prior to joining Boeing
                High Tech Center in 1991, Dr. Kim was a Senior Research
                Scientist and Project Manager at Caltech / NASA Jet Propulsion
                Laboratory (1987-1991).
              </p>
              <p>
                Dr. Kim is a nationally recognized expert and technical leader
                in wireless communications and mobile networking throughout the
                Industry and DoD Scientific Community. His unique experience in
                a wide range of communications systems during his 36-year career
                has resulted in an unusually broad and comprehensive technical
                expertise in Space Microelectronics, Optoelectronics, Fiber
                Optics, RF/ Optic, Satellite, Wireless Communications and
                Networks, particularly on the military Tactical Mobile Ad-hoc
                Networks (MANET). Dr. Kim is an author/co-author of 100+
                publications, has received 8 U.S. Patents and 2 International
                Patents (EU, UK, Germany, France, Japan, China), 25+ Boeing
                Technology Outstanding Performance Awards, 10 NASA Technology
                Innovation Awards, and 20+ DoD Research Project Contract Awards.
                Dr. Kim edited two books; “Green IT: Technologies and
                Applications” (Springer 2011), “UAV Networks and Communications”
                (Cambridge University Press 2018) and its Chinese translation
                (China Machine Press 2019). He has served as an IEEE Editor for
                the Communications Letters (Monthly Technical Journal) for a
                decade since 2001.
              </p>
              <p>
                He had also served various Technical Conferences and Workshops
                as reviewer, organizers including Technical Program Chair of
                IEEE MILCOM 2011 (Baltimore, MD). Dr. Kim received his B.S. and
                M.S. from Seoul National University, Korea, and Ph.D. from
                University of Florida, Gainesville, FL, all from Electrical and
                Computer Engineering. Dr. Kim is an IEEE Life Senior Member
                (2017). Dr. Kim has served as the 39th President of KSEA, the
                9th Chairman for Washington State Education and Culture
                Foundation (WSECF) and United Seattle-Bellevue Korean School
                (USBKS) Board of Directors. His lifetime achievements and
                contributions have been recognized through several awards,
                including The Republic of Korea Presidential Award (2008
                대한민국 대통령 표창) and The Order of Civil Merits-Peony Medal
                (2018 대한민국 국민훈장 모란장).
              </p>
              <div class="con-img_small">
                <img
                  src="assets/images/announcement/2023award2.png"
                  alt="Jiwoong Park"
                />
                <p class="text-deco-mininfo">
                  Jiwoong Park<br />
                  Professor of Department of Chemistry, Prizker School of
                  Molecular Engineering, University of Chicago
                </p>
              </div>
              <p class="font-bold">Scientist of the Year Award</p>
              <p>
                Dr. Jiwoong Park is a Professor (since '16) of the Department of
                Chemistry, Prizker School of Molecular Engineering, University
                of Chicago. He received his B.S. in Physics ('93) from Seoul
                National University and earned his Ph.D. in Physics, University
                of California at Berkeley ('03). Before joining the University
                of Chicago, he served as an Assistant and Associate Professor at
                the Cornell University ('06- '16).
              </p>
              <p>
                Prof. Park research focuses on the development of wafer-scale
                atomically thin materials and their engineered van der Waals
                heterostructures. Over the past decades, Dr. Park has remained
                one of the most creative and influential researcher and
                developed transdisciplinary approaches that are scalable,
                precise, and innovative. He has demonstrated the development of
                2D van der Waals crystals and molecular structures into real,
                large-scale materials thar have potential for use in future
                electronic, thermal, energy, and quantum applications.
              </p>
              <p>
                Prof. Park is a highly productive and well-recognized researcher
                and educator. He published over 101 journal papers including 9
                Nature and 7 Science articles and received 7 patents. He was
                elected as an American Physical Society Fellow (’22) and
                received NSF Career award, NSF Presidential Early Career Award
                for Scientists and Engineers (PECASE), and Alfred P. Sloan
                Research Fellowship. He has received more than $16 million in
                research funds from various funding agencies such as DOE, NSF,
                and AFOSR.
              </p>
              <div class="con-img_small">
                <img
                  src="assets/images/announcement/2023award3.png"
                  alt="Jaehong Kim"
                />
                <p class="text-deco-mininfo">
                  Jaehong Kim<br />
                  Henry P. Becton Sr. Professor of Engineering at Yale
                  University
                </p>
              </div>
              <p class="font-bold">Engineer of the Year award</p>
              <p>
                Dr. Jaehong Kim is Henry P. Becton Sr. Professor of Engineering
                at Yale University. He previously served as the chair of the
                Department of Chemical and Environmental Engineering at Yale
                from 2016 to 2022. He received his B.S. and M.S. degrees in
                Chemical & Biological Engineering from Seoul National University
                in 1995 and 1997, respectively. He earned his Ph.D. in
                Environmental Engineering from the University of Illinois at
                Urbana-Champaign in 2002. Prior to joining Yale, he was a
                professor in School of Civil and Environmental Engineering at
                Georgia Tech (2002- 2013).
              </p>
              <p>
                Prof. Kim is a pioneer of several highly innovative research
                subjects that contributed to opening new research areas within
                the field of water treatment. His research primarily focuses on
                developing next-generation technologies to remove or inactivate
                pathogens and degrade harmful organic pollutants through photo/
                electro-catalytic advanced oxidation and
                photochemical/photothermal solar water disinfection, employing
                advanced materials such as nanomaterials and single- atom
                catalysts.
              </p>
              <p>
                He is a distinguished leader in environmental nanotechnology who
                demonstrates inclusive leadership. He is a recipient of various
                awards for both teaching and research, including Ackerman Award
                for Teaching and Mentoring from Yale University (2017), Bill
                Shultz Junior Faculty Teaching Award from School of Civil and
                Environmental Engineering (2013), Walter J. Weber, Jr. Frontier
                in Research Award from Association of Environmental Engineering
                and Science Professors (2023), Walter L. Huber Civil Engineering
                Research Prize from American Society of Civil Engineers (2013),
                and Paul L. Busch Award from Water Environment Research
                Foundation (2009). He received Best Paper Award from American
                Chemical Society three times (2012, 2018, 2020), and most
                recently in 2022, was recognized as Clarivate Web of Science
                Highly Cited Researcher.
              </p>
              <div class="con-img_small">
                <img
                  src="assets/images/announcement/2023award4.png"
                  alt="Kevin Kim"
                />
                <p class="text-deco-mininfo">
                  Kevin Kim<br />
                  CEO, Brave Turtles
                </p>
              </div>
              <p class="font-bold">Entrepreneur of the Year Award</p>
              <p>
                Mr. Kim is the current CEO of the Brave Turtles (established in
                2015) since 2021 and the President of SoCal K-Group in Los
                Angeles since 2018. He received his BA in Digital Media Fine
                Arts at OTIS, Los Angeles, CA. Mr. Kim started his career as a
                visual artist, and now flourishes his artistic career into a
                metaverse platform of business. After he joined as CEO in 2021,
                Brave Turtles launched RUNWAY Z in the metaverse platform with
                60 million user visits within 6 months. Under his visionary
                leadership since then, the company has expanded its market value
                of more than $14M evaluation with a rapid growth in a metaverse
                platform.
              </p>
              <p>
                Prior to his joining at Brave Turtle, he has experienced 19
                years in the visual art entertainment business. Notably, he was
                one of Visual Effects (VFX) Oscar winning team in 2012 for Hugo
                and 2012 VFX Emmy winning team of Game of Thrones Season 2,
                while he worked at Pixomondo from 2011 to 2013. His team was
                nominated for 2013 VFX Oscar for Star Trek into Darkness, which
                involved 18 game cinematics such as Dragon age and the Force
                Unleashed 2.
              </p>
              <p>
                Mr. Kim is an accomplished entrepreneur with a strong technical
                background in visual effects and gaming industry. He has also
                been involved in various community and cultural activities for
                Korean Americans.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                           Next
                                                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
