<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                KASSTA Webinar Announcement (Sunday, May 19th, 2024)
              </h3>
              <p class="date">May 10, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLScwVNVotDQQlbQ89BV-F6BIscR6Be2ePfF3GaukYrOj2Jx_Zg/viewform" target="_blank">
                <img
                  src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240510_KASSTA_Webinar_5-19-2024.jpg"
                  alt="KASSTA Webinar May 2024" />
              </a>
              <p>
                안녕하세요 KSEA 회원님들,<br />
                <br />
                지난 KASSTA 온라인 정기 미팅 회의록 및 5월 정기 미팅 리마인드 및 공지사항 전해드립니다.<br />
              </p>
              <p>
                1. 다음 미팅은 2024년 5월 19일 오후 8시 EST (오후 5시 PST) 에 예정되어 있습니다. 내용은 다음과 같습니다.<br />
                윤경식 박사님 발표<br />
                Daniel Warren님 발표<br />
                미팅은 등록을 미리 해주시길 부탁드리며 등록해주신 분들은 추첨을통해 $20 기프트카드를 드립니다.<br />
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScwVNVotDQQlbQ89BV-F6BIscR6Be2ePfF3GaukYrOj2Jx_Zg/viewform" target="_blank">
                  Register for the Webinar
                </a>
              </p>
              <p>
                2. 지난 4/19일 웨비나에서 추가질문에 대한 답변이 KASSTA 홈페이지에 게시되었습니다.<br />
                <a href="https://kassta.ksea.org/webinar-qa-4192024" target="_blank">
                  4/19/2024 Q&A
                </a>
              </p>
              <p>
                3. 2024 UKC중 AeroSpace Forum 준비를 위한 설문조사를 하고 있습니다. 더 나은 행사를 준비할 수 있도록 설문에 응해주시면 감사하겠습니다!<br />
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdtzNlcLCICppEcEKQO_vCbAyA0xzDO2bLZBlSATn3bG2Y8QQ/viewform" target="_blank">
                  AeroSpace Forum Survey
                </a>
              </p>
              <p>
                4. KASSTA 공식 홈페이지가 생겼습니다. 공식행사 내용 및 공지사항 등을 확인하실 수 있습니다.<br />
                <a href="https://kassta.ksea.org/" target="_blank">https://kassta.ksea.org/</a>
              </p>
              <p>
                5. KASSTA가 KSEA의 APS에 공식적으로 등록 되었습니다. KSEA회원이신 분들은 APS를 KASSTA로 지정하시기 바랍니다. KSEA홈페이지에 로그인후 본인의 KSEA membership profile 에서 지정하실수 있습니다.<br />
                <a href="https://www.ksea.org/affiliated" target="_blank">https://www.ksea.org/affiliated</a>
              </p>
              <p>
                6. 재미항공우주과학기술협회(KASSTA) 회원들간 편한 소통 및 공지사항 전달을 위하여 카카오톡 오픈채팅방을 개설하였습니다.<br />
                <a href="https://open.kakao.com/o/gnsHNZag" target="_blank">
                  KASSTA KakaoTalk Open Chat
                </a>
              </p>
              <p>
                7. 추가적으로 KASSTA 정기 미팅때 발표해 주실 분들을 모집하고 있습니다. 
                의향이 있으신 회원님께서는 KASSTA 관리자 
                (<a href="mailto:kassta.officer@gmail.com" target="_blank">kassta.officer@gmail.com</a>)으로 연락 주시면 됩니다.
                <br /><br />
                감사합니다.<br />
                <br />
                KASSTA 총무 박천영 드림.
              </p>
              <br /><br />
              <p>
                This is a reminder and announcement for the KASSTA regular meeting in May along with the last meeting minutes.
              </p>
              <p>
                1. The next meeting is scheduled for May 19, 2024 at 8:00 pm EST (5:00 pm PST). The agenda are as follows:<br />
                Presentation by Dr. Kyongsik Yun<br />
                Presentation by Mr. Daniel Warren<br />
                Please register in advance for the meeting. Those who register will be entered into a drawing to receive a $20 gift card.<br />
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScwVNVotDQQlbQ89BV-F6BIscR6Be2ePfF3GaukYrOj2Jx_Zg/viewform" target="_blank">
                  Register for the Webinar
                </a>
              </p>
              <p>
                2. Additional Q&As from the webinar on April 19 were posted on the KASSTA website.<br />
                <a href="https://kassta.ksea.org/webinar-qa-4192024" target="_blank">
                  4/19/2024 Q&A
                </a>
              </p>
              <p>
                3. KASSTA is conducting a survey to prepare for the 2024 UKC AeroSpace Forum. It would be very appreciated if you could answer the survey so that we can prepare a better event!<br />
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdtzNlcLCICppEcEKQO_vCbAyA0xzDO2bLZBlSATn3bG2Y8QQ/viewform" target="_blank">
                  AeroSpace Forum Survey
                </a>
              </p>
              <p>
                4. KASSTA official website has been created. You can check official event details and announcements.<br />
                <a href="https://kassta.ksea.org/" target="_blank">https://kassta.ksea.org/</a>
              </p>
              <p>
                5. KASSTA has been officially registered with KSEA's APS. Please designate APS as KASSTA. After logging in to the KSEA website, you can designate it in your KSEA membership profile.<br />
                <a href="https://www.ksea.org/affiliated" target="_blank">https://www.ksea.org/affiliated</a>
              </p>
              <p>
                6. KASSTA has opened a KakaoTalk open chat room for convenient communication and announcements among KASSTA members.<br />
                <a href="https://open.kakao.com/o/gnsHNZag" target="_blank">
                  KASSTA KakaoTalk Open Chat
                </a>
              </p>
              <p>
                7. We are also looking for additional speakers to present at KASSTA regular meetings. If you are interested, please contact the KASSTA officer
                (<a href="mailto:kassta.officer@gmail.com" target="_blank">kassta.officer@gmail.com</a>).
                <br /><br />
                Thank you.<br />
                <br />
                Chunyoung Park, Executive Director of KASSTA
              </p>
              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240510_KASSTA_Webinar_5-19-2024.pdf"
                  target="_blank"
                  download="KASSTA May Webinar Poster"
                >
                  <button class="btn-view">Download Poster</button>
                </a>                
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                           Next
                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
