<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">STEP-UP 2023 Announcement</h3>
              <p class="date">April 18, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="con-img">
                <a href="https://stepup.ksea.org" target="_blank">
                  <img
                    src="assets/images/announcement/stepup2023.png"
                    alt="STEP-UP 2023 Announcement"
                  />
                </a>
              </div>
              <p>
                The 4th Science and Technology Entrepreneurship Partners’
                Upscale Program (STEP-UP 2023) will take place in Newport Beach,
                CA from May 20 to 21, 2023!
              </p>
              <p>
                Join us at STEP-UP 2023, where startups of every stage discover
                their full potential to become a unicorn. Our special focus this
                year is the intersection of “the Arts, Technology, and
                Entrepreneurship," and we're excited to offer a range of dynamic
                programs designed to help startups achieve success.
              </p>
              <p>
                We've brought together a diverse range of experts for STEP-UP
                2023. From VCs based in Silicon Valley to successful
                entrepreneurs and insightful consultants, our lineup is designed
                to provide valuable insights and possible funding opportunities
                for startups at every stage. Participating startups will have
                the chance to introduce their products and services through
                Elevator Pitch and Startup Pitch sessions.
              </p>
              <p>
                Our Showcase of Success sessions will feature unicorn startups
                sharing their insider knowledge and know-hows of success. For
                those looking to take their startup to the next level, our Road
                to Success Sessions will cover critical topics such as
                marketing, business law, and funding. Whether you're a new
                entrepreneur or a seasoned founder, we have something for you at
                STEP-UP 2023. Don't miss out on this opportunity to learn,
                network, and grow your startup!
              </p>
              <ul class="list-deco-disc">
                <li>
                  Date: May 20 – 21, 2023 (with an optional unofficial
                  networking event on Friday, May 19)
                </li>
                <li>
                  Venue: Hyatt Regency John Wayne Airport, Newport Beach, CA
                  (Free shuttle from John Wayne Airport)
                </li>
                <li>
                  Registration Dates:
                  <ul>
                    <li>- Registration opens: April 07, 2023</li>
                    <li>
                      - Early Registration ($100 discount) ends: April 30, 2023
                    </li>
                    <li>- Registration closed: May 19, 2023</li>
                  </ul>
                </li>
                <li>
                  Registration Fees: Regular Registration Fee: $250
                  <ul>
                    <li>
                      - $100 Early Registration Discount ( **Register by April
                      30 and get $100 discount)
                    </li>
                    <li>- $100 KSEA Member Discount**</li>
                    <li>
                      - $25 KSEA Undergraduate/Graduate Students and Postdoc
                      Discount** Subject to membership verification;
                    </li>
                  </ul>
                </li>
              </ul>
              <p>
                Visit
                <a href="https://ksea.org" target="_blank">https://ksea.org </a
                >to check your membership status before applying the membership
                discount. You can get up to $200 discount for both early
                registration & KSEA member
              </p>
              <ul class="list-deco-disc">
                <li>
                  Support for Attendees (Current KSEA membership and full
                  attendance to the sessions are required):
                  <ul>
                    <li>
                      - Travel Support: Airfare up to $200 or driving mileage
                      ($0.66/mile) up to $200
                    </li>
                    <li>
                      - Hotel accommodation: 2 nights for a double occupancy
                      room (2 people/room)
                    </li>
                    <li>
                      - Single occupancy is available at $100/night; the hotel
                      room rate is $200/night with tax and fees.
                    </li>
                    <li>
                      - Hotel meals: 4 meals provided (Saturday Lunch and
                      Dinner, Sunday Lunch and Dinner)
                    </li>
                  </ul>
                </li>
                <li>
                  Participating VCs and sponsors:
                  <ul>
                    <li>
                      - K2G Fund, Sinhan, KT, Translink Investment, Strong
                      Ventures
                    </li>
                    <li>- 과총, KUSCO, KIC, KOSME, LA 총영사관</li>
                  </ul>
                </li>
              </ul>
              <p>
                For registration please follow
                <a
                  href="https://form.jotform.com/jos8304/stepup-registration-form"
                  target="_blank"
                >
                  https://form.jotform.com/jos8304/stepup-registration-form</a
                >
              </p>
              <p>
                For general inquiries, please contact
                <a href="mailto:stepup@ksea.org" target="_blank"
                  >stepup@ksea.org
                </a>
              </p>
              <p>
                <a
                  href="https://www.linkedin.com/feed/hashtag/?keywords=technology&highlightedUpdateUrns=urn%3Ali%3Aactivity%3A7050191889261613056"
                  target="_blank"
                  >#technology</a
                >
                <a
                  href="https://www.linkedin.com/feed/hashtag/?keywords=entrepreneurship&highlightedUpdateUrns=urn%3Ali%3Aactivity%3A7050191889261613056"
                  target="_blank"
                >
                  #entrepreneurship
                </a>
                <a
                  href="https://www.linkedin.com/feed/hashtag/?keywords=marketing&highlightedUpdateUrns=urn%3Ali%3Aactivity%3A7050191889261613056"
                  target="_blank"
                >
                  #marketing
                </a>
                <a
                  href="https://www.linkedin.com/feed/hashtag/?keywords=success&highlightedUpdateUrns=urn%3Ali%3Aactivity%3A7050191889261613056"
                  target="_blank"
                >
                  #success
                </a>
                <a
                  href="https://www.linkedin.com/feed/hashtag/?keywords=networking&highlightedUpdateUrns=urn%3Ali%3Aactivity%3A7050191889261613056"
                  target="_blank"
                >
                  #networking
                </a>
                <a
                  href="https://www.linkedin.com/feed/hashtag/?keywords=startuppitch&highlightedUpdateUrns=urn%3Ali%3Aactivity%3A7050191889261613056"
                  target="_blank"
                  >#startuppitch
                </a>
                <a
                  href="https://www.linkedin.com/feed/hashtag/?keywords=startup&highlightedUpdateUrns=urn%3Ali%3Aactivity%3A7050191889261613056"
                  target="_blank"
                  >#startup
                </a>
                <a
                  href="https://www.linkedin.com/feed/hashtag/?keywords=koreanamerican&highlightedUpdateUrns=urn%3Ali%3Aactivity%3A7050191889261613056"
                  target="_blank"
                >
                  #koreanamerican</a
                >
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                           Next
                                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
