<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                Celebrating the life and career of KSEA 1st President Shoon
                Kyung Kim (Zoom: 8 pm EST, Tuesday, March 14)
              </h3>
              <p class="date">March 2, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <p><a href="https://youtu.be/KvKbfVxrrew" target="_blank">
            [Click here to re-watch this event]</a></p>
          <tr>
            <td>
              <div class="con-img">
                <a
                  href="https://youtu.be/KvKbfVxrrew"
                  target="_blank"
                >
                  <img
                    src="assets/images/announcement/celebrating_1st_presiden.png"
                    alt="Celebrating the life and career of KSEA 1st President Shoon
                    Kyung Kim"
                  />
                </a>
              </div>

              <p>Dear KSEA members, families and friends,</p>
              <p>
                I am writing to invite you to the online event at 8 pm EST on
                Tuesday, March 14th to celebrate and remember the life and
                career of the KSEA 1st (1971-1972) President Shoon Kyung. At
                this event, we will look back on the past 50 years of the KSEA
                (its history and achievements) and discuss the future of KSEA in
                the light of the 20th anniversary of remembrance day of Dr.
                Shoon Kyung Kim.
              </p>
              <p>
                Professor Shoon Kyung Kim (1920-2003) was Professor of Chemistry
                at Temple University (1969 - 1990), at Louisville University
                (1966 - 1969) and at Seoul National University (1951 - 1965). He
                was a representative scholar who achieved excellent academic
                performance in theoretical physics and chemistry. By organizing
                KSEA, he contributed to the development of science and
                technology and economic recovery of the homeland including
                support of young students studying abroad. As the founder of
                KSEA, Dr. Kim significantly tightened mutual relationships among
                Korean scientists working at science and engineering part in US
                and make a great contribution to development of homeland’s
                science and technology.
              </p>
              <p>
                I hope to see many of you and your families and friends at this
                event on March 14th. English will be used during the entire zoom
                event.
              </p>
              <p class="txt-deco-line">Event Schedule:</p>

              <ul class="list-deco-disc">
                <li>
                  Time in the US: Tuesday, March 14th at 8:00 - 9:00pm EST (5:00
                  – 6:00 PM PST)
                </li>
                <li>
                  Venue: Virtual. Anyone can join the meeting via Zoom<a
                    href="https://us02web.zoom.us/j/84647493885?pwd=d291MmtvQkdFNFl2RXNieXJxUmFjUT09"
                    target="_blank"
                  >
                    [Link]</a
                  >
                </li>
                <li>
                  Host: President of KSEA Young-Kee Kim (University of Chicago)
                </li>
                <li>
                  Questions:<a href="mailto:itm@ksea.org" target="_blank">
                    itm@ksea.org</a
                  >
                </li>
              </ul>
              <p class="txt-deco-line">Program:</p>

              <ul class="list-deco-disc">
                <li>Introductory Remarks - 51st President Young-Kee Kim</li>
                <li>Life and Career of Shoon Kyung Kim (video clip)</li>
                <li>
                  Shoon Kyung Kim as the 1st President of KSEA - 13th President
                  Chan-Mo Park
                </li>
                <li>
                  KSEA: 50년의 땀 100년의 꿈 (KSEA: Achievements and Future
                  Perspectives"
                  <ul>
                    <li>
                      - The First 25 Years of KSEA - 25th President Ki Dong Lee
                    </li>
                    <li>
                      - The Second 25 Years of KSEA - 38th President
                      Chueng-Ryong Ji
                    </li>
                    <li>- Statistics Review - 35th President Sung-Kwon Kang</li>
                    <li>- Demography Review - 28th President Thomas Hahn</li>
                    <li>
                      - Future of KSEA: Perspective from mid careers - Hyojin
                      Kim
                    </li>
                    <li>
                      - Future of KSEA: Perspective from early careers -
                      Jonathan Kim
                    </li>
                  </ul>
                </li>
                <li>Discussion</li>
              </ul>
              <p>
                I would greatly appreciate it if you could reach out to non-KSEA
                members to join or renew KSEA membership by using this link:

                <a href="https://www.ksea.org/signUp" target="_blank">
                  [https://www.ksea.org/signUp]</a
                >
              </p>
              <p>
                Look forward to seeing many of you at the zoom meeting on March
                14th.
              </p>

              <p>
                Sincerely,<br />
                Young-Kee Kim<br />
                President of KSEA
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                               Next
                           </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
