<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Job Opportunities</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Job Opportunities</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">(국가과학기술연구회) 출연(연) 공동채용설명회 안내</h3>
              <p class="date">August 28, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>안녕하세요.</p>
              <br>
              <p>
                KSEA 회원들에게 한국 출연(연) 공동채용설명회 안내를 전달해 드립니다. <br>
                오는 8월 29일(화)~9월 6일(수)까지 온라인 출연(연) 공동채용 설명회를 개최 예정에 있습니다. <br>
                - 공동채용 설명회 웹진 및 포스터, <a href="https://youtu.be/ckVZOiJN8MQ" target="_blank">홍보동영상</a>을 
                붙임 파일로 보내드리오니 KSEA 회원들의 많은 참여를 부탁드립니다.<br>
                - 공동채용 설명회 홈페이지는 <a href="https://jobfair-gri.kr/" target="_blank">jobfair-gri.kr</a> 입니다. <br>
              </p>
              <ul class="list-deco-disc">
                <li>홈페이지에서 1:1 상담, 실시간 온라인 설명회 참여, 사전신청, 세부정보 안내 등 가능합니다.</li>
              </ul>
              <p>
                - 일정은 하기와 같습니다. (한국시간 기준)
              </p>
              <ul class="list-deco-disc">
                <li>8월 29일(화) : 생기원(10시), 생명연(15시)</li>
                <li>8월 30일(수) : 국보연(10시), 지자연(13시), 항우연(15시)</li>
                <li>8월 31일(목) : 에기연(10시), KISTI(14시)</li>
                <li>9월 1일(금) : 전기연(11시), 재료연(14시)</li>
                <li>9월 5일(화) : KIST(13시)</li>
                <li>9월 6일(수) : 김치연(13시)</li>
              </ul>
              <p>
                - 문의: 국가과학기술연구회 인재협양성팀 김서영 (TEL : 044-287-7312, MOBILE : 010-2377-8435, 
                E-MAIL : <a href="mailto:sduddl@nst.re.kr" target="_blank">sduddl@nst.re.kr</a>) <br>
                - 공동채용 설명회는 공동채용과 연계하여 진행하며 공동채용 원서 접수는 9월 1일~9월 18일 까지 입니다.<br>
                정부출연연구소들이 우수한 인재를 뽑을 수 있도록 많은 참여를 기대합니다. <br>
                <br>
                감사합니다.
                <br>
                KSEA 사무국
              </p>



              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/230828_NEST_Poster.jpg"
                  target="_blank"
                  download="NEST Poster"
                >
                  <button class="btn-view">Download Poster</button>
                </a>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/230828_NEST_Poster_web.jpg"
                target="_blank"
                download="NEST Poster_web"
              >
                <button class="btn-view">Download Poster (web ver)</button>
              </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/job"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                             Next
                                         </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
