<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                KSEA Distinguished Guest Series –GPT: Transforming Science,
                Engineering, and Beyond (Zoom: 8:30 pm ET, Wednesday, May 17)
              </h3>
              <p class="date">May 1, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <p><a href="https://youtu.be/gFDeUXy8R18" target="_blank">
            [Click here to re-watch this event]</a></p>
          <tr>
            <td>
              <div class="con-img">
                <a
                  href="https://us02web.zoom.us/j/88086346045?pwd=RGcrOExPMFNmcTJ3Ly8yZUVmYU52Zz09#success"
                  target="_blank"
                >
                  <img
                    src="assets/images/announcement/GPT.png"
                    alt="KSEA Distinguished Guest Series "
                  />
                </a>
              </div>
              <p>Dear KSEA members, families, and friends,</p>
              <p>
                I would like to invite you to “KSEA Distinguished Guest Series"
                that will be held on Wednesday, May 17 with the theme of “GPT:
                Transforming Science, Engineering, and Beyond”.
              </p>
              <p>
                In this series, we will provide a gentle introduction to GPT, a
                cutting-edge AI text generation algorithm, and explore its
                impact on various fields such as science and engineering. We
                will discuss how it revolutionizes the way we work and delve
                into its broader social implications, shaping the future across
                multiple domains. The speaker is Kangwook Lee, Professor of
                Electrical and Computer Engineering at the University of
                Wisconsin, Madison. Prof. Lee leads deep learning research at
                Krafton and received the 2022 KSEA Young Investigator Grant.
              </p>
              <p class="txt-deco-line">
                Event Schedule (check out the attachment for more details as
                well):
              </p>
              <ul class="list-deco-disc">
                <li>
                  Time in the US: Wednesday May 17th at 8:30 - 9:30pm ET (5:30 –
                  6:30 PM PT)
                </li>
                <li>
                  Please click
                  <a
                    href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=Mm1zaG12cGJvcTU4amI2NGMxbDQ0bWZoMjggY181NTAwMWNmNzZkOGUyOTQ1NDljOWYyNDM5ZmM0ODcwN2NmNDgzNjhmZGVjY2RlZDc0ZTFjNjU1ZmIxZTBmNGM3QGc&tmsrc=c_55001cf76d8e294549c9f2439fc48707cf48368fdeccded74e1c655fb1e0f4c7%40group.calendar.google.com"
                    target="_blank"
                    >here</a
                  >
                  to add it to your calendar.
                </li>
                <li>
                  Venue: Virtual. Anyone can join the meeting via Zoom
                  <a
                    href="https://us02web.zoom.us/j/88086346045?pwd=RGcrOExPMFNmcTJ3Ly8yZUVmYU52Zz09#success"
                    target="_blank"
                    >[LINK]</a
                  >
                </li>
                <li>
                  Speaker: Prof. Kangwook Lee (University of Wisconsin, Madison)
                </li>
                <li>
                  Host: Prof. Young-Kee Kim, President of KSEA (University of
                  Chicago)
                </li>
                <li>
                  Questions:
                  <a href="mailto:itm@ksea.org" target="_blank">itm@ksea.org</a>
                </li>
              </ul>
              <p>
                I would greatly appreciate it if you could reach out to non-KSEA
                members to attend this event, and to join or renew KSEA
                membership by using this
                <a href="https://www.ksea.org/signUp" target="_blank">[link]</a>
              </p>
              <p>
                Raffle: After the meeting ends, we will select four participants
                by drawing an online raffle and send them Amazon gift cards as a
                token of gratitude (1st prize: $100 amazon gift card, 2nd prize:
                $50 amazon gift card, 2 3rd prize: $25 amazon gift card per
                each). If you would like to participate in this raffle, please
                submit this form before the event begins. Those who submit this
                form will get 2 entries (can win only once), and people who
                submit this form during the Zoom event will earn 1 entry.
                *PLEASE SUBMIT
                <a
                  href="https://docs.google.com/forms/d/e/1FAIpQLSdw4cHcPCx5-1iHH-O6kNKpoRli6EfBMe0NNBEkdLYhvjVytQ/viewform?usp=sf_link"
                  target="_blank"
                  >THIS FORM</a
                >
                ONLY ONCE.
              </p>
              <p>
                Sincerely, <br />
                Young-Kee Kim,<br />
                President of KSEA
              </p>
              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/GPT_Poster0501.pdf"
                  target="_blank"
                  download="KSEA Distinguished Guest Series"
                >
                  <button class="btn-view">Download</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                     Next
                                                 </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
