<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Job Opportunities</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Job Opportunities</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">[한양대학교] 서울캠퍼스 채용공고</h3>
              <p class="date">March 11, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
             <p>
              Dear KSEA Members,
              <br /><br />
              Please check out the following announcement and attachments from Hanyang University, 
              and submit your application if interested.<br />
              Feel free to contact <a href="mailto:hyurecruit@hanyang.ac.kr" target="_blank">hyurecruit@hanyang.ac.kr</a> 
              if you have any questions.<br />              
              채용기간 : 2024.03.11 ~ 2024.03.25<br />
              채용링크 : <br /> 
              &nbsp;&nbsp;&nbsp;&nbsp;서울캠퍼스 정년트랙 : <a href="https://site.hanyang.ac.kr/web/faculty/2024-9-1" target="_blank">
              서울(정년트랙) - 교수 초빙 (hanyang.ac.kr)</a><br />
              &nbsp;&nbsp;&nbsp;&nbsp;서울캠퍼스 비정년트랙 : <a href="https://site.hanyang.ac.kr/web/faculty/2024-9-2?" target="_blank">
              서울(비정년트랙) - 교수 초빙 (hanyang.ac.kr)</a><br />
              <br />
              Thank you,<br />
              KSEA HQ
             </p>
            </td>
          </tr>
           <tr>
            <td>  
              <p>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/240313_HYU_tenured.pdf"
                target="_blank"
                download="2024년 9월임용 1차 공개채용 공고(서울) 정년트랙"
                >
                <button class="btn-view">정년트랙.pdf</button>
                </a>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/240313_HYU_tenured.hwp"
                target="_blank"
                download="2024년 9월임용 1차 공개채용 공고(서울) 정년트랙(HWP)"
                >
                <button class="btn-view">정년트랙.hwp</button>
                </a>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/240313_HYU_non-tenured.pdf"
                target="_blank"
                download="2024년 9월임용 1차 공개채용 공고(서울) 비정년트랙"
                >
                <button class="btn-view">비정년트랙.pdf</button>
                </a>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/240313_HYU_non-tenured.hwp"
                target="_blank"
                download="2024년 9월임용 1차 공개채용 공고(서울) 비정년트랙(HWP)"
                >
                <button class="btn-view">비정년트랙.hwp</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/job"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                             Next
                                         </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
