<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Job Opportunities</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Job Opportunities</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">[경희대학교]전임교원 채용공고</h3>
              <p class="date">March 29, 20233</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <!-- <div class="con-img">
                  <a
                    href="https://faculty.ajou.ac.kr/faculty/announce/announce02.jsp?mode=view&article_no=234178"
                    target="_blank"
                  >
                    <img
                      src="assets/images/job/job_ajou2023.jpg"
                      alt="2023학년도 2학기 아주대학교 교수초빙 공고문(공개채용)"
                    />
                  </a>
                </div> -->
              <div class="font-bold">2023년도 2학기 경희대학교 교수초빙</div>
              <p>1.초빙분야</p>
              <p>• 서울캠퍼스</p>
              <table>
                <tr>
                  <th>단과대학</th>
                  <th colspan="2">학과/전공</th>
                  <th>초빙분야</th>
                  <th>정년 트랙</th>
                  <th>비정년 트랙</th>
                </tr>
                <tr>
                  <td>문과대학</td>
                  <td colspan="2">철학과</td>
                  <td>인지과학 (철학적 협업 및 강의 가능자 우대)</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>정경대학</td>
                  <td colspan="2">행정학과</td>
                  <td>행정학 또는 정책학 분야 (스마트시티 전공)</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>이과대학</td>
                  <td colspan="2">생물학과</td>
                  <td>보전생태학 또는 동물생태학 분야</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>생활과학대학</td>
                  <td colspan="2">식품영양학과</td>
                  <td>영양 (Nutri-informatics)</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>의과대학</td>
                  <td>의예과 (기초)</td>
                  <td>병리학 교실</td>
                  <td>
                    질병기전 병리연구 전분야 <br />(분자유전병리, 세포병리,
                    유전종양학, 질환모델)
                  </td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>의과대학 약학대학</td>
                  <td>의학과 (임상)<br />경희 대학교 병원</td>
                  <td>비뇨의학교실</td>
                  <td>비뇨의학(종양)</td>
                  <td>1</td>
                  <td></td>
                </tr>

                <tr>
                  <td>의과대학 약학대학</td>
                  <td>의학과 (임상) <br />강동 경희 대학교 병원</td>
                  <td>신경외과학교실</td>
                  <td>뇌정위기능/뇌혈관외과</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>의과대학 약학대학</td>
                  <td>의학과 (임상) <br />강동 경희 대학교 병원 약학과</td>
                  <td>신경외과학교실</td>
                  <td>척추외과</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>의과대학 약학대학</td>
                  <td>의학과 (임상) <br />강동 경희 대학교 병원 약학과</td>
                  <td>비뇨의학교실</td>
                  <td>비뇨의학</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>의과대학 약학대학</td>
                  <td>의학과 (임상) <br />강동 경희 대학교 병원 약학과</td>
                  <td>프로테오믹스 분야</td>
                  <td>비뇨의학</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>약학대학 법학전문대학원</td>
                  <td colspan="2">한약학과</td>
                  <td>융합한약학</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>약학대학 법학전문대학원</td>
                  <td colspan="2">법학과</td>
                  <td>행정법 실무 (이론강의 가능자 우대)</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>법학전문대학원 교육대학원</td>
                  <td colspan="2">법학과 상담심리전공</td>
                  <td>민사법 실무</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>법학전문대학원 교육대학원</td>
                  <td colspan="2">법학과 상담심리전공</td>
                  <td>상담심리·교육상담</td>
                  <td>1</td>
                  <td></td>
                </tr>
              </table>
              <p>• 국제캠퍼스</p>
              <table>
                <tr>
                  <th>단과대학</th>
                  <th>학과/전공</th>
                  <th>초빙분야</th>
                  <th>정년 트랙</th>
                  <th>비정년 트랙</th>
                </tr>
                <tr>
                  <td>공과대학</td>
                  <td>기계공학과</td>
                  <td>열공학 (스마트열시스템)</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>공과대학</td>
                  <td>기계공학과</td>
                  <td>차세대 기계재료 (나노/에너지)</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>공과대학</td>
                  <td>산업경영공학과</td>
                  <td>
                    스마트산업<br />
                    (시스템안전,스마트제품설계,핀테크/블록체인등)
                  </td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>공과대학</td>
                  <td>정보전자신소재공학과</td>
                  <td>
                    차세대신소재디자인<br />
                    (이론및응용포함)
                  </td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>공과대학</td>
                  <td>사회기반시스템공학과</td>
                  <td>
                    스마트시티<br />
                    (디지털건설인프라)
                  </td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>소프트웨어 융합대학</td>
                  <td>컴퓨터공학부</td>
                  <td>
                    컴퓨터공학 전분야<br />
                    (소프트웨어전공자우대,해당분야Top-Tier학술대회논문발표자우대)
                  </td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>소프트웨어 융합대학</td>
                  <td>컴퓨터공학부</td>
                  <td>
                    컴퓨터비전을 제외한 인공지능 전분야<br />
                    (소프트웨어전공자우대,해당분야Top-Tier학술대회논문발표자우대)
                  </td>
                  <td>2</td>
                  <td></td>
                </tr>
                <tr>
                  <td>소프트웨어 융합대학</td>
                  <td>소프트웨어융합학과</td>
                  <td>소프트웨어전분야</td>
                  <td>3</td>
                  <td></td>
                </tr>
                <tr>
                  <td>국제대학</td>
                  <td>국제학과</td>
                  <td>국제관계/국제법</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>예술·디자인대학</td>
                  <td>산업디자인학과</td>
                  <td>
                    미래산업디자인<br />
                    (제품/서비스/인터렉션/익스피리언스디자인)
                  </td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>국제대학원</td>
                  <td>국제통상협력학과</td>
                  <td>환경경제학/기후경제학</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>동서의학대학원</td>
                  <td>노인학과</td>
                  <td>고령서비스-테크 융합연구분야</td>
                  <td>1</td>
                  <td></td>
                </tr>
                <tr>
                  <td>테크노경영대학원</td>
                  <td>
                    글로벌경영학과<br />
                    (중문MBA과정)
                  </td>
                  <td>기술경영 분야</td>
                  <td></td>
                  <td>1</td>
                </tr>
              </table>
              <p>
                <span class="font-bold"> 2. 임용예정일</span> : 2023.09.01 예정
                <br />※ 임용일은 전형 일정에 따라 연기될 수 있습니다.
              </p>
              <p>
                <span class="font-bold"> 3. 지원 접수 기간</span> :
                2023.03.22(수) 10:00 ~ 2023.04.03(월) 17:00
              </p>
              <p>
                <span class="font-bold"> 4. 지원자격, 제출서류, 접수방법 </span>
                <br />- 초빙 분야별 지원자격 및 제출서류 등 세부 안내는 본교
                홈페이지 채용시스템에서 확인<br />
                <a href="https://k-recruit.khu.ac.kr/hjis2/" target="_blank"
                  >(https://k-recruit.khu.ac.kr/hjis2/)</a
                >
              </p>
              <p><span class="font-bold"> 5. 지원자 유의사항</span></p>
              <ul>
                <li>
                  가. 지원서 작성 시 허위기재 또는 서류 미비 등으로 인한 지원
                  상의 불이익은 본인에게 있으며, 기재사항 조회결과 허위로 판명될
                  경우 임용을 취소할 수 있음
                </li>
                <li>
                  나. 지원자는 1개의 초빙분야만 지원할 수 있으며, 복수 지원 및
                  캠퍼스별 교차지원 불가
                </li>
                <li>
                  다. 해당 분야에 적격자가 없는 경우 초빙하지 않을 수 있음
                </li>
                <li>
                  라. 지원 마감일시까지 제출된 서류에 한해서만 심사대상에 포함
                </li>
                <li>
                  마. 본 공고에 명시되지 아니한 사항은 우리 대학교 교원인사 관련
                  규정을 준용함
                </li>
                <li>
                  바. 세부사항은 본교 홈페이지 채용시스템 참고, 세부내용은 해당
                  대학(원)으로 문의 요망
                </li>
                <li>
                  사. 원활한 접수를 위하여 접수마감일 이전에 충분한 시간을 두고
                  입력 요망
                </li>
              </ul>
              <br />
              <p><span class="font-bold"> 6. 문의처 </span></p>
              <table>
                <tr>
                  <th>서울캠퍼스 부서</th>
                  <th>연락처</th>
                  <th>국제캠퍼스 부서</th>
                  <th>연락처</th>
                </tr>
                <tr>
                  <td>교무팀 (서울캠퍼스)</td>
                  <td>02-961-9601~2</td>
                  <td>교무팀 (국제캠퍼스)</td>
                  <td>031-201-3031~7</td>
                </tr>
                <tr>
                  <td>문과대학</td>
                  <td>02-961-0221~2</td>
                  <td>공과대학</td>
                  <td>031-201-2401~3</td>
                </tr>
                <tr>
                  <td>정경대학</td>
                  <td>02-961-9184</td>
                  <td>소프트웨어융합대학</td>
                  <td>031-201-3701~3</td>
                </tr>
                <tr>
                  <td>이과대학</td>
                  <td>02-961-0887~8</td>
                  <td>국제대학/국제대학원</td>
                  <td>031-201-2301</td>
                </tr>
                <tr>
                  <td>생활과학대학</td>
                  <td>02-961-0551</td>
                  <td>예술·디자인대학</td>
                  <td>031-201-2672~4</td>
                </tr>
                <tr>
                  <td>의과대학</td>
                  <td>02-961-0301, 0274</td>
                  <td>테크노경영대학원</td>
                  <td>031-201-2130~2</td>
                </tr>
                <tr>
                  <td>약학대학</td>
                  <td>02-961-0356</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>법학전문대학원</td>
                  <td>02-961-0611~3</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>교육대학원</td>
                  <td>02-961-0135~6</td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
              <br />
              <p>7. 기타-상시채용</p>
              <p>
                경희대학교의 교수 Pool은 인력을 상시 채용할 수 있도록 고안한
                제도로써 각 세부 전공별로 각계 각층에 활약하고 있는 주요
                연구자의 정보를 교원인사 Pool 데이터베이스에 수록하고, 수록된
                인재들에 대한 검색을 통해 해당 전공에 가장 적합한 능력과 자격을
                갖춘 인재를 발굴, 확보하고자 운영하고 있습니다. 탁월한 업적으로
                국내 및 국제적으로 명성이 있는 경우 등 우수한 실적을 갖춘 경우
                특별채용 절차를 거쳐 임용하고 있으니 많은 관심 부탁드립니다.
              </p>
              <p>- 지원기준 -</p>
              <table>
                <tr>
                  <th>구분</th>
                  <th>계열</th>
                  <th>지원자격</th>
                  <th>비고</th>
                </tr>
                <tr>
                  <td rowspan="3">실적</td>
                  <td>인문·사회·체육·무용계열</td>
                  <td>등재지 7건 이상</td>
                  <td rowspan="3">
                    - SSCI/A&HCI 1건 = 등재지 6건<br />
                    - 예술·창작·무용계열 작품실적으로 대체 가능<br />
                    - 의학(임상)은 논문 및 진료실적 종합심사<br />
                    *비정년트랙은 예외 적용 가능
                  </td>
                </tr>
                <tr>
                  <td>자연·의학(기초)계열</td>
                  <td>SCI(E) 6건 이상</td>
                </tr>
                <tr>
                  <td>예술·창작계열</td>
                  <td>등재지 6건 이상</td>
                </tr>
              </table>
              <p>
                *위 지원기준은 최소요구실적으로 심사진행시 연구실적에 대한
                추가적인 검토 진행
              </p>
              <br />
              <p>- 지원방법 -</p>
              <p>
                위 경희대학교 채용시스템
                <a href="https://k-recruit.khu.ac.kr/hjis2/" target="_blank"
                  >(https://k-recruit.khu.ac.kr/hjis2/)</a
                >
                에서 교수 Pool 등록으로 이동
              </p>

              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/khu_2023.docx"
                  target="_blank"
                  download="2023년도 2학기 경희대학교 교수초빙"
                >
                  <button class="btn-view">Download</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/job"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                           Next
                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
