<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                KOFST 차세대 과학기술리더 NET 사업 지원 신청 안내 (KOFST Next Generation S&T Leadership 
                NET Application Guide)
              </h3>
              <p class="date">February 26, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href=
                "http://www.ultari.org"
                 target="_blank">
                <img
                  src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240226_KOFST_Next+Generation+S%26T+Leaders+Net+Application+Guide_Kor.jpg"
                  alt="KOFST 차세대 과학기술리더 NET 사업 지원 신청 안내"
                />
              </a>
              <a href=
                "http://www.ultari.org"
                target="_blank">
                <img
                  src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240226_KOFST_Next+Generation+S%26T+Leaders+Net+Application+Guide.jpg"
                  alt="KOFST 차세대 과학기술리더 NET 사업 지원 신청 안내 (Eng)"
                />
              </a>
              <p>
                <a
                href=
                "https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240226_KOFST_Next+Generation+S%26T+Leaders+Net+Application+Guide_Kor.pdf"
                target="_blank"
                download="KOFST 차세대 과학기술리더 NET 사업 지원 신청 안내"
                >
                <button class="btn-view">Poster (Korean)</button>
                </a>
                <a
                href=
                "https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240226_KOFST_Next+Generation+S%26T+Leaders+Net+Application+Guide.pdf"
                target="_blank"
                download="KOFST 차세대 과학기술리더 NET 사업 지원 신청 안내 (Eng)"
                >
                <button class="btn-view">Poster (English)</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                           Next
                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
