header {
    background-image: url(https://ksea-files.s3.us-west-2.amazonaws.com/files/bg_header_organization.jpg);
    //background-image: url('/assets/images/bg_header_organization.jpg'); 
    background-repeat: repeat; //no-repeat
    background-position: center;
    background-size: cover; //cover or contain
    opacity: 1;
}