<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                YGF/YPF 2024 Call for Applications
              </h3>
              <p class="date">February 8, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                We at KSEA are very pleased to announce the <span class="font-bold">2024 
                Young Generation Forum (YGF) and Young Professional Forum (YPF) programs</span> 
                to be held from <span class="font-bold">July 8 to July 13, 2024</span>, in Seoul, South Korea.
              </p>
              <p>
                <span class="font-bold">YGF</span>: Undergraduate students with US permanent residency or 
                citizenship who have not previously attended YGF are eligible to apply and participate 
                in this program.
              </p>
              <p>
                <span class="font-bold">YPF</span>: Graduate students and postdocs with US permanent 
                residency or citizenship who have not attended previous YGF or YPF are eligible to apply 
                and participate in this program.
              </p>
              <br>
              
              <img
                src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240208_YGFYPF.png"
                alt="2024 YGF/YPF"
              />
              <p>
                Each year since 2002, the Korean Federation of Science and Technology Societies (KOFST) 
                and the Korean-American Scientists and Engineers Association (KSEA) have been hosting 
                the Young Generation / Young Professional Forum by bringing young Korean Heritage 
                scientists and engineers from all over the world to Korea. The goal is to share the 
                Korean vision of science and technology around the world.
              </p>
              <p class="txt-deco-line">Eligibility and Criteria</p>
              <ol class="list-deco-num">
                <li>
                  <span class="font-bold">YGF</span>: Undergraduates students in STEM (Enrolled in science 
                  and technology-related departments)<br>
                  <span class="font-bold">YPF</span>: Graduate students and postdoctoral researchers in a 
                  science and engineering major
                </li>
                <ol class="list-deco-num">
                  <li>
                    Postdoctoral researchers must be within 5 years of the acquisition of the doctoral degree
                  </li>
                </ol>
                <li>
                  <span class="font-bold">YGF</span>: Born on or after 1998.1.1<br>
                  <span class="font-bold">YPF</span>: Born on or after 1989.1.1
                </li>
                <li>
                  Able to commit to attendance by <span class="font-bold">February 22, 2024</span>
                </li>
                <li>
                  Able to communicate in English and Korean
                </li>
                <li>
                  US Citizens or Permanent residents (with verification of US Passport or US Permanent Resident card)
                </li>
                <li>
                  Have not attended a prior YGF or YPF
                </li>
              </ol>

              <p class="text-deco-mininfo">
                Note: Additional consideration will be provided for socially disadvantaged (orphans, single parents, 
                adoptees, etc.)
              </p>
              <p class="txt-deco-line">Highlights</p>
              <ul class="list-deco-disc">
                <li>
                  Trip to Korea includes hotel, meals, and activities
                </li>
                <li>
                  Airfare support to Korea
                </li>
                <li>
                  Opportunity for global networking with scientists and engineers
                </li>
                <li>
                  Attend lectures by industry leaders
                </li>
                <li>
                  Heritage and cultural tours
                </li>
                <li>
                  Once-in-a-lifetime experience
                </li>
              </ul>
              <p>
                This year, from July 8th to July 13th, the Korea Federation of Korean Industries will host 80 Korean 
                youth scientists and engineers from the United States, Britain, Canada, Japan, China, Russia, and 
                40 Korean young scientists and engineers in Seoul Korea. KSEA will be sending 15 students for YGF 
                and 6 students for YPF.
              </p>
              <p>
                YGF and YPF are global leadership events building a global community of domestic and foreign experts 
                around high-tech science and technology, and facilitating the exchange of ideas between them. The 
                Korean Federation also seeks to promote the ethnic bonds between students from ethnic Korean students 
                from across the world.
              </p>
              <p class="txt-deco-line">Program Summary</p>
              <table>
                <colgroup>
                  <col width="20%" />
                </colgroup>
                <tr>
                  <th>DATE</th>
                  <th>PROGRAM*</th>
                </tr>
                <tr>
                  <td>Monday, 7/8</td>
                  <td>
                    Registration & hotel check-in, ice breaking, opening ceremony, welcome keynote speech, group 
                    discussion sessions, Youtube Shorts competition, Fame-Lab (YPF Only) welcome dinner
                  </td>
                </tr>
                <tr>
                  <td>Tuesday, 7/9</td>
                  <td>
                    Cultural tour, Attend World Congress of Korean Scientists & Engineers (next-generation leaders 
                    forum & welcome dinner)
                  </td>
                </tr>
                <tr>
                  <td>Wednesday, 7/10</td>
                  <td>
                    Attend World Congress of Korean Scientists & Engineers (opening ceremony, talk with future 
                    generations), group discussion presentations, networking dinner
                  </td>
                </tr>
                <tr>
                  <td>Thursday, 7/11</td>
                  <td>
                    Attend World Congress of Korean Scientists & Engineers (talk with Korean scholars, poster 
                    presentations - YPF only), YGF/YPF Review
                  </td>
                </tr>
                <tr>
                  <td>Friday, 7/12</td>
                  <td>
                    Industry tours
                  </td>
                </tr>
                <tr>
                  <td>Saturday, 7/13</td>
                  <td>
                    Hotel check-out & dismissal
                  </td>
                </tr>
              </table>
              <p class="text-deco-mininfo">* Program is subject to change</p>
              <p class="txt-deco-line">
                Application (you must complete all three parts)
              </p>
              <ol class="list-deco-num">
                <li>
                  Sign-up for or renew your KSEA membership at the<a
                    href="https://www.ksea.org/signIn?next=profile"
                    target="_blank"
                  >
                    KSEA membership page
                  </a>
                  <br />a. $0 for undergraduate members; $15 for graduate students; $35 for regular members 
                  including post doc
                  <br>b. Membership term is valid until June 30th
                  <br>c. Please take note of your KSEA membership ID or email (you will need it for the application)
                </li>
                <li>
                  Fill out and submit the <a href="https://forms.gle/wjs4smJ7ZMbXnyqi9" target="_blank">
                    YGF Application</a> or 
                  <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSeoy8wxQwaGWP2oEX3d0ogr84KHSZ6EggMboIvCEwUcVcMUIQ/viewform?usp=sf_link"
                    target="_blank"
                  >
                    YPF Application</a
                  >
                  <br />a. Submit proof of legal US Residency
                  <br />b. US Passport, US Green Card, US Permanent Resident card –<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  1. Social security cards, driver's licenses, state ID cards, and bank statements are NOT valid 
                  proofs of legal residency.
                  <br />c. To help us match your file with your application, please name your file:<br />
                  &nbsp;&nbsp;&nbsp;&nbsp;LastName_Firstname_Birthyear.ext (example: Doe_John_1995.pdf)
                </li>
              </ol>
              <p>
                Deadline: <span class="font-bold">February 17, 2024, 11:59PM PT</span>
              </p>
              <p>
                Please review the FAQ below for additional information. Please write 
                <a href="mailto:yg.committee@ksea.org " target="_blank">
                  yg.committee@ksea.org</a
                >
                with questions.
              </p>
              <p>Regards,</p>
              <p>
                Clara Kim, Andy Kim, Matthew Jeon<br />
                KSEA YG Committee 2024 YGF/YPF Co-Chairs
              </p>
              <br><br>
              <p class="txt-deco-line">Frequently Asked Questions</p>
              <p class="font-bold">Eligibility Questions</p>
              <p>
                Q: I will be graduating/finishing my graduate program this May or June. Am I still eligible?
                <br />
                A: Yes, you are eligible.
              </p>
              <p>
                Q: I am starting a graduate program this fall. Am I still eligible for YPF?
                <br />
                A: No, you are not eligible for YPF. If you are currently enrolled as an undergraduate student, 
                please apply to YGF.
              </p>
              <p>
                Q: Do post-baccalaureate programs count as graduate degrees?
                <br />
                A: No, unfortunately, they do not.
              </p>
              <p>
                Q: I am a young professional (i.e. non-student); can I still apply?
                <br />
                A: Unfortunately, no.
              </p>
              <p>
                Q: I have attended school in the US, but I am not a citizen nor a permanent resident. 
                May I still apply?
                <br />
                A: Unfortunately, no.
              </p>
              <p>
                Q: I am not a US Citizen / Permanent Resident. Can I still apply?
                <br />
                A: KSEA is only in charge of the US applicants. Other countries (e.g. Canada) must apply 
                through their sponsoring organization. 
              </p>
              <p>
                Q: Do I need to be active in KSEA, or a current member?
                <br />
                A: Yes. The only requirement is that you are a paid/registered
                member of KSEA at the time of application.
              </p>
              <p>
                Q: Are there any exceptions to the eligibility requirements?
                <br />
                A: No, unfortunately not.
              </p>
              <p class="font-bol">Application Questions</p>
              <p>
                Q: Is a copy and paste from an unofficial transcript OK for the
                application?
                <br />
                A: Yes, it is. However, all information on your application may
                be subject to verification.
              </p>
              <p>
                Q: What are the criteria for judging applicants?
                <br />
                A: The admissions process is holistic. We are looking for three things: academic achievement, 
                leadership achievement and/or interesting experiences. It isn't necessary to show achievement 
                in all three aspects, but please try to show positive attributes in at least one of these aspects. 
                Also, as this is an intense networking forum, we want to see that you can handle long days that are 
                full of meeting many new and very interesting people, sightseeing, and working on team building 
                exercises. 
              </p>
              <p>
                Q: What should I do if my summer plans are unknown?
                <br />
                A: Unfortunately, you will need to determine your summer plans before applying. We highly discourage 
                people from canceling as KOFST does not wait-list candidates and cancellations reduce the number of 
                spots accepted from the U.S. the following year. On the other hand, you may submit your application, 
                and can let us know by the application deadline if you still would like to attend.
              </p>
              <p>
                Q: Are there any other special considerations?
                <br />
                A: Yes, KOFST encourages socially disadvantaged students to apply, such as being an adoptee, 
                an orphan, from a single parent family, etc. There is a place in the application to indicate this.
              </p>
              <p>
                Q: What does it mean to be a finalist versus getting the final
                notification from KOFST?
                <br />
                A: Finalist means that you were nominated by KSEA to attend, and are likely to attend. However, 
                final acceptance is pending review by the KOFST, usually by the end of April. 
              </p>
              <p class="font-bold">Program Questions</p>
              <p>
                Q: Is the trip really covered?!
                <br />
                A: Yes, food and lodging is fully covered by KOFST at no expense to you. You will have to purchase 
                your own flight tickets and will be reimbursed after the conference, up to $1,570 (West Coast), 
                $2,070 (Middle), and $2,144 (East Coast), for a round-trip. Your location (west, middle, or east) 
                is determined by the address listed on your application. You will need to provide a copy of your 
                flight receipt and boarding pass to KSEA after YGF/YPF to verify your flights.
              </p>
              <p>
                Q: What if my round-trip flight costs more than the allocated
                amount?
                <br />
                A: Unfortunately, summertime flights to Korea are expensive and the reimbursement amount might not 
                cover the entire amount. Attendees are expected to cover the difference, but we hope that the free 
                lodging, free meals, and the flight reimbursement (plus the experience!) offset any major financial 
                burden.
              </p>

              <p>
                Q: Can I arrive earlier or leave later than the YPF program dates?
                <br />
                A: Yes, we encouraged participants to arrive early or stay later for further sightseeing, 
                family visits, or post-forum meet-ups with your new YGF/YPF friends depending on your schedule. 
                You may purchase your airplane ticket to accommodate this extended schedule. However rooming and 
                meals outside of the YGF/YPF program will be on your own. You may coordinate with your fellow US 
                attendees via Facebook group or email once accepted.
              </p>
              <p>
                Q: What is the purpose of this trip?
                <br />
                A: The goal of this program is to increase collaboration and create networks between promising 
                young students with Korean heritage from around the world. The idea is to start an intellectual / 
                cultural exchange, and to help promote ties between ethnic-Koreans around the world as the future 
                global leaders.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                           Next
                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
