<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                The 6th KAPAL Annual Conference (11/17 – 18) & the 12th ABES
                (11/18)
              </h3>
              <p class="date">November 14, 2022</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img src="assets/images/announcement/kapal1.png" />
              <p>
                You are cordially invited to the 6th KAPAL Annual Conference and
                the 12th ABES. Over the past four years, the conference has
                grown steadily, with an increasing number of participants from
                Korea and U.S. Last year, over 250 attendees and over 50
                companies came together from multiple disciplines in the life
                sciences: the healthcare industry, academia, and public research
                institutions, such as FDA and NIH.

                <br />
                The KAPAL Annual Conference aims to provide business
                opportunities through collaboration among professionals and
                companies in drug development and life science. We strive to
                facilitate the exchange of innovative ideas and strategies for
                success across the healthcare industry. This year’s conference
                will be more informative and synergistic for the growth of
                US-Korea collaboration in pharmaceuticals and biotechnology.

                <br />The 6th KAPAL Annual Conference will provide opportunities
                to:

                <br />Special FDA sessions <br />Collaborate with Korean
                pharmaceutical and biotech companies <br />Expand your
                professional network in the Korean-American life science
                community <br />Develop unique perspectives on the Korean
                healthcare industry through keynote speakers and other
                presentations from leading Korean biopharmaceuticals and
                biotechs <br />You can find more information and updates at
                <a href="www.kapal.org">www.kapal.org</a> Please direct any
                inquiries and feedback to<a href="mailto:contact@kapal.org">
                  contact@kapal.org.</a
                >

                <br />*When you become a KAPAL member, you can get a discount
                for KAC registration. <br />Discount code: KAPAL <br /><a
                  href="https://docs.google.com/forms/d/e/1FAIpQLSecAPq9MtSouH2oVaM7V048YdDbKwRIGYEERcYqhyEx_7l5og/viewform"
                  >KAPAL MEMBERSHIP REGISTRATION LINK</a
                >
                <img src="assets/images/announcement/kapal2.png" />
                <br />Only on-site attendees will be given a small souvenir
                sponsored by the KOREAN RED GINSENG CORP Inc.
                <img src="assets/images/announcement/kapal3.png" />
                <br />Discount code: KAPAL <br />The 12th Annual Bioscience &
                Engineering Symposium (ABES)

                <br />NIH-Korean Scientist Association (NIH-KSA) is organizing
                the 12th ABES on November 18th. The ABES focuses on fundamental
                research and early discovery in life science. Many exciting
                findings and reports are to be presented, which may become a
                platform for new drug development. There will be career
                development presentations as well to share experiences and tips
                for all who are interested in the next opportunity. For more
                information, refer to
                <a href="https://nihksa.org/"> https://nihksa.org/</a>

                <br />We look forward to meeting you at the 6th KAPAL Annual
                Conference and the 12th ABES

                <br />The KAPAL and NIH-KSA committee

                <br />KAPAL admin. <br />
                <a href="www.kapal.org">www.kapal.org</a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                   Next
               </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
