<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Job Opportunities</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Job Opportunities</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">Job posting from KIC Washington DC (Program Manager position)</h3>
              <p class="date">November 7, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Dear KSEA members,</p>
              <br>
              <p>
                Please find the attached job posting document from KIC Washington DC and submit your application if you are interested in the position.
                <br>If you have any questions, please contact <a href="mailto:kic@kicdc.org" target="_blank">kic@kicdc.org</a>.
              </p>
              <br>
              <br>
              <p>
                Thank you,<br>
                KSEA HQ
              </p>  
 
              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/job/231127_KIC+DC.docx"
                  target="_blank"
                  download="KIC Washington DC - Program Manager"
                >
                  <button class="btn-view">Download</button>
                </a>
                </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/job"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                             Next
                                         </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
