<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                Condolences and Funeral Information: Passing of Dr. Stephen Suh's Mother
              </h3>
              <p class="date">March 15, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                Dear KSEA members,<br />
                <br />
                We are saddened to inform you that the Mother of Dr. Stephen Suh, 
                the 47th KSEA President, and the member of NY Metro Chapter passed 
                away on March 13  at the age of 85.<br />
                KSEA HQ sends our deepest  condolences to Dr. Stehen Suh and his family.<br />
                Please see the funeral information below and attend if you are available.<br />
                <br />
                <span class="font-bold">
                Funeral Date: Sunday, March 24, 4 pm<br />
                Funeral home: Keeho Kim Funeral Home, Inc (김기호 예의원)<br />
                1601 Palisade Ave, Fort Lee, NJ 07024</span><br />
                <br />
                (201) 313-0777 - Keeho Kim Funeral Home, Inc<br />
                (201) 313-0777 
                <a href="https://g.co/kgs/NXRtWq" target="_blank">https://g.co/kgs/NXRtWq</a><br />
                <br />
                <span class="font-bold">
                Dinner: 예배 후 5시30분 동방그릴<br />
                1616 Palisade Ave, Fort Lee, NJ</span><br />
                (201) 242-4485<br />
                <br />
                Thank you,<br />
                KSEA HQ                
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                           Next
                       </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
