<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">한-미 산업기술 R&D 온라인 설명회 초청</h3>
              <p class="date">July 24, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>안녕하십니까 KSEA 회원 여러분,</p>
              <p>
                한국의 산업통상자원부는 해외연구자 주도의 R&D 기획과 참여를 위해
                미국 내 현지 연구자들을 대상으로 한-미 산업기술 R&D
                설명회(장영진 차관님 발표)를 개최합니다.
              </p>
              <p>
                한국과 국제공동연구를 추진하고자 하시거나 관심있는 교수, 연구원,
                기업관계자께서 본 설명회에 참석하시어 구체적인 정보를 얻으실 수
                있습니다.
              </p>
              <p>
                현장참석의 좌석은 30개로 선착순 한정되어 있는 관계로, 현장참석이
                힘드신 분들을 위해 당일 온라인 Zoom을 통해서도 한국-영어
                동시통역으로 진행될 예정입니다.
              </p>
              <p>
                구체적인 사항을 첨부파일 및 아래와 같이 전달드리오니, KSEA
                회원들의 많은 참여를 요청드립니다.
              </p>
              <ul class="list-deco-disc">
                <li>
                  목적 : 산업기술 국제공동 R&D 활성화를 위한 우리 정부의 정책을
                  소개하고, 미국 연구자들의 활발한 참여 독려
                </li>
                <li>일시 : 2023. 8. 1.(화) 16:00 (Palo Alto 기준)</li>
                <li>장소 : Palo Alto Event Center (Zoom 참석 가능)</li>
                <li>
                  참석자 : 한인 과학자 + 미국 연구자
                  <br />
                  - 정부 : 산업통상자원부 장영진 차관 등<br />
                  - 한인 과학자 + 미국 연구자(온-오프라인)
                </li>
                <li>
                  RSVP Address :
                  <a
                    href="https://us06web.zoom.us/meeting/register/tZctdu2pqTorHd0sp28RyX4oZjdAUtAxkWi3"
                    target="_blank"
                    >https://us06web.zoom.us/meeting/register/tZctdu2pqTorHd0sp28RyX4oZjdAUtAxkWi3
                  </a>
                </li>
                <li>Zoom 참석 QR코드: 첨부 파일 참조</li>
              </ul>
              <p>
                문의시에는 KEIT 한원석 선임,
                <a href="mailto:wonseok@keit.re.kr" target="_blank"
                  >wonseok@keit.re.kr</a
                >, 042-712-9179 로 연락주시기 바랍니다.
              </p>
              <p>감사합니다.</p>
              <p>
                Yongho Sohn<br />
                President of KSEA
              </p>

              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/KEIT_20230722.pdf"
                  target="_blank"
                  download="한-미 산업기술R&D 온라인 설명회 "
                >
                  <button class="btn-view">Download</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                                             Next
                                                         </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
