<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Job Opportunities</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Job Opportunities</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">KSEA Job Posting - KSEA Information Technology Staff</h3>
              <p class="date">February 14, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="con-img_small2">
                <img
                  src="https://ksea-files.s3.us-west-2.amazonaws.com/files/KSEAheader(for_letter)quality.jpg"
                  alt="KSEA Header"
                />
                <p>
                  <span class="font-bold">KSEA Information Technology Staff-Full Time</span><br>
                  Job Description
                </p>
              </div>
              <p>
                <span class="font-bold">Position Description</span>
              </p>
              <p>
                Korean-American Scientists and Engineers Association (KSEA) is seeking a creative 
                Information Technology (IT) Staff with the emphasis on Full Stack Web Systems Development. 
                If you are seeking an opportunity to play a significant role in helping a non-profit 
                organization while also earning income and enhancing your resume, this is the job for you.
              </p>
              <p>
                The KSEA IT Staff reports to IT Directors and Admin Directors. KSEA IT Staff is 
                accountable for a quality IT experience by providing visionary technical leadership 
                and information systems management to ensure the success of the KSEA operations and 
                events management. The KSEA IT Staff leads and manages all websites and information 
                systems for the businesses of its headquarter and local chapters/branches. This 
                position supports the IT-related demands of headquarter staff members, and fosters 
                cybersecurity and information assurance awareness. This position also actively 
                engages in IT projects under the IT Directors' supervision. This position is a 3-month 
                contract with the potential to convert full-time (or part-time) employees under annual 
                renewal.
              </p>
              <br>
              <p>
                <span class="font-bold">
                  About the Korean-American Scientists and Engineers Association 
                  (KSEA)
                </span>
              </p>
              <p>
                KSEA was established in 1971 as a non-profit professional organization and has grown 
                to over 8,000 registered members with ~ 70 Local Chapter and Branches, ~30 Affiliated 
                Professional Societies, and 13 Technical Groups across the United States. The 
                organization's objectives are to promote the application of science and technology for 
                the general welfare of society, foster international cooperation, especially between 
                the U.S. and Korea, and help Korean-American Scientists and Engineers develop their 
                full career potential. Details about KSEA are available from the university's website 
                at <a href="https://www.ksea.org/" target="_blank">https://www.ksea.org/</a>.
              </p>
              <br>
              <p>
                <span class="font-bold">Essential Duties and Responsibilities</span> are listed below. 
                Other duties may be assigned.
              </p>
              <ol class="list-deco-num">
                <li>
                  Support all IT-related businesses of KSEA, including HQ Staff, Executive Committee, 
                  Directors Committee, and Local Chapters.
                </li>
                <li>
                  Design, develop, modify, debug, and evaluate all KSEA information systems, including 
                  websites, web applications, mobile apps, software applications, and databases.
                </li>
                <li>
                  Plan, develop, and update web application architecture to be extensible.
                </li>
                <li>
                  Create holistic web and mobile solutions to address short and long-term business goals.
                </li>
                <li>
                  Maintain IT and IS currency and lead the effort to review and revise plans to enhance 
                  the KSEA member experience.
                </li>
                <li>
                  Seek excellence in administering and modernizing KSEA IT and IS.
                </li>
                <li>
                  Oversee and monitor the performance of IT and IS to ensure KSEA operation quality.
                </li>
                <li>
                  Develop and advocate for new IT business development and IT-related staff development.
                </li>
                <li>
                  Ensure that the KSEA IT is in alignment with the KSEA's business and growth plans.
                </li>
                <li>
                  Keep lifelong learning to integrate emerging information technologies and computing 
                  paradigms into KSEA IT and IS.
                </li>
                <li>
                  Effective communication and teamwork abilities.
                </li>
                <li>
                  Excellent problem-solving skills and attention to detail.
                </li>
              </ol>
              <br>
              <p>
                <span class="font-bold">Minimum Qualifications</span>
                <br>
                <span class="font-italic">Education & Communication:</span>
              </p>
              <ul class="list-deco-disc">
                <li>
                  Bachelor's Degree in Computing-related area (Computer Science, Data Science, 
                  Software Engineering, of Cybersecurity)
                </li>
              </ul>
              <p>
                <span class="font-italic">4Cs (Comprehension, Communication, Critical Thinking, 
                  and Collaboration)</span>
              </p>
              <ul class="list-deco-disc">
                <li>
                  Comprehension: Bilingual in English and Korean
                </li>
                <li>
                  Communication: Self-motivated, independent, pro-active, and responsible
                </li>
                <li>
                  Critical Thinking: Able to work on multiple projects and meet tight deadlines with 
                  system thinking, computational thinking, algorithmic thinking, and adversary thinking
                </li>
                <li>
                  Collaboration: Able to work with diverse stakeholders
                </li>
              </ul>
              <br>
              <p>
                <span class="font-bold">Experience:</span>
              </p>
              <ul class="list-deco-disc">
                <li>
                  Proven evidence in software development with general-purpose programming languages 
                  like C# or Java
                </li>
                <li>
                  Proven experience as a Full Stack Developer, with expertise in AWS services.
                </li>
                <li>
                  Proven evidence in web application development with the web programming language 
                  and/or framework like PHP and Laravel, Ruby on Rail, C# .NET MVC, etc.
                </li>
                <li>
                  Proven evidence in learning emerging technologies, languages, and tools
                </li>
                <li>
                  Demonstrated experience in developing and managing frontend and/or backend web 
                  application development like MEAN (MongoDB, Express, Angular, and NodeJS).
                </li>
                <li>
                  Demonstrated experience in administering database management systems like AWS, 
                  MySQL, MS SQL Server, MongoDB, etc. 
                </li>
                <li>
                  Demonstrated experience analyzing data using Excel, SQL, R, and Python
                </li>
                <li>
                  Ability to address IT or IS-related issues and concerns in support of KSEA success
                </li>
                <li>
                  Awareness, sensitivity, and cultural awareness to diverse members, officers, staff, 
                  and external communities.
                </li>
              </ul>
              <br>
              <p>
                <span class="font-bold">Desired Qualifications</span>
              </p>
              <ul class="list-deco-disc">
                <li>
                  Ph.D. in Computing-related disciplines preferred
                </li>
                <li>
                  Professional software development experiences
                </li>
                <li>
                  Experiences in Single Page Application and/or Progressive Web Application
                </li>
                <li>
                  Experiences in Data Analytics and/or Data Science
                </li>
                <li>
                  One or more years of progressively responsible work in the tech industry
                </li>
              </ul>
              <br>
              <p>
                <span class="font-bold">Competencies</span>
                <br>
                <span class="font-italic">
                  We will use the knowledge, skills, and abilities of this position as rating criteria 
                  in performance reviews.
                </span>
              </p>
              <ul class="list-deco-disc">
                <li>
                  Adaptability/Flexibility
                </li>
                <li>
                  Customer Focus
                </li>
                <li>
                  Interpersonal Skills
                </li>
                <li>
                  Quality
                </li>
                <li>
                  Results Focus
                </li>
                <li>
                  Decision Making/Judgment
                </li>
                <li>
                  People Management
                </li>
                <li>
                  Planning
                </li>
                <li>
                  Project Management
                </li>
              </ul>
              <br>
              <p>
                <span class="font-bold">Physical Demands</span>
                <br>
                <span class="font-italic">
                  The physical demands described here are representative of those that must be met by 
                  an employee to perform the essential functions of this job successfully. Reasonable 
                  accommodations may be made to enable individuals with disabilities to perform the 
                  essential functions.
                </span>
              </p>
              <ul class="list-deco-disc">
                <li>
                  While performing the duties of this job, the employee is frequently required to sit, 
                  talk, hear, and perform repetitive motions of the hands or wrists.
                </li>
                <li>
                  The employee is occasionally required to stand, walk, grasp or handle, stoop or bend, 
                  and reach.
                </li>
              </ul>
              <br>
              <p>
                <span class="font-bold">
                  Working Conditions: 
                </span>
                <br>
                The working conditions described here are representative of those an employee encounters 
                while performing the essential functions of this job. Reasonable accommodations may be 
                made to enable individuals with disabilities to perform the essential functions.
              </p>
              <ul class="list-deco-disc">
                <li>
                  Work is generally performed indoors in a typical office setting.
                </li>
                <li>
                  Evening and weekend hours are occasionally required in this position.
                </li>
                <li>
                  Travel, including overnight travel, may be required.
                </li>
              </ul>
              <br>
              <p>
                <span class="font-bold">Additional Information:</span>
                <br>
                <span class="txt-deco-line">
                  Salary Information:
                </span>
                <br>
                Base Salary: $48K~$52K
                <br>
                (The Full-time IT staff salary is negotiable upon qualifications and experience and 
                terminal degrees.)
              </p>
              <p>
                <span class="txt-deco-line">
                  Application Instructions:
                </span>
                <br>
                KSEA only accepts application materials through this online application process. 
                Please submit a complete application to be considered for this position; a complete 
                application includes:
              </p>
              <ul class="list-deco-disc">
                <li>
                  Cover Letter
                </li>
                <li>
                  Current Resume (Curriculum Vitae is preferred.)
                </li>
                <li>
                  Unofficial copies of transcripts (for interview)
                </li>
                <li>
                  A list of a minimum of three references (Name and Contact information only)
                </li>
              </ul>
              <p>
                (For finalist candidates, we may contact references.)
              </p>
              <br>
              <p>
                <span class="txt-deco-line">Office Location:</span> Vienna, VA (partial work from home 
                is possible upon negotiation) 
              </p>
              <p>
                <span class="txt-deco-line">Application Review Date:</span> The first review date 
                for this job is March 1, 2024.
              </p>
              <p>
                <span class="txt-deco-line">Equal Opportunity Employer:</span> KSEA is an equal 
                opportunity employer, and all qualified applicants will receive consideration for 
                employment without regard to race, religion, color, national origin, sex, age, 
                sexual orientation, gender identity, and status as a protected veteran or individual 
                with a disability.
              </p>
              <p>
                KSEA offers a comprehensive compensation and a benefits package that includes medical, 
                dental, eyes, 401K. Please include a cover letter, resume, and compensation requirements. 
                Send your application package to <a href="mailto:sejong@ksea.org" target="_blank">
                  sejong@ksea.org
                </a>
              </p>
            </td>
          </tr>
           <tr>
            <td>  
              <p>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/240214_JOB+Posting_KSEA+IT+Staff.docx"
                target="_blank"
                download="JOB Posting_KSEA IT Staff"
                >
                <button class="btn-view">Download</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/job"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                             Next
                                         </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
