<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                2023 KSEA National Mathematics and Science Competition (NMSC)
                Announcement
              </h3>
              <p class="date">March 1, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                KSEA is excited to announce the 2023 National Mathematics
                Competition (NMC) and National High School Physics Competition
                (NHSPC) on April 15, 2023. Top-scoring 2023 NMC participants may
                be invited to the Hanwha Mathematics Olympiad that will be
                announced in May 2023.
              </p>

              <ul class="list-deco-disc">
                <li>
                  <p class="font-bold">Competition Dates:</p>
                  Math (Grades 4-11), April 15, 2023 (Saturday) 11:00 am - 1 pm
                  PDT/ 2:00pm - 4:00pm EDT<br />
                  Physics (Grades 9-12), April 15, 2023 (Saturday) 9:30am –
                  10:45am PDT/12:30pm – 1:45pm EDT
                </li>
                <li>
                  <p class="font-bold">Registration:</p>
                  Currently open! Register at<a
                    href="http://nmsc.ksea.org"
                    target="_blank"
                  >
                    http://nmsc.ksea.org</a
                  >. The deadline to register is March 31, 2023.
                </li>
                <li>
                  <p class="font-bold">Test Format:</p>
                  Math Test: The written exams include Part 1 consisting of 20
                  multiple-choice questions and Part 2 consisting of 5 free
                  response questions with integer-valued answers.<br />
                  Physics Test: The written exam consists of 12 multiple-choice
                  questions with 10 choices for each question.
                </li>
                <li>
                  <p class="font-bold">NMC Chapter Award Ceremony:</p>
                  Each chapter will hold its own award ceremony. Stay tuned for
                  your chapter’s announcement.
                </li>
                <li>
                  <p class="font-bold">NMC National Award Ceremony ONLINE:</p>
                  April 29, 2023 (Saturday) 4 pm EDT/1 pm PDT (To be confirmed
                  with a zoom link)<br />
                  Each participant will be ranked among NMC contestants in the
                  same grade. Top three performers in each grade category will
                  be awarded $500 for first place, $300 for second place, and
                  $200 for third place. Top-scoring 2023 NMC participants will
                  be invited to the Hanwha Mathematics Olympiad that will be
                  announced in May 2023.
                </li>
                <li>
                  <p class="font-bold">
                    NHSPC National Award Ceremony (To be announced)
                  </p>
                  The top three performers in the written test will be awarded
                  $500 for first place, $300 for second place, and $200 for
                  third place.
                </li>
                <li>
                  <p class="font-bold">Questions:</p>
                  <a href="mailto:NMSCinfo@KSEA.org" target="_blank">
                    NMSCinfo@KSEA.org.</a
                  >
                </li>
              </ul>
              <p>
                I hope to see many of you and your families and friends at this
                meeting. You do not have to register for the meeting.
              </p>
              <p>
                I would greatly appreciate it if you could reach out to non-KSEA
                members to join or renew KSEA membership by using this
                <a href="https://www.ksea.org/signUp" target="_blank">
                  [link]</a
                >
              </p>
              <p>Thank you.</p>
              <p>
                Jae Hyeon Ryu<br />
                Chair, KSEA National Contest Committee
              </p>

              <p>
                Sincerely,<br />
                Young-Kee Kim<br />
                President of KSEA
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                               Next
                           </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
