<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Job Opportunities</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Job Opportunities</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">[아주대학교] 2024학년도 2학기 아주대학교 교수초빙 공고</h3>
              <p class="date">March 22, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Dear KSEA members,</p>
              <br>
              <p>
                Please find the job posting announcement from Ajou University and send your application 
                if you are interested in the position.<br>
                <a href="https://faculty.ajou.ac.kr/faculty/announce/announce02.jsp?mode=view&article_no=239070" 
                target="_blank">Ajou University - announcement</a><br><br>
                If you have any questions, please contact 
                <a href="mailto:faculty@ajou.ac.kr" target="_blank">faculty@ajou.ac.kr</a> 
              </p>
              <br>
              <br>
              <p>
                Thank you,<br>
                KSEA HQ
              </p>  
            </td>
          </tr>
           <tr>
            <td>  
              <p>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/420322_Ajou.pdf"
                target="_blank"
                download="420322_Ajou"
                >
                <button class="btn-view">Download pdf</button>
                </a>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/420322_Ajou.docx"
                target="_blank"
                download="420322_Ajou"
                >
                <button class="btn-view">Download docx</button>
                </a>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/job/420322_Ajou.hwp"
                target="_blank"
                download="420322_Ajou"
                >
                <button class="btn-view">Download hwp</button>
                </a>
 
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/job"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                             Next
                                         </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
