<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                [KOFST] 2023년 우수연구자교류지원(BrainLink) 기술교류회 사업
                지원 신청 안내
              </h3>
              <p class="date">April 4, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="con-img">
                <!-- <a
                  href="https://uchicago.zoom.us/j/99990712326?pwd=YWJBNnV5VXlHWHdCc2ZsNlJSSDFKZz09%0D#success"
                  target="_blank"
                > -->
                <img
                  src="assets/images/announcement/2023brainlink.png"
                  alt="[KOFST] 2023년 우수연구자교류지원(BrainLink) 기술교류회 사업 지원 신청 안내"
                />
                <!-- </a> -->
              </div>

              <br />
              <a
                href="assets/images/announcement/2023brainlink.png"
                target="_blank"
                download="[KOFST] 2023년 우수연구자교류지원(BrainLink) 기술교류회 사업 지원 신청 안내"
              >
                <button class="btn-view">Download</button>
              </a>
              <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/2023brainlink01.pdf"
                target="_blank"
                download="붙임1_2023년도 우수연구자교류지원(BrainLink) 기술교류회 사업공고"
              >
                <button class="btn-view">Download</button>
              </a>
              <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/2023brainlink02.pdf"
                target="_blank"
                download="붙임2_2023 우수연구자교류지원(BrainLink) 기술교류회 시행계획."
              >
                <button class="btn-view">Download</button>
              </a>
              <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/2023brainlink03.pdf"
                target="_blank"
                download="붙임3_기술교류회 제안서 신청서식"
              >
                <button class="btn-view">Download</button>
              </a>
              <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/2023brainlink04.hwp"
                target="_blank"
                download="붙임3_기술교류회 제안서 신청 양식."
              >
                <button class="btn-view">Download</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                   Next
                               </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
