<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                Additional Nomination for the 2023 Entrepreneur of the Year
                Award
              </h3>
              <p class="date">April 4, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Dear KSEA members and family,</p>
              <p>
                The KSEA Honors and Awards committee decided to extend the
                nomination period for the Entrepreneur of the Year Award until
                April 15, 2023.
              </p>
              <br />
              <ul class="list-deco-disc">
                <li>
                  Entrepreneur of the Year Award to a member who has
                  demonstrated stellar performance in the areas of
                  entrepreneurship (Joint Award with Maeil Business Newspaper).
                </li>
              </ul>
              <p>
                Please find the attached nomination form and submit it to
                <a href="mailto:sejong@ksea.org" target="_blank"
                  >sejong@ksea.org</a
                >
                by April 15, 2023.
              </p>
              <p>
                For any questions regarding the preparation of a nomination
                package, please contact the KSEA HQ at
                <a href="mailto:sejong@ksea.org" target="_blank"
                  >sejong@ksea.org</a
                >
                or the HAC Chair, Dr. Hosin Lee at
                <a href="mailto:skytrust@gmail.com" target="_blank"
                  >skytrust@gmail.com</a
                >.
              </p>
              <p>Thank you,</p>

              <p>
                Hosin Lee, Ph.D.
                <br />
                KSEA Honors and Awards Committee Chair
              </p>
              <br />
              <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/form_2023award.docx"
                target="_blank"
                download="Form 2023 Entrepreneur of the Year Award"
              >
                <button class="btn-view">Download</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                       Next
                                   </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
