<div class="wrap">
  <app-nav></app-nav>
  <app-about-header></app-about-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>About</li>
    <li>Sponsors</li>
  </ul>
    <div class="scon-center pd10">
      <h2 class="font-ksea">Sponsors</h2>
      <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
      <!-- <h4 class="list-title">Co-Organizers</h4>
      <ul class="con-sponsor">
        <li>
          <img src="assets/images/sponsor/kofst.jpg" alt="kofst" />
        </li>
        <li>
          <img src="assets/images/sponsor/kusco.jpg" alt="kusco" />
        </li>
      </ul> -->
      <h4 class="list-title">Platinum</h4>
      <ul class="con-sponsor">
        <li>
          <img src="assets/images/sponsor/seegene.jpg" alt="seegene" />
        </li>
      </ul>
      <!-- <h4 class="list-title">Diamond Sponsors</h4>
      <ul class="con-sponsor">
      </ul> -->
      <h4 class="list-title">Gold</h4>
      <ul class="con-sponsor">
        <li>
          <img src="assets/images/sponsor/chey.jpg" alt="medipost" />
        </li>
        <li>
          <img src="assets/images/sponsor/keit-1.jpg" alt="keit" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/khnp.jpg" alt="khnp" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/kiat-1.jpg" alt="kiat" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/kitech-1.jpg" alt="kitech" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/kwater.jpg" alt="kwater" />
        </li>
        <li>
          <img src="assets/images/sponsor/yuhan.jpg" alt="yuhan" />
        </li>
      <!-- 
        <li style="background-color: #250580">
          <img src="assets/images/sponsor/taejae.jpg" alt="taejae" />
        </li> 
      -->
      </ul>
      <h4 class="list-title">Silver</h4>
      <ul class="con-sponsor">
        <li>
          <img src="assets/images/sponsor/hanyang.jpg" alt="hanyang"  width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/kbsi.jpg" alt="kbsi"  width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/khdi.jpg" alt="khdi" />
        </li>
        <li>
          <img src="assets/images/sponsor/kict.jpg" alt="kict" />
        </li>
        <li>
          <img src="assets/images/sponsor/kist-1.jpg" alt="kist" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/kistep.jpg" alt="kistep" />
        </li>
        <li>
          <img src="assets/images/sponsor/kyungpook.jpg" alt="kyungpook" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/kumho.jpg" alt="kumho" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/snu.jpg" alt="snu"/>
        </li>
        <li>
          <img src="assets/images/sponsor/taejae-1.jpg" alt="taejae" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/ucf.jpg" alt="ucf" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/unist.jpg" alt="unist" />
        </li>
      </ul>
      <h4 class="list-title">Bronze</h4>
      <ul class="con-sponsor">
        <li>
          <img src="assets/images/sponsor/ajou.jpg" alt="ajou University" />
        </li>
        <li>
          <img src="assets/images/sponsor/cj.jpg" alt="cj" />
        </li>
        <li>
          <img src="assets/images/sponsor/gist.jpg" alt="gist" />
        </li>
        <li>
          <img src="assets/images/sponsor/gs-1.jpg" alt="gs" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/hh-1.jpg" alt="hanwha" width="100%" />
        </li>
        <li>
          <img src="assets/images/sponsor/inha.jpg" alt="inha" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/kaist-1.jpg" alt="kaist" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/smwu-1.jpg" alt="smwu" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/koti.jpg" alt="koti" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/krict.jpg" alt="krict" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/nst-1.jpg" alt="nst" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/sk-bio.jpg" alt="sk-bio" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/sk-inno.jpg" alt="sk-inno" width="100%"/>
        </li>
      </ul>
      <h4 class="list-title">General</h4>
      <ul class="con-sponsor">
        <li>
          <img src="assets/images/sponsor/caterpillar.jpg" alt="caterpillar" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/fuzbien.jpg" alt="fuzbien" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/gyeongsang.jpg" alt="gyeongsang" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/kaia.jpg" alt="kaia" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/kasi.jpg" alt="kasi" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/kbri.jpg" alt="kbri" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/keri.jpg" alt="keri" width="80%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/kfri.jpg" alt="kfri" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/kicet.jpg" alt="kicet" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/kiost.jpg" alt="kiost" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/knu.jpg" alt="knu"/>
        </li>
        <li>
          <img src="assets/images/sponsor/kosen.jpg" alt="kosen"/>
        </li>
        <li>
          <img src="assets/images/sponsor/nextron.jpg" alt="nextron" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/osceola.jpg" alt="osceola" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/postech.jpg" alt="postech"/>
        </li>
        <li>
          <img src="assets/images/sponsor/wiset.jpg" alt="wiset"/>
        </li>
        <li>
          <img src="assets/images/sponsor/yak-1.jpg" alt="yak" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/kentech.jpg" alt="kentech"/>
        </li>
        <li>
          <img src="assets/images/sponsor/korea-embassy.jpg" alt="korea-embassy" width="100%"/>
        </li>
      </ul>

      <h4 class="list-title">Friends of KSEA</h4>
      <ul class="con-sponsor">
        <li>
          <img src="assets/images/sponsor/asan.jpg" alt="asan" />
        </li>
        <li>
          <img src="assets/images/sponsor/springer.jpg" alt="springer" />
        </li>
        <li>
          <img src="assets/images/sponsor/kic-a.jpg" alt="kic-a" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/kic-1.jpg" alt="kic" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/kor-am-as-houston.jpg" alt="kor-am-as-houston" width="100%"/>
        </li>
        <li>
          <img src="assets/images/sponsor/kfe.jpg" alt="KFE" width="100%"/>
        </li>
      </ul>


      <!-- <h4 class="list-title">Media Partners</h4>
      <ul class="con-sponsor">
        <li>
          <img src="assets/images/sponsor/mk.jpg" alt="mk" />
        </li>
      </ul> -->
    </div>
    <app-footer></app-footer>
</div>
