<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">2024년 글로벌산업기술협력센터(GITCC) 사업 공고 및 북미 온라인 설명회 (7PM 2.6 ET)</h3>
              <p class="date">January 29, 2024</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                안녕하십니까 KSEA 회원 여러분,
                <br><br>
                우리 산업의 글로벌 혁신 역량을 제고하기 위해 글로벌 산업기술 협력센터를 구축하고, 해외 우수 연구개발기관과의 
                공동R&D를 지원하는 ｢2024년 글로벌산업기술협력센터 사업｣ 시행계획을 다음과 같이 공고하오니 희망 기관은 관련 
                규정 및 절차에 따라 신청하여 주시기 바랍니다.
              </p>
              <p class="font-bold">1. 사업 개요</p>
              <br>
              <ul class="list-deco-disc">
                <li class="font-bold">
                  사업 목적
                </li>
                  <ul>
                    <li>
                    - 한국 기업과 글로벌 우수 연구기관의 지속가능한 R&D 협력 모델 마련 및 산업적 파급효과가 높은 우수 연구성과 창출
                    </li>
                  </ul>
                <li class="font-bold">
                  사업내용
                </li>
                  <ul>
                    <li>
                      ① (협력센터) 해외 우수 연구기관內 한국과의 협력 거점으로서 『산업기술 협력센터』를 설치하고 우리 기업의 글로벌 기술협력을 지원
                    </li>
                    <li>
                      &nbsp;&nbsp; - (주요업무) 한국 기업과 해당기관 간의 협력수요 조사‧발굴, 매치메이킹, 공동연구과제 
                      기획 및 국내 파견 연구자 현지 지원 
                    </li>
                    <li>
                      &nbsp;&nbsp; * (성과 지표) 과제 발굴, 매칭, 기술교류 및 기획컨설팅 건수, pilot 연구수행 과제수 등  
                    </li>
                    <li>
                      ② (공동연구) 센터에서 발굴 및 사전 기획된 과제를 포함하여 글로벌 산학연 컨소시엄의 공동연구 과제 지원 
                      (센터 비연계 컨소시엄도 참여가능)
                    </li>
                  </ul>
                <li class="font-bold">
                  접수 마감일 및 접수처
                </li>
                  <ul>
                    <li>
                      ① (협력센터) 3.4 (이메일 <a href="mailto:ssomie81@kiat.or.kr" target="_blank">
                        ssomie81@kiat.or.kr</a> 접수) 
                    </li>
                    <li>
                      ② (공동연구) 5.31 (<a href="https://www.k-pass.kr/" target="_blank">www.k-pass.kr</a> 접수)
                    </li>
                  </ul>
                  <li class="font-bold">
                    공고 바로가기:
                  </li>
                  <ul>
                    <li> 
                      <a href="https://www.kiat.or.kr/front/board/boardContentsView.do?
                      board_id=90&contents_id=4ee0fe342e87463bbd1d113e2cb721d5&MenuId=" target="_blank">
                        https://www.kiat.or.kr/front/board/boardContentsView.do?board_id=90&contents_
                        id=4ee0fe342e87463bbd1d113e2cb721d5&MenuId=
                      </a>
                    </li>
                  </ul>
                  <li class="font-bold">
                    첨 부:
                  </li>
                  <ul>
                    <li> 
                      국문 공고문 및 영문 신청 서식 (주요 문서만 첨부, 전체 서식은 공고 페이지에서 다운로드)
                    </li>
                  </ul>
                  <li class="font-bold">
                    문의처:
                  </li>
                  <ul>
                    <li> 
                      KIAT 미국사무소 (<a href="mailto:kiat.usoffice@gmail.com" 
                      target="_blank">kiat.usoffice@gmail.com</a>)
                    </li>
                  </ul>
              </ul>
              <p class="font-bold">2. 북미 한인 연구자 대상 온라인 설명회</p>
              <br>
              <ul class="list-deco-disc">
                <li>
                  일시: 2024년 2월 6일 오후 7시 ~ 8시30분 (미국 동부시)
                </li>
                <li>
                  장소: 온라인 (Webex)
                </li>
                <li>
                  설명회 안내 페이지:
                  <a href="https://www.gtonline.or.kr/kor/biz/notice/dataView.do?cPage=1&sch_public_yn=&sch_use
                  _yn=Y&sch_gbn_cd=NGC00100&searchField=&searchKeyword=&data_sid=239821" target="_blank">
                  https://www.gtonline.or.kr/kor/biz/notice/dataView.do?cPage=1&sch_public_yn=&sch_use
                  _yn=Y&sch_gbn_cd=NGC00100&searchField=&searchKeyword=&data_sid=239821
                  </a>
                </li>
                <li>
                  설명회 참가신청: 
                  <a href="https://kiat-tqu.my.webex.com/weblink/register/rbbbf89718f6ed8b91f006f6d03886144" 
                  target="_blank">
                  Join the Session
                  </a>
                </li>
              </ul>
              <p>
                <br>
                감사합니다.
                <br>
                KSEA HQ
                <br><br>
              </p>
                <a href="https://kiat-tqu.my.webex.com/weblink/register/rbbbf89718f6ed8b91f006f6d03886144" 
                target="_blank">
                  <img
                    src="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240129_KIAT_Poster.png"
                    alt="Poster"
                  />
                </a>

              <p>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240129_KIAT_GITCC_Info_Session.pdf"
                target="_blank"
                download="Poster"
                >
                  <button class="btn-view">Poster</button>
                </a>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240129_KIAT_R%26D+Application+for+GITCC.docx"
                target="_blank"
                download="R&D Application"
                >
                  <button class="btn-view">R&D Application</button>
                </a>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240129_KIAT_Center+Application+for+GITCC.docx"
                target="_blank"
                download="Center Application"
                >
                  <button class="btn-view">Center Application</button>
                </a>
                <a
                href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/240129_KIAT_Announcement.pdf"
                target="_blank"
                download="Announcement"
                >
                  <button class="btn-view">Announcement</button>
                </a>
              </p>



            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                       Next
                   </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
