<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                KSEA Senior Forum Series (Zoom: March 30th, 8 PM ET / 5 PM PT)
              </h3>
              <p class="date">April 25, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <p><a href="https://youtu.be/DO15F9S2UYY" target="_blank">
            [Click here to re-watch this event]</a></p>
          <tr>
            <td>
              <div class="con-img">
                <a
                  href="https://youtu.be/DO15F9S2UYY"
                  target="_blank"
                >
                  <img
                    src="assets/images/announcement/senior_forum_0315.jpg"
                    alt="Senior Forum "
                  />
                </a>
              </div>
              <p>Dear KSEA members, families, and friends,</p>
              <p>
                I would like to invite you to the inaugural event of the “KSEA
                Senior Forum Series” that will be held on Thursday, March 30th
                via zoom online. The goal of this Series is to provide KSEA
                seniors with a safe and supportive space to come together, learn
                from each other, and share experiences. <br />We will be hosting
                monthly forums focusing on topics relevant to seniors, such as
                health and wellness, finances, and social activities. Our forums
                are open to the public, and we invite KSEA seniors of all ages
                and backgrounds, and their families and friends to join us.
              </p>
              <p class="txt-deco-line">Event Details:</p>
              <ul class="list-deco-disc">
                <li>
                  Time: Thursday, March 30, 2023 at 5:00-7:00pm (PT),
                  8:00-10:00pm (ET)
                </li>
                <li>
                  Venue: Virtual. Anyone can join the meeting via Zoom
                  <a
                    href="https://us02web.zoom.us/j/83429055702?pwd=cnRDNC83cmdRODFrcit5dDE5RkJCZz09"
                    target="_blank"
                    >[Link]</a
                  >
                </li>
                <li>
                  Host: President of KSEA Young-Kee Kim, University of Chicago
                </li>
                <li>Speaker: Sung-Kwon Kang “Joy of Learning and Sharing</li>
                <li>Discussion: Hong Thomas Hahn</li>
                <li>
                  Questions:
                  <a href="mailto:itm@ksea.org" target="_blank">itm@ksea.org</a>
                </li>
              </ul>
              <p>
                I hope to see many of you and your families and friends at this
                meeting. You do not have to register for the meeting.
              </p>
              <p>
                I would greatly appreciate it if you could reach out to non-KSEA
                members to join or renew KSEA membership by using this
                <a href="https://www.ksea.org/signUp" target="_blank">[link]</a>
              </p>
              <p>
                Looking forward to seeing many of you at the zoom meeting on
                March 30th.
              </p>
              <p>
                Sincerely,<br />
                Young-Kee Kim,<br />
                President of KSEA
              </p>
              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/senior_forum_0315.pdf"
                  target="_blank"
                  download="Senior Forum"
                >
                  <button class="btn-view">Download</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                               Next
                                           </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
