<div class="wrap">
  <app-nav></app-nav>
  <app-news-header></app-news-header>
  <ul class="history">
    <li routerLink="/" routerLinkActive="active">Home</li>
    <li>News</li>
    <li>Announcement</li>
  </ul>
  <div class="scon-center pd10">
    <h2 class="font-ksea">Announcement</h2>
    <h3>Korean-American Scientists and Engineers Association (KSEA)</h3>
    <div class="wrap-table">
      <table class="basic-table-view">
        <thead>
          <tr>
            <th>
              <h3 class="title">
                2024 Global Research Program(GRP) Announcement
              </h3>
              <p class="date">May 9, 2023</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                세종과학영재고등학교에서 진행하는 Global Research Program(GRP)에
                강사로 참여해주실 교수님 및 과학자분을 모집하고자 합니다.
                재미한인과학기술자협회 회원님들의 참여를 바라며 문의는
                <a href="mailto:mimiuchi@sasa.hs.kr" target="_blank"
                  >mimiuchi@sasa.hs.kr</a
                >
                에게 연락주시기 바랍니다.
              </p>
              <p>1. 프로그램명 : 2024 Global Research Program(GRP)</p>
              <p>2. 기간 : 2024. 1월 2일 ~ 2024. 1월 5일(4일간, 약 20시간)</p>
              <p>3. 대상 : 수학, 과학 분야의 영재학교(고등학교급) 1학년생</p>
              <p>
                4. 프로그램 구성 : 강의, 실험/실습, 프로젝트 활동(개별/모둠),
                발표 등을 통해 수학, 과학, 정보과학 등의 분야에 대한 교육 및
                전문적 연구역량을 키울 수 있는 프로그램으로 구성함
              </p>
              <p>5. 기간 중 일정표</p>
              <table>
                <tr>
                  <th>시간</th>
                  <th>&#39;24.1.2.(화)</th>
                  <th>&#39;24.1.3.(수)</th>
                  <th>&#39;24.1.4.(목)</th>
                  <th>&#39;24.1.5.(금)</th>
                  <th>비고</th>
                </tr>
                <tr>
                  <th>07:30</th>
                  <td colspan="5">기상</td>
                </tr>
                <tr>
                  <th>08:00 ~ 08:50</th>
                  <td colspan="5">아침식사</td>
                </tr>
                <tr>
                  <th>09:00 ~ 09:50</th>
                  <td>개회식*</td>
                  <td rowspan="3">이론 강의</td>
                  <td rowspan="3">이론 강의</td>
                  <td rowspan="3">
                    강좌별 프로젝트 발표 및<br />
                    평가 (만족도 조사)
                  </td>
                  <td rowspan="3">
                    *개회식, 강사 소개,<br />
                    생활 안내 및<br />
                    안전/보건/위생 교육 등
                  </td>
                </tr>
                <tr>
                  <th>10:00 ~ 10:50</th>
                  <td rowspan="2">이론 강의</td>
                </tr>
                <tr>
                  <th style="border-bottom: 1px solid #fff">11:00 ~ 11:50</th>
                </tr>
                <tr>
                  <th>12:00 ~ 13:00</th>
                  <td colspan="5">점심식사</td>
                </tr>
                <tr>
                  <th>13:00 ~ 14:30</th>
                  <td rowspan="2">실험 및 실습</td>
                  <td rowspan="2">실험 및 실습</td>
                  <td rowspan="2">실험 및 실습</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th>14:50 ~ 16:20</th>

                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th>16:30 ~ 17:30</th>
                  <td colspan="3">프로젝트 수행 및 과제 활동</td>
                  <td></td>
                  <td rowspan="4">기숙사</td>
                </tr>
                <tr>
                  <th>17:30 ~ 19:00</th>
                  <td colspan="3">저녁식사(17:30~18:30) 및 휴식</td>
                  <td></td>
                </tr>
                <tr>
                  <th>19:00 ~ 23:30</th>
                  <td colspan="3">자기주도학습</td>
                  <td></td>
                </tr>
                <tr>
                  <th>23:40</th>
                  <td colspan="3">취침</td>
                  <td></td>
                </tr>
              </table>
              <p>6. 강사 자격 및 업무 :</p>
              <p>가. 자격 : 외국 거주 대학 및 연구소 소속 교수 및 연구원</p>
              <p>나. 업무</p>
              <ul>
                <li>
                  1) 프로그램 시작 전 학생 대상 온라인 오리엔테이션 1회 실시
                </li>
                <li>
                  2) 프로그램 기간 중 강의, 실험/실습, 프로젝트 활동 등 학생
                  지도
                </li>
                <li>
                  3) 프로그램 종료 후 학생 개개인의 활동에 대한 서면 평가지
                  제출(양식 추후 제공)
                </li>
              </ul>
              <p>7. 강사수당</p>
              <p>가. 강의료와 원고료 포함하여 약 230만원(한화) 내외</p>
              <p>나. 여비(항공운임비)</p>
              <ul>
                <li>
                  - 본 프로그램에 참여하기 위해 발권하는 항공권에 대하여 최대
                  200만원(한화)까지 학교 예산으로 지원함. 나머지 금액은 본인
                  부담. 항공료는 실비 정산으로 마일리지 결제에 대해서는 지원
                  불가함
                </li>
                <li>
                  - 항공권의 입출국일은 프로그램 기간을 포함하여 한 달 이내로 함
                </li>
              </ul>
              <p>
                다. 강사수당(강의료, 원고료, 여비-항공료의 합산)은 본교
                2023학년도 학교회계 예산편성 및 집행지침에 의거 지급하고,
                한미조세규약에 의거 세금 발생 부분을 제외하고 지급함.(강사수당
                지급일 기준 미화 $3,000을 초과하는 경우 약 22% 과세)
              </p>
              <p>8. 숙박 및 식사</p>
              <p>가. 프로그램 기간 중, 학생 기숙사 숙박 가능(1인 1실)</p>
              <p>
                나. 프로그램 기간 중, 학교 식당 식사(조, 중,석식) 제공(한식
                위주, 학생 식단과 동일)<br />
                *기숙사/학교 식당의 숙식 제공 이외 발생하는 비용은 본인 부담
              </p>
              <p>
                9. 강사선발 과정<br />‘학생 안내용 강사소개 및 실라부스’를
                바탕으로 학생 기초희망조사 실시(2023.5.15.~5.23.) , 개설 강좌 및
                강사 선발 확정 후 선발된 강사에게 이메일로 개별
                안내(2022.5.26.예정)
              </p>
              <p>10. 제출 서류</p>
              <p>
                가. 강사카드 및 개인정보동의서(서명 후 제출)<br />*대한민국
                은행계좌(본인명의)가 없는 경우 지원 불가함
              </p>
              <p>
                나. 학생 안내용 강사소개 및 실라부스(학생 안내용이므로, 간결하고
                이해하기 쉽게 작성해주세요)
              </p>
              <p>다. 강사진 구성 확정 후 신분증과 통장 사본 제출</p>
              <p>
                11. 제출 기한<br />한국시간으로 5월 14일 일요일까지
                <a href="mailto:mimiuchi@sasa.hs.kr" target="_blank"
                  >mimiuchi@sasa.hs.kr</a
                >로 제출
              </p>
              <p>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/global_research_program_info.docx"
                  target="_blank"
                  download="2024 Global Research Program 강사 소개서"
                >
                  <button class="btn-view">Download</button>
                </a>
                <a
                  href="https://ksea-files.s3.us-west-2.amazonaws.com/annuoncement/global_research_program_form.docx"
                  target="_blank"
                  download="2024 Global Research Program 강사 지원양식"
                >
                  <button class="btn-view">Download</button>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="view-footer">
        <button
          class="btn-basic-line"
          routerLink="/announcement"
          routerLinkActive="active"
        >
          List
        </button>
        <!-- <button class="btn-basic-line">
                                               Next
                                           </button> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
