.table-lcpc-c3 th:nth-child(1) {
    width: 35%;
}
.table-lcpc-c3 th:nth-child(2) {
    width: 25%;
}
.table-lcpc-c3 th:nth-child(3) {
    width: 40%;
}
.table-lcpc th:nth-child(1) {
    width: 10%;
}
.table-lcpc th:nth-child(2) {
    width: 25%;
}
.table-lcpc th:nth-child(3) {
    width: 25%;
}
.table-lcpc th:nth-child(4) {
    width: 40%;
}
.table-lcpc td:nth-child(1) {
    text-align:  center;
}